{% extends "curation/base.html" %}

{% load content_tags %}

{% block content %}

<h2>Tenant: {{tenant.name}}</h2>

<div class="row">
  <div class="col-md-2" style="padding-top:30px">
    {% include 'curation/tenants/fragment_menu.html' %}
  </div>

  <div class="col-md-10">
    <div class="pull-right">
      <a href="{% url 'curation:tenant_add_page_block_type' tenant.id 'about' %}"><i class="fa fa-th-large" aria-hidden="true"></i>
        Add About Text Block
      </a>
    </div>
    <div style="margin-bottom: 20px;" class="clearfix"></div>
    
    {% if not tenant.settings.about_blocks %}
    <div class="panel-heading">
      About page is not yet configured. Please add an about page block.&nbsp;
       <div class="pull-right">
         <a class="text-primary" href="{% url 'curation:tenant_add_page_block_type' tenant.id 'about' %}">
           <i class="fa fa-th-large" aria-hidden="true"></i> Add
         </a>
         
       </div>
     </div>
    {% else %}
      {% for block in tenant.settings.about_blocks %}
        {% include 'curation/tenants/fragment_page_block.html' with block=block %}
      {% endfor %}
    {% endif %}
  

    <div class="pull-right">
      <a href="{% url 'curation:tenant_add_about_image' tenant.id %}"><i class="fa fa-th-large" aria-hidden="true"></i>
        Add About Image
      </a>
    </div>
    <div style="margin-bottom: 20px;" class="clearfix"></div>

    {% for image in images %}
    <div class="panel panel-default">
    <div class="panel-heading">
      {{ image.title|default_if_none:"" }}&nbsp;
      <a class="btn-link" href="{% url 'curation:tenant_edit_about_image' tenant.id image.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    
      
      <div class="pull-right">
        <form action="{% url 'curation:tenant_delete_about_image' tenant.id image.id %}" method="POST">
          {% csrf_token %}
          <button class="btn-link" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
        </form>
      </div>
    </div>
    <div class="panel-body">
      <img width="100%" src="{{ image.image.url }}" />
    </div>
    </div>
    {% endfor %}
  </div>

</div>


{% endblock %}
