{% load content_tags %}

<div class="panel panel-default">
    <div class="panel-heading">
      {{ block.title|default_if_none:"" }}&nbsp;
      <a class="btn-link" href="{% url 'curation:tenant_edit_page_block' tenant.id block.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    
      <div class="pull-right">
        <form action="{% url 'curation:tenant_delete_page_block' tenant.id block.id %}" method="POST">
          {% csrf_token %}
          <button class="btn-link" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
        </form>
      </div>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
          <tr>
            <th width="20%">Index</th>
            <td>{{block.block_index}}</td>
          </tr>
          <tr>
            <th width="20%">Number of Columns</th>
            <td>{{block.nr_of_columns}}</td>
          </tr>
      </table>
  
      <div class="pull-right">
        <form action="{% url 'curation:tenant_add_column_content' tenant.id block.id %}" method="GET">
          {% csrf_token %}
          <button class="btn-link" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i> Add Column Content</button>
        </form>
      </div>
  
      <table class="table table-striped">
        {% for column in block.block_columns.all %}
          <tr>
            <th width="100px"> {{ column.column_index }}</th>
            <td>
              {{ column.content|markdown_snippet:30}}
            </td>
            <td width="100px" align="right">
              <a class="btn-link pull-left" href="{% url 'curation:tenant_edit_column_content' tenant.id block.id column.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              <form action="{% url 'curation:tenant_delete_column_content' tenant.id block.id column.id %}" method="POST">
                {% csrf_token %}
                <button class="btn-link" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
  
    </div>
  </div>