<div class="panel panel-default">
    <div class="panel-heading">
      {{ image.title|default_if_none:"" }}
      {% if image.link %} (<a href="{{ image.link }}" target="_blank">{{image.link}}</a>){% endif %}
      &nbsp;
      <a class="btn-link" href="{% url 'curation:tenant_edit_image' tenant.id image.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    
      
      <div class="pull-right">
        <form action="{% url 'curation:tenant_delete_image' tenant.id image.id %}" method="POST">
          {% csrf_token %}
          <button class="btn-link" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
        </form>
      </div>
    </div>
    <div class="panel-body">
      <img width="100%" src="{{ image.image.url }}" />
    </div>
</div>