{% extends "curation/base.html" %}

{% load content_tags %}

{% block content %}

<h2>Tenant: {{tenant.name}}</h2>

<p class="pull-right">
<a href="{% url 'curation:tenant_settings' tenant.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
 Edit Settings</a>
</p>
<table class="table table-striped">
    <tr>
      <th width="20%">Title</th>
      <td>{{tenant.title}}</td>
    </tr>
    <tr>
      <th>Navigation Color</th>
      <td><i style="color: {{tenant.settings.navigation_color}}" class="fa fa-square" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <th>Link Color</th>
      <td><i style="color: {{tenant.settings.link_color}}" class="fa fa-square" aria-hidden="true"></i></td>
    </tr>
</table>

<div class="pull-right">
<a href="{% url 'curation:tenant_add_page_block' tenant.id %}"><i class="fa fa-th-large" aria-hidden="true"></i>
 Add Homepage Block</a>
</div>
<div style="margin-bottom: 20px;" class="clearfix"></div>

{% for block in tenant.settings.page_blocks.all %}
<div class="panel panel-default">
  <div class="panel-heading">
    {{ block.title|default_if_none:"" }}&nbsp;
    <div class="pull-right">
      <form action="{% url 'curation:tenant_delete_page_block' tenant.id block.id %}" method="POST">
        {% csrf_token %}
        <button class="btn-link" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
      </form>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
        <tr>
          <th width="20%">Index</th>
          <td>{{block.block_index}}</td>
        </tr>
        <tr>
          <th width="20%">Number of Columns</th>
          <td>{{block.nr_of_columns}}</td>
        </tr>
    </table>

    <div class="pull-right">
      <form action="{% url 'curation:tenant_add_column_content' tenant.id block.id %}" method="GET">
        {% csrf_token %}
        <button class="btn-link" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i> Add Column Content</button>
      </form>
    </div>

    <table class="table table-striped">
      {% for column in block.block_columns.all %}
        <tr>
          <th width="100px"> {{ column.column_index }}</th>
          <td>
            {{ column.content|markdown_snippet:30}}
          </td>
          <td width="100px" align="right">
            <form action="{% url 'curation:tenant_delete_column_content' tenant.id block.id column.id %}" method="POST">
              {% csrf_token %}
              <button class="btn-link" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>

  </div>
</div>
{% endfor %}

{% endblock %}
