{% extends "curation/base.html" %}

{% load content_tags %}

{% block content %}

<h2>Tenant: {{tenant.name}}</h2>

<div class="row">
  <div class="col-md-2" style="padding-top:30px">
    {% include 'curation/tenants/fragment_menu.html' %}
  </div>

  <div class="col-md-10">
    <h3>First Homepage Block</h3>

    <div class="panel panel-default">
      
      {% if tenant.settings.home_main_block %}
        {% with tenant.settings.home_main_block as block %}
          {% include 'curation/tenants/fragment_page_block.html' with block=block %}
        {% endwith %}
      {% else %}
      <div class="panel-heading">
       Main homepage block not yet configured. Please add one.&nbsp;
        <div class="pull-right">
          <a class="text-primary" href="{% url 'curation:tenant_add_page_block_type' tenant.id 'home' %}">
            <i class="fa fa-th-large" aria-hidden="true"></i> Add
          </a>
          
        </div>
      </div>
      {% endif %}
    </div>


    <!-- Home page blocks-->
    <h3>Homepage Content</h3>
      <div class="pull-right">
      <a href="{% url 'curation:tenant_add_page_block' tenant.id %}"><i class="fa fa-th-large" aria-hidden="true"></i>
       Add Homepage Block</a>
      </div>
      <div style="margin-bottom: 20px;" class="clearfix"></div>
      
      {% for block in tenant.settings.home_other_blocks %}
      {% include 'curation/tenants/fragment_page_block.html' with block=block %}
      {% endfor %}
  </div>
</div>





{% endblock %}
