{% extends "curation/base.html" %}

{% load content_tags %}

{% block content %}

<h2>Tenant: {{tenant.name}}</h2>

<div class="row">
  <div class="col-md-2" style="padding-top:30px">
    {% include 'curation/tenants/fragment_menu.html' %}
  </div>

  <div class="col-md-10">
    <h3>Authorities</h3>
    <div class="pull-right">
      <a href="{% url 'curation:tenant_add_image' tenant.id 'authority_default' %}"><i class="fa fa-th-large" aria-hidden="true"></i>
        Add Authority Default Image
      </a>
    </div>
    <div style="margin-bottom: 20px;" class="clearfix"></div>

    {% for image in tenant.settings.authority_default_images %}
    <h4>{{image.get_image_type_display}}</h4>
    {% include 'curation/tenants/fragment_image.html' with image=image %}
    {% endfor %}
    <!-- Home page blocks-->
    <h3>Citations</h3>
      
  </div>
</div>





{% endblock %}
