{% extends "curation/base.html" %}

{% load general_tags %}
{% load addcss %}

{% block content %}


<form class="form" action="{% url 'curation:tenant_settings' tenant.id %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
  <div class=" form-group col-md-12">
  <h2>Tenant: {{tenant.name}}</h2>
  </div>
  {% csrf_token %}
  <div class="form-group  col-md-12">
      {% for error in form.title.errors %}
      <div class="alert alert-danger col-md-2">{{ error }}</div>
      {% endfor %}
      <label class="col-md-2">{{ form.title.label }}</label>
      <div class="col-md-10">
        {{ form.title|addcss:"form-control" }}
      </div>
  </div>

  <div class="form-group  col-md-12">
    {% for error in form.contact_email.errors %}
    <div class="alert alert-danger col-md-2">{{ error }}</div>
    {% endfor %}
    <label class="col-md-2">{{ form.contact_email.label }}</label>
    <div class="col-md-10">
      {{ form.contact_email|addcss:"form-control" }}
    </div>
</div>


  <div class="form-group  col-md-12">
    {% for error in form.logo.errors %}
    <div class="alert alert-danger col-md-2">{{ error }}</div>
    {% endfor %}
    <label class="col-md-2">{{ form.logo.label }}</label>
    <div class="col-md-10">
      {{ form.logo|addcss:"form-control" }}
    </div>
  </div>

  <div class="form-group col-md-12">
    {% for error in form.google_api_key.errors %}
    <div class="alert alert-danger col-md-12">{{ error }}</div>
    {% endfor %}
    <label class="col-md-2">{{ form.google_api_key.label }}</label>
    <div class="col-md-10">
      {{ form.google_api_key|addcss:"form-control" }}
    </div>
  </div>

  <div class="form-group col-md-12">
    {% for error in form.twitter_api_key.errors %}
    <div class="alert alert-danger col-md-12">{{ error }}</div>
    {% endfor %}
    <label class="col-md-2">{{ form.twitter_api_key.label }}</label>
    <div class="col-md-10">
      {{ form.twitter_api_key|addcss:"form-control" }}
    </div>
  </div>

  <div class="form-group col-md-12">
    {% for error in form.twitter_user_name.errors %}
    <div class="alert alert-danger col-md-12">{{ error }}</div>
    {% endfor %}
    <label class="col-md-2">{{ form.twitter_user_name.label }}</label>
    <div class="col-md-10">
      {{ form.twitter_user_name|addcss:"form-control" }}
    </div>
  </div>

  <div class="form-group col-md-12">
      {% for error in form.navigation_color.errors %}
      <div class="alert alert-danger col-md-12">{{ error }}</div>
      {% endfor %}
      <label class="col-md-2">{{ form.navigation_color.label }}</label>
      <div class="col-md-1">
        {{ form.navigation_color|addcss:"form-control" }}
      </div>
  </div>

  <div class="form-group  col-md-12">
      {% for error in form.link_color.errors %}
      <div class="alert alert-danger col-md-12">{{ error }}</div>
      {% endfor %}
      <label class="col-md-2">{{ form.link_color.label }}</label>
      <div class="col-md-1">
        {{ form.link_color|addcss:"form-control" }}
      </div>
  </div>

  <div class="form-group  col-md-12">
    {% for error in form.default_featured_authority.errors %}
    <div class="alert alert-danger col-md-12">{{ error }}</div>
    {% endfor %}
    <label class="col-md-2">{{ form.default_featured_authority.label }}</label>
    <div class="col-md-9">
      <input  
        {% if form.instance.default_featured_authority and not form.instance.default_featured_authority.public %}style="background-color:#e4d7ca"{% endif %}
        id="featured_authority_search" 
        type="text" 
        class="form-control" 
        value="{% if form.instance.default_featured_authority %} {{form.instance.default_featured_authority.name}} ({{form.instance.default_featured_authority.id}}) {% endif %}" />
      <ul class="list-group" id="featured_authority_datalist">
      </ul>
      {{ form.default_featured_authority|addcss:"form-control" }}
    </div>
    <div style="padding-top: 10px;"  class="col-md-1"><a id="deleteAuthority" href="#"><i class="fa fa-trash-o"></i></a></div>
    <script>
      $(function() {
        $("#deleteAuthority").click(function() {
          $("#id_default_featured_authority").val('');
          $("#featured_authority_search").val("");
        })
      });
    </script>
  </div>

  <div class="form-group  col-md-12">
    {% for error in form.default_featured_citation.errors %}
    <div class="alert alert-danger col-md-12">{{ error }}</div>
    {% endfor %}
    <label class="col-md-2">{{ form.default_featured_citation.label }}</label>
    <div class="col-md-9">
      <input 
        {% if form.instance.default_featured_citation and not form.instance.default_featured_citation.public %}style="background-color:#e4d7ca"{% endif %} 
        id="featured_citation_search" 
        type="text" 
        class="form-control" 
        value="{% if form.instance.default_featured_citation %} {{form.instance.default_featured_citation.title}} ({{form.instance.default_featured_citation.id}}) {% endif %}" />
      <ul class="list-group" id="featured_citation_datalist">
      </ul>
      {{ form.default_featured_citation|addcss:"form-control" }}
    </div>
    <div style="padding-top: 10px;"  class="col-md-1"><a id="deleteCitation" href="#"><i class="fa fa-trash-o"></i></a></div>
    <script>
      $(function() {
        $("#deleteCitation").click(function() {
          $("#id_default_featured_citation").val('');
          $("#featured_citation_search").val("");
        })
      });
    </script>
  </div>

  <div class="form-group  col-md-12">
    {% for error in form.subject_searches_all_tenants.errors %}
    <div class="alert alert-danger col-md-12">{{ error }}</div>
    {% endfor %}
    <label class="col-md-2">Subject and Category Search</label>
    <div class="col-md-10">
      {{ form.subject_searches_all_tenants }} By default all tenants should be searched.
    </div>
</div>

  <div class="form-group">
    <div class="col-md-12">
    <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </div>
</form>

<script>
  //@ sourceURL=search.js
  function delay(callback, ms) {
    var timer = 0;
    return function() {
      var context = this, args = arguments;
      clearTimeout(timer);
      timer = setTimeout(function () {
        callback.apply(context, args);
      }, ms || 0);
    };
  }

  var INITIAL_MAX_RESULTS = 10;
  var max_results = INITIAL_MAX_RESULTS;
  var search_tenants = true;
  
  var NON_PUBLIC_COLOR = "#e4d7ca";
  function triggerAuthoritySearch(force){
    var query = $('#featured_authority_search').val();
    var url = "{% url "curation:quick_and_dirty_authority_search" %}?show_inactive=true&use_custom_cmp=false&"  
    url += "&max=" + max_results + "&force=" + force; 
    if (search_tenants) {
      url += "&tenant_ids={{tenant.id}}";
    }
    url += "&q=" + query;
    $.ajax(url, {
      success: function(result) {
        var resultsContainer = $('#featured_authority_datalist');
        resultsContainer.empty();
        result.results.forEach(function(r) {
          var newOption = $('<li class="list-group-item" data-authority-id="' + r.id + '"></li>');

          var linkText = r.name + ' (' + r.citation_count + ') - ' + r.id;
          var linkIcon = '';
          var background_color = "#ffffff";
          if (!r.public) {
            linkIcon = '<i class="fas fa-eye-slash"></i> ';
            newOption.css('background-color', NON_PUBLIC_COLOR);
            background_color = NON_PUBLIC_COLOR;
          }
          newOption.html('<a href="#">' + linkIcon + linkText + '</a>')
          newOption.click(function() {
            $("#id_default_featured_authority").val(r.id);
            $("#featured_authority_search").val(linkText);
            $("#featured_authority_search").css("background-color", background_color);
            resultsContainer.empty();
          })
          resultsContainer.append(newOption);
        });

        if (result.results.length == 0 && ((force && query.length < 3) || (!force && query.length > 2))) {
          var msg = $('<p>There are no results for "' + query +'".</p>');
          resultsContainer.append(msg);
        } else if (result.results.length == 0 && !force && query.length < 3) {
          var msg = $('<p>Your query was too short. </p>');
          var forceLink = $('<a>Press <i class="fa fa-search" aria-hidden="true"></i></a>');
          forceLink.click(function() {
            triggerAuthoritySearch(true);
          });
          msg.append(forceLink);
          msg.append(" to force the search.");
          resultsContainer.append(msg);
        }

        if (result.results.length == max_results) {
          var load_more = `
            <li class="list-group-item search-result">
              <div class="text-right" id="load-more-subjects"><a>Load more...</a></div>
            </li>
          `;
          resultsContainer.append(load_more);
          $('#load-more-subjects').click(function() {
              max_results += 10;
              triggerAuthoritySearch(force);
          });
        }
      }
    });
  }

  
  function triggerCitationSearch(force){
    var query = $('#featured_citation_search').val();
    var url = "{% url "curation:quick_and_dirty_citation_search" %}?show_inactive=false"  
    url += "&max=" + max_results + "&force=" + force; 
    if (search_tenants) {
      url += "&tenant_ids={{tenant.id}}";
    }
    url += "&q=" + query;
    $.ajax(url, {
      success: function(result) {
        var resultsContainer = $('#featured_citation_datalist');
        resultsContainer.empty();
        result.results.forEach(function(r) {
          var newOption = $('<li class="list-group-item"></li>');

          var linkText = r.title + ' - ' + r.id;
          var linkIcon = '';
          var background_color = "#ffffff";
          if (!r.public) {
            linkIcon = '<i class="fas fa-eye-slash"></i> ';
            newOption.css('background-color', NON_PUBLIC_COLOR);
            background_color = NON_PUBLIC_COLOR;
          }
          newOption.html('<a href="#">' + linkIcon + linkText + '</a>')
          newOption.click(function() {
            $("#id_default_featured_citation").val(r.id);
            $("#featured_citation_search").val(linkText);
            $("#featured_citation_search").css("background-color", background_color);
            resultsContainer.empty();
          })
          resultsContainer.append(newOption);
        });

        if (result.results.length == 0 && ((force && query.length < 3) || (!force && query.length > 2))) {
          var msg = $('<p>There are no results for "' + query +'".</p>');
          resultsContainer.append(msg);
        } else if (result.results.length == 0 && !force && query.length < 3) {
          var msg = $('<p>Your query was too short. </p>');
          var forceLink = $('<a>Press <i class="fa fa-search" aria-hidden="true"></i></a>');
          forceLink.click(function() {
            triggerCitationSearch(true);
          });
          msg.append(forceLink);
          msg.append(" to force the search.");
          resultsContainer.append(msg);
        }

        if (result.results.length == max_results) {
          var load_more = `
            <li class="list-group-item search-result">
              <div class="text-right" id="load-more-citations"><a>Load more...</a></div>
            </li>
          `;
          resultsContainer.append(load_more);
          $('#load-more-citations').click(function() {
              max_results += 10;
              triggerCitationSearch(force);
          });
        }
      }
    });
  }

  $(document).ready(function() {

    $("#featured_authority_search").keyup(delay(function (e) {
        triggerAuthoritySearch(false)
      }, 
    500));

    $("#featured_citation_search").keyup(delay(function (e) {
        triggerCitationSearch(false)
      }, 
    500));
  });
</script>

{% endblock %}
