{% extends "tenants/__base_search.html" %}
{% load app_filters %}
{% load metadata_filters %}
{% load facet_filters %}
{% load search_filters %}
{% block title %}Search{% endblock %}

{% block meta_tags %}
<meta name="robots" content="noindex">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block extra_head %}
<link rel="unapi-server" type="application/xml" title="unAPI" href="http://{{ request.get_host }}/isis/unapi">

<script type="text/javascript">
//# sourceURL=dynamicScript.js
$(document).ready(function() {
  if ('{{models.0}}' == 'isisdata.citation') {
    $('a[href="#bookshelf"]').tab('show')
    $('#catalog-tab').removeClass("active")
    $('#bookshelf-tab').addClass("active")
  }
  if ('{{models.0}}' == 'isisdata.authority') {
    $('a[href="#catalog"]').tab('show')
    $('#bookshelf-tab').removeClass("active")
    $('#catalog-tab').addClass("active")
  }
});
</script>

<style>
  .facet-truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
     -webkit-line-clamp: 1;
     -webkit-box-orient: vertical;
    }

    .tab-btn-default {
      background-color: #fff;
      color: #337ab7;
      border-color: #337ab7;
    }

    .tab-btn-default.active {
      border-color: #337ab7;
      background-color: #337ab7;
      color: #fff;
    }

    .tab-btn-default.active:hover {
      border-color: #337ab7;
      background-color: #337ab7;
      color: #fff;
    }

    .tab-btn-default:hover {
      background-color: #e6e6e6;
    }

    .subject-more-btn {
      background-color: #fff;
      color: #337ab7;
    }

    .citation-type-label {
      background-color: #fff;
      color: #337ab7;
      border: 1px solid #337ab7;
    }

    .filter-label-link:hover {
      text-decoration: none;
    }

    p {
      font-size: 1.1em;
    }
</style>

{% endblock %}

{% block content %}

<div class="row">
  <div class='row' style='margin: 0 30px'>
    <div class='col-xs-12' style='padding: 0;'>
      <div class='well' style='padding-top: 10px;'>
        <div class='row' style='padding-left: 15px'>
          {{ query|format_query_preamble }}{{query|format_query}}
        </div>
        {% if selected_facets.citation_type or selected_facets.citation_language or selected_facets.citation_persons_ids or selected_facets.citation_concepts_by_subject_ids_exact or selected_facets.citation_time_period_ids_exact or selected_facets.citation_geographic_ids_exact or selected_facets.citation_institutions_by_subject_ids_exact or selected_facets.citation_people_by_subject_ids or selected_facets.citation_periodical_ids or selected_facets.citation_publisher_ids or request.get_full_path|set_status_retain|is_limited_to_tech_culture %}
          <hr style="margin-top:5px; margin-bottom:5px;">

          <ol class="breadcrumb" style='margin-bottom: 0;'>
            {% if selected_facets.citation_type %}
              {% for type in selected_facets.citation_type %}
              {% with type|create_facet_string:'citation_type' as encoded_type %}
                <li class="search-breadcrumb-item"><a class='filter-label-link' href="{{ request.get_full_path|set_status_retain|remove_facet:encoded_type|set_page_to_one }}"><span class='label citation-type-label filter-label'>{{type}}<span class='appear-on-hover'>&nbsp<i class="far fa-times-circle nix-icon"></i></span></span></a></li>
              {% endwith %}
              {% endfor %}
            {% endif %}

            {% if selected_facets.citation_language %}
              {% for language in selected_facets.citation_language %}
              {% with language|create_facet_string:'citation_language' as encoded_language %}
                <li class="search-breadcrumb-item"><a class='filter-label-link' href="{{ request.get_full_path|set_status_retain|remove_facet:encoded_language|set_page_to_one }}"><span class='label citation-type-label filter-label'>{{language}}<span class='appear-on-hover'>&nbsp<i class="far fa-times-circle nix-icon"></i></span></span></a></li>
              {% endwith %}
              {% endfor %}
            {% endif %}

            {% if selected_facets.citation_persons_ids %}
              {% for author in selected_facets.citation_persons_ids %}
              {% with author|create_facet_string:'citation_persons_ids' as encoded_author %}
                <li class="search-breadcrumb-item"><a class='filter-label-link' href="{{ request.get_full_path|set_status_retain|remove_facet:encoded_author|set_page_to_one }}"><span class='label citation-type-label filter-label'>{{author|get_authority_name}}<span class='appear-on-hover'>&nbsp<i class="far fa-times-circle nix-icon"></i></span></span></a></li>
              {% endwith %}
              {% endfor %}
            {% endif %}

            {% if selected_facets.citation_concepts_by_subject_ids_exact %}
              {% for concept in selected_facets.citation_concepts_by_subject_ids_exact %}
              {% with concept|create_facet_string:'citation_concepts_by_subject_ids_exact' as encoded_concept %}
                <li class="search-breadcrumb-item"><a class='filter-label-link' href="{{ request.get_full_path|set_status_retain|remove_facet:encoded_concept|set_page_to_one }}"><span class='label citation-type-label filter-label'>{{concept|get_authority_name}}<span class='appear-on-hover'>&nbsp<i class="far fa-times-circle nix-icon"></i></span></span></a></li>
              {% endwith %}
              {% endfor %}
            {% endif %}

            {% if selected_facets.citation_time_period_ids_exact %}
              {% for time in selected_facets.citation_time_period_ids_exact %}
              {% with time_period|create_facet_string:'citation_time_period_ids_exact' as encoded_time_period %}
                <li class="search-breadcrumb-item"><a class='filter-label-link' href="{{ request.get_full_path|set_status_retain|remove_facet:encoded_time_period|set_page_to_one }}"><span class='label citation-type-label filter-label'>{{time|get_authority_name}}<span class='appear-on-hover'>&nbsp<i class="far fa-times-circle nix-icon"></i></span></span></a></li>
              {% endwith %}
              {% endfor %}
            {% endif %}

            {% if selected_facets.citation_geographic_ids_exact %}
              {% for place in selected_facets.citation_geographic_ids_exact %}
              {% with geographic|create_facet_string:'citation_geographic_ids_exact' as encoded_geographic %}
                <li class="search-breadcrumb-item"><a class='filter-label-link' href="{{ request.get_full_path|set_status_retain|remove_facet:encoded_geographic|set_page_to_one }}"><span class='label citation-type-label filter-label'>{{place|get_authority_name}}<span class='appear-on-hover'>&nbsp<i class="far fa-times-circle nix-icon"></i></span></span></a></li>
              {% endwith %}
              {% endfor %}
            {% endif %}

            {% if selected_facets.citation_institutions_by_subject_ids_exact %}
              {% for institution in selected_facets.citation_institutions_by_subject_ids_exact %}
              {% with institution|create_facet_string:'citation_institutions_by_subject_ids_exact' as encoded_institution %}
                <li class="search-breadcrumb-item"><a class='filter-label-link' href="{{ request.get_full_path|set_status_retain|remove_facet:encoded_institution|set_page_to_one }}"><span class='label citation-type-label filter-label'>{{institution|get_authority_name}}<span class='appear-on-hover'>&nbsp<i class="far fa-times-circle nix-icon"></i></span></span></a></li>
              {% endwith %}
              {% endfor %}
            {% endif %}

            {% if selected_facets.citation_people_by_subject_ids %}
              {% for person in selected_facets.citation_people_by_subject_ids %}
              {% with person|create_facet_string:'citation_people_by_subject_ids' as encoded_person %}
              <li class="search-breadcrumb-item"><a class='filter-label-link' href="{{ request.get_full_path|set_status_retain|remove_facet:encoded_person|set_page_to_one }}"><span class='label citation-type-label filter-label'>{{person|get_authority_name}}<span class='appear-on-hover'>&nbsp<i class="far fa-times-circle nix-icon"></i></span></span></a></li>
              {% endwith %}
              {% endfor %}
            {% endif %}

            {% if selected_facets.citation_periodical_ids %}
              {% for periodical in selected_facets.citation_periodical_ids %}
              {% with periodical|create_facet_string:'citation_periodical_ids' as encoded_periodical %}
                <li class="search-breadcrumb-item"><a class='filter-label-link' href="{{ request.get_full_path|set_status_retain|remove_facet:encoded_periodical|set_page_to_one }}"><span class='label citation-type-label filter-label'>{{periodical|get_authority_name}}<span class='appear-on-hover'>&nbsp<i class="far fa-times-circle nix-icon"></i></span></span></a></li>
              {% endwith %}
              {% endfor %}
            {% endif %}

            {% if selected_facets.citation_publisher_ids %}
              {% for publisher in selected_facets.citation_publisher_ids %}
              {% with publisher|create_facet_string:'citation_publisher_ids' as encoded_publisher %}
                <li class="search-breadcrumb-item"><a class='filter-label-link' href="{{ request.get_full_path|set_status_retain|remove_facet:encoded_publisher|set_page_to_one }}"><span class='label citation-type-label filter-label'>{{publisher|get_authority_name}}<span class='appear-on-hover'>&nbsp<i class="far fa-times-circle nix-icon"></i></span></span></a></li>
              {% endwith %}
              {% endfor %}
            {% endif %}

            {% if request.get_full_path|set_status_retain|is_limited_to_tech_culture %}
              <li class="search-breadcrumb-item"> <a href="{{ request.get_full_path|set_status_retain|set_page_to_one|remove_url_part:'selected_facets=citation_dataset_typed_names:Technology & Culture Bibliography'|add_facet_or_operator }}"><span class='label citation-type-label filter-label'>Technology & Culture<span class='appear-on-hover'>&nbsp<i class="far fa-times-circle nix-icon"></i></span></span></a></li>
            {% endif %}

            <li class="search-breadcrumb-item"><a class='filter-label-link' href="{{ request.get_full_path|set_status_retain|remove_all_facets|set_page_to_one }}"><span class='label label-danger'>remove all filters</span></a></li>
          </ol>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="bookshelf">
      <div class='col-sm-12 col-md-7' style='padding: 0 0 0 30px;'>
        {% include "tenants/search/search_results_citations.html" %}
      </div>
      <div class='col-sm-12 col-md-5'>
        {% include "tenants/search/search_facets_citations.html" %}
      </div>
    </div>
  </div>
</div>

<!-- author/contributor Modal -->
<div class="modal fade authorModal" id="authorModal" tabindex="-1" role="dialog" aria-labelledby="authorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">List of {% if facets_citation.fields.persons_ids|length == 100 %}Top {% else %}All {% endif %}{{facets_citation.fields.persons_ids|length }} Authors & Contributors Related to {{ query|format_query }} {% if selected_facets.citation_type or selected_facets.citation_language or selected_facets.citation_persons_ids or selected_facets.citation_concepts_by_subject_ids_exact or selected_facets.citation_time_period_ids_exact or selected_facets.citation_geographic_ids_exact or selected_facets.citation_institutions_by_subject_ids_exact or selected_facets.citation_people_by_subject_ids or selected_facets.citation_periodical_ids or selected_facets.citation_publisher_ids %} and Your Filters{% endif %}</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for author in facets_citation.fields.persons_ids %}
          {% if "citation_persons_ids" not in selected_facets.keys or author.0 not in selected_facets.citation_persons_ids %}
          <li><a title="Show only results involving {{ author.0|get_authority_name }}" href="{{ request.get_full_path|set_status_retain|set_page_to_one }}&amp;selected_facets=citation_persons_ids:{{ author.0|urlencode }}"><i class="far fa-square"></i> ({{ author.1 }})</a> {{ author.0|get_authority_name }} <a title="Go to authority record for {{author.0|get_authority_name}}" href="{% url 'tenants:authority' tenant_id author.0 %}?"><i class="fas fa-external-link-alt"></i></a>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<!-- time period Modal -->
<div class="modal fade" id="timeModal" tabindex="-1" role="dialog" aria-labelledby="timeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">List of {% if facets_citation.fields.time_period_ids|length == 100 %}Top {% else %}All {% endif %}{{facets_citation.fields.time_period_ids|length }} Time Periods Related to {{ query|format_query }} {% if selected_facets.citation_type or selected_facets.citation_language or selected_facets.citation_persons_ids or selected_facets.citation_concepts_by_subject_ids_exact or selected_facets.citation_time_period_ids_exact or selected_facets.citation_geographic_ids_exact or selected_facets.citation_institutions_by_subject_ids_exact or selected_facets.citation_people_by_subject_ids or selected_facets.citation_periodical_ids or selected_facets.citation_publisher_ids %} and Your Filters{% endif %}</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for time_period in facets_citation.fields.time_period_ids %}
          {% if "citation_time_period_ids_exact" not in selected_facets.keys or time_period.0 not in selected_facets.citation_time_period_ids_exact %}
              <li ><a href="{{ request.get_full_path|set_status_retain|set_page_to_one }}&amp;selected_facets=citation_time_period_ids_exact:{{ time_period.0|urlencode }}"><i class="far fa-square"></i> ({{ time_period.1 }})</a> {{ time_period.0|get_authority_name }} <a title="Go to authority record for {{time_period.0|get_authority_name}}" href="{% url 'tenants:authority' tenant_id time_period.0 %}?"><i class="fas fa-external-link-alt"></i></a>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<!-- places Modal -->
<div class="modal fade" id="placeModal" tabindex="-1" role="dialog" aria-labelledby="placeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><h4 class="modal-title" id="myModalLabel">List of {% if facets_citation.fields.geographic_ids|length == 100 %}Top {% else %}All {% endif %}{{facets_citation.fields.geographic_ids|length }} Places Related to {{ query|format_query }} {% if selected_facets.citation_type or selected_facets.citation_language or selected_facets.citation_persons_ids or selected_facets.citation_concepts_by_subject_ids_exact or selected_facets.citation_time_period_ids_exact or selected_facets.citation_geographic_ids_exact or selected_facets.citation_institutions_by_subject_ids_exact or selected_facets.citation_people_by_subject_ids or selected_facets.citation_periodical_ids or selected_facets.citation_publisher_ids %} and Your Filters{% endif %}</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for geographic in facets_citation.fields.geographic_ids %}
          {% if "citation_geographic_ids_exact" not in selected_facets.keys or geographic.0 not in selected_facets.citation_geographic_ids_exact %}
              <li ><a href="{{ request.get_full_path|set_status_retain|set_page_to_one }}&amp;selected_facets=citation_geographic_ids_exact:{{ geographic.0|urlencode }}"><i class="far fa-square"></i> ({{ geographic.1 }})</a> {{ geographic.0|get_authority_name }} <a title="Go to authority record for {{geographic.0|get_authority_name}}" href="{% url 'tenants:authority' tenant_id geographic.0 %}?"><i class="fas fa-external-link-alt"></i></a>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<!-- concept Modal -->
<div class="modal fade" id="conceptModal" tabindex="-1" role="dialog" aria-labelledby="conceptModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><h4 class="modal-title" id="myModalLabel">List of {% if facets_citation.fields.concepts_by_subject_ids|length == 100 %}Top {% else %}All {% endif %}{{facets_citation.fields.concepts_by_subject_ids|length }} Concepts Related to {{ query|format_query }} {% if selected_facets.citation_type or selected_facets.citation_language or selected_facets.citation_persons_ids or selected_facets.citation_concepts_by_subject_ids_exact or selected_facets.citation_time_period_ids_exact or selected_facets.citation_geographic_ids_exact or selected_facets.citation_institutions_by_subject_ids_exact or selected_facets.citation_people_by_subject_ids or selected_facets.citation_periodical_ids or selected_facets.citation_publisher_ids %} and Your Filters{% endif %}</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for concept in facets_citation.fields.concepts_by_subject_ids %}
          {% if "citation_concepts_by_subject_ids_exact" not in selected_facets.keys or concept.0 not in selected_facets.citation_concepts_by_subject_ids_exact %}
              <li ><a href="{{ request.get_full_path|set_status_retain|set_page_to_one }}&amp;selected_facets=citation_concepts_by_subject_ids_exact:{{ concept.0|urlencode }}"><i class="far fa-square"></i> ({{ concept.1 }})</a> {{ concept.0|get_authority_name }} <a title="Go to authority record for {{concept.0|get_authority_name}}" href="{% url 'tenants:authority' tenant_id concept.0 %}?"><i class="fas fa-external-link-alt"></i></a>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<!-- institution Modal -->
<div class="modal fade" id="institutionModal" tabindex="-1" role="dialog" aria-labelledby="institutionModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><h4 class="modal-title" id="myModalLabel">List of {% if facets_citation.fields.institutions_by_subject_ids|length == 100 %}Top {% else %}All {% endif %}{{facets_citation.fields.institutions_by_subject_ids|length }} Institutions Related to {{ query|format_query }} {% if selected_facets.citation_type or selected_facets.citation_language or selected_facets.citation_persons_ids or selected_facets.citation_concepts_by_subject_ids_exact or selected_facets.citation_time_period_ids_exact or selected_facets.citation_geographic_ids_exact or selected_facets.citation_institutions_by_subject_ids_exact or selected_facets.citation_people_by_subject_ids or selected_facets.citation_periodical_ids or selected_facets.citation_publisher_ids %} and Your Filters{% endif %}</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for institution in facets_citation.fields.institutions_by_subject_ids %}
          {% if "citation_institutions_by_subject_ids_exact" not in selected_facets.keys or institution.0 not in selected_facets.citation_institutions_by_subject_ids_exact %}
              <li ><a href="{{ request.get_full_path|set_status_retain|set_page_to_one }}&amp;selected_facets=citation_institutions_by_subject_ids_exact:{{ institution.0|urlencode }}"><i class="far fa-square"></i> ({{ institution.1 }})</a> {{ institution.0|get_authority_name }} <a title="Go to authority record for {{institution.0|get_authority_name}}" href="{% url 'tenants:authority' tenant_id institution.0 %}?"><i class="fas fa-external-link-alt"></i></a>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<!-- people Modal -->
<div class="modal fade" id="peopleModal" tabindex="-1" role="dialog" aria-labelledby="peopleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><h4 class="modal-title" id="myModalLabel">List of {% if facets_citation.fields.people_by_subject_ids|length == 100 %}Top {% else %}All {% endif %}{{facets_citation.fields.people_by_subject_ids|length }} People Related to {{ query|format_query }} {% if selected_facets.citation_type or selected_facets.citation_language or selected_facets.citation_persons_ids or selected_facets.citation_concepts_by_subject_ids_exact or selected_facets.citation_time_period_ids_exact or selected_facets.citation_geographic_ids_exact or selected_facets.citation_institutions_by_subject_ids_exact or selected_facets.citation_people_by_subject_ids or selected_facets.citation_periodical_ids or selected_facets.citation_publisher_ids %} and Your Filters{% endif %}</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for person in facets_citation.fields.people_by_subject_ids %}
          {% if "citation_people_by_subject_ids_exact" not in selected_facets.keys or person.0 not in selected_facets.citation_people_by_subject_ids_exact %}
              <li ><a href="{{ request.get_full_path|set_status_retain|set_page_to_one }}&amp;selected_facets=citation_people_by_subject_ids_exact:{{ person.0|urlencode }}"><i class="far fa-square"></i> ({{ person.1 }})</a> {{ person.0|get_authority_name }} <a title="Go to authority record for {{person.0|get_authority_name}}" href="{% url 'tenants:authority' tenant_id person.0 %}?"><i class="fas fa-external-link-alt"></i></a>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<!-- publisher Modal -->
<div class="modal fade" id="publisherModal" tabindex="-1" role="dialog" aria-labelledby="publisherModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><h4 class="modal-title" id="myModalLabel">List of {% if facets_citation.fields.publisher_ids|length == 100 %}Top {% else %}All {% endif %}{{facets_citation.fields.publisher_ids|length }} Publishers Related to {{ query|format_query }} {% if selected_facets.citation_type or selected_facets.citation_language or selected_facets.citation_persons_ids or selected_facets.citation_concepts_by_subject_ids_exact or selected_facets.citation_time_period_ids_exact or selected_facets.citation_geographic_ids_exact or selected_facets.citation_institutions_by_subject_ids_exact or selected_facets.citation_people_by_subject_ids or selected_facets.citation_periodical_ids or selected_facets.citation_publisher_ids %} and Your Filters{% endif %}</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for publisher in facets_citation.fields.publisher_ids %}
          {% if "citation_publisher_ids" not in selected_facets.keys or publisher.0 not in selected_facets.citation_publisher_ids %}
              <li ><a href="{{ request.get_full_path|set_status_retain|set_page_to_one }}&amp;selected_facets=citation_publisher_ids:{{ publisher.0|urlencode }}"><i class="far fa-square"></i> ({{ publisher.1 }})</a> {{ publisher.0|get_authority_name }} <a title="Go to authority record for {{publisher.0|get_authority_name}}" href="{% url 'tenants:authority' tenant_id publisher.0 %}?"><i class="fas fa-external-link-alt"></i></a>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<!-- periodical Modal -->
<div class="modal fade" id="periodicalModal" tabindex="-1" role="dialog" aria-labelledby="periodicalModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><h4 class="modal-title" id="myModalLabel">List of {% if facets_citation.fields.periodical_ids|length == 100 %}Top {% else %}All {% endif %}{{facets_citation.fields.periodical_ids|length }} Journals Related to {{ query|format_query }} {% if selected_facets.citation_type or selected_facets.citation_language or selected_facets.citation_persons_ids or selected_facets.citation_concepts_by_subject_ids_exact or selected_facets.citation_time_period_ids_exact or selected_facets.citation_geographic_ids_exact or selected_facets.citation_institutions_by_subject_ids_exact or selected_facets.citation_people_by_subject_ids or selected_facets.citation_periodical_ids or selected_facets.citation_publisher_ids %} and Your Filters{% endif %}</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for periodical in facets_citation.fields.periodical_ids %}
          {% if "citation_periodical_ids" not in selected_facets.keys or periodical.0 not in selected_facets.citation_periodical_ids %}
              <li ><a href="{{ request.get_full_path|set_status_retain|set_page_to_one }}&amp;selected_facets=citation_periodical_ids:{{ periodical.0|urlencode }}"><i class="far fa-square"></i> ({{ periodical.1 }})</a> {{ periodical.0|get_authority_name }} <a title="Go to authority record for {{periodical.0|get_authority_name}}" href="{% url 'tenants:authority' tenant_id periodical.0 %}?"><i class="fas fa-external-link-alt"></i></a>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->
{% endblock %}
