{% load staticfiles %}
{% load app_filters %}
<!DOCTYPE html>

<html>
    <head>
        {% block meta_tags %}{% endblock %}
        <title>
            {% block title %}Isis{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{% static "isisdata/bootstrap-3.3.5/css/bootstrap.min.css" %}" type="text/css" />
            <link rel="stylesheet" href="{% static "isisdata/css/base.css" %}" type="text/css" />
        {% endblock %}
        {% block javascript %}
            <script src="{% static "isisdata/js/jquery-1.11.3.min.js" %}" type="text/javascript"></script>
            <script src="{% static "isisdata/bootstrap-3.3.5/js/bootstrap.min.js" %}" type="text/javascript"></script>
            <script src="{% static "isisdata/js/angular.min.js" %}" type="text/javascript"></script>
            <script src="{% static "isisdata/js/angular-resource.min.js" %}"></script>
            <script src="{% static "isisdata/js/angular-sanitize.min.js" %}"></script>
            <script src="{% static "isisdata/js/ui-bootstrap-tpls-0.13.0.min.js" %}"></script>
        {% endblock %}

        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% include "isisdata/_navigation.html" %}
        <div class="container-fluid main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
