<div class="container-fluid">
    <p class="text-muted pull-right">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/by-nc/4.0/88x31.png" /></a>
        {% if user.is_staff or user.is_superuser %}<a href="{% url 'curation:index' %}">Curation Interface</a>{% endif %}
        <a href="{% url 'rest_root' %}">REST API</a>
    </p>
</div>
<script><!-- Initialize all tooltips on the page -->
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_ID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ GOOGLE_ANALYTICS_ID }}');
</script>
