{% load staticfiles %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img height="100px" src="{% static "isisdata/images/isis_icon_white-small.png" %}" ></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="container-fluid">
        <!-- <div class="collapse navbar-collapse"> -->
        {% if user.is_authenticated %}
            <div class="navbar-right">
                <div class="dropdown">
                	<button class="btn btn-default dropdown-toggler" type="button" id="usermenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                		{{ user.username }}
                		<span class="caret"></span>
                	</button>
                	<ul class="dropdown-menu" aria-labelledby="usermenu">
                		<!-- <li><a href="/profile/">Dashboard</a></li> -->
                		<!-- <li><a href="/settings/">Settings</a></li> -->
                		<li><a href="/logout/">Log Out</a></li>
                	</ul>
                </div>
            </div>

    	{% else %}
            <div class="navbar-right">
            	<a href="/login/">
            		<button class="btn btn-primary" type="button" id="loginButton">
            			Log In
            		</button>
            	</a>
            </div>
    	{% endif %}
        <!-- </div> -->
    </div>

      <!-- <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form> -->
    <!--/.navbar-collapse -->
  </div>
</nav>
