<!-- Facebook -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : "{{ facebook_app_id }}",
      xfbml      : true,
      version    : 'v2.4'
    });
  };


  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<script>
$('body').ready(function() {
    $('#facebookShare').click(function(e) {
        FB.ui({
          method: 'share',
          href: '{{ request.build_absolute_uri }}',
        }, function(response){});
    });
});
</script>

<!-- Twitter -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<script>
$('body').ready(function() {
    $('#twitterShare').click(function(e) {
        window.open('https://twitter.com/intent/tweet?url={{ request.build_absolute_uri|urlencode:"" }}&hashtags=isiscb', "tweet", "width=550, height=420");

    });

});
</script>

<!-- JIRA issue collector -->
<script type="text/javascript" src="https://upconsulting.atlassian.net/s/b19e2563dd7b1f2a6059849f0179a938-T/-6t2s03/72002/be52f27d56187cbd5186e7f24e29938f/2.0.13/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=ac61ee3e"></script>

<!-- Jira issue collector for new citations -->
<script type="text/javascript" src="https://upconsulting.atlassian.net/s/d9049ed789fef03e632180ca1c4438bd-T/en_USnu9cxy/71001/be52f27d56187cbd5186e7f24e29938f/2.0.9/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=03c1620d"></script>

<script type="text/javascript">
window.ATL_JQ_PAGE_PROPS = $.extend(window.ATL_JQ_PAGE_PROPS, {
	'ac61ee3e' : {
		triggerFunction: function(showCollectorDialog) {
        //Requires that jQuery is available!
            jQuery("#feedback").click(function(e) {
                e.preventDefault();
                showCollectorDialog();
            });
     }
	},
	'03c1620d' : {
		triggerFunction: function(showCollectorDialog) {
        //Requires that jQuery is available!
        jQuery("#submitCitation").click(function(e) {
            e.preventDefault();
            showCollectorDialog();
        });
     }
	}
});
</script>
