{% extends "isisdata/__base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row" ng-app="commentsApp">
<!--  <div class="col-sm-3 col-md-2">
    <div class="menu">
      <a href="{% if last_query %}{{ last_query }}{% else %}javascript:window.history.back(){% endif %}"><span class="glyphicon glyphicon-arrow-left"></span></a>
      &nbsp; &nbsp;
      <a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span></a>
      &nbsp; &nbsp;
      <a href="{% url 'haystack_search' %}"><span class="glyphicon glyphicon-search"></span></a>
      <hr>
    </div>
  </div>-->

  <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-7 main">

<h3>About <i>IsisCB Explore</i></h3>

<p><i>IsisCB Explore</i> is a research tool for the history of science, whose
core dataset comes from bibliographical citations in the <a href="http://isisbibliography.org/">Isis Bibliography of the History of Science</a>. The IsisCB contains over 40
years of curated bibliographical data.</p>

<p>The dataset is composed of three main
types of records:</p>

<ul type=disc>
 <li><i>Citations</i>, bibliographic entries that
     have been classified and indexed</li>
 <li><i>Authorities</i>, identity records for the
     subject and category tags as well as all authors and contributors,
     publishers, journals, and thesis granting institutions</li>
 <li><i>Relationships</i>,
     records that link citations and authorities to each other creating a
     semantic web that powers the search and facet features</li>
</ul>

<p><i>IsisCB Explore</i> blends a professionally
curated database with social media tools. Curated bibliographical material
available to anyone through this open access website. Users can add comments
and suggest entries, import citations to a citation management application, and
share individual citations via Facebook and Twitter.</p>

<p>User participation is encouraged.
Please sign-in and provide comments to entries where you see errors and add
further information where relevant. Suggest hyperlinks and other material that
will be useful for fellow scholars.</p>

<p>We are fully committed to open
access. Our data are available via a <a href="http://data.isiscb.org/rest/">REST API</a> (accessible through the icons on this site), and all of
our source code is at <a href="https://github.com/upconsulting/IsisCB">GitHub</a>. Our data is open for use
following the <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons
Attribution-NonCommercial 4.0 International License</a>.</p>

<h4>Current features</h4>

<p>One can use the IsisCB to do a
standard bibliographical search. This is the mode that we expect most users
will find valuable on a day-to-day basis.</p>

<ul type=disc>
 <li ><i>Account registration</i>. You can register for
     an account or log in through Facebook or Twitter.</li>
 <li ><i>Zotero integration</i>. All bibliographic
     records can be saved in Zotero, either individually or in search results.</li>
 <li ><i>Search history</i>. The system
     automatically logs your search history and gives you the ability to
     bookmark and save certain searches.</li>
 <li ><i>Public user comments</i>. Once logged in, you
     can add public comments on any record so that you can identify missing
     information or suggest outside links.</li>
 <li ><i>Faceted searching</i>. The facets are indexed
     items that you can access directly using the Authorities tab.</li>
</ul>

<h4>Development schedule</h4>

<p>The project is still in beta
form, so development is ongoing. Among the features we will be adding in the
months ahead:</p>

<ul type=disc>
 <li>Data</i>. We will be integrating
     several hundred thousand new records. These data include web-based
     resources from the <a
     href="http://www.dhst-whso.org/">World History of Science Online</a> and the 1913-1975 <i>Isis Cumulative Bibliographies</i>.</li>
 <li>Link resolvers</i>. Library users will be
     able to get direct access to the full text of items in subscribed library
     resources.</li>
 <li>User account functions</i>. We will eventually make
     it possible for people to adding entries, curating pages, saving marked
     sets of citations.</li>
 <li>Indexing</i>. As we study the
     authority lists, we well be able to merge many of the identical
     authorities that currently exist in the system.</li>
 <li>Authority records</i>. We will be providing
     more information drawn from places like <a
     href="http://wiki.dbpedia.org/">DBPedia</a> that
     will help users know more about authority records that they are using to
     do searches.</li>
 <li>Linked Open Data</i>. We will be adding
     links to many other external authority records, so that users will be able
     to find accurate data on records from authoritative sources, such as the
     Stanford Encyclopedia of Philosophy and similar projects.</li>
 <li>More API functionality</i>. We will be adding new
     ways to access our records algorithmically.</li>
</ul>

<h4>Acknowledgements</h4>

<p>The following individuals have
been especially helpful in making this project possible: Sylwester Ratowt,
Colin Allen, Margaret Gaida, Amy Rodgers, Gavan McCarthy, Marco La Rosa, Ailie
Smith, John Stewart, Erick Peirson, Julia Damerow, Tara Carlisle, Nathan
Kapoor, Younes Mahdavi, Carolyn Scearce, Kirsty Gaither, Sam Fellows. In
addition, we want to thank the many individuals associated with the sponsoring
institutions listed on this page. The project could not have been completed
without their help. Faculty and administrative staff in many different
departments across the University of Oklahoma have been extraordinarily
supportive throughout this endeavor.</p>

<p>Questions and information
regarding this project can be directed to:</p>

<p>Stephen P. Weldon<br>
Editor, Isis Bibliography of the History of Science<br>
Associate Professor of History of Science<br>
601 Elm Street, Physical Sciences 618<br>
University of Oklahoma<br>
Norman, Oklahoma 73019<br>
spweldon [at] ou [dot] edu</p>

<p>This website was
developed by <a href="http://aplacecalledup.com/">A
Place Called Up Consulting</a>. A
Place Called Up Consulting works with academic units, teams, and individual
scholars to advance excellence in digital humanities research, training, and
outreach. From planning to maturity, A Place Called Up Consulting provides
guidance, software and infrastructure development services, training, and
support for projects of all sizes.</p>

</div>

<div class="col-md-3 col-xs-offset-1 col-sm-offset-1 col-md-offset-0 col-sm-10">
  <div style="margin-top: 20px;">
    <a href="http://hssonline.org/" target="blank"><img width="350px"src="{% static "isisdata/images/hss_banner.png" %}"></a>
  <div style="margin-top: 20px;">
  <div>
    <a href="http://cas.ou.edu/hsci" target="blank"><img width="350px" src="{% static "isisdata/images/hsci_banner.png" %}"></a>
  </div>
  <div style="margin-top: 20px;">
    <a href="https://libraries.ou.edu/" target="blank"><img width="350px" src="{% static "isisdata/images/oulib_banner.png" %}"></a>
  </div>
  <div style="margin-top: 20px;">
    <a href="http://www.sloan.org/" target="blank"><img width="350px" src="{% static "isisdata/images/sloan_banner.png" %}"></a>
  </div>
</div>

</div>

{% endblock %}
