{% extends "isisdata/__base.html" %}
{% load app_filters %}
{% load static %}
{% load search_filters %}
{% load authority_filters %}
{% load facet_filters %}

{% block extra_head %}
<script>
{% if source_instance_id %}
var SUBJECT_INSTANCE_ID = "{{ source_instance_id }}";
{% endif %}

{% if source_content_type %}
var SUBJECT_CONTENT_TYPE = {{ source_content_type }};
{% endif %}
</script>
<script src="{% static "isisdata/js/comments.js" %}"></script>

<script src="{% static 'isisdata/js/plotly-latest.min.js' %}" type="text/javascript"></script>

<style>
.panel-default>.panel-heading-relation {
  background-color: #e0eef5;
}

.panel-default>.panel-heading-subjects {
  background-color: #eaeaea;
}

.panel-default>.panel-heading-links {
  background-color: #e4cfe2;
}

.panel-default>.panel-heading-links a {
  color: #8533b7;
}

.panel-default>.panel-body-links a {
  color: #8533b7;
}

.truncate-subjects {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-inline-box;
   -webkit-line-clamp: 1;
   -webkit-inline-box-orient: vertical;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
   -webkit-line-clamp: 7;
   -webkit-box-orient: vertical;
}

.subject-more-btn {
  background-color: #fff;
  color: #337ab7;
}

#catalog-tab, #bookshelf-tab {
  font-size: 1em;
  font-weight: 400;
}

#bookshelf-tab a:hover {
  text-decoration: none;
}

.tab-btn-default {
  background-color: #fff;
  color: #337ab7;
  border-color: #337ab7;
}

.tab-btn-default.active {
  border-color: #337ab7;
  background-color: #337ab7;
  color: #fff;
}

.tab-btn-default.active:hover {
  border-color: #337ab7;
  background-color: #337ab7;
  color: #fff;
}

.tab-btn-default:hover {
  background-color: #e6e6e6;
}

</style>

<link rel="unapi-server" type="application/xml" title="unAPI" href="http://{{ request.get_host }}/isis/unapi">


<meta property="og:url"                content="{{ request.build_absolute_uri }}" />
<meta property="og:site_name"          content="Isis Current Bibliography" />
<meta property="og:type"               content="article" />
<meta property="fb:app_id"             content="{{ facebook_app_id}}" />
<meta property="og:title"              content="{{ authority.name|strip_tags }}" />
<meta property="og:description"        content="{{ authority.description|strip_tags }}" />
<!-- TODO: -vv- if we add images for entries, this should be changed. -vv-  -->
<meta property="og:image"              content="{% static "isisdata/images/isis_final_black.png" %}" />
{% endblock %}

{#% block title %}Authority{% endblock %#}

{% block content %}
<div class="row">
  <!-- Progress through search results, if arriving from search view. -->
  {% if search_results|length > 0 and fromsearch and search_current %}
  <div class="panel panel-default" style="margin-bottom: 5px;">
    <div class="panel-body" style="padding: 7px; height: 34px;">
    <div class=" hidden-print" >
      <div class="row" style="margin-right: 0px; margin-left: 0px;">
        <div class="col-xs-4">
          <a href="{% if last_query %}{{ last_query }}{% else %}javascript:window.history.back(){% endif %}"><span class="glyphicon glyphicon-arrow-left"></span> Back to search results</a>
        </div>
        <div class="col-xs-2 text-left">
              {% if search_current >= 2 and search_previous %}
              <a href="{% url 'authority' search_previous|get_pk %}?fromsearch=true&query_string={{ query_string }}&last_query={{ last_query|encode_query }}" aria-label="Previous">
                  <span aria-hidden="true" >&laquo;Previous</span>
              </a>
              {% endif %}
        </div>
        <div class="col-xs-4 text-center">
            Showing result {{ search_current }} of {{ search_results|length }}
        </div>
        <div class="col-xs-2 text-right">
            {% if search_index < search_count and search_next %}
            <a href="{% url 'authority' search_next|get_pk %}?fromsearch=true&query_string={{ query_string }}&last_query={{ last_query|encode_query }}" aria-label="Next" >
                <span aria-hidden="true" >Next&raquo;</span>
            </a>
            {% endif %}
        </div>
      </div>
    </div>
    </div>
  </div>
  {% endif %}

  <script>
    //# sourceURL=copy.js
    $(function() {
      $("#authorityLink").click(function() {
        var copyTextarea = document.querySelector('#hiddenAuthorityLink');
        copyTextarea.focus();
        copyTextarea.select();
        document.execCommand("copy");
        $.notify("URL of this record has been copied to your clipboard.", "info", {
          clickToHide: true,
          style: 'bootstrap',
          gap: 5,
        });
      })

      $("#uriLink").click(function() {
        var copyTextarea = document.querySelector('#hiddenUriLink');
        copyTextarea.focus();
        copyTextarea.select();
        document.execCommand("copy");
        $.notify("URL of this record has been copied to your clipboard.", "info", {
          clickToHide: true,
          style: 'bootstrap',
          gap: 5,
        });
      })
    })
  </script>
  <div class="panel panel-default" id="infoPanel" style='margin: 0 15px 20px 15px;'>
    <div class="panel-heading">
      <strong style="font-size:1.3em; color: #012E63;">{{ display_type }}</strong>
        <span class="btn-grp pull-right" style="padding-top:5px">
            <span id="authorityLink" style="margin-right: 20px;cursor: copy;" title="Click to copy"><i class="fas fa-fingerprint"></i> ID: {{ authority.id }} <i class="far fa-copy"></i></span>
            <textarea style="position: absolute;left: -9999px;" id="hiddenAuthorityLink">{{ authority | get_uri }}</textarea>
            {% if user.is_staff %}<a class="glyphicon glyphicon-edit" href="{% url "curation:curate_authority" authority.id %}" style="padding-right: 5px;"></a>{% endif %}
            {% if user.is_authenticated %}<a href="{{ api_view}}" data-toggle="tooltip" data-placement="top" style="padding-right: 5px;" title="View in REST API">API</a>{% endif %}
        </span>
        <br>
        <hr style="margin-top:5px; margin-bottom:5px;">
        <strong style="margin-top: 5px; font-size:1.7em;" id="recordName">{{ authority.name }}</strong>
        {% if redirect_from %}<p class="text-muted text-danger" style="display: inline; float: right"><em>Redirected from <strong>{{ redirect_from.name }}</strong> ({{ redirect_from.id }}).</em></p>{% endif %}
    </div>
    <div class="panel-body">
      <div class="col-sm-12 col-md-7" style="padding-right:0;">
        {% include 'isisdata/authority_fragments/fragment_authority_info_box.html' %}
      </div>
      <div class="col-sm-12 col-md-5">
        <div class="row col-sm-12" style="text-align:center; margin: 15px 0 30px 0;">
          <div id="tab search_tabs" class="btn-group" role="group" style="font-size: 1.1em; font-weight: 400;">
            <label onclick="location.href='{% url 'authority' authority_id|upper %}';" id="bookshelf-tab" type="button" class="btn tab-btn-default" style="border-color: #337ab7; color: #337ab7;">
              Citations
          </label>
          <label id="catalog-tab" type="button" class="btn tab-btn-default active" style="border-color:#337ab7">
              Indexes
          </label>
        </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="panel panel-default facet-box">
              <div class=" panel-heading">
                <strong>Authors & Contributors</strong>
                {% if related_contributors_facet|length > 6 %}
                <button type="button" class="btn btn-xs btn-primary pull-right subject-more-btn" data-toggle="modal" data-target="#authorModal" style="float:right">
                  More <i class="far fa-caret-square-down"></i>
                </button>
                {% endif %}
              </div>
              <div class="panel-body">
                {% for facet in related_contributors_facet|slice:"6" %}
                {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_persons_ids'%}
                {% endfor %}
              </div>
            </div>
    
            <div class="panel panel-default facet-box">
              <div class="panel-heading ">
                <strong>Journals</strong>
                {% if related_journal_facet|length > 6 %}
                <button type="button" class="btn btn-xs btn-primary pull-right subject-more-btn" data-toggle="modal" data-target="#journalModal" style="float:right">
                  More <i class="far fa-caret-square-down"></i>
                </button>
                {% endif %}
              </div>
              <div class="panel-body">
                {% for facet in related_journal_facet|slice:"6" %}
                {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_periodical_ids' %}
                {% endfor %}
              </div>
            </div>
    
            <div class="panel panel-default facet-box">
              <div class="panel-heading ">
                <strong>Publishers</strong>
                {% if related_publisher_facet|length > 6 %}
                <button type="button" class="btn btn-xs btn-primary pull-right subject-more-btn" data-toggle="modal" data-target="#publisherModal" style="float:right">
                  More <i class="far fa-caret-square-down"></i>
                </button>
                {% endif %}
              </div>
              <div class="panel-body">
                {% for facet in related_publisher_facet|slice:"6" %}
                {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_publisher_ids' %}
                {% endfor %}
              </div>
            </div>
    
            <div class="panel panel-default">
              <div class="panel-heading panel-heading">
                <strong>Datasets</strong>
              </div>
              <div class="panel-body">
                {% for facet in related_dataset_facet|slice:"6" %}
                <i class="fa fa-database" aria-hidden="true"></i> {% with facet.0 as authority_name %}
                <a href="{% url 'haystack_search' %}?q=(author_ids:{{ authority.id }} OR contributor_ids:{{ authority.id }} OR editor_ids:{{ authority.id }} OR subject_ids:{{ authority.id }} OR institution_ids:{{ authority.id }} OR category_ids:{{ authority.id }} OR advisor_ids:{{ authority.id }} OR translator_ids:{{ authority.id }} OR publisher_ids:{{ authority.id }} OR school_ids:{{ authority.id }} OR meeting_ids:{{ authority.id }} OR periodical_ids:{{ authority.id }} OR book_series_ids:{{ authority.id }} OR time_period_ids:{{ authority.id }} OR geographic_ids:{{ authority.id }} OR about_person_ids:{{ authority.id }} OR other_person_ids:{{ authority.id }})&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend&raw_search=True&selected_facets=citation_dataset_typed_names_exact:{{facet.0|urlencode}}">
                  {{authority_name}} ({{facet.1}} citations)
                </a>
    
                {% endwith %}
                <br>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="panel panel-default facet-box">
              <div class="panel-heading-subjects panel-heading">
                <strong>Concepts</strong>
                {% if related_subject_concepts_facet|length > 6 %}
                <button type="button" class="btn btn-xs btn-primary pull-right subject-more-btn" data-toggle="modal" data-target="#subjectModal" style="float:right">
                  More <i class="far fa-caret-square-down"></i>
                </button>
                {% endif %}
              </div>
              <div class="panel-body">
                {% for facet in related_subject_concepts_facet|slice:"6" %}
                {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_concepts_by_subject_ids_exact' %}
                {% endfor %}
              </div>
            </div>
    
            <div class="panel panel-default facet-box">
              <div class="panel-heading-subjects panel-heading">
                <strong>People</strong>
                {% if related_subject_people_facet|length > 6 %}
                <button type="button" class="btn btn-xs btn-primary pull-right subject-more-btn" data-toggle="modal" data-target="#peopleModal" style="float:right">
                  More <i class="far fa-caret-square-down"></i>
                </button>
                {% endif %}
              </div>
              <div class="panel-body">
                {% for facet in related_subject_people_facet|slice:"6" %}
                {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_people_by_subject_ids'%}
                {% endfor %}
              </div>
            </div>

            <div class="panel panel-default facet-box">
              <div class="panel-heading-subjects panel-heading">
                <strong>Times</strong>
                {% if related_timeperiod_facet|length > 6 %}
                <button type="button" class="btn btn-xs btn-primary pull-right subject-more-btn" data-toggle="modal" data-target="#timePeriodModal" style="float:right">
                  More <i class="far fa-caret-square-down"></i>
                </button>
                {% endif %}
              </div>
              <div class="panel-body">
                {% for facet in related_timeperiod_facet|slice:"6" %}
                {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_time_period_ids_exact'%}
                {% endfor %}
              </div>
            </div>

            <div class="panel panel-default facet-box">
              <div class="panel-heading-subjects panel-heading">
                <strong>Places</strong>
                {% if related_geographics_facet|length > 6 %}
                <button type="button" class="btn btn-xs btn-primary pull-right subject-more-btn" data-toggle="modal" data-target="#placesModal" style="float:right">
                  More <i class="far fa-caret-square-down"></i>
                </button>
                {% endif %}
              </div>
              <div class="panel-body">
                {% for facet in related_geographics_facet|slice:"6" %}
                {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_geographic_ids_exact'%}
                {% endfor %}
              </div>
            </div>
    
            <div class="panel panel-default facet-box">
              <div class="panel-heading-subjects panel-heading">
                <strong>Institutions </strong>
                {% if related_subject_institutions_facet|length > 6 %}
                <button type="button" class="btn btn-xs btn-primary pull-right subject-more-btn" data-toggle="modal" data-target="#institutionModal" style="float:right">
                  More <i class="far fa-caret-square-down"></i>
                </button>
                {% endif %}
              </div>
              <div class="panel-body">
                {% for facet in related_subject_institutions_facet|slice:"6" %}
                {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_institutions_by_subject_ids_exact'%}
                {% endfor %}
              </div>
            </div>
    
            <div class="panel panel-default facet-box">
              <div class="panel-heading-subjects panel-heading">
                <strong>Categories</strong>
                {% if related_categories_facet|length > 6 %}
                <button type="button" class="btn btn-xs btn-primary pull-right subject-more-btn" data-toggle="modal" data-target="#categoryModal" style="float:right">
                  More <i class="far fa-caret-square-down"></i>
                </button>
                {% endif %}
              </div>
              <div class="panel-body">
                {% for facet in related_categories_facet|slice:"6" %}
                {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_category_ids_exact' %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- facet modals -->
  <div class="modal fade" id="authorModal" tabindex="-1" role="dialog" aria-labelledby="authorModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Authors & Contributors</h4>
        </div>
        <div class="modal-body">
          <ul class="unselected_facets">
            {% for facet in related_contributors_facet %}
            <li>
              {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_all_contributor_ids_exact'%}
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div><!-- /modal -->
<!-- subject Modal -->
  <div class="modal fade" id="subjectModal" tabindex="-1" role="dialog" aria-labelledby="subjectModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Concepts</h4>
        </div>
        <div class="modal-body">
          <ul class="unselected_facets">
            {% for facet in related_subject_concepts_facet %}
              <li>
                {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_concepts_by_subject_ids' %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div><!-- /modal -->
<!-- institution Modal -->
<div class="modal fade" id="peopleModal" tabindex="-1" role="dialog" aria-labelledby="peopleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">People</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for facet in related_subject_people_facet %}
            <li>
              {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_people_by_subject_ids_exact' %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<!-- institution Modal -->
<div class="modal fade" id="institutionModal" tabindex="-1" role="dialog" aria-labelledby="institutionModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Institutions</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for facet in related_subject_institutions_facet %}
            <li>
              {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_institutions_by_subject_ids_exact' %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<!-- categories Modal -->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Categories</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for facet in related_categories_facet %}
            <li>
              {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_category_ids_exact' %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<!-- time period Modal -->
<div class="modal fade" id="timePeriodModal" tabindex="-1" role="dialog" aria-labelledby="timePeriodModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Time Periods</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for facet in related_timeperiod_facet %}
            <li>
              {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_time_period_ids_exact' %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<!-- publisher Modal -->
<div class="modal fade" id="publisherModal" tabindex="-1" role="dialog" aria-labelledby="publisherModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Publishers</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for facet in related_publisher_facet %}
            <li>
              {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_publisher_ids' %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->


<!-- journals Modal -->
<div class="modal fade" id="journalModal" tabindex="-1" role="dialog" aria-labelledby="journalModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Journals</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for facet in related_journal_facet %}
            <li>
              {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_periodical_ids' %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<!-- places Modal -->
<div class="modal fade" id="placesModal" tabindex="-1" role="dialog" aria-labelledby="placesModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Places</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for facet in related_geographics_facet %}
            <li>
              {% include 'isisdata/fragment_facet_link.html' with facet_field='citation_geographic_ids' %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<div ng-app="commentsApp">
    <div class="col-md-12" style="padding-top: 15px">
      <div class="col-sm-12 main" style="padding-top: 15px">
        {% include "isisdata/comments.html" %}
      </div>
    </div>

</div>

<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>

{% endblock %}
