{% extends "isisdata/__base.html" %}
{% load app_filters %}
{% load staticfiles %}
{% load search_filters %}
{% load authority_filters %}

{% block extra_head %}
<script>
{% if source_instance_id %}
var SUBJECT_INSTANCE_ID = "{{ source_instance_id }}";
{% endif %}

{% if source_content_type %}
var SUBJECT_CONTENT_TYPE = {{ source_content_type }};
{% endif %}
</script>

<script src="{% static "isisdata/js/comments.js" %}"></script>

<meta property="og:url"                content="{{ request.build_absolute_uri }}" />
<meta property="og:site_name"          content="Isis Current Bibliography" />
<meta property="og:type"               content="article" />
<meta property="fb:app_id"             content="{{ facebook_app_id}}" />
<meta property="og:title"              content="{{ authority.name|strip_tags }}" />
<meta property="og:description"        content="{{ authority.description|strip_tags }}" />
<!-- TODO: -vv- if we add images for entries, this should be changed. -vv-  -->
<meta property="og:image"              content="{% static "isisdata/images/isis_final_black.png" %}" />
{% endblock %}



{#% block title %}Authority{% endblock %#}

{% block content %}
<div class="row" ng-app="commentsApp">
  <div class="col-sm-3 col-md-2 hidden-print">
    <div class="menu">
      <a href="{% if last_query %}{{ last_query }}{% else %}javascript:window.history.back(){% endif %}"><span class="glyphicon glyphicon-arrow-left"></span></a>
      &nbsp; &nbsp;
      <a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span></a>
      &nbsp; &nbsp;
      <a href="{% url 'haystack_search' %}"><span class="glyphicon glyphicon-search"></span></a>
      <hr>
    </div>
  </div>
  <div class="main col-sm-5 col-md-7">
      <!-- Progress through search results, if arriving from search view. -->
      {% if search_results|length > 0 and fromsearch and search_current %}
      <div class="alert alert-warning hidden-print">
          <div class="row">
              <div class="col-xs-3 text-center">
                  {% if search_current >= 2 and search_previous %}
                  <a href="{% url 'authority' search_previous|get_pk %}?fromsearch=true&query_string={{ query_string }}&last_query={{ last_query|encode_query }}" aria-label="Previous" class="btn btn-xs">
                      <span aria-hidden="true" class="text-small">&laquo;Previous</span>
                  </a>
                  {% endif %}
              </div>
              <div class="col-xs-6 text-center">
                  Showing result {{ search_current }} of {{ search_results|length }}
              </div>
              <div class="col-xs-3 text-center">
                  {% if search_index < search_count and search_next %}
                  <a href="{% url 'authority' search_next|get_pk %}?fromsearch=true&query_string={{ query_string }}&last_query={{ last_query|encode_query }}" aria-label="Next" class="btn btn-xs">
                      <span aria-hidden="true" class="text-small">Next&raquo;</span>
                  </a>
                  {% endif %}
              </div>
          </div>
      </div>
      {% endif %}

    <div class="alert alert-warning headerbox" role="alert">{{ authority.get_type_controlled_display }}
        <span class="btn-grp pull-right">
            {% if user.is_staff %}<a class="btn btn-small glyphicon glyphicon-edit" href="{% url "curation:curate_authority" authority.id %}"></a>{% endif %}
            <a class="btn btn-small glyphicon glyphicon-console" href="{{ api_view}}" data-toggle="tooltip" data-placement="top" title="View in REST API"></a>
        </span>


    </div>

    {% if redirect_from %}<p class="text-muted text-danger"><em>Redirected from <strong>{{ redirect_from.name }}</strong> ({{ redirect_from.id }}).</em></p>{% endif %}

    <h3>{{ authority.name }}</h3>

    {% if authority.description %}<p><strong>Description:</strong> {{ authority.description }}</p>{% endif %}

    {% for attribute in authority.attributes.all %}
    <p><strong>{{ attribute.type_controlled.display_name }}:</strong> {% if attribute.value_freeform %}{{ attribute.value_freeform }}{% else %}{{ attribute.value.display }}{% endif %}</p>
    {% endfor %}

    <table class="details">
    {% if authority.linkeddata_public.count > 0 %}
      <tr>
        <td style="vertical-align: top"><span class="glyphicon glyphicon-globe"></span> Linked Data:</td>
        <td>{% for entry in authority.linkeddata_public.all %}<a href="{{ entry|linkeddata_for_display }}" taget="_blank">{{ entry.universal_resource_name }}</a> ({{ entry.type_controlled }})<br/> {% endfor %}</td>
      </tr>
    {% endif %}
    </table>

    <div id="publication_chart">
      <div><h4>Timeline of citations associated with this authority separated by type.</h4></div>
      <div id="spinner"><i class="fa fa-spinner fa-spin"></i> Timeline is loading. Please wait...</div>
      <div id="chart"></div>
      <div class="checkbox" style="text-align: right; font-size: 12px;"><label><input id="showReviewsCheckbox" checked type="checkbox">Show Reviews</input></label></div>
    </div>

    <hr>
    <h4>Records associated with each authority separated by role.</h4>
    <h5>Resources in which {{ authority.name }} has the role:</h5>

    {% if related_citations_author %}
    <h5><strong>Author</strong></h5>

      {% for rel_citation in related_citations_author %}
        {% with rel_citation.citation as citation_object %}
          {% include "isisdata/citation_entry.html" %}
        {% endwith %}
      {% endfor %}

    <div class="pull-right">
      {% if related_citations_author_count > 3 %}
      <span class="glyphicon glyphicon-book"></span> <a href="{% url 'haystack_search' %}?q=author_ids:{{ authority.id }}&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend">See all {{ related_citations_author_count }} citations...</a>
      {% endif %}
    </div>
    {% endif %}

    {% if related_citations_editor %}
    <h5 style="clear: both; padding-top: 10px"><strong>Editor</strong></h5>

      {% for rel_citation in related_citations_editor %}
        {% with rel_citation.citation as citation_object %}
          {% include "isisdata/citation_entry.html" %}
        {% endwith %}
      {% endfor %}

      <div class="pull-right">
        {% if related_citations_editor_count > 3 %}
        <span class="glyphicon glyphicon-book"></span> <a href="{% url 'haystack_search' %}?q=editor_ids:{{ authority.id }}&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend">See all {{ related_citations_editor_count }} citations...</a>
        {% endif %}
      </div>
    {% endif %}

    {% if related_citations_advisor %}
    <h5 style="clear: both; padding-top: 10px"><strong>Advisor</strong></h5>

      {% for rel_citation in related_citations_advisor %}
        {% with rel_citation.citation as citation_object %}
          {% include "isisdata/citation_entry.html" %}
        {% endwith %}
      {% endfor %}

      <div class="pull-right">
        {% if related_citations_advisor_count > 3 %}
        <span class="glyphicon glyphicon-book"></span> <a href="{% url 'haystack_search' %}?q=advisor_ids:{{ authority.id }}&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend">See all {{ related_citations_advisor_count }} citations...</a>
        {% endif %}
      </div>

    {% endif %}

    {% if related_citations_contributor %}
    <h5 style="clear: both; padding-top: 10px"><strong>Contributor</strong></h5>

      {% for rel_citation in related_citations_contributor %}
        {% with rel_citation.citation as citation_object %}
          {% include "isisdata/citation_entry.html" %}
        {% endwith %}
      {% endfor %}

      <div class="pull-right">
        {% if related_citations_contributor_count > 3 %}
        <span class="glyphicon glyphicon-book"></span> <a href="{% url 'haystack_search' %}?q=contributor_ids:{{ authority.id }}&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend">See all {{ related_citations_contributor_count }} citations...</a>
        {% endif %}
      </div>
    {% endif %}

    {% if related_citations_translator %}
    <h5 style="clear: both; padding-top: 10px"><strong>Translator</strong></h5>

      {% for rel_citation in related_citations_translator %}
        {% with rel_citation.citation as citation_object %}
          {% include "isisdata/citation_entry.html" %}
        {% endwith %}
      {% endfor %}

      <div class="pull-right">
        {% if related_citations_translator_count > 3 %}
        <span class="glyphicon glyphicon-book"></span> <a href="{% url 'haystack_search' %}?q=translator_ids:{{ authority.id }}&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend">See all {{ related_citations_translator_count }} citations...</a>
        {% endif %}
      </div>
    {% endif %}

    {% if related_citations_subject %}
    <h5 style="clear: both; padding-top: 10px"><strong>Subject</strong></h5>

      {% for rel_citation in related_citations_subject %}
        {% with rel_citation.citation as citation_object %}
          {% include "isisdata/citation_entry.html" %}
        {% endwith %}
      {% endfor %}

      <div class="pull-right">
        {% if related_citations_subject_count > 3 %}
        <span class="glyphicon glyphicon-book"></span> <a href="{% url 'haystack_search' %}?q=subject_ids:{{ authority.id }}&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend">See all {{ related_citations_subject_count }} citations...</a>
        {% endif %}
      </div>
    {% endif %}

    {% if related_citations_category %}
    <h5 style="clear: both; padding-top: 10px"><strong>Category</strong></h5>

      {% for rel_citation in related_citations_category %}
        {% with rel_citation.citation as citation_object %}
          {% include "isisdata/citation_entry.html" %}
        {% endwith %}
      {% endfor %}

      <div class="pull-right">
        {% if related_citations_category_count > 3 %}
        <span class="glyphicon glyphicon-book"></span> <a href="{% url 'haystack_search' %}?q=category_ids:{{ authority.id }}&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend">See all {{ related_citations_category_count }} citations...</a>
        {% endif %}
      </div>
    {% endif %}

    {% if related_citations_publisher %}
    <h5 style="clear: both; padding-top: 10px"><strong>Publisher</strong></h5>

      {% for rel_citation in related_citations_publisher %}
        {% with rel_citation.citation as citation_object %}
          {% include "isisdata/citation_entry.html" %}
        {% endwith %}
      {% endfor %}

      <div class="pull-right">
        {% if related_citations_publisher_count > 3 %}
        <span class="glyphicon glyphicon-book"></span> <a href="{% url 'haystack_search' %}?q=publisher_ids:{{ authority.id }}&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend">See all {{ related_citations_publisher_count }} citations...</a>
        {% endif %}
      </div>
    {% endif %}

    {% if related_citations_school %}
    <h5 style="clear: both; padding-top: 10px"><strong>School</strong></h5>

      {% for rel_citation in related_citations_school %}
        {% with rel_citation.citation as citation_object %}
          {% include "isisdata/citation_entry.html" %}
        {% endwith %}
      {% endfor %}

      <div class="pull-right">
        {% if related_citations_school_count > 3 %}
        <span class="glyphicon glyphicon-book"></span> <a href="{% url 'haystack_search' %}?q=school_ids:{{ authority.id }}&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend">See all {{ related_citations_school_count }} citations...</a>
        {% endif %}
      </div>
    {% endif %}

    {% if related_citations_institution %}
    <h5 style="clear: both; padding-top: 10px"><strong>Institution</strong></h5>

      {% for rel_citation in related_citations_institution %}
        {% with rel_citation.citation as citation_object %}
          {% include "isisdata/citation_entry.html" %}
        {% endwith %}
      {% endfor %}

      <div class="pull-right">
        {% if related_citations_institution_count > 3 %}
        <span class="glyphicon glyphicon-book"></span> <a href="{% url 'haystack_search' %}?q=institution_ids:{{ authority.id }}&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend">See all {{ related_citations_institution_count }} citations...</a>
        {% endif %}
      </div>
    {% endif %}

    {% if related_citations_meeting %}
    <h5 style="clear: both; padding-top: 10px"><strong>Meeting</strong></h5>

      {% for rel_citation in related_citations_meeting %}
        {% with rel_citation.citation as citation_object %}
          {% include "isisdata/citation_entry.html" %}
        {% endwith %}
      {% endfor %}

      <div class="pull-right">
        {% if related_citations_meeting_count > 3 %}
        <span class="glyphicon glyphicon-book"></span> <a href="{% url 'haystack_search' %}?q=meeting_ids:{{ authority.id }}&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend">See all {{ related_citations_meeting_count }} citations...</a>
        {% endif %}
      </div>
    {% endif %}

    {% if related_citations_periodical %}
    <h5 style="clear: both; padding-top: 10px"><strong>Periodical</strong></h5>

      {% for rel_citation in related_citations_periodical %}
        {% with rel_citation.citation as citation_object %}
          {% include "isisdata/citation_entry.html" %}
        {% endwith %}
      {% endfor %}

      <div class="pull-right">
        {% if related_citations_periodical_count > 3 %}
        <span class="glyphicon glyphicon-book"></span> <a href="{% url 'haystack_search' %}?q=periodical_ids:{{ authority.id }}&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend">See all {{ related_citations_periodical_count }} citations...</a>
        {% endif %}
      </div>
    {% endif %}

    {% if related_citations_book_series %}
    <h5 style="clear: both; padding-top: 10px"><strong>Book Series</strong></h5>

      {% for rel_citation in related_citations_book_series %}
        {% with rel_citation.citation as citation_object %}
          {% include "isisdata/citation_entry.html" %}
        {% endwith %}
      {% endfor %}

      <div class="pull-right">
        {% if related_citations_book_series_count > 3 %}
        <span class="glyphicon glyphicon-book"></span> <a href="{% url 'haystack_search' %}?q=book_series_ids:{{ authority.id }}&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend">See all {{ related_citations_book_series_count }} citations...</a>
        {% endif %}
      </div>
    {% endif %}

    <table  class="details" style="margin-top: 40px;">
    <tr>
      <td>Authority URI:</td>
      <td>{{ authority | get_uri }}</td>
    </tr>
  </table>

    </div>

    <div class="col-sm-4 col-md-3 main">
      {% include "isisdata/comments.html" %}
    </div>
  </div>

  <!-- Load c3.css -->
  <link href="{% static "isisdata/c3/c3.min.css" %}" rel="stylesheet">

  <!-- Load d3.js and c3.js -->
  <script src="{% static "isisdata/c3/d3.min.js" %}" charset="utf-8"></script>
  <script src="{% static "isisdata/c3/c3.min.js" %}"></script>

  <script>
  //# sourceURL=chart.js
  var titles;
  var books;
  var theses;
  var chapters;
  var articles;
  var reviews;
  var others;
  var years;
  var showReviews = true;

  $(document).ready(function() {

      $('#showReviewsCheckbox').change(function() {
        showReviews = $(this).is(':checked');
        renderChart();
      });

      function buildTitles(d, titles, type) {
        var TITLE_LENGTH = 10;
        var trimmed_titles = [];
        var title_strings = titles[d[type].x][d[type].id];
        for (var t in title_strings) {
          var title = title_strings[t];
          var parts = title.split(' ');
          if (parts.length < TITLE_LENGTH) {
            trimmed_titles.push(title);
          } else {
            trimmed_titles.push(parts.slice(0,TITLE_LENGTH).join(' ') + "...");
          }
        }

        var panel = '';
        if (d[type].value > 0) {
          panel += '<strong>' + d[type].name + ' (' + d[type].value + ')</strong>';
          panel += '<ul><li>' + trimmed_titles.join('</li><li>') + '</li></ul>';
        }

        return panel;
      }

      $.get( "{% url 'authority_author_timeline' authority.id %}", function( data ) {
        $('#spinner').hide();
        titles = data.titles;
        books = ['books'].concat(data.books);
        theses = ['theses'].concat(data.theses);
        chapters = ['chapters'].concat(data.chapters);
        articles = ['articles'].concat(data.articles);
        reviews = ['reviews'].concat(data.reviews);
        others = ['others'].concat(data.others);
        years = ['Years'].concat(data.years);
        renderChart();
      });

      var current_groups;
      function renderChart() {
        var cols;
        var colors;
        var names;
        // this is ugly but ah well
        if (!showReviews) {
          cols = [books, theses, chapters, articles, others];
          current_groups = ['books', 'theses', 'chapters', 'articles', 'others']
          colors = {
            books: '#a0d285',
            theses: '#70b5a5',
            chapters: '#2f7b84',
            articles: '#358ecc',
            others: '#000108',
          };
          names = {
            books: 'Book',
            theses: 'Thesis',
            chapters: 'Chapter',
            articles: 'Article',
            others: 'Other'
          };
        } else {
          cols = [books, theses, chapters, articles, reviews, others];
          current_groups = ['books', 'theses', 'chapters', 'articles', 'reviews', 'others'];
          colors = {
            books: '#a0d285',
            theses: '#70b5a5',
            chapters: '#2f7b84',
            articles: '#358ecc',
            reviews: '#273696',
            others: '#000108',
          };
          names = {
            books: 'Book',
            theses: 'Thesis',
            chapters: 'Chapter',
            articles: 'Article',
            reviews: 'Review',
            others: 'Other'
          };
        }

        var chart = c3.generate({
          bindto: '#chart',
          data: {
            x: 'Years',
            columns: [years].concat(cols),
            type: 'bar',
            groups: [
              current_groups
            ],
            colors: colors,
            names: names,
            onclick: function (d, element) {
              var date = d['x']
              window.location.href = '{% url 'haystack_search' %}?q=(author_ids:{{ authority.id }} OR contributor_ids:{{ authority.id }} OR editor_ids:{{ authority.id }} OR subject_ids:{{ authority.id }} OR institution_ids:{{ authority.id }} OR category_ids:{{ authority.id }} OR advisor_ids:{{ authority.id }} OR translator_ids:{{ authority.id }} OR publisher_ids:{{ authority.id }} OR school_ids:{{ authority.id }} OR meeting_ids:{{ authority.id }} OR periodical_ids:{{ authority.id }} OR book_series_ids:{{ authority.id }} OR time_period_ids:{{ authority.id }} OR geographic_ids:{{ authority.id }} OR about_person_ids:{{ authority.id }} OR other_person_ids:{{ authority.id }}) AND publication_date:' + date + '&raw_search=True';
            }
          },
          axis : {
              y : {
                  tick: {
                      format: function(x) { return x % 1 === 0 ? x : ''; }
                  }
              }
          },
          legend: {
            item: {
              onclick: function (id) {
                chart.revert();
                current_groups.forEach(function(element) {
                  if (element != id) {
                    chart.toggle(element);
                  }
                });
              }
            }
          },
          tooltip: {
            grouped: true,
            contents: function (d, defaultTitleFormat, defaultValueFormat, color) {

              var panel = '<div class="panel panel-default timeline">';
              panel += '<div class="panel-heading"><strong>' + d[0].x + '</strong> (click on bar to see all citations)</div>'
              panel += '<div class="panel-body">';
              var nrOfTypes = showReviews ? 6 : 5;
              for (i=0; i<nrOfTypes; i++) {
                panel += buildTitles(d, titles, i);
              }
              panel += '</div>';
              panel += '</div>';

              return panel;
            },
          },
        });
      }
    });
  </script>

</div>
{% endblock %}
