{% extends "isisdata/__base.html" %}

{% block title %}Citation{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
ss
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="alert alert-info headerbox" role="alert">{{ citation.get_type_controlled_display }}</div>

    <h3>{{ citation.title }}</h3>

    <p><strong>Authors & Contributors:</strong> {% for author in authors %} author.authority.name {% endfor %}
    <p><strong>Abstract:</strong> {{ citation.abstract }}</p>
    <p><strong>Description:</strong> {{ citation.description }}</p>

    {% for attribute in citation.attributes.all %}
    <p><strong>{{ attribute.name }}:</strong> {{ attribute.value }}</p>
    {% endfor %}

    <table class="details">
      <tr>
        <td>Edition Details:</td><td>{{ citation.edition_details }}</td>
      </tr>
      <tr>
        <td>Physical Details:</td><td>{{ citation.physical_details }}</td>
      </tr>
      <tr>
        <td>Language:</td><td>{{ citation.language.name }}</td>
      </tr>
    </table>

    <table class="details">
      <tr>
        <td>Volume:</td><td>{{ citation.part_details.volume }}</td>
      </tr>
      <tr>
        <td>Issue:</td><td>{{ citation.part_details.issue_free_text }}</td>
      </tr>
      <tr>
        <td>Pages:</td><td>{{ citation.part_details.pages_free_text }}</td>
      </tr>

      {% for related_auth in citation.acrelation_set.all %}
      {# I know there must be a better way, but I couldn't figure it out yet #}
      {% if related_auth.type_controlled != 'AU' and related_auth.type_controlled != 'CO' %}
      <tr><td>{{ related_auth.get_type_controlled_display }}:</td><td> {{ related_auth.authority.name }}</td></tr>
      {% endif %}
      {% endfor %}

    </table>

    <div></div>
    <h4>Related Citations</h4>
      <ul>
      {% for rel_citation in citation.related_citations.all %}
          <li><a href="{% url 'citation' rel_citation.id %}">{{ rel_citation.title }}</a></li>
      {% endfor %}
      </ul>
    </div>

  </div>


{% endblock %}
