<!-- Topics list -->
{% if subjects %}
<h4 class="panel-title">
  Topics
</h4>
<!-- CSS class not being applied, hence this uglyness -->
<ul class="topics_list">
    {% for subject in subjects %}
    <li><a href="{% url 'authority' subject.authority.id %}">{{ subject.authority.name }} <i class="fa fa-info-circle"></i></a></li>
    {% endfor %}
</ul>
{% endif %}
<!-- End Topics list -->

<!-- Time Periods list -->
{% if time_periods %}
<h4 class="panel-title">
  Time Periods
</h4>
<!-- CSS class not being applied, hence this uglyness -->
<ul class="topics_list">
    {% for time in time_periods %}
    <li><a href="{% url 'authority' time.authority.id %}">{{ time.authority.name }} <i class="fa fa-info-circle"></i></a></li>
    {% endfor %}
</ul>
{% endif %}
<!-- End Time Periods list -->

<!-- Places list -->
{% if places %}
<h4 class="panel-title">
    Places
</h4>
<!-- CSS class not being applied, hence this uglyness -->
<ul class="topics_list">
  {% for place in places %}
  <li><a href="{% url 'authority' place.authority.id %}">{{ place.authority.name }} <i class="fa fa-info-circle"></i></a></li>
  {% endfor %}
</ul>
{% endif %}
<!-- End Places list -->

<!-- Categories list -->
{% if categories %}
<h4 class="panel-title">
  <a data-toggle="collapse" data-parent="#accordion"
    href="#collapseCategories">
    Categories
  </a>
</h4>
<!-- CSS class not being applied, hence this uglyness -->
<ul class="topics_list">
  {% for category in categories %}
  <li><a href="{% url 'authority' category.authority.id %}">{{ category.authority.name }} <i class="fa fa-info-circle"></i></a></li>
  {% endfor %}
</ul>
{% endif %}
<!-- End Categories list -->

<!--<div class="panel-group" id="type_panel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion"
          href="#collapsePersons">
          Persons <span class="badge">{{ persons|length }}</span>
        </a>
      </h4>
    </div>
    <div id="collapsePersons" class="panel-collapse collapse in">
      <div class="facet_panel panel-body">
          <ul>
          {% for person in persons %}
            <li><a href="{% url 'authority' person.authority.id %}">{{ person.authority.name }}</a></li>
          {% endfor %}
          </ul>
          {% if not persons %}
            <p>There are no persons.</p>
          {% endif %}
      </div>
    </div>
  </div>
</div>-->
