{% extends "isisdata/__base.html" %}
{% load app_filters %}
{% load citation_filters %}
{% load static %}
{% load metadata_filters %}
{% load search_filters %}

{% block meta_tags %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="unapi-server" type="application/xml" title="unAPI" href="http://{{ request.get_host }}/isis/unapi">
{% endblock %}

{% block extra_head %}
<script>
{% if source_instance_id %}
var SUBJECT_INSTANCE_ID = "{{ source_instance_id }}";
{% endif %}

{% if source_content_type %}
var SUBJECT_CONTENT_TYPE = {{ source_content_type }};
{% endif %}
</script>

<script src="{% static "isisdata/js/comments.js" %}"></script>

<meta property="og:url"                content="{{ request.build_absolute_uri }}" />
<meta property="og:site_name"          content="Isis Current Bibliography" />
<meta property="og:type"               content="article" />
<meta property="fb:app_id"             content="{{ facebook_app_id}}" />
<meta property="og:title"              content="{{ citation|get_title|strip_tags }}" />
<meta property="og:description"        content="{% if citation.abstract|length > 0 %}{{ citation.abstract|strip_tags|filter_abstract }}{% elif citation.description %}{{ citation.description|strip_tags }}{% endif %}" />
<!-- TODO: -vv- if we add images for entries, this should be changed. -vv-  -->
<meta property="og:image"              content="{% static "isisdata/images/isis_final_black.png" %}" />
{% endblock %}


{#% block title %}Citation{% endblock %#}

{% block content %}
<script>
  $(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
<div class="row">
  <div class="col-sm-12 col-md-2 hidden-print">
    <div class="menu hidden-print">
      <a href="{% if last_query %}{{ last_query }}{% else %}javascript:window.history.back(){% endif %}"><span class="glyphicon glyphicon-arrow-left"></span></a>
      &nbsp; &nbsp;
      <a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span></a>
      &nbsp; &nbsp;
      <a href="{% url 'haystack_search' %}"><span class="glyphicon glyphicon-search"></span></a>
      <hr>
    </div>

    {% include "isisdata/citation_nav.html" %}

  </div>
  <div class=" main col-sm-12 col-md-10">
    <!-- Progress through search results, if arriving from search view. -->
    {% if search_results|length > 0 and fromsearch and search_current %}
    <div class="alert alert-warning hidden-print">
        <div class="row">
            <div class="col-xs-3 text-center">
                {% if search_current >= 2 and search_previous %}
                <a href="{% url 'citation' search_previous|get_pk %}?fromsearch=true&query_string={{ query_string }}&last_query={{ last_query|encode_query }}" aria-label="Previous" class="btn btn-xs">
                    <span aria-hidden="true" class="text-small">&laquo;Previous</span>
                </a>
                {% endif %}
            </div>
            <div class="col-xs-6 text-center">
                Showing result {{ search_current }} of {{ search_results|length }}
            </div>
            <div class="col-xs-3 text-center">
                {% if search_index < search_count and search_next %}
                <a href="{% url 'citation' search_next|get_pk %}?fromsearch=true&query_string={{ query_string }}&last_query={{ last_query|encode_query }}" aria-label="Next" class="btn btn-xs">
                    <span aria-hidden="true" class="text-small">Next&raquo;</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
      <strong style="font-size:1.5em">{{ citation.get_type_controlled_display }}</strong>
        <span class="btn-grp pull-right" style="padding-bottom:10px">
          <span id="authorityLink" style="margin-right: 20px;cursor: copy;" title="Click to copy">IsisCB ID: {{ citation.id }}</span>
          <textarea style="position: absolute;left: -9999px;" id="hiddenCitationLink">{{ citation | get_uri }}</textarea>
            {% if user.is_staff %}<a class="btn btn-small glyphicon glyphicon-edit" href="{% url "curation:curate_citation" citation.id %}" data-toggle="tooltip" data-placement="top" title="Edit this entry"></a>{% endif %}
            <a class="btn btn-small glyphicon glyphicon-console" href="{{ api_view}}" data-toggle="tooltip" data-placement="top" title="View in REST API"></a>
        </span>
      </div>
      <div class="panel-body">
        <span style="display:none;">
           <abbr class="unapi-id" title="{{ citation.id }}">unapi</abbr>
        </span>

        {% with citation|get_pub_year as pub_year %}
        {% with citation|get_title as citation_title %}
        <h3>{{ citation_title|bleach_safe }} {% if pub_year %}({{ pub_year}}){% endif %}
          {% if citation.stub_record_status == 'SR' %}
          <sup><i data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="This record is not fully entered or proofed in the database. Some fields may be blank or incorrect." class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i></sup>
          {% endif %}
        </h3>
        {% if citation|has_title and citation.complete_citation %}
        <p>
        <strong>Full citation:</strong> {{ citation.complete_citation }}
        </p>
        {% endif %}
        {% endwith %}
        {% endwith %}



        <!-- OpenURL Link Resolver tags. http://ocoins.info/ -->

        <!-- This tag displays an icon/link that points to the users' institution's
             link resolver. -->
        <span id="linkresolver" class="hidden-print">
            <script>
            $.ajax("{% url 'linkresolver' citation_id=citation.id %}",
                {
                    success: function(result) {
                            if (result.url.length > 0) {
                                var linkElem = '<a href="'+ result.url +'" class="text-warnging">';
                                // Use the link_icon for the Resolver if possible; otherwise just use the link_text.
                                if (result.icon.length > 0) { linkElem += '<img src="'+ result.icon +'" alt="'+ result.text +'">'; } else { linkElem += '<span class="h4">' + result.text + '</span>'; };
                                linkElem += '</a>';
                                $('#linkresolver').append(linkElem);
                            } else {
                                // This tag provides data for latent OpenURL functionality (e.g. browser plugins, etc). -->
                                $('#linkresolver').append('<span class="Z3988" title="{{ citation|get_coins_from_citation }}"></span>');
                            }
                    },
                    error: function() {
                        // This tag provides data for latent OpenURL functionality (e.g. browser plugins, etc). -->
                        $('#linkresolver').append('<span class="Z3988" title="{{ citation|get_coins_from_citation }}"></span>');
                    },
                });
            </script>
        </span>

        <script>
          //# sourceURL=copy.js
          $(function() {
            $("#authorityLink").click(function() {
              var copyTextarea = document.querySelector('#hiddenCitationLink');
              copyTextarea.focus();
              copyTextarea.select();
              document.execCommand("copy");
              $.notify("URL of this record has been copied to your clipboard.", "info", {
                clickToHide: true,
                style: 'bootstrap',
                gap: 5,
              });
            })
          })
        </script>

        {% if authors|length > 0 %}
        <p><strong>Authors &amp; Contributors:</strong> {% for acrelation in citation.get_all_contributors %}{% if acrelation.authority %}<a href="{% url 'authority' acrelation.authority.id %}">{% endif %}{{ acrelation|contributor_with_role_as_string }};{% if acrelation.authority %}<i class="fa fa-info-circle"></i></a>{% endif %} {% endfor %}
        {% endif %}

        {% if citation.abstract %}
        <p><strong>Abstract:</strong> {{ citation.abstract|filter_abstract|bleach_safe }}</p>
        {% endif %}

        {% if citation.description %}
        <p><strong>Description:</strong> {{ citation.description|bleach_safe }}</p>
        {% endif %}

        {% for attribute in citation.attributes.all %}
        <p><strong>{{ attribute.type_controlled.display_name }}:</strong> {% if attribute.value_freeform %}{{ attribute.value_freeform }}{% else %}{{ attribute.value.display }}{% endif %}</p>
        {% endfor %}
        {% if citation.subtype %}
        <p><Strong>Genre:</strong> {{ citation.subtype.name }}
        {% endif %}

        {% if citation.edition_details|length > 0 or citation.physical_details|length > 0 or citation.language.all|length > 0  %}
        <table class="details">
          {% if citation.edition_details|length > 0 %}
          <tr>
            <td>Edition Details:</td><td>{{ citation.edition_details|bleach_safe }}</td>
          </tr>
          {% endif %}
          {% if citation.physical_details|length > 0 %}
          <tr>
            <td>Physical Details:</td><td>{{ citation.physical_details|bleach_safe }}</td>
          </tr>
          {% endif %}
          {% if citation.language.all|length > 0 %}
          <tr>
            <td>Languages:</td><td>{% for language in citation.language.all %}{{ language.name }}{% endfor %}</td>
          </tr>
          {% endif %}
        </table>
        {% endif %}

        <table class="details">
          {% for prop in properties_map %}


          <tr><td>{{ prop.get_type_controlled_display }}:</td><td> {% if prop.authority %}<a href="{% url 'authority' prop.authority.id %}">{{ prop.authority.name }} <i class="fa fa-info-circle"></i></a>{% else %} {{ prop.name_for_display_in_citation }}{% endif %}</td></tr>


          {% endfor %}
          {% if citation.part_details.volume|length > 0 or citation.part_details.volume_free_text|length > 0 %}
          <tr>
            <td>Volume:</td><td>{% if citation.part_details.volume|length > 0%}{{ citation.part_details.volume }}{% else %}{{ citation.part_details.volume_free_text}}{% endif %}</td>
          </tr>
          {% endif %}
          {% if citation.part_details.issue_begin or citation.part_details.issue_free_text|length > 0 %}
          <tr>
            <td>Issue:</td><td>{% if citation.part_details.issue_begin %}{{ citation.part_details.issue_begin }}{% if citation.part_details.issue_end %} - {{ citation.part_details.issue_end}}{% endif %}{% else %}{{ citation.part_details.issue_free_text }}{% endif %}</td>
          </tr>
          {% endif %}
          {% if citation.part_details.page_begin or citation.part_details.pages_free_text|length > 0 %}
          <tr>
            <td>Pages:</td><td>{{ citation|get_public_page_string }}</td>
          </tr>
          {% endif %}
        </table>

        <table class="details">
          {% if citation.linkeddata_public.all|length > 0 %}
          <tr>
            <td  style="vertical-align: top"><span class="glyphicon glyphicon-globe"></span> Linked Data:</td>
            <td>{% for entry in citation.linkeddata_public.all %}<a href="{{ entry|linkeddata_for_display }}" taget="_blank">{{ entry.universal_resource_name }}</a> ({{ entry.type_controlled }})<br/> {% endfor %}</td>
          </tr>
          {% endif %}
        </table>
      </div>
    </div>

        <!-- <div></div> -->
    {% if related_citations_rb %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Reviewed By</h4>
      </div>
      <div class="panel-body">
          {% for cc_rel in related_citations_rb %}
            {% with cc_rel.object as citation_object %}
              {% include "isisdata/citation_entry.html" %}
            {% endwith %}
          {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Review of -->
    {% if related_citations_ro or related_citations_inv_rb %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Review Of</h4>
      </div>
      <div class="panel-body">
          {% for cc_rel in related_citations_ro %}
          {% if cc_rel.subject.id == citation_id %}
            {% with cc_rel.object as citation_object %}
              {% include "isisdata/citation_entry.html" %}
            {% endwith %}
          {% else %}
            {% with cc_rel.subject as citation_object %}
              {% include "isisdata/citation_entry.html" %}
            {% endwith %}
          {% endif %}
          {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Includes Chapter -->
    {% if related_citations_ic %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Includes Chapters</h4>
      </div>
      <div class="panel-body">
          {% for cc_rel in related_citations_ic %}
            {% with cc_rel.object as citation_object %}
              {% include "isisdata/citation_entry.html" %}
            {% endwith %}
          {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if related_citations_inv_ic %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Included in</h4>
      </div>
      <div class="panel-body">
          {% for cc_rel in related_citations_inv_ic %}
          {% with cc_rel.subject as citation_object %}
            {% include "isisdata/citation_entry.html" %}
          {% endwith %}
          {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Includes Series Article -->
    {% if related_citations_isa %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Includes Series Articles</h4>
      </div>
      <div class="panel-body">
          {% for cc_rel in related_citations_isa %}
            {% with cc_rel.object as citation_object %}
              {% include "isisdata/citation_entry.html" %}
            {% endwith %}
          {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if related_citations_inv_isa %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Included in</h4>
      </div>
      <div class="panel-body">
          {% for cc_rel in related_citations_inv_isa %}
            {% with cc_rel.subject as citation_object %}
              {% include "isisdata/citation_entry.html" %}
            {% endwith %}
          {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Response to -->
    {% if related_citations_re %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Response to</h4>
      </div>
      <div class="panel-body">
          {% for cc_rel in related_citations_re %}
            {% with cc_rel.object as citation_object %}
              {% include "isisdata/citation_entry.html" %}
            {% endwith %}
          {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if related_citations_inv_re %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Has Response</h4>
      </div>
      <div class="panel-body">
          {% for cc_rel in related_citations_inv_re %}
            {% with cc_rel.subject as citation_object %}
              {% include "isisdata/citation_entry.html" %}
            {% endwith %}
          {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Associated with -->
    {% if related_citations_as %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Associated with</h4>
      </div>
      <div class="panel-body">
          {% for cc_rel in related_citations_as %}
            {% if cc_rel.subject.id == citation.id %}
            {% with cc_rel.object as citation_object %}
              {% include "isisdata/citation_entry.html" %}
            {% endwith %}
            {% else %}
            {% with cc_rel.subject as citation_object %}
              {% include "isisdata/citation_entry.html" %}
            {% endwith %}
            {% endif %}
          {% endfor %}
      </div>
    </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-body">
        <div style="max-width: 100%; overflow-x: scroll;">
            <p><strong>Citation URI</strong><br />
            {{ citation.generate_uri }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- for printing only -->
  <div class="col-sm-3 col-md-2 visible-print-block">
    <div class="menu hidden-print">
      <a href="{% if last_query %}{{ last_query }}{% else %}javascript:window.history.back(){% endif %}"><span class="glyphicon glyphicon-arrow-left"></span></a>
      &nbsp; &nbsp;
      <a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span></a>
      &nbsp; &nbsp;
      <a href="{% url 'haystack_search' %}"><span class="glyphicon glyphicon-search"></span></a>
      <hr>
    </div>

    {% include "isisdata/citation_nav.html" %}

  </div>
</div>
<div class="row" ng-app="commentsApp">
  <div class="col-sm-12">
      {% include "isisdata/comments.html" %}

  </div>
</div>

{% endblock %}
