{% load app_filters %}
{% load citation_filters %}

<p>
  <span class="glyphicon glyphicon-book"></span>
  [{{ citation_object.get_type_controlled_display }}]
  <br>
  <!-- author -->
  {% if citation_object.get_all_contributors %}
    {{ citation_object.get_all_contributors|join_authors:"" }}
  {% else %}
    Author missing;
  {% endif %}
  <!-- title -->
  {% if citation_object|get_pub_year %}({{ citation_object|get_pub_year }}){% endif %}
  <a href="{% url 'index' citation_object.id %}">{{ citation_object|get_title|bleach_safe }}</a>.
  <!-- book title -->
  {% if citation_object|get_book_title %}
  In: <em>{{ citation_object|get_book_title }}</em> {% if not citation_object|get_page_string %}.{% endif %}
  {% endif %}

<!-- page numbers -->
  {% if citation_object|get_page_string %}({{citation_object|get_page_string}}).{% endif %}

</p>
