{% load staticfiles %}
{% load app_filters %}

<script>var USER_ID = {{ user|get_user_id }};</script>
<div class="row">
    <div style="height: 45px;">
        <div class="col-sm-2">
            <a id="facebookShare" class="btn btn-social-icon btn-facebook">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
        <div class="col-sm-2">
            <a id="twitterShare" class="btn btn-social-icon btn-twitter">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
    </div>
</div>


<div class="panel panel-success" ng-controller="CommentController">
    <div class="panel-heading">Comments</div>
    <div class="panel-body comment-body">
        {% verbatim %}
        <p ng-show="comments.length == 0">Be the first to comment!</p>
        {% endverbatim %}
        <div class="row comment" ng-repeat="comment in comments">
            <div class="col-xs-12">
                <div class="comment-user row">
                    <div class="col-xs-12">
                        <span class="text-info text-small">{% verbatim %}<a href="/isis/user/{{comment.created_by.username}}/">{{ comment.created_by.username }}</a> on {{ comment.created_on | date:'medium' }}{% endverbatim %}</span>
                        <span class="pull-right">
                            <div class="btn btn-xs" ng-hide="!canEdit(comment)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="edit(comment)"></span>
                            </div>
                            <div class="btn btn-xs" ng-hide="!canDelete(comment)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="delete(comment)"></span>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="comment-bubble clearfix">
                    {% verbatim %}
                    <div ng-hide="comment.editing" class="text-small" ng-bind-html="comment.linkified | unsafe" ng-model="comment.text"></div>
                    <form ng-show="comment.editing" ng-submit="updateComment(comment)">
                        <textarea class="form-control" type="text" ng-model="comment.text" value="{{comment.text}}" ng-required></textarea>
                        <div class="btn-group pull-right"><button class="btn btn-primary btn-xs" style="margin-top: 5px;" type="submit">Save</button></div>
                    </form>
                    {% endverbatim %}
                </div>
            </div><!-- /col-sm-5 -->
        </div>

    </div>
    <div class="panel-footer">
        {% if user.is_authenticated %}
        <form name="form">
            <div class="form-group">
                <label for="comment">Comment on this {{ authority.get_type_controlled_display }} entry</label>
                <textarea class="form-control" rows="3" name="comment" ng-model="commentText" required=""></textarea>
            </div>
            <div class="form-group clearfix">
                <span class="btn-group pull-right">
                    <button class="btn btn-success" ng-click="submitComment(form)" ng-disabled="form.$invalid">Submit</button>
                </span>
            </div>
        </form>
        {% else %}
        <p><a href="{% url 'django.contrib.auth.views.login' %}?next={{request.path}}">Log in</a> or <a href="/register/?next={{request.path}}">register</a> to comment</p>
        {% endif %}
    </div>
</div>
