{% extends "isisdata/__base.html" %}

{% block content %}

<div class="row" ng-app="commentsApp">
  <div class="col-sm-3 col-md-2 sidebar">
    <div class="menu">
      <a href="{% if last_query %}{{ last_query }}{% else %}javascript:window.history.back(){% endif %}"><span class="glyphicon glyphicon-arrow-left"></span></a>
      &nbsp; &nbsp;
      <a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span></a>
      &nbsp; &nbsp;
      <a href="{% url 'haystack_search' %}"><span class="glyphicon glyphicon-search"></span></a>
      <hr>
    </div>
  </div>

  <div class="col-sm-offset-3 col-md-offset-2 main col-sm-5 col-md-7">
    <h3>Usage tips</h3>

    <p>One can use the IsisCB to do a standard bibliographical search. This is the mode that we expect most users will find valuable on a day-to-day basis.</p>

    <p>All searches are keyword searches. You can narrow down the results lists by either providing more search terms or by using the facet list to the left.</p>

    <p>Caution should be used when limiting by facets, especially subject terms that are not proper names. Subject authorities have changed over time under different bibliographers. When limiting by a term used by one bibliographer, similar citations classified with different terminology will be skipped. Try different facet limits with your searches to ensure you capture similar records tagged with slightly different subjects.</p>

    <p>The IsisCB can also provide a window into the history of science community. By doing an authority search for authors, publishers, universities, or journals, one can explore the network of people and institutions that have produced history of science scholarship over the years. In this capacity, one can study such things as the topic areas of journals, the theses produced by different institutions, and similar questions.</p>

    <p>The tool remains young. It we anticipate adding more functionality in the next months. Please bear with us and report problems or misplaced expectations when you find them. Thank you.</p>
  </div>

</div>

{% endblock %}
