{% extends "isisdata/__base.html" %}

{% block content %}

<div class="row" ng-app="commentsApp">

  <div class="col-sm-offset-1 col-md-offset-1 main col-sm-10 col-md10 col-sm-offset-1 col-md-offset-1">

    <h3>Current features of IsisCB Explore</h3>

    <ul>
      <li>
        <i>Faceted searching</i>. The facets are indexed items that you can access directly using the Authorities tab. [<a href="https://youtu.be/ntqtn0tyy-E">See video</a>.]
      </li>
      <li>
        <i>Account registration</i>. You can register for an account or log in through Facebook or Twitter. [<a href="https://youtu.be/seKYV-Vxj8w">See video</a>.]
      </li>
      <li>
        <i>Zotero integration</i>. All bibliographic records can be saved in Zotero, either individually or in search results. [<a href="https://youtu.be/gmgcSG_mwEA">See video</a>.]
      </li>
      <li>
        <i>Search history</i>. The system automatically logs your search history and gives you the ability to bookmark and save certain searches.
      </li>
      <li>
        <i>Public user comments</i>. Once logged in, you can add public comments on any record so that you can identify missing information or suggest outside links.
      </li>
    </ul>

    <p>
      If you run into problems with the tool itself, please use the Feedback link. If you have specific comments on the content of records, you can add those directly to the record itself, using the commenting function, or you can email us at <a href="mailto:isisbibliography@gmail.com">isisbibliography@gmail.com</a>.
    </p>


    <h3>Usage tips</h3>

    <i>Doing a Bibliographical Search. </i>

    <p>One can use the IsisCB to do a standard bibliographical search. This is the mode that we expect most users will find valuable on a day-to-day basis. All searches are keyword searches. You can narrow down the results lists by either providing more search terms or by using the facet list to the left.</p>

    <i>Use Care when Limiting by Facet</i>

    <p>Limiting by facets can create artificially small results sets. This is especially true if the subject terms are not proper names. Subject authorities have changed over time under different bibliographers. When limiting by a term used by one bibliographer, similar citations classified with different terminology will be skipped. Try different facet limits with your searches to ensure you capture similar records tagged with slightly different subjects.</p>

    <i>Using IsisCB Explore to Study Who’s Who in History of Science</i>

    <p>The IsisCB can also provide a window into the history of science community. By doing an authority search for authors, publishers, universities, or journals, one can explore the network of people and institutions that have produced history of science scholarship over the years. In this capacity, one can study such things as the topic areas of journals, the theses produced by different institutions, and similar questions.</p>

  </div>

</div>

{% endblock %}
