{% extends "isisdata/__base.html" %}

{% block title %}Test title{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
      <a href="javascript:window.history.back()"><span class="glyphicon glyphicon-arrow-left"></span></a>
      <a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span></a>
      <a href="{% url 'haystack_search' %}"><span class="glyphicon glyphicon-search"></span></a>
      <hr>

  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1> Welcome to the Isis Current Bibliography</h1>
  </div>

</div>
{% endblock %}
