{% extends "isisdata/__base.html" %}
{% load app_filters %}
{% load citation_filters %}
{% load addcss %}
{% load static %}
{% load metadata_filters %}
{% load search_filters %}

{% block content %}
<div class="col-sm-12" style="padding: 0 10%;">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Collection Details</h3>
                <form class="form" action="?confirmed=true" method="POST">
                    {% csrf_token %}
                
                    {% for field in form %}
                        {% if field.label in "'Citations', 'Filters'" %}
                            {{ field }}
                        {% elif field.label != "Subjects" %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                {{ field|addcss:"form-control input-sm"}}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <hr>
                    <div class="text-center">
                        <input type="submit" class="btn btn-success" value="Save" />
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <label>Tags</label>
            <div id="subject-list-group">
              {% if subjects %}
                {% for subject in subjects %}
                  <a data-id="{{ subject.id }}" class="label label-primary link-label subject-tag">{{ subject.name }}</a>
                {% endfor %}
              {% endif %}
            </div>
            <hr>
            <input type="text" id="subjectSearchQuery" class="form-control input-sm" placeholder="Search for subject...">
            </input>
            <ul class="list-group" id="subjectSearchResultsContainer">
            </ul>
          </div>
        </div>
    </div>
    <div class="col-sm-8">
        {% if citations %}
            <ul class="list-group">
                {% for citation in citations %}
                <li class="list-group-item" style="padding: 7px 12px;"><img src="{{citation.cover_image.url}}" style="border: 1px solid #999; object-fit: cover; width: 40px; height: 40px; {% if not citation.cover_image.size %}-webkit-filter: grayscale(100%); filter: grayscale(100%);{% endif %}">&nbsp;&nbsp;&nbsp;<span class="label label-primary">{{citation.get_type_controlled_display}}</span> <a href="{% url 'citation' citation.id %}">{{citation.title_for_display}}</a> ({{citation.publication_date.year}})</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

<script>
    var INITIAL_MAX_RESULTS = 5;
    var max_results = INITIAL_MAX_RESULTS;
    var types = [];
    
    var searchTimerSubjects = 0;
    function triggerSearchSubjects(force) {
      if (searchTimerSubjects) {
          clearTimeout(searchTimerSubjects);
      }
    
      var query = $('#subjectSearchQuery').val();
      searchTimerSubjects = setTimeout(function() {
        $.ajax("{% url "curation:quick_and_dirty_authority_search" %}?exclude=CT,SE&show_inactive=false&system=SPWT,SPWC,PN&use_custom_cmp=false&type=" + types + "&max=" + max_results + "&force=" + force + "&q=" + $('#subjectSearchQuery').val(), {
            success: function(result) {
              console.log(result);
              var resultsContainer = $('#subjectSearchResultsContainer');
              resultsContainer.empty();
              result.results.forEach(function(r) {
                var newLi = $("<li></li>");
                newLi.addClass("list-group-item");
                newLi.attr('data-acrelation-id', r.name);
                var publicLink = $('<a></a>');
                publicLink.attr('href', '{% url 'isis-index' %}authority/' + r.id);
                publicLink.attr('target', "_blank");
                publicLink.html(r.name + ' (' + r.citation_count + ')' );
                newLi.append(publicLink);
                newLi.append($('<span class="label label-primary pull-right">' + r.type + '</span>'));
                resultsContainer.append(newLi);
    
                var addBtn = $('<a href="#" data-id="' + r.id + '"></a>');
                addBtn.append('<i class="fa fa-plus-circle" aria-hidden="true" style="margin-right:10px;"></i>');
                addBtn.click(addConcept);
                newLi.prepend(addBtn);
              });
    
              if (result.results.length == 0 && ((force && query.length < 3) || (!force && query.length > 2))) {
                var msg = $('<p>There are no results for "' + $('#subjectSearchQuery').val() +'".</p>');
                resultsContainer.append(msg);
              } else if (result.results.length == 0 && !force && query.length < 3) {
                var msg = $('<p>Your query was too short. </p>');
                var forceLink = $('<a>Press <i class="fa fa-search" aria-hidden="true"></i></a>');
                forceLink.click(function() {
                  triggerSearchSubjects(true);
                });
                msg.append(forceLink);
                msg.append(" to force the search.");
                resultsContainer.append(msg);
              }
    
              if (result.results.length == max_results) {
                var load_more = `
                  <li class="list-group-item search-result">
                    <div class="text-right" id="load-more-subjects"><a>Load more...</a></div>
                  </li>
                `;
                resultsContainer.append(load_more);
                $('#load-more-subjects').click(function() {
                    max_results += 10;
                    triggerSearchSubjects(force);
                });
              }
            }
          });
      }, 500);
    }

    $(document).ready(function() {

        $("#forceSearch").click(function() {
          triggerSearchSubjects(true);
        });
      
        $('#subjectSearchQuery').on('keyup', function() {
          max_results = INITIAL_MAX_RESULTS;
          triggerSearchSubjects(false);
        });
    });
      
    // checkbox update display
    function updateDisplay($checkbox) {
        var isChecked = $checkbox.is(':checked');
        var $button = $checkbox.siblings('button')
        var color = $button.data('color');
    
        // Set the button's state
        $button.data('state', (isChecked) ? "on" : "off");
    
        if ($button.data('state') == 'on' || $button.data('state') == 'off') {
        // Set the button's icon
        $button.find('.state-icon')
            .removeClass()
            .addClass('state-icon ' + settings[$button.data('state')].icon);
    
        }
    
        // Update the button's color
        if (isChecked) {
            $button
                .removeClass('btn-default')
                .addClass('btn-' + color + ' active');
        }
        else {
            $button
                .removeClass('btn-' + color + ' active')
                .addClass('btn-default');
        }
    }

    function addConcept(event) {
        var link = event.target.closest('a');
        var acRelId = $(link).data('id');
        var headers = {
          'X-CSRFToken': '{{ csrf_token }}'
        };
        var payload = {
          'playlist_id': "{{ collection.id }}",
          'authority_id': acRelId,
        };

        $.ajax({
          url: "{% url "quick_create_aprelation" %}",
          method: "POST",
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          data: payload,
          dataType: "json"
          }).done(function(response) {
              let div = $('#subject-list-group');
              let tagId = response.authority.id;
              let tagName = response.authority.name;

              let newTag = $(`<span data-id="${tagId}" class="label label-primary link-label subject-tag"><span>${tagName}</span></span>`);

              div.append(newTag);

          }).fail(function (error) {
              console.log(error);
          });
    }

    function removeConcept(event) {
      authorityId = $(event.target).data('id');

      var headers = {
        'X-CSRFToken': '{{ csrf_token }}'
      };
      var payload = {
        'playlist_id': "{{ collection.id }}",
        'authority_id': authorityId,
      };

      $.ajax({
        url: "{% url "quick_delete_aprelation" %}",
        method: "POST",
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: payload,
        dataType: "json"
        }).done(function(response) {
            console.log("success");

            $('#subject-list-group').find(`[data-id='${response.authority.id}']`).remove();
        }).fail(function (error) {
            console.log(error);
        });
    }

    $(document.body).on('mouseenter', '.subject-tag', function(){
        $(this).css({"background-color": "red"}).append('<span class="delete-icon">&nbsp;<i class="far fa-times-circle"></i></span>');
    }).on('mouseleave', '.subject-tag', function(){
        $(this).css({"background-color": "#337ab7"});
        $(this).find(".delete-icon").remove();
    });

    $('.subject-tag').click(removeConcept);
</script>
{% endblock %}