{% extends "isisdata/__base.html" %}
{% load app_filters %}
{% load citation_filters %}
{% load facet_filters %}
{% load static %}
{% load metadata_filters %}
{% load search_filters %}

{% block extra_head %}
<style>
  #sandboxContainer {
    padding: 0 200px;
  }
  
  @media (max-width: 768px) {
    #sandboxContainer {
      padding: 0;
    }
  }
</style>
{% endblock %}

{% block content %}
<div class="row" style="margin: 30px;">
    <div class="well" style="border-left: 5px solid #337ab7">
        <h3><i class="fas fa-dice-d20"></i> Playground Mode <i>β</i></h3>
        <p>Welcome to the IsisCB playground. The tools found here are in beta development, so we apologize for any bugginess. If you'd like to help us out, please contact us with any issues you encounter while playing with these tools.</p>
        <p>These tools were designed so that you could experience the bibliography as a space for play and exploration. The main aim of many of these tools is to allow you to juxtapose the relational data of concepts, people, places, authors, and institutions in the database alongside one another.</p>
        <div style="border: 1px solid #B7337A; border-left: solid 5px #B7337A; padding: 10px; border-radius: 4px;">
          <p style="margin: 0;"><i class="fas fa-exclamation-triangle" style="color: #B7337A"></i> These tools are not optimized for mobile viewing -- playing with a full-sized screen is strongly recommended.</p>
        </div>
    </div>
</div>
<div id="sandboxContainer">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="thumbnail">
          <a href="{% url 'graph_explorer' %}">
              <img src="{% static "isisdata/images/graph_explorer.png" %}" alt="thumbnail depicting isis cb graph exploratory tool">
          </a>
          <div class="caption">
            <a href="{% url 'graph_explorer' %}"><h3>Graph Explorer</h3></a>
            <p>Explore the connections between terms with this interactive network graph. Search the whole database for terms or go down the rabbit hole by exploding nodes in the graph</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="thumbnail">
            <a href="{% url 'term_explorer' %}">
              <img src="{% static "isisdata/images/table_explorer.png" %}" alt="thumbnail depicting isis cb table exploratory tool">
            </a>
            <div class="caption">
              <a href="{% url 'term_explorer' %}"><h3>Table Explorer</h3></a>
              <p>Compare individual terms or concoct term groups to make meaning from the database of terms. Want to see how the history of a field has changed from one time period to another? Or how the focus of one journal differs from another? -- then this tool is perfect for the job.</p>
            </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="thumbnail">
              <a href="{% url 'ngram_explorer' %}">
                  <img src="{% static "isisdata/images/ngram_explorer.png" %}" alt="thumbnail depicting isis cb ngram exploratory tool">
              </a>  
              <div class="caption">
                  <a href="{% url 'ngram_explorer' %}"><h3>Ngram Explorer</h3></a>
                  <p>Unlike many of the tools -- that display change in or difference between conceptual terms in the database -- this tool displays changes in citation timelines in relative terms.</p>
              </div>
          </div>
      </div>
    </div>
    <div class="row">
      {% if user.is_staff or user.is_superuser %}
      <div class="col-sm-12 col-md-4">
        <div class="thumbnail">
          <a href="{% url 'theses_by_school' %}">
              <img src="{% static "isisdata/images/theses_over_time.jpg" %}" alt="thumbnail depicting isis cb theses by school over time data visualization tool">
          </a>
          <div class="caption">
            <a href="{% url 'theses_by_school' %}"><h3>Theses by School over Time</h3></a>
            <p>Explore the family tree of the histories of science, technology, medicine, and allied fields with data visualizations of advisor/advisee relationships</p>
          </div>
        </div>
      </div>
      {% endif %}

      {% if user.is_staff or user.is_superuser %}
      <div class="col-sm-12 col-md-4">
        <div class="thumbnail">
          <a href="{% url 'genealogy' %}">
              <img src="{% static "isisdata/images/genealogy_explorer.png" %}" alt="thumbnail depicting isis cb genealogy network data visualization tool">
          </a>
          <div class="caption">
            <a href="{% url 'genealogy' %}"><h3>Genealogy</h3></a>
            <p>Explore the family tree of the histories of science, technology, medicine, and allied fields with data visualizations of advisor/advisee/school relationships</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    
</div>
{% endblock %}