{% extends "isisdata/__base.html" %}
{% load app_filters %}
{% load staticfiles %}


{% block content %}

<script src="{% static "isisdata/js/jquery.jscroll.js" %}" type="text/javascript"></script>
<script>
  $(document).ready(function() {
    $('#recent_records_holder').jscroll({
      nextSelector:'a#nextPage',
      autoTrigger: false,
      loadingHtml: '<center><i class="fa fa-spinner fa-spin"></i></center>'
    });
  });
</script>

<div class="row comments-log">
    <!-- citation comments -->
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-default panel-isiscb">
            <div class="panel-heading">
              Records added in the past {{ interval }}
              <span class="pull-right">
                {% if interval == 'week' %}
                <a style="color: white;" href="{% url 'recent_records' %}"><i class="fa fa-calendar" aria-hidden="true"></i>
Last month</a>
                {% endif %}
                {% if interval == 'month' %}
                <a style="color: white;" href="{% url 'recent_records' %}?interval=week"><i class="fa fa-calendar" aria-hidden="true"></i>
Last week</a>
                {% endif %}
              </span>
            </div>
            <ul class="list-group" id="recent_records_holder" style="overflow-y: scroll">
            {% include 'isisdata/fragment_recent_records.html' %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
