{% extends "isisdata/__base_home.html" %}
{% load app_filters %}
{% load staticfiles %}


{% block content %}

<div class="row comments-log">
    <!-- citation comments -->
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-default panel-isiscb">
            <div class="panel-heading">Records added in the past {{ interval }}</div>
            <ul class="list-group">
            {% for record in records_recent %}
            <li class="list-group-item">
                <div>
                    {% if record|to_class_name == 'Citation' %}
                    <span class="label label-info">
                    {% endif %}
                    {% if record|to_class_name == 'Authority' %}
                    <span class="label label-warning">
                    {% endif %}
                    {{record|to_class_name}}</span>
                    [{{ record.get_type_controlled_display }}] <a href="{% url 'index' record.id %}">{{ record|get_label_string|safe }}</a>
                </div>
                <div>
                  {% if record|to_class_name == 'Citation' and record.abstract %}
                  {{ record.abstract|truncatewords:20 }}
                  {% endif %}
                  {% if record|to_class_name == 'Authority' and record.description %}
                  {{ record.description|truncatewords:20 }}
                  {% endif %}
                </div>
                <div>
                     <span class="text text-warning text-small">Added to IsisCB on <script type="text/javascript">document.write(new Date('{{ record.created_on|date:"c" }}').toLocaleString());</script></span>
                 </div>

            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
