{% extends "isisdata/__base.html" %}
{% load app_filters %}
{% load staticfiles %}
{% load metadata_filters %}

{% block meta_tags %}
<link rel="unapi-server" type="application/xml" title="unAPI" href="http://{{ request.get_host }}/isis/unapi">
{% endblock %}

{% block extra_head %}
<script>
{% if source_instance_id %}
var SUBJECT_INSTANCE_ID = "{{ source_instance_id }}";
{% endif %}

{% if source_content_type %}
var SUBJECT_CONTENT_TYPE = {{ source_content_type }};
{% endif %}
</script>

{% endblock %}


{% block title %}Search History{% endblock %}

{% block content %}

<div class="col-sm-offset-2 col-md-offset-1 main col-sm-7 col-md-9">
    <div class="alert alert-info headerbox" role="alert">My Recent Searches</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Query</td>
                <td>Type</td>
                <td>Facets</td>
                <td>Performed On</td>
                <td>Results</td>
                <td>Save</td>
            </tr>
        </thead>
        {% for searchquery in searchqueries %}
        <tr>
            <td>
                {{searchquery.parameters}}
            </td>
            <td>
                {{ searchquery.search_models }}
            </td>
            <td>
                {{ searchquery.selected_facets }}
            </td>
            <td>{{ searchquery.created_on }}</td>
            <td>
                <a href="{% url 'haystack_search' %}?log=False&q={{ searchquery.parameters }}&models={{ searchquery.search_models }}{% if searchquery.selected_facets %}&selected_facets={{ searchquery.selected_facets }}{% endif %}">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <a href="{% url 'search_saved' %}?save={{ searchquery.id }}">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                </a>
            </td>

        </tr>
        {% endfor %}
    </table>

    <div>
    <ul class="pagination pagination-sm">
        {% if searchqueries.has_previous %}
        <li>
            <a href="?page={{ searchqueries.previous_page_number }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </lu>
        {% endif %}
        {% for p in searchqueries.paginator.page_range %}
        <li{% if p == searchqueries.number %} class="active"{% endif %}>
            <a href="?page={{p}}">{{p}}</a>
        </li>
        {% endfor %}
        {% if searchqueries.has_next %}
        <li>
            <a href="?page={{ searchqueries.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </lu>
        {% endif %}
    </ul>
</div>
</div>
{% endblock %}
