{% extends "isisdata/__base_user.html" %}
{% load app_filters %}
{% load static %}
{% load metadata_filters %}

{% block meta_tags %}
<link rel="unapi-server" type="application/xml" title="unAPI" href="http://{{ request.get_host }}/isis/unapi">
{% endblock %}

{% block extra_head %}
<script>
{% if source_instance_id %}
var SUBJECT_INSTANCE_ID = "{{ source_instance_id }}";
{% endif %}

{% if source_content_type %}
var SUBJECT_CONTENT_TYPE = {{ source_content_type }};
{% endif %}
</script>

{% endblock %}


{% block title %}Search History{% endblock %}

{% block content %}

<script>
    //# sourceURL=dlete.js
    $(document).ready(function() {
        $('#delete-history-modal').modal({
            backdrop: true,
            show: false
        })

        $("#clear-history-btn").on('click', function(e) {
            e.preventDefault();
            $("#delete-history-modal").modal('show');
        });

        $("#confirm-delete-history").on('click', function() {
            $.ajax({
                url: '{% url 'clear_search_history' %}', // The URL to send the request to
                type: 'POST',      // The type of request (GET or POST are common)
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}" // Include the token in the header
                },
                dataType: 'json', // The type of data you're expecting back
                error: function(xhr, status, error) {
                    // Code to run if the request fails
                    console.error("An error occurred: " + status + "\nError: " + error);
                }
            });

            $("#delete-history-modal").modal('hide');
            window.location.reload();
        });

        $('#delete-search-modal').modal({
            backdrop: true,
            show: false
        })

        $(".delete_search-btn").on('click', function(e) {
            e.preventDefault();
            const action = $(this).closest("form").attr('action');
            $("#delete-search-modal").attr("data-query-id", action);

            const saved = $(this).closest("form").attr("data-saved-search");
            if (saved === "True") {
                $("#saved_search_warning").removeClass("hide");
            } else {
                $("#saved_search_warning").addClass("hide");
            }

            $("#delete-search-modal").modal('show');
        });

        $("#confirm-delete-search").on('click', function(e) {
            e.preventDefault();
            
            $.ajax({
                url: $("#delete-search-modal").attr("data-query-id"), 
                type: 'POST',      
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}" // Include the token in the header
                },
                dataType: 'json', // The type of data you're expecting back
                error: function(xhr, status, error) {
                    // Code to run if the request fails
                    console.error("An error occurred: " + status + "\nError: " + error);
                }
            });

            $("#delete-search-modal").attr("data-query-id", "")
            $("#delete-history-modal").modal('hide');
            window.location.reload();
        });

        $(".save-search-btn").on('click', function(e) {
                e.preventDefault();
                
                var that = this;
                $.ajax({
                    url: $(that).closest("form").attr("action"), 
                    type: 'POST',      
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': "{{ csrf_token }}" 
                    },
                    dataType: 'json', 
                    success: function(response) {
                        var form = $(that).closest("form");
                        var parent = form.parent();
                        $(that).closest("form").remove();
                        $(parent).prepend($('<i class="fas fa-star text-info" title="Search has already been saved."></i>'));
                    },
                    error: function(xhr, status, error) {
                        console.error("An error occurred: " + status + "\nError: " + error);
                    }
                });

        });
    });

</script>

<div class="modal" id="delete-history-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Search History</h5>
        
      </div>
      <div class="modal-body">
        <p>Are you sure that you want to delete all search history?</p>
        <p><i class="fas fa-exclamation-triangle text-info" ></i> <b>This action cannot be undone.</b></p>
        <p><i class="fas fa-clock text-info"></i> Please be aware that deleting a very long search history might take a while. Please do not close the window or navigate away.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" data-query-id="" id="confirm-delete-history" class="btn btn-primary">Yes, delete!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="delete-search-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Search</h5>
        
      </div>
      <div class="modal-body">
        <p>Are you sure that you want to delete the search?</p>
        <p><i class="fas fa-exclamation-triangle text-info"></i> <b>This action cannot be undone.</b></p>

        <p id="saved_search_warning" class="hide"><i class="fas fa-exclamation-triangle text-info"></i> This is a saved search. Deleting it here will also delete it from your saved searches list.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="confirm-delete-search" class="btn btn-primary">Yes, delete!</button>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-offset-2 col-md-offset-1 col-sm-7 col-md-9">
    <div class="alert alert-info headerbox" role="alert">My Recent Searches</div>
</div>
<div class="col-md-offset-1 col-md-6">
    <form method="POST" action="">
        {% csrf_token %}
        <button id="clear-history-btn" class="btn-link"> <i class="fas fa-trash-alt"></i> Clear all search history</button> (Prior saved searches will not be deleted.)
    </form>
</div>
<div class="col-md-3 " style="text-align: right;">
    <a href="{% url 'search_saved' %}"><i class="far fa-arrow-alt-circle-right"></i> Go to Saved Searches</a>
</div>

<div class="col-sm-offset-2 col-md-offset-1 main col-sm-7 col-md-9">
    <p></p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Query</td>
                <td>Type</td>
                <td>Tenant</td>
                <td>Facets</td>
                <td>Performed On</td>
                <td>Results</td>
                <td></td>
            </tr>
        </thead>
        {% for searchquery in searchqueries %}
        <tr>
            <td>
                {{searchquery.parameters}}
            </td>
            <td>
                {{ searchquery.search_models }}
            </td>
            <td>
                {% if searchquery.tenant_portal %} {{ searchquery.tenant_portal }}{% endif %}
            </td>
            <td>
                {{ searchquery.selected_facets }}
            </td>
            <td>{{ searchquery.created_on }}</td>
            <td>
                {% if searchquery.tenant_portal %}
                <a href="{% url 'tenants:index' searchquery.tenant_portal %}?log=False&tenant_portal={{searchquery.tenant_portal}}&owning_tenant={{searchquery.owning_tenant_id}}&q={{ searchquery.parameters }}&models={{ searchquery.search_models }}{% if searchquery.raw_search %}&raw_search=True{% endif %}{% if searchquery.selected_facets %}&selected_facets={{ searchquery.selected_facets }}{% endif %}">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
                {% else %}
                <a href="{% url 'haystack_search' %}?log=False&q={{ searchquery.parameters }}&models={{ searchquery.search_models }}{% if searchquery.raw_search %}raw_search=True{% endif %}{% if searchquery.selected_facets %}&selected_facets={{ searchquery.selected_facets }}{% endif %}">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
                {% endif %}
            </td>
            <td style="text-align: center">
                {% if not searchquery.saved %}
                <form method="POST" action="{% url 'save_search' searchquery.id  %}">
                     {% csrf_token %}
                    <button class="save-search-btn btn-link"> <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> </button>
                </form>
                {% else %}
                <i class="fas fa-star text-info" title="Search has already been saved."></i>
                {% endif %}
                <form method="POST" action="{% url 'delete_search_object' searchquery.id  %}" data-saved-search="{{ searchquery.saved }}">
                    {% csrf_token %}
                    <button title="Delete Search" class="btn-link delete_search-btn"> <i class="fas fa-trash-alt" ></i></button>
                </form>
            </td>

        </tr>
        {% endfor %}
    </table>

    <div>
    <ul class="pagination pagination-sm">
        {% if searchqueries.has_previous %}
        <li>
            <a href="?page={{ searchqueries.previous_page_number }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </lu>
        {% endif %}
        {% for p in searchqueries.paginator.page_range %}
        <li{% if p == searchqueries.number %} class="active"{% endif %}>
            <a href="?page={{p}}">{{p}}</a>
        </li>
        {% endfor %}
        {% if searchqueries.has_next %}
        <li>
            <a href="?page={{ searchqueries.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </lu>
        {% endif %}
    </ul>
</div>
</div>
{% endblock %}
