{% extends "isisdata/__base.html" %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="row" ng-app="commentsApp">

  <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10">
    <h3><i>IsisCB Explore</i> statistics</h3>
  </div>
  <div class="col-sm-1"></div>

  <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 main">

    <h5>Types of records:</h5>

    <ul>
      <li>Bibliographical citation records: 217,866</li>
      <li>Authority records: 169,817</li>
      <li>Relationships: 1.5 million</li>
    </ul>

    <h5 style="margin-top: 25px;">Temporal scope of the bibliographical data:</h5>

    <p>The temporal scope of the bibliographical data ranges from about 1972 to the present.</p>

    <h5 style="margin-top: 25px;">Curators of the bibliographical data: </h5>

    <ul>
      <li>Citations to works curated by John Neu (1970-1999): 119,086</li>
      <li>Citations to works curated by Joy Harvey (2000-2001): 4,842</li>
      <li>Citations to works curated by Stephen Weldon (2002-present): 105,662</li>
      <li>Citations to works curated for the Society for the History of Technology: 1,756</li>
    </ul>

    <h5 style="margin-top: 25px;">Citations:</h5>

    <ul>
      <li>Books: 52,797</li>
      <li>Journal articles: 79,565</li>
      <li>Chapters: 23,728</li>
      <li>Reviews: 52,942</li>
      <li>Theses: 6,822</li>
    </ul>

    <h5 style="margin-top: 25px;">Authorities</h5>

    <ul>
      <li>Persons: 142,163</li>

      <li>Institutions: 12,086</li>

      <li>Geographic Terms: 693</li>
      <li>Concepts: 6,984</li>

      <li>Time Periods: 76</li>

      <li>Serial Publications: 3,876</li>

      <li>Category Divisions: 2,218</li>

      <li>Creative Works: 7</li>

      <li>Events: 24</li>

      <li>Cross References: 1,226</li>

      <li>Publisher: 449</li>
      
    </ul>

  </div>
</div>

{% endblock %}
