{% extends "isisdata/__base.html" %}
{% load app_filters %}
{% load citation_filters %}
{% load facet_filters %}
{% load static %}
{% load metadata_filters %}
{% load search_filters %}

{% block extra_head %}
<style>
    #subject-list-group > li, #category-list-group > li {
        padding: 5px 15px;
    }

    #abstract_panel div.panel-heading {
        padding: 1px 15px;
    }
    #abstract_panel div.panel-body {
        padding: 5px;
    }

    .tab-btn-default {
        background-color: #fff;
        color: #337ab7;
        border-color: #337ab7;
    }

    .tab-btn-default.active {
        border-color: #337ab7;
        background-color: #337ab7;
        color: #fff;
    }

    .tab-btn-default.active:hover {
        border-color: #337ab7;
        background-color: #337ab7;
        color: #fff;
    }

    .tab-btn-default:hover {
        background-color: #e6e6e6;
    }
</style>
{% endblock %}

{% block content %}

<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne" style='padding: 20px;'>
            <h4 class="panel-title">
            <a role="button" class="btn btn-primary btn-xs collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #fff;">
                Show/Hide Settings
            </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div id="compareContainer" style="display: none; border-bottom: 1px solid lightgray;">
                    <div class="col-sm-12" style="text-align: center;">
                        <a href="javascript:void(0);" onclick="compare();" role="button" id="compareButton" class="btn btn-success" style="color: #fff;"><i class="fas fa-balance-scale"></i> Compare</a>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <ol class="breadcrumb pull-right" id="leftBreadcrumb" style="background-color: #fff;">
                            </ol>
                        </div>
                        <div class="col-sm-2" style="text-align: center; padding: 0;">
                            <h5>to</h5>
                        </div>
                        <div class="col-sm-5">
                            <ol class="breadcrumb" id="rightBreadcrumb" style="background-color: #fff;">
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="text-align: center;">
                    <p style='height: 100%;'>
                        <div class="input-group" id="subjectSearch" style='height: 100%;'>
                            <span class="input-group-btn">
                                <span class="button-checkbox">
                                    <button type="button" class="btn" data-color="primary">Concepts</button>
                                    <input id="filterConcepts" type="checkbox" class="hidden filterConcepts" />
                                </span>
                                <span class="button-checkbox">
                                    <button type="button" class="btn" data-color="primary">People</button>
                                    <input id="filterPersons" type="checkbox" class="hidden filterPersons" />
                                </span>
                                <span class="button-checkbox">
                                    <button type="button" class="btn" data-color="primary">Institutions</button>
                                    <input id="filterInstitutions" type="checkbox" class="hidden filterInstitutions" />
                                </span>
                                <span class="button-checkbox">
                                    <button type="button" class="btn" data-color="primary">Places</button>
                                    <input id="filterGeoTerms" type="checkbox" class="hidden filterGeoTerms" />
                                </span>
                                <span class="button-checkbox">
                                    <button type="button" class="btn" data-color="primary">Time Periods</button>
                                    <input id="filterTimePeriods" type="checkbox" class="hidden filterTimePeriods" />
                                </span>
                                <span>
                                    <button id="filterAll" type="button" class="btn btn-default filterAll" style="line-height:240%; height: 3.8em;">All</button>
                                </span>
                            </span>
                        </div>
                    </p>
                </div>
                <div class="col-sm-12 col-md-3">
                </div>
                <div class="col-sm-12 col-md-6">
                    <div id="addSubjects">
                        <input type="text" id="subjectSearchQuery" class="form-control" placeholder="Search for something to study ... (e.g. [Biology] [19th century])" style="height:3.8em">
                        </input>
        
                        <ul class="list-group" id="subjectSearchResultsContainer">
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="tablesContainer">
    <div class="row" style="text-align:center; margin: 15px 0 30px 0;">
        <div id="tab search_tabs" class="btn-group btn-group" data-toggle="buttons" role="tablist" style="font-size: 1.1em; font-weight: 400;">
            <a id="overview-tab" href="#overview" class="btn tab-btn-default active" role="tab" data-toggle="tab">
            <input type="radio" />Overview
            </a>
            <a id="concepts-tab" href="#concepts" class="btn tab-btn-default" role="tab" data-toggle="tab">
            <input type="radio" />Concepts
            </a>
            <a id="authors-tab" href="#authors" class="btn tab-btn-default" role="tab" data-toggle="tab">
            <input type="radio" />Authors
            </a>
            <a id="people-tab" href="#people" class="btn tab-btn-default" role="tab" data-toggle="tab">
            <input type="radio" />People
            </a>
            <a id="places-tab" href="#places" class="btn tab-btn-default" role="tab" data-toggle="tab">
            <input type="radio" />Places
            </a>
            <a id="times-tab" href="#times" class="btn tab-btn-default" role="tab" data-toggle="tab">
            <input type="radio" />Times
            </a>
            <a id="institutions-tab" href="#institutions" class="btn tab-btn-default" role="tab" data-toggle="tab">
            <input type="radio" />Institutions
            </a>
            <a id="journals-tab" href="#journals" class="btn tab-btn-default" role="tab" data-toggle="tab">
            <input type="radio" />Journals
            </a>
            <a id="publishers-tab" href="#publishers" class="btn tab-btn-default" role="tab" data-toggle="tab">
            <input type="radio" />Publishers
            </a>
        </div>
    </div>
    <div class="tab-content" style="height: 100vh;">
        <div role="tabpanel" class="tab-pane active" id="overview">
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
                <div class="col-sm-6" id="overview-left-left-column">
                </div>
                <div class="col-sm-6" id="overview-left-right-column">
                </div>
            </div>
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
                <div class="col-sm-6" id="overview-right-left-column">
                </div>
                <div class="col-sm-6" id="overview-right-right-column">
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="concepts">
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
            </div>
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
            </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="authors">
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
            </div>
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
            </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="people">
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
            </div>
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
            </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="places">
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
            </div>
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
            </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="times">
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
            </div>
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
            </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="institutions">
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
            </div>
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
            </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="journals">
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
            </div>
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
            </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="publishers">
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
            </div>
            <div class="col-sm-6" style="height: 100%; overflow-y: scroll;">
            </div>
        </div>
    </div>
    
</div>
<div class="col-sm-12">
    <div class="well well-lg" style="border-left: 5px solid #337ab7">
        <h3>Using this exploratory tool</h3>
        <h5>This is a tool for comparing different sets of subjects in the database</h5>
        <p>Say, for example that you wanted to see how the history of 19th century biology differs from the history of 18th century biology ...</p>
        <ol>
            <li>First, use the search bar to find biology. Biology is a "concept", so you can use the checkbox filter for concepts to narrow your search.</li>
            <li>Because we want to compare the history of biology across two different time periods, the concept "Biology" will appear on both sides of the comparison, so click the <i class="far fa-arrow-alt-circle-left"></i> icon to add biology to the left side of the comparison and the <i class="far fa-arrow-alt-circle-right"></i> icon to add biology to the right side of the comparison.</li>
            <li>Next, we need to add the time periods "19th century" and "18th century" to the comparison, so search for each of these (remember, you can use the checkboxes to filter by subject type, so the "Time Periods" filter might help you here). Use the <i class="far fa-arrow-alt-circle-left"></i> and <i class="far fa-arrow-alt-circle-right"></i> icons to add one of these time period to the left side of the comparison and one to the right side.</li>
            <li>Now that all of the elements of your comparison are selected and in place, all you need to do is click the green "<i class="fas fa-balance-scale"></i> Compare" button to generate the results of the comparison</li>
        </ol>
    </div>
</div>

<script>
    var leftSelected = [];
    var rightSelected = [];
    var INITIAL_MAX_RESULTS = 10;
    var max_results = INITIAL_MAX_RESULTS;
    var types = [];

    var searchTimerSubjects = 0;
    function triggerSearchSubjects(force) {
        if (searchTimerSubjects) {
            clearTimeout(searchTimerSubjects);
        }

        var query = $('#subjectSearchQuery').val();

        SearchTimerSubjects = setTimeout(function() {
        $.ajax("{% url "curation:quick_and_dirty_authority_search" %}?exclude=CT&show_inactive=false&use_custom_cmp=false&type=" + types + "&max=" + max_results + "&force=" + force + "&q=" + $('#subjectSearchQuery').val(), {
            success: function(result) {
                generateSearchResults(result, query, force)
            }
            });
        }, 500);
    }

    function generateSearchResults(result, query, force) {
        var resultsContainer = $('#subjectSearchResultsContainer');
        resultsContainer.empty();
        result.results.forEach(function(r) {
        var newLi = $("<li></li>");
        newLi.addClass("list-group-item");
        newLi.attr('data-acrelation-id', r.name);
        var publicLink = $('<a></a>');
        publicLink.attr('href', '{% url 'isis-index' %}authority/' + r.id);
        publicLink.attr('target', "_blank");
        publicLink.html(r.name + ' (' + r.citation_count + ')' );
        newLi.append(publicLink);
        newLi.append($('<span class="label label-primary pull-right">' + r.type + '</span>'));
        resultsContainer.append(newLi);

        var leftAddBtn = $('<a href="#" data-id="' + r.id + '" data-type="' + r.type + '" data-name="' + r.name + '"></a>');
        leftAddBtn.append('<i class="far fa-arrow-alt-circle-left" aria-hidden="true" style="margin-right:10px;"></i>');
        leftAddBtn.click({column: 'left'}, addConcept);
        var rightAddBtn = $('<a href="#" data-id="' + r.id + '" data-type="' + r.type + '" data-name="' + r.name + '"></a>');
        rightAddBtn.append('<i class="far fa-arrow-alt-circle-right" aria-hidden="true" style="margin-right:10px;"></i>');
        rightAddBtn.click({column: 'right'}, addConcept);
        newLi.prepend(rightAddBtn);
        newLi.prepend(leftAddBtn);
        });

        if (result.results.length == 0 && ((force && query.length < 3) || (!force && query.length > 2))) {
        var msg = $('<p>There are no results for "' + $('#subjectSearchQuery').val() +'".</p>');
        resultsContainer.append(msg);
        } else if (result.results.length == 0 && !force && query.length < 3) {
        var msg = $('<p>Your query was too short. </p>');
        resultsContainer.append(msg);
        }

        if (result.results.length == max_results) {
        var load_more = `
            <li class="list-group-item search-result">
            <div class="text-right" id="load-more-subjects"><a>Load more...</a></div>
            </li>
        `;
        resultsContainer.append(load_more);
        $(`#load-more-subjects`).click(function() {
            max_results += 10;
            triggerSearchSubjects(force);
        });
        }
    }

    // checkbox settings
    var settings = {
        on: {
            icon: 'glyphicon glyphicon-check'
        },
        off: {
            icon: 'glyphicon glyphicon-unchecked'
        }
    };

    $(document).ready(function() {
        $('#subjectSearchQuery').on('keyup', function() {
        max_results = INITIAL_MAX_RESULTS;
        triggerSearchSubjects(false);
        });

        // add checkbox search handlers
        $(".filterConcepts").change(function() {
        filterType("CO", $(".filterConcepts"));
        });
        $(".filterPersons").change(function() {
        filterType("PE", $(".filterPersons"));
        });
        $(".filterInstitutions").change(function() {
        filterType("IN", $(".filterInstitutions"));
        });
        $(".filterGeoTerms").change(function() {
        filterType("GE", $(".filterGeoTerms"));
        });
        $(".filterTimePeriods").change(function() {
        filterType("TI", $(".filterTimePeriods"));
        });
        $(".filterAll").click(function() {
        $('.button-checkbox').each(function () {
            var checkbox = $(this).find('input:checkbox');
            checkbox.attr('checked', false);
            updateDisplay(checkbox);
        });
        types = []
        triggerSearchSubjects(false);
        });

        // checkbox styling
        $('.button-checkbox').each(function () {
                // Settings
                var $widget = $(this),
                    $button = $widget.find('button'),
                    $checkbox = $widget.find('input:checkbox'),
                    color = $button.data('color')


                // Event Handlers
                $button.on('click', function () {
                    $checkbox.prop('checked', !$checkbox.is(':checked'));
                    $checkbox.triggerHandler('change');
                    updateDisplay($checkbox);
                });
                $checkbox.on('change', function () {
                    updateDisplay($checkbox);
                });

                // Initialization
                function init() {

                    updateDisplay($checkbox);

                    if ($button.data('state') == 'on' || $button.data('state') == 'off') {

                    // Inject the icon if applicable
                    if ($button.find('.state-icon').length == 0) {
                        $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i><br>');
                    }
                    }
                }
                init();
            });
    });

    // checkbox update display
    function updateDisplay($checkbox) {
        var isChecked = $checkbox.is(':checked');
        var $button = $checkbox.siblings('button')
        var color = $button.data('color');

        // Set the button's state
        $button.data('state', (isChecked) ? "on" : "off");

        if ($button.data('state') == 'on' || $button.data('state') == 'off') {
            // Set the button's icon
            $button.find('.state-icon')
                .removeClass()
                .addClass('state-icon ' + settings[$button.data('state')].icon);

        }

        // Update the button's color
        if (isChecked) {
            $button
                .removeClass('btn-default')
                .addClass('btn-' + color + ' active');
        }
        else {
            $button
                .removeClass('btn-' + color + ' active')
                .addClass('btn-default');
        }
    }

    function filterType(type, element) {
        if (element.is(':checked')) {
        types.push(type);
        } else {
        var typeIndex = types.indexOf(type);
        if (typeIndex > -1) {
            types.splice(typeIndex, 1);
        }
        }
        triggerSearchSubjects(false);
    }

    function addConcept(event) {
        $('#compareContainer').css('display', 'block');
        let link = event.target.closest('a');
        let acRelId = $(link).data('id');
        let conceptName = $(link).data('name');
        if (event.data.column === "left") {
            leftSelected.push(acRelId);
        } else {
            rightSelected.push(acRelId);
        }

        let crumb = $(`<li class="search-breadcrumb-item"><span class="label label-default">${conceptName}</span></li>`);
        
        $(`#${event.data.column}Breadcrumb`).append(crumb);
    }

    function compare() {
        if (leftSelected.length === 0 || rightSelected.length === 0) {
            $.notify("Please select terms to compare on both sides", "error");
        } else {
            selected = {};
            selected.left = leftSelected;
            selected.right = rightSelected;

            const csrftoken = getCookie('csrftoken');

            async function postData(url='', data = {}) {
                const response = await fetch(url, {
                  method: 'POST',
                  mode: 'same-origin',
                  headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                  },
                  body: JSON.stringify(data)
                });
                return response.json();
            }

            postData("{% url "term_explorer" %}", selected)
                .then(data => {
                    $('#tablesContainer').css("display", "block");
                    $('#collapseOne').removeClass('in');
                    console.log(data);
                    
                    // handle left side
                    // left side authors/contributors
                    let facet_fields = Object.keys(data.left_boxes);
                    facet_fields.map(field => {
                        if (field === "contributors" || field === "journals" || field === "publishers") {
                            $('#overview-left-left-column').append(`<div class="panel panel-default facet-box" id="overview-left-${field}-box">`);
                            $(`#overview-left-${field}-box`).append(`<div class="panel-heading-relation panel-heading"><strong>${field}</strong></div><div class="panel-body" id="overview-left-contributors-box-body"></div>`);

                            $('#overview-right-left-column').append(`<div class="panel panel-default facet-box" id="overview-right-${field}-box">`);
                            $('#overview-left-contributors-box').append('<div class="panel-heading-relation panel-heading"><strong>Authors & Contributors</strong></div><div class="panel-body" id="overview-left-contributors-box-body"></div>');
                        } else {

                        }
                    })
                    $('#overview-left-left-column').append('<div class="panel panel-default facet-box" id="overview-left-contributors-box">');
                    $('#overview-left-contributors-box').append('<div class="panel-heading-relation panel-heading"><strong>Authors & Contributors</strong></div><div class="panel-body" id="overview-left-contributors-box-body"></div>');
                    
                    data.left_boxes.related_contributors_facet.map((contributor, i) => {
                        if (i < 10) {
                            $('#overview-left-contributors-box-body').append(`<a href="data.isiscb.org/isis/authority/${contributor.id} target="_blank"><span>${contributor.name}</span></a><span> (${contributor.count})</span></br>`);
                        }
                    })
                });
        }
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

</script>

{% endblock %}