{% extends "isisdata/__base.html" %}
{% load app_filters %}
{% load citation_filters %}
{% load static %}
{% load metadata_filters %}
{% load search_filters %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="panel">
            <div class="panel-heading clearfix">
                <span class="h2">{{ username }}</span>
                {% if is_staff %}<span class="label label-danger">Admin</span>{% endif %}
                {% if username == user.username %}<span class="pull-right"><a class="btn" href="?edit=true">Edit my profile&nbsp;<span class="fa fa-pencil"></span></a></span>{% endif %}
                {% if profile.authority_record %}
                <div>
                    <a class="btn" href="{% url 'authority' profile.authority_record.id %}"><span class="fa fa-user"></span> View authority record</a>
                </div>
                {% endif %}
            </div>
            <div class="panel-body">

                <div class="h4">{{ full_name }}</div>
                {% if profile.share_email %}
                <p><!-- The user may elect not to share their email address. -->
                    <span class="fa fa-envelope-o"></span>&nbsp;<a href="mailto:{{ user.email }}">{{ email }}</a>
                </p>
                {% endif %}
                {% if profile.affiliation %}
                <p>
                    <span class="fa fa-building" alt-text="Affiliation"></span>&nbsp;{{profile.affiliation }}
                </p>
                {% endif %}
                {% if profile.location %}
                <p>
                    <span class="fa fa-home" alt-text="Location"></span>&nbsp;{{ profile.location }}
                </p>
                {% endif %}
            </div>
        </div>
        {% if profile.bio %}
            <div class="panel">{{ profile.bio }}</div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style="display: inline-block;">Playlists</h3>
              <a href="{% url 'user_playlists' username %}" class="btn btn-primary btn-xs pull-right">All Playlists</a>
            </div>
            <div class="panel-body" style="padding-left: 0; padding-bottom: 0;">
                {% for collection in recent_collections %}
                    <div class="col-sm-4" style="padding-right: 0;">
                        <div class="thumbnail" style="width: auto;">
                            <img src="{% if collection.coverimage_url %}{{collection.coverimage_url}}{% else %}https://upload.wikimedia.org/wikipedia/commons/b/b8/Museum_Wormiani_Historia_1655_Wellcome_L0000128.jpg{% endif %}" alt="{{collection.name}} citation collection cover image" style="object-fit: cover; width: 150px;height: 150px;">
                            <div class="caption" style="text-overflow: ellipsis; overflow: hidden;">
                                <h4 style="margin: 5px 0; overflow-wrap: break-word;">{{collection.name}}</h4>
                                <span style="text-align: center; display: block;"><a href="#" class="btn btn-primary btn-sm" role="button">View Playlist</a></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
          </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="h4">
                    Recent comments
                </span>
            </div>
            <ul class="list-group" style="max-height: 400px; overflow-y: scroll;">
                {% for comment in usercomments %}
                <li class="list-group-item">
                    <span class="label label-primary">{{ comment.created_on }}</span>&nbsp;<a href="/isis/{{comment.subject.id}}" class="h5">{{ comment.subject }}</a>
                    <p class="text text-warning">{{ comment.linkified|safe }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="row">

</div>
{% endblock %}
