{% extends "isisdata/__base.html" %}
{% load app_filters %}
{% load citation_filters %}
{% load staticfiles %}
{% load metadata_filters %}
{% load search_filters %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="panel">
            <div class="panel-heading clearfix">
                <span class="h2">{{ username }}</span>
                {% if is_staff %}<span class="label label-danger">Admin</span>{% endif %}
                {% if profile.authority_record %}
                {% if username == user.username %}<span class="pull-right"><a class="btn" href="?edit=true">Edit my profile&nbsp;<span class="fa fa-pencil"></span></a></span>{% endif %}
                <div>
                    <a class="btn" href="{% url 'authority' profile.authority_record.id %}"><span class="fa fa-user"></span> View authority record</a>
                </div>
                {% endif %}
            </div>
            <div class="panel-body">

                <div class="h4">{{ full_name }}</div>
                {% if profile.share_email %}
                <p><!-- The user may elect not to share their email address. -->
                    <span class="fa fa-envelope-o"></span>&nbsp;<a href="mailto:{{ user.email }}">{{ email }}</a>
                </p>
                {% endif %}
                {% if profile.affiliation %}
                <p>
                    <span class="fa fa-building" alt-text="Affiliation"></span>&nbsp;{{profile.affiliation }}
                </p>
                {% endif %}
                {% if profile.location %}
                <p>
                    <span class="fa fa-home" alt-text="Location"></span>&nbsp;{{ profile.location }}
                </p>
                {% endif %}
            </div>
        </div>
        {% if profile.bio %}

        <div class="panel">{{ profile.bio }}</div>
        {% endif %}
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="h4">
                    Recent comments
                </span>
            </div>
            <ul class="list-group" style="max-height: 400px; overflow-y: scroll;">
                {% for comment in usercomments %}
                <li class="list-group-item">
                    <span class="label label-primary">{{ comment.created_on }}</span>&nbsp;<a href="/isis/{{comment.subject.id}}" class="h5">{{ comment.subject }}</a>
                    <p class="text text-warning">{{ comment.linkified|safe }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="row">

</div>
{% endblock %}
