{% extends "curation/list_view.html" %}
{% load pagination_tags %}
{% load addcss %}


{% block object_list %}
<style>
.glyphicon-ok {
    color: green;
}
</style>
<div style="margin-bottom: 15px; margin-top: 15px;">
    <a href="{% url "create_accession" %}" class="btn btn-md btn-success"><span class="glyphicon glyphicon-plus"></span> Upload RDF</a>
</div>
<table class="table table-responsive table-hover table-curation">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Imported on</th>
            <th>Imported by</th>
            <th>Dataset</th>
            <th>Citations</th>
            <th>Authorities</th>
            <th>Resolved</th>
            <th>Processed</th>
            <th class="col-xs-2"></th>
        </tr>
    </thead>
    <tbody>
        {% for object in filter_list %}
        <tr>
            <td>
                <a href="{% url "data_importaccession" object.id %}">{{ object.id }}</a>
            </td>
            <td>
                <a href="{% url "data_importaccession" object.id %}">{{ object.name }}</a>
            </td>
            <td>{{ object.imported_on }}</td>
            <td>{{ object.imported_by }}</td>
            <td>{{ object.ingest_to.name }}</td>
            <td class="text-center">
                <a href="{% url "data_importaccession" object.id %}">
                    {{ object.draftcitation_set.count }}
                </a>
            </td>
            <td class="text-center">
                <a href="{% url "data_importaccession" object.id %}">
                    {{ object.draftauthority_set.count }}
                </a>
            </td>
            <td class="text-center">{% if object.resolved %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
            <td class="text-center">{% if object.processed %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
            <td>
                <form method="POST" action="{% url "curation:citation_list" %}">
                <div class="btn-group btn-group-xs">
                    <a href="{% url "retrieve_accession" object.id %}"
                        class="btn btn-xs btn-primary">Resolve</a>
                    <a href="{% url "ingest_accession" object.id %}"
                        class="btn btn-xs btn-success">Ingest</a>

                        {% csrf_token %}
                        <input type="hidden" name="zotero_accession" value="{{ object.id }}" />

                        <input type="submit" class="btn btn-xs btn-warning" value="View" />


                </div>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>

    </thead>

</table>
{% endblock %}


{% block filter_form %}
<form id="filter_form" class="form clearfix">

    <div class="row">
        <div class="col-sm-4">
            {% for error in objects.form.id.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.id.label }}</label>
                {{ objects.form.id|addcss:"form-control" }}
            </div>

            {% for error in objects.form.name.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.name.label }}</label>
                {{ objects.form.name|addcss:"form-control" }}
            </div>
        </div>
        <div class="col-sm-4">
            {% for error in objects.form.processed.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.processed.label }}</label>
                {{ objects.form.processed|addcss:"form-control" }}
            </div>

            {% for error in objects.form.imported_on.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.imported_on.label }}</label>
                {{ objects.form.imported_on|addcss:"form-control" }}
            </div>
        </div>
        <div class="col-sm-4">
            {% for error in objects.form.imported_by.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.imported_by.label }}</label>
                {{ objects.form.imported_by|addcss:"form-control" }}
            </div>
            {% for error in objects.form.ingest_to.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.ingest_to.label }}</label>
                {{ objects.form.ingest_to|addcss:"form-control" }}
            </div>
        </div>
    </div>

</form>

{% endblock %}
