{% extends "zotero/raw_data_list.html" %}
{% load addcss %}



{% block action %}
{% if accession.processed %}
    <p class="text-danger">
        This accession has already been ingested into the production database.
        No further actions may be taken.
    </p>
{% else %}
    <div class="btn-group">
        <a href="{% url "ingest_accession" accession.id %}?confirmed=true"
            class="btn btn-success"
            data-toggle="tooltip"
            data-title="This action will create new citations in the production database.">
            Ingest <strong>{{ accession.citations_ready.count }}</strong> citations
        </a>
        <a href="{% url "retrieve_accession" accession.id %}"
            class="btn btn-primary"
            data-toggle="tooltip"
            data-title="Several draft authority records in this accession require resolution.">
            Resolve Authority Records
        </a>
    </div>

{% endif %}
{% endblock %}
