{% extends "curation/base.html" %}
{% load addcss %}

{% block content %}

    {% block action %}
    <div class="panel-body text-success text-center">
        Successfully ingested {{ ingested|length }} of {{ draftcitations.count }} citations{% if accession.ingest_to %} into dataset
        &nbsp;
        <a href="{% url "curation:citation_list" %}?zotero_accession={{accession.id}}&belongs_to={{ accession.ingest_to.id }}"
            class="text-warning">
            {{ accession.ingest_to.name }}
        </a>{% endif %}.
    </div>

    <div class="panel-body text-center">
        <form method="POST" action="{% url "curation:citation_list" %}">
            {% csrf_token %}
            <input type="hidden" name="zotero_accession" value="{{ accession.id }}" />

            <input type="submit" class="btn btn-success" href="?zotero_accession=" value="View Production Citations" />

            <a class="btn btn-primary" href="{% url "data_importaccession" accession.id %}">Return to Zotero Accession</a>
        </form>

    </div>

    {% endblock %}

    {% block citationlist %}

    {% endblock %}
</div>
{% endblock %}
