{% extends "curation/base.html" %}
{% load addcss %}

{% block content %}
<div class="container-fluid">
    <div class="h3">
        {{ accession.name }}
    </div>
    <div class="h5">Created by <span class="text-warning">{{ accession.imported_by }}</span> on <span class="text-warning">{{ accession.imported_on }}</span>.</div>
    <div class="h5">Dataset: <span class="text-warning">{{ accession.ingest_to }}</a></div>

    {% block action %}
    <div class="panel-body text-center">
        <a href="{% url "retrieve_accession" accession.id %}"
            class="btn btn-primary">Resolve Authority Records</a>
        <a href="{% url "ingest_accession" accession.id %}?confirmed=true"
            class="btn btn-success">
            Ingest <strong>{{ accession.citations_ready.count }}</strong> citations
        </a>


    </div>
    {% endblock %}

    {% block citationlist %}
    <p class="text-info">
        Citations or authority records marked with a <span style="font-size: 8pt; color: green;" class="glyphicon glyphicon-ok"></span>
        have already been resolved/added to the production database. Click on a record to see the raw data imported from Zotero.
    </p>
    <ul class="list-group">
        {% for draftcitation in draftcitations %}
        <li class="list-group-item">
            <a class="h4" href="{{ draftcitation.get_absolute_url }}">
                {% if draftcitation.processed %}
                <span style="font-size: 12pt; color: green;" class="glyphicon glyphicon-ok"></span>&nbsp;
                {% endif %}
                {{ draftcitation.title }}</a>

            <dl class="dl-horizontal">
            {% for relation in draftcitation.authority_relations.all %}
                <dt>
                    {{ relation.get_type_controlled_display }}</dt>
                <dd>
                    {% if relation.authority.processed %}
                    <span style="font-size: 8pt; color: green;" class="glyphicon glyphicon-ok"></span>&nbsp;
                    {% endif %}
                    {% if relation.authority.processed and relation.authority.resolutions.count > 0 %}
                    <a href="{% url "curate_authority" relation.authority.resolutions.first.to_instance_id %}">
                    {% endif %}
                    {{ relation.authority.name }}
                    {% if relation.authority.processed %}
                    </a>
                    {% endif %}
                    &nbsp;<span class="label label-primary">{{ relation.authority.get_type_controlled_display }}</span>
                </dd>
            {% endfor %}
            </dl>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
</div>
{% endblock %}
