{% extends "curation/base.html" %}
{% load addcss %}
{% load staticfiles %}
{% load zotero_tags %}


{% block content %}

<div class="h3">
    <span class="text-warning">Zotero accession:</span> {{ accession.name }} <span class="small">Created by {{ accession.imported_by }} on {{ accession.imported_on }}</span>
</div>
<div class="h4">Authority Resolution</div>

<a href="{% url "ingest_accession" accession.id %}?confirmed=true"
    class="btn btn-success">
    Ingest citations
</a>
{% if accession.resolved %}
<p class="text-danger">
    All authority records in this accession have been resolved.
</p>
{% else %}
<p class="text-info">
    Use the interface below to resolve authority records from this Zotero accession.
</p>
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <ul class="list-group">
                {% for authority in accession.draftauthority_set.all|filter_unresolved %}
                {% with authority.citation_relations.first as acrelation %}
                <div class="list-group-item clearfix"
                    id="authority-{{ authority.id }}"
                    data-id="{{ authority.id }}"
                    data-name="{{ authority.name }}">
                    <a class="glyphicon glyphicon-pencil"
                        href="{% url "change_draftauthority" authority.id %}?next={% url "retrieve_accession" accession.id %}"></a>
                    <a class="draftauthority"
                        id="authority-{{ authority.id }}-link"
                        data-id="{{ authority.id }}"
                        data-name="{{ authority.name }}">
                        <span class="label label-primary">{{acrelation.get_type_controlled_display }} : {{ authority.get_type_controlled_display }}</span> <strong>{{ authority.name }}</strong>
                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </a>


                    <dl class="dl">
                        <dt>Title</dt>
                        <dd>{{ acrelation.citation.title }}</dd>
                        <dt>Abstract</dt>
                        <dd>{{ acrelation.citation.abstract|truncatechars:200 }}</dd>
                    </dl>
                </div>
                {% endwith %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-6">
            <div id="matching" style="visibility: hidden;">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#suggest" aria-controls="suggest" role="tab" data-toggle="tab">Suggestions</a>
                    </li>
                    <li role="presentation">
                        <a href="#search" aria-controls="search" role="tab" data-toggle="tab" id="search-tab">Search</a>
                    </li>
                    <li role="presentation">
                        <a href="#create" aria-controls="create" role="tab" class="resolve-with-create">Create</a>
                    </li>
                    <li role="presentation">
                        <a href="#skip" aria-controls="skip" role="tab" class="resolve-with-skip">Skip</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="suggest">
                        <ul class="suggestion-results-list list-group">
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="search">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <input class="authority-search form-control"
                                                id="authority-search"
                                                placeholder="Search for an authority record..." />
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <select class="form-control" id="authority-search-filter-type" name="authority-search-filter-type">
                                            <option value="" selected="selected">---------</option>
                                            <option value="PE">Person</option>
                                            <option value="IN">Institution</option>
                                            <option value="TI">Time Period</option>
                                            <option value="GE">Geographic Term</option>
                                            <option value="SE">Serial Publication</option>
                                            <option value="CT">Classification Term</option>
                                            <option value="CO">Concept</option>
                                            <option value="CW">Creative Work</option>
                                            <option value="EV">Event</option>
                                            <option value="CR">Cross-reference</option>
                                            <option value="PU">Publisher</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <ul class="list-group" id="results-container"></ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'zotero/js/spin.min.js' %}"></script>
<script src="{% static 'zotero/js/jquery.spin.js' %}"></script>
<script>
// Use this (with a click event) instead of an anchor.
var toggleTab = function(name) {
    $('.nav-tabs a[href="#' + name + '"]').tab('show')
}

$('#search-tab').on('shown.bs.tab', function(e) {
    console.log('Show search tab');
    $('#authority-search').focus();
});
</script>

<script>
var opts = {
  lines: 13 // The number of lines to draw
, length: 4 // The length of each line
, width: 2 // The line thickness
, radius: 5 // The radius of the inner circle
, scale: 1 // Scales overall size of the spinner
, corners: 1 // Corner roundness (0..1)
, color: '#297CA6' // #rgb or #rrggbb or array of colors
, opacity: 0.5 // Opacity of the lines
, rotate: 0 // The rotation offset
, direction: 1 // 1: clockwise, -1: counterclockwise
, speed: 1 // Rounds per second
, trail: 62 // Afterglow percentage
, fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
, zIndex: 2e9 // The z-index (defaults to 2000000000)
, className: 'spinner' // The CSS class to assign to the spinner
, top: '7px' // Top position relative to parent
, left: '-15px' // Left position relative to parent
, shadow: false // Whether to render a shadow
, hwaccel: false // Whether to use hardware acceleration
, position: 'relative' // Element positioning
}

var selected_authority, selected_authority_name;

$('.draftauthority').click(function() {
    toggleTab('suggest');

    var elem = $(this);
    $('.selected').removeClass('selected');

    elem.parent().addClass('selected');
    var draftauthority_id = elem.attr('data-id');

    selected_authority = draftauthority_id;
    selected_authority_name = elem.attr('data-name');

    bindCreateNew();
    bindSkip();

    // Reset search.
    $('#results-container').empty();
    $('#authority-search').val('');

    $.ajax('/zotero/suggest/authority/' + draftauthority_id + '/', {
        beforeSend: function(response) {
            elem.find('.suggestion-status').spin(opts);
        },
        success: function(response) {
            $('#matching').css('visibility', 'visible');

            var target = $('.suggestion-results-list');
            target.empty();
            if (response.data.length == 0) {
                target.append('<div class="alert alert-warning">No matches found</div>');
            } else {
                response.data.forEach(function(suggestion) {
                    var suggestElem = `
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-2">
                                    <span class="button-group button-group-md">
                                        <a class="glyphicon glyphicon-ok btn btn-md resolve-with-suggestion"
                                            id="authority-suggestion-` + suggestion.id + `"
                                            data-suggestion="` + suggestion.id + `"
                                            data-authority="` + draftauthority_id + `"
                                            data-name="` + suggestion.name + `">
                                        </a>
                                    </span>
                                </div>
                                <div class="col-xs-10">
                                    <div class="h5">
                                        <a href="/curation/authority/` + suggestion.id + `/?tab=acrelations" target="_blank">` + suggestion.name + ` (` + suggestion.citation_count + `)</a>
                                        <div class="pull-right col-sm-3">
                                            <div class="progress" style="height: 14px;">
                                                <div class="progress-bar"
                                                    role="progressbar"
                                                    aria-valuenow="`+ suggestion.match +`"
                                                    aria-valuemin="0"
                                                    aria-valuemax="1"
                                                    style="width: `+ suggestion.match*100 +`%;">
                                                        <span class="sr-only">`+ suggestion.match +`</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="label label-danger"
                                        style="margin-left: 5px;">
                                        ` + suggestion.type_controlled + `
                                    </span>
                                    <span class="suggestion-reasons">
                    `;
                    suggestion.reasons.forEach(function(reason) {
                        suggestElem += '<span class="label label-success">' + reason[0] + '|' + reason[1] + '</span>';
                    });
                    suggestElem += `
                                    </span>
                                </div>
                            </div>
                        </li>
                    `;

                    target.append(suggestElem);
                });
            }

            $('#input_for_' + elem.attr('id') + '_text').on('change', function() {
                $('#suggestions_for_' + elem.attr('id') + '_radio').val($(this).val());
            });
            bindSuggestions();

        }
    });
});

$(document).ready(function() {
    var lastSearch = $.now();
    var waiting = false;
    bindModal();

    $('#authority-search-filter-type').change(function(e) {
        $('#authority-search').trigger('keyup');
    });

    $('#authority-search').on('keyup', function(e) {
        if ($.now() - lastSearch < 500 || waiting) return;
        lastSearch = $.now();
        waiting = true;

        var query = $(this).val();
        var filter_type = $('#authority-search-filter-type').val();
        var search_endpoint = "{% url "quick_and_dirty_authority_search" %}?max=20&q=" + query;
        if (filter_type != "") {
            search_endpoint += "&type=" + filter_type;
        }

        $.ajax(search_endpoint, {
            failure: function(result) {
                waiting = false;
            },
            success: function(result) {
                waiting = false;
                $('#results-container').empty();
                result.results.forEach(function(r) {
                    var choice_elem = '<li class="list-group-item search-result">';
                    choice_elem += '<span class="button-group button-group-xs">';
                    choice_elem += '<a class="glyphicon glyphicon-ok btn btn-xs select-citation resolve-with-search" data-id="' + r.id + '" data-name="' + r.name + '" data-suggestion="' + r.id + '" data-authority="' + selected_authority + '" data-name="' + r.name + '"></a>';
                    choice_elem += '<a href="'+ r.url + '" class="btn btn-xs glyphicon glyphicon-pencil" target="_blank"></a>';
                    choice_elem += '</span>';
                    choice_elem += ' <span class="label label-success">' + r.type + '</span> <strong><a href="/isis/authority/'+r.id+'/" target="_blank">' + r.name + '</a></strong> <span class="label label-default">' + r.datestring + '</span>';
                    if (r.description != null) {
                        choice_elem += ' | <span class="text-muted">' + r.description + '</span>';
                    }
                    choice_elem += '</li>';

                    $('#results-container').append(choice_elem);
                });

                $('.select-citation').click(function() {
                    var selected = $(this);
                    var selected_id = selected.attr('data-id');
                    var selected_name = selected.attr('data-name');
                    $('#results-container').empty();
                    $('#authority-search').val(selected_name);
                    $('#id_acrelation-name_for_display_in_citation').val(selected_name);
                    $('#id_acrelation-authority').val(selected_id);
                });
                bindSearchSelect();
            }
        });
    });
});

var selectNextAuthority = function() {
    $('.draftauthority').first().trigger('click');
}

var cleanupResolvedAuthority = function(draftauthority_id) {
    $("#authority-" + draftauthority_id).remove();
    $('#matching').css('visibility', 'hidden');
    selectNextAuthority();
}


//
var bindSuggestions = function() {
    $('.resolve-with-suggestion').click(function(e) {
        var suggestElem = $(this);
        var suggestion_id = suggestElem.attr('data-suggestion'),
            draftauthority_id = suggestElem.attr('data-authority'),
            suggestion_name = suggestElem.attr('data-name');

        promptResolveModal(draftauthority_id, suggestion_id, suggestElem.attr('data-name'));
        // modal -> resolve.
        // triggerResolveAuthority(draftauthority_id, suggestion_id);
    });
}

var bindSearchSelect = function() {
    $('.resolve-with-search').click(function(e) {
        var suggestElem = $(this);
        var suggestion_id = suggestElem.attr('data-suggestion'),
            draftauthority_id = suggestElem.attr('data-authority'),
            suggestion_name = suggestElem.attr('data-name');
        promptResolveModal(draftauthority_id, suggestion_id, suggestElem.attr('data-name'));
    });
}



var getSimilarAuthorities = function(draftauthority_id, callback) {
    $.get('{% url "similar_authorities" %}?draftauthority=' + draftauthority_id + '&accession={{ accession.id }}', function(result) {
        callback(result.data.count, result.data.draftauthorities);
    });
}

var promptResolveModal = function(draftauthority_id, suggestion_id, sname) {
    getSimilarAuthorities(draftauthority_id, function(count, ids) {
        $('#draftauthority-id-container').val(draftauthority_id);
        $('#authority-id-container').val(suggestion_id);
        $('#similar_authority_count').text(count);
        $('#draftauthority_name').text(selected_authority_name);
        $('#authority_name').text(sname);
        $('#prompt-resolve-modal').modal('show');
    });
}

var confirmResolveModal = function() {
    $('#prompt-resolve-modal').modal('hide');
    var draftauthority_id = $('#draftauthority-id-container').val();
    var suggestion_id = $('#authority-id-container').val();
    triggerResolveAuthority(draftauthority_id, suggestion_id);

    var applyToSimilar = $('#bulkapply').val();
    if (applyToSimilar) {
        getSimilarAuthorities(draftauthority_id, function(count, ids) {
            ids.forEach(function(di) {
                triggerResolveAuthority(di, suggestion_id);
            });
        });
    }
    $('#bulkapply').val(false);
}

var confirmCreateModal = function() {
    $('#prompt-create-modal').modal('hide');
    var draftauthority_id = $('#draftauthority-id-container-create').val();
    triggerCreateAuthority(draftauthority_id, function(created_authority_id) {
        getSimilarAuthorities(draftauthority_id, function(count, ids) {
            ids.forEach(function(di) {
                triggerResolveAuthority(di, created_authority_id);
            });
        });

        cleanupResolvedAuthority(draftauthority_id);
    });

}

var confirmSkipModal = function() {
    $('#prompt-skip-modal').modal('hide');
    var draftauthority_id = $('#draftauthority-id-container-skip').val();
    triggerSkipAuthority(draftauthority_id, function() {
        getSimilarAuthorities(draftauthority_id, function(count, ids) {
            ids.forEach(function(di) {
                triggerSkipAuthority(di, function() {
                    cleanupResolvedAuthority(di)
                });
            });
        });

        cleanupResolvedAuthority(draftauthority_id);
    });

}

var bindCreateNew = function() {
    $('.resolve-with-create').click(function(e) {
        var suggestElem = $(this);
        getSimilarAuthorities(selected_authority, function(count, ids) {
            $('#draftauthority-id-container-create').val(selected_authority);
            // $('#authority-id-container-create').val(suggestion_id);
            $('#similar_authority_count-create').text(count);
            $('#draftauthority_name-create').text(selected_authority_name);
            // $('#authority_name-create').text(sname);
            $('#prompt-create-modal').modal('show');
        });
    });
}


var bindSkip = function() {
    $('.resolve-with-skip').click(function(e) {
        var suggestElem = $(this);
        getSimilarAuthorities(selected_authority, function(count, ids) {
            $('#draftauthority-id-container-skip').val(selected_authority);
            // $('#authority-id-container-create').val(suggestion_id);
            $('#similar_authority_count-skip').text(count);
            $('#draftauthority_name-skip').text(selected_authority_name);
            // $('#authority_name-create').text(sname);
            $('#prompt-skip-modal').modal('show');
        });
    });
}

var triggerCreateAuthority = function(draftauthority_id, callback) {
    $.get('{% url "create_authority_for_draft" %}?accession={{ accession.id }}&draftauthority=' + draftauthority_id, function(result) {
        callback(result.data.authority);
    });
}

var triggerSkipAuthority = function(draftauthority_id, callback) {
    $.get('{% url "skip_authority_for_draft" %}?accession={{ accession.id }}&draftauthority=' + draftauthority_id, function(result) {
        callback();
    });
}

var triggerResolveAuthority = function(draftauthority_id, authority_id) {
    $.get("{% url "resolve_authority" %}?authority=" + authority_id + "&draftauthority=" + draftauthority_id, function(result) {
        cleanupResolvedAuthority(draftauthority_id);
    })
}

var bindModal = function() {
    $('#prompt-resolve-modal').on('hide.bs.modal', function() {
        // cleanup;
        $('#authority-search').val('');
    });
}
</script>

<style>
.selected {
    background-color: orange;
}
</style>


<div class="modal fade" id="prompt-resolve-modal" tabindex="-1" role="dialog" aria-labelledby="prompt-resolve-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="prompt-resolve-modal-label">Resolve Draft Authority</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to resolve the draft authority <span class="text-warning" id="draftauthority_name"></span>
                    into the production authority record <span class="text-warning" id="authority_name"></span>.
                </p>
                <p>
                    <input name="bulkapply" id="bulkapply" type="checkbox"></input> Apply this resolution to <span class="label label-primary" id="similar_authority_count"></span>
                    similar draft authorities.
                </p>
                <input type="hidden" id="draftauthority-id-container" />
                <input type="hidden" id="authority-id-container" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-success" onclick="confirmResolveModal();">Resolve</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="prompt-create-modal" tabindex="-1" role="dialog" aria-labelledby="prompt-create-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="prompt-create-modal-label">Resolve Draft Authority</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to create a new production authority record based on the draft authority
                    <span class="text-warning" id="draftauthority_name-create"></span>.
                </p>
                <p>
                    <input name="bulkapply" id="bulkapply-create" type="checkbox"></input> Apply this resolution to <span class="label label-primary" id="similar_authority_count-create"></span>
                    similar draft authorities.
                </p>
                <input type="hidden" id="draftauthority-id-container-create" />
                <input type="hidden" id="authority-id-container-create" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-success" onclick="confirmCreateModal();">Resolve</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="prompt-skip-modal" tabindex="-1" role="dialog" aria-labelledby="prompt-skip-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="prompt-skip-modal-label">Resolve Draft Authority</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to skip resolving this draft authority with a production authority record:
                    <span class="text-warning" id="draftauthority_name-skip"></span>.
                </p>
                <p>
                    <input name="bulkapply" id="bulkapply-skip" type="checkbox"></input> Apply this resolution to <span class="label label-primary" id="similar_authority_count-skip"></span>
                    similar draft authorities.
                </p>
                <input type="hidden" id="draftauthority-id-container-skip" />
                <input type="hidden" id="authority-id-container-skip" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-success" onclick="confirmSkipModal();">Skip</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
