{% extends "curation/base.html" %}
{% load addcss %}
{% load staticfiles %}
{% load zotero_tags %}
{% load app_filters %}
{% load render_object %}

{% block content %}

<style>
.fixed {
    top: 60px;
    right: 15px;
    position: fixed;
    padding-left: 30px;
}
.fixed-bottom {
    bottom: -10px;
    position: fixed;
}
</style>

<div class="h3">
    <span class="text-warning">Zotero accession:</span> {{ accession.name }} <span class="small">Created by {{ accession.imported_by }} on {{ accession.imported_on }}</span>
</div>

{% comment %}
We need to better store errors and then this should be a simple if errors block.
But for now the list is stored as string :-p
{% endcomment %}
{% if accession.import_errors and accession.import_errors != '[]'%}
<div class="alert alert-danger" role="alert">
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><b> There were import errors!</b><br>
{{ accession.import_errors }}
</div>
{% endif %}

<div class="h4">Authority Resolution</div>

<a href="{% url "ingest_accession" accession.id %}?confirmed=true"
    class="btn btn-success">
    Ingest citations
</a>

{% if accession.resolved %}
<p class="text-danger">
    All authority records in this accession have been resolved.
</p>
{% else %}
<p class="text-info">
    Use the interface below to resolve authority records from this Zotero accession.
</p>
{% endif %}

<div class="container-fluid" id="main-container">
    <div class="row">
        <div class="col-xs-6" id="left-panel-column">
            {% for citation in draftcitations %}
            {% with citation.authority_relations.all|filter_unresolved_acrelation as acrelations %}
                <div class="panel" id="citation-panel-{{ citation.id }}">
                    <div class="panel-body">
                        <span class="pull-right btn-group">
                            <a class="btn btn-danger btn-xs glyphicon glyphicon-remove remove-citation"
                                data-citation="{{ citation.id }}">
                            </a>
                        </span>
                    <span class="h4">
                        <a href="{{ citation.get_absolute_url }}">{{ citation.title }}</a>
                    </span>
                    {% if citation.resolutions.count > 0 %}
                    <div class="h5">
                        Matched to <a class="text-warning" href="{{ citation.resolutions.first.to_instance.get_absolute_url }}">{{ citation }}</a>
                    </div>
                    {% endif %}
                    {% if citation.abstract %}
                    <p>
                        {{ citation.abstract|truncatechars:200 }}
                    </p>
                    {% endif %}
                    {% if citation.extra %}
                    <p class="strong">Extra</p>
                    <p>

                        {{ citation.extra|truncatechars:200 }}
                    </p>
                    {% endif %}
                    {% if matching_citations|get_from_dict:citation.id %}
                    <div>
                      <hr>
                      <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i>
 It looks like this citation might already be in the database:
                      {% if matching_citations|get_from_dict:citation.id %}
                      {% with matching_citations|get_from_dict:citation.id as matches %}
                        {% for cit, match_types in matches.items %}
                      <ul>
                        {% with cit.id|get_periodical_or_book_series as series %}
                        {% with cit|get_book_if_chapter as book %}
                        {% with cit|get_publisher as publisher %}
                        <li><small class="text-info">[{{ match_types|join:', ' }}]</small> {% if not cit.public %}<i class="fa fa-eye-slash" aria-hidden="true"></i> {% endif %} <a href="{% url 'curation:curate_citation' cit.id %}" target="_blank">[{{cit.get_type_controlled_display}}] {{ cit.title }}</a>{% if series %}. In: {{ series }}{% endif %}{% if book %}. In: {{ book }}{% endif %}{% if publisher %}. {{ publisher }}{% endif %} ({{ cit|get_pub_year }}) </li>
                      </ul>
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                      {% endfor %}
                      {% endwith %}
                      {% endif %}
                    </div>
                    {% endif %}

                    </div>
                    {% if acrelations.count > 0 %}
                    <ul class="list-group">

                        {% for acrelation in acrelations %}
                            {% with acrelation.authority as authority %}
                                <div class="list-group-item clearfix"
                                    id="authority-{{ authority.id }}"
                                    data-id="{{ authority.id }}"
                                    data-name="{{ authority.name }}"
                                    {% if authority.type_controlled == "PE" %}
                                    data-first-name="{{ authority.name_first }}"
                                    data-last-name="{{ authority.name_last }}"
                                    {% endif %}
                                    data-type="{{ authority.type_controlled }}">
                                    <a class="glyphicon glyphicon-pencil"
                                        href="{% url "change_draftauthority" authority.id %}?next={% url "retrieve_accession" accession.id %}"></a>
                                    <a class="draftauthority"
                                        id="authority-{{ authority.id }}-link"
                                        data-id="{{ authority.id }}"
                                        data-name="{{ authority.name }}"
                                        {% if authority.type_controlled == "PE" %}
                                        data-first-name="{{ authority.name_first }}"
                                        data-last-name="{{ authority.name_last }}"
                                        {% endif %}
                                        data-type="{{ authority.type_controlled }}">
                                        <span class="label label-primary">{{acrelation.get_type_controlled_display }} : {{ authority.get_type_controlled_display }}</span> <strong>{{ authority.name }}</strong>
                                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                    </a>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            {% endwith %}
            {% endfor %}

            {% if resolved_draftcitations %}
            <h4>The following citations have been matched with production citations:</h4>
            {% for citation in resolved_draftcitations %}
              <div class="panel">
                <div class="panel-body">
                  <span class="h4">
                      <a href="{% url 'curation:curate_citation' citation.id %}" target="_blank">[{{ citation.get_type_controlled_display }}] {{ citation.title }}</a>
                  </span>
                  <div class="h5" style="line-height: 20px;">
                      <span class="label label-warning">Matched to</span>
 <a class="text-warning" href="{{ citation.resolutions.first.to_instance.get_absolute_url }}">{{ citation }}</a>
                  </div>
                  <h5>The following citations link to this production citation:</h5>
                  <ul class="list-group">
                    {% for from in citation.relations_from.all %}
                      <div class="list-group-item clearfix">[{{from.get_type_controlled_display}}] {{ from.object.title }}</div>
                    {% endfor %}
                  </ul>
                  <ul class="list-group">
                    {% for to in citation.relations_to.all %}
                      <div class="list-group-item clearfix">{{ to.subject.title }}</div>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% endfor %}
            {% endif %}

        </div>
        <div class="col-xs-6" id="sticky">
            <div id="matching" style="visibility: hidden;">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation">
                        <a href="#search" aria-controls="search" role="tab" data-toggle="tab" id="search-tab">Search</a>
                    </li>
                    <li role="presentation">
                        <a href="#create" aria-controls="create" role="tab" class="resolve-with-create">Create</a>
                    </li>
                    <li role="presentation">
                        <a href="#skip" aria-controls="skip" role="tab" class="resolve-with-skip">Skip</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="search">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <input class="authority-search form-control"
                                                id="authority-search"
                                                placeholder="Search for an authority record..." />
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <select class="form-control" id="authority-search-filter-type" name="authority-search-filter-type">
                                            <option value="" selected="selected">---------</option>
                                            <option value="PE">Person</option>
                                            <option value="IN">Institution</option>
                                            <option value="TI">Time Period</option>
                                            <option value="GE">Geographic Term</option>
                                            <option value="SE">Serial Publication</option>
                                            <option value="CT">Classification Term</option>
                                            <option value="CO">Concept</option>
                                            <option value="CW">Creative Work</option>
                                            <option value="EV">Event</option>
                                            <option value="CR">Cross-reference</option>
                                            <option value="PU">Publisher</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <ul class="list-group" id="results-container" style="max-height: 400px; overflow-y: scroll;"></ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'zotero/js/spin.min.js' %}"></script>
<script src="{% static 'zotero/js/jquery.spin.js' %}"></script>
<script>
// Use this (with a click event) instead of an anchor.
var toggleTab = function(name) {
    $('.nav-tabs a[href="#' + name + '"]').tab('show')
}

$('#search-tab').on('shown.bs.tab', function(e) {
    console.log('Show search tab');
    $('#authority-search').focus();
});
</script>

<script>
//# sourceURL=accession.js
var opts = {
  lines: 13 // The number of lines to draw
, length: 4 // The length of each line
, width: 2 // The line thickness
, radius: 5 // The radius of the inner circle
, scale: 1 // Scales overall size of the spinner
, corners: 1 // Corner roundness (0..1)
, color: '#297CA6' // #rgb or #rrggbb or array of colors
, opacity: 0.5 // Opacity of the lines
, rotate: 0 // The rotation offset
, direction: 1 // 1: clockwise, -1: counterclockwise
, speed: 1 // Rounds per second
, trail: 62 // Afterglow percentage
, fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
, zIndex: 2e9 // The z-index (defaults to 2000000000)
, className: 'spinner' // The CSS class to assign to the spinner
, top: '7px' // Top position relative to parent
, left: '-15px' // Left position relative to parent
, shadow: false // Whether to render a shadow
, hwaccel: false // Whether to use hardware acceleration
, position: 'relative' // Element positioning
}

var max_results = 20;

var selected_authority, selected_authority_name;

var format_citations = function(related_citations) {
    var _doc = '';
    related_citations.forEach(function(rel_cit) {
        _doc += "<div class='related-citation'>" + rel_cit + "</div>";
    })
    return _doc;
}

$('.draftauthority').click(function() {

    toggleTab('search');

    var elem = $(this);
    // elem.scrollTop();
    $('body').scrollTop(elem.offset().top - 250);
    $('.selected').removeClass('selected');

    elem.parent().addClass('selected');
    var draftauthority_id = elem.attr('data-id');

    selected_authority = draftauthority_id;
    selected_authority_name = elem.attr('data-name');
    selected_authority_type = elem.attr('data-type');
    selected_authority_first_name = elem.attr('data-first-name');
    selected_authority_last_name = elem.attr('data-last-name');

    bindCreateNew();
    bindSkip();

    // Reset search.
    $('#results-container').empty();
    $('#authority-search').val(selected_authority_name);
    $('#authority-search-filter-type').val(selected_authority_type);


    $('#authority-search').trigger('keyup');
    $('#matching').css('visibility', 'visible');

});

$(document).ready(function() {
    var lastSearch = $.now();
    var waiting = false;
    bindModal();

    $('#authority-search-filter-type').change(function(e) {
        $('#authority-search').trigger('keyup');
    });

    $('#authority-search').on('keyup', function(e) {
        if ($.now() - lastSearch < 500 || waiting) return;
        lastSearch = $.now();
        waiting = true;

        var query = $(this).val();
        var filter_type = $('#authority-search-filter-type').val();
        var search_endpoint = "{% url "curation:quick_and_dirty_authority_search" %}?show_inactive=false&max=" + String(max_results) + "&q=" + query;
        if (filter_type != "") {
            search_endpoint += "&type=" + filter_type;
        }

        $.ajax(search_endpoint, {
            failure: function(result) {
                waiting = false;
            },
            success: function(result) {
                waiting = false;
                $('#results-container').empty();
                result.results.forEach(function(suggestion) {
                    var description;
                    if (suggestion.description != null) {
                        description = ' | <span class="text-muted">' + suggestion.description + '</span>';
                    } else {
                        description = '';
                    }
                    var choice_elem = `
                        <li class="list-group-item search-result">
                            <div class="row">
                                <div class="col-xs-2">
                                    <span class="button-group button-group-md">
                                        <a class="glyphicon glyphicon-ok btn btn-md select-citation resolve-with-search"
                                            data-id="` + suggestion.id + `"
                                            data-name="` + suggestion.name + `"
                                            data-suggestion="` + suggestion.id + `"
                                            data-authority="` + selected_authority + `">
                                        </a>
                                    </span>
                                </div>
                                <div class="col-xs-10">
                                    <div class="h5">
                                        <a href="/curation/authority/` + suggestion.id + `/?tab=acrelations"
                                            class="search-authority-anchor"
                                            target="_blank"
                                            data-toggle="tooltip"
                                            data-container="body"
                                            data-html="true"
                                            data-placement="left"
                                            data-title="` + format_citations(suggestion.related_citations) + `">` + suggestion.name + ` (` + suggestion.citation_count + `)</a>
                                    </div>
                                    <div>
                                        <span class="h5 text-danger">
                                            ` + suggestion.type_controlled + `
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>`;
                        // <span class="label label-default">` + r.datestring + `</span>
                        // ` + description + `
                    $('#results-container').append(choice_elem);
                });
                $('.search-authority-anchor[data-toggle="tooltip"]').tooltip({
                    template: '<div class="tooltip related-citations-tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
                });

                $('.select-citation').click(function() {
                    var selected = $(this);
                    var selected_id = selected.attr('data-id');
                    var selected_name = selected.attr('data-name');
                    $('#results-container').empty();
                    $('#authority-search').val(selected_name);
                    $('#id_acrelation-name_for_display_in_citation').val(selected_name);
                    $('#id_acrelation-authority').val(selected_id);
                });
                bindSearchSelect();
            }
        });
    });

    {% if draft_authority_id and resolved_authority_id %}
    resolveAndCleanupAuthorties("{{ draft_authority_id }}", "{{ resolved_authority_id }}");
    {% endif %}
});

function resolveAndCleanupAuthorties(draftauthority_id, created_authority_id) {
  triggerResolveAuthority(draftauthority_id, created_authority_id);
  getSimilarAuthorities(draftauthority_id, function(count, ids) {

      //console.log('create a new authority:: apply resolution to ' + ids.length + ' other DraftAuthority records');

      ids.forEach(function(di) {
          triggerResolveAuthority(di, created_authority_id);
      });
  });

  cleanupResolvedAuthority(draftauthority_id);
}

var selectNextAuthority = function() {
    $('.draftauthority').first().trigger('click');
}

var cleanupResolvedAuthority = function(draftauthority_id) {
    $("#authority-" + draftauthority_id).remove();
    $('#matching').css('visibility', 'hidden');
    selectNextAuthority();
}


//
var bindSuggestions = function() {
    $('.resolve-with-suggestion').click(function(e) {
        var suggestElem = $(this);
        var suggestion_id = suggestElem.attr('data-suggestion'),
            draftauthority_id = suggestElem.attr('data-authority'),
            suggestion_name = suggestElem.attr('data-name');

        promptResolveModal(draftauthority_id, suggestion_id, suggestElem.attr('data-name'));
        // modal -> resolve.
        // triggerResolveAuthority(draftauthority_id, suggestion_id);
    });
}

var bindSearchSelect = function() {
    $('.resolve-with-search').click(function(e) {
        var suggestElem = $(this);
        var suggestion_id = suggestElem.attr('data-suggestion'),
            draftauthority_id = suggestElem.attr('data-authority'),
            suggestion_name = suggestElem.attr('data-name');
        promptResolveModal(draftauthority_id, suggestion_id, suggestElem.attr('data-name'));
    });
}



var getSimilarAuthorities = function(draftauthority_id, callback) {
    $.get('{% url "similar_authorities" %}?draftauthority=' + draftauthority_id + '&accession={{ accession.id }}', function(result) {
        callback(result.data.count, result.data.draftauthorities);
    });
}

var promptResolveModal = function(draftauthority_id, suggestion_id, sname) {
    getSimilarAuthorities(draftauthority_id, function(count, ids) {
        $('#draftauthority-id-container').val(draftauthority_id);
        $('#authority-id-container').val(suggestion_id);
        $('#similar_authority_count').text(count);
        $('#draftauthority_name').text(selected_authority_name);
        $('#authority_name').text(sname);
        $('#prompt-resolve-modal').modal('show');
    });
}

var confirmResolveModal = function() {
    $('#prompt-resolve-modal').modal('hide');
    var draftauthority_id = $('#draftauthority-id-container').val();
    var suggestion_id = $('#authority-id-container').val();
    triggerResolveAuthority(draftauthority_id, suggestion_id);

    var applyToSimilar = $('#bulkapply').val();
    if (applyToSimilar) {
        getSimilarAuthorities(draftauthority_id, function(count, ids) {
            ids.forEach(function(di) {
                triggerResolveAuthority(di, suggestion_id);
            });
        });
    }
    $('#bulkapply').val(false);
}


/**
  *  Execute resolution through creation of a new production authority record.
  */
var confirmCreateModal = function() {
    //console.log('create a new authority:: confirmed');
    var authority_name = $('#draftauthority_name_edit-create').val();
    var authority_first_name = $('#draftauthority_first_name_edit-create').val();
    var authority_last_name = $('#draftauthority_last_name_edit-create').val();
    $('#prompt-create-modal').modal('hide');
    var draftauthority_id = $('#draftauthority-id-container-create').val();
    triggerCreateAuthority(draftauthority_id, authority_name, authority_first_name, authority_last_name, function(created_authority_id) {
        console.log('create a new authority:: done');
        getSimilarAuthorities(draftauthority_id, function(count, ids) {

            //console.log('create a new authority:: apply resolution to ' + ids.length + ' other DraftAuthority records');

            ids.forEach(function(di) {
                triggerResolveAuthority(di, created_authority_id);
            });
        });

        cleanupResolvedAuthority(draftauthority_id);
    });

}

var confirmSkipModal = function() {
    $('#prompt-skip-modal').modal('hide');
    var draftauthority_id = $('#draftauthority-id-container-skip').val();
    triggerSkipAuthority(draftauthority_id, function() {
        getSimilarAuthorities(draftauthority_id, function(count, ids) {
            ids.forEach(function(di) {
                triggerSkipAuthority(di, function() {
                    cleanupResolvedAuthority(di)
                });
            });
        });

        cleanupResolvedAuthority(draftauthority_id);
    });

}

var bindCreateNew = function() {
    $('.resolve-with-create').click(function(e) {
      window.location = "{% url 'curation:create_authority' %}?zotero_accession={{ accession.id }}&name=" + selected_authority_name + "&draft_authority_id=" + selected_authority + "&selected_authority_type=" + selected_authority_type;
    });
}


var bindSkip = function() {
    $('.resolve-with-skip').click(function(e) {
        var suggestElem = $(this);
        getSimilarAuthorities(selected_authority, function(count, ids) {
            $('#draftauthority-id-container-skip').val(selected_authority);
            // $('#authority-id-container-create').val(suggestion_id);
            $('#similar_authority_count-skip').text(count);
            $('#draftauthority_name-skip').text(selected_authority_name);
            // $('#authority_name-create').text(sname);
            $('#prompt-skip-modal').modal('show');
        });
    });
}

var triggerCreateAuthority = function(draftauthority_id, authority_name, authority_first_name, authority_last_name, callback) {
    $.get('{% url "create_authority_for_draft" %}?accession={{ accession.id }}&authority_name=' + authority_name + '&authority_first_name=' + authority_first_name + '&authority_last_name=' + authority_last_name + '&draftauthority=' + draftauthority_id, function(result) {
        callback(result.data.authority);
    });
}

var triggerSkipAuthority = function(draftauthority_id, callback) {
    $.get('{% url "skip_authority_for_draft" %}?accession={{ accession.id }}&draftauthority=' + draftauthority_id, function(result) {
        callback();
    });
}

var triggerResolveAuthority = function(draftauthority_id, authority_id) {
    $.get("{% url "resolve_authority" %}?authority=" + authority_id + "&draftauthority=" + draftauthority_id, function(result) {
        cleanupResolvedAuthority(draftauthority_id);
    })
}

var bindModal = function() {
    $('#prompt-resolve-modal').on('hide.bs.modal', function() {
        // cleanup;
        $('#authority-search').val('');
    });
}


</script>

<style>
.selected {
    background-color: orange;
}.related-citations-tooltip {
    background-color: white;
    text-align: left;
    border: 1px solid #ccc;
}

.related-citations-tooltip .tooltip-inner {
    background-color: white;
    color: black;
    text-align: left;
    max-width: 300px;
    width: 300px;
}

.related-citations-tooltip .tooltip-inner p {
    width: 300px;
}

.related-citation {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 8pt;
}
</style>


<div class="modal fade" id="prompt-resolve-modal" tabindex="-1" role="dialog" aria-labelledby="prompt-resolve-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="prompt-resolve-modal-label">Resolve Draft Authority</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to resolve the draft authority <span class="text-warning" id="draftauthority_name"></span>
                    into the production authority record <span class="text-warning" id="authority_name"></span>.
                </p>
                <p>
                    <input name="bulkapply" id="bulkapply" type="checkbox"></input> Apply this resolution to <span class="label label-primary" id="similar_authority_count"></span>
                    similar draft authorities.
                </p>
                <input type="hidden" id="draftauthority-id-container" />
                <input type="hidden" id="authority-id-container" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-success" onclick="confirmResolveModal();">Resolve</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="prompt-create-modal" tabindex="-1" role="dialog" aria-labelledby="prompt-create-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="prompt-create-modal-label">Resolve Draft Authority</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to create a new production authority record based on the draft authority
                    <span class="text-warning" id="draftauthority_name-create"></span>.
                </p>
                <p>
                  If needed, you can change the authority name:<br>
                  <input type="text" id="draftauthority_name_edit-create" class="form-control" />
                  <span id="person_info">
                    <br>
                    First name: <input type="text" id="draftauthority_first_name_edit-create" class="form-control" /><br>
                    Last name: <input type="text" id="draftauthority_last_name_edit-create" class="form-control" />
                  </span>
                </p>
                <p>
                    <input name="bulkapply" id="bulkapply-create" type="checkbox"></input> Apply this resolution to <span class="label label-primary" id="similar_authority_count-create"></span>
                    similar draft authorities.
                </p>
                <input type="hidden" id="draftauthority-id-container-create" />
                <input type="hidden" id="authority-id-container-create" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-success" onclick="confirmCreateModal();">Resolve</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="prompt-skip-modal" tabindex="-1" role="dialog" aria-labelledby="prompt-skip-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="prompt-skip-modal-label">Resolve Draft Authority</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to skip resolving this draft authority with a production authority record:
                    <span class="text-warning" id="draftauthority_name-skip"></span>.
                </p>
                <p>
                    <input name="bulkapply" id="bulkapply-skip" type="checkbox"></input> Apply this resolution to <span class="label label-primary" id="similar_authority_count-skip"></span>
                    similar draft authorities.
                </p>
                <input type="hidden" id="draftauthority-id-container-skip" />
                <input type="hidden" id="authority-id-container-skip" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-success" onclick="confirmSkipModal();">Skip</button>
            </div>
        </div>
    </div>
</div>


<script>
// If the window scrolls below the top of the main content, the right-
//  hand column should scroll with it.
function sticky_relocate() {

    var window_top = $(window).scrollTop(),
        window_width = $(window).width(),
        window_height = $(window).height(),
        div_top = $('#main-container').offset().top;

    // If the list of unresolved authority records (left) is shorter than the
    //  viewport, fixing and unfixing the right-hand panel during scrolling
    //  will result in a "bounce" behavior. There's no reason to fix the right
    //  panel in this case anyway, because all of the unresolved authority
    //  records are visible without scrolling down.
    if (window.innerHeight > $('#left-panel-column').height()) return;

    // If the window is narrow, the action panel is overlayed on the
    //  text at the bottom of the window.
    if (window_width < 768) {   // Bootstrap sm/xs breakpoint is 768px.
        $('#sticky').removeClass('fixed');
        $('#sticky').addClass('fixed-bottom');
        $('#sticky').addClass('col-xs-12');

        // The action panel should scale vertically with window height.
        // $('.action-body').css('max-height', window_height/4);

    // If the window is wide enough, the action panel stays on the far
    //  right, and sticks to the top of the window as the user scrolls.
    } else {
        // $('.action-body').css('max-height', 300);
        $('#sticky').removeClass('fixed-bottom');
        $('#sticky').removeClass('col-xs-12');

        if (window_top > div_top) {
            $('#sticky').addClass('fixed');

            // Setting position: fixed removes the element from the
            //  flow, so this applies the appropriate left-offset.
            $('#sticky').addClass('col-sm-offset-6');
        } else {
            // The user hasn't scrolled below the navbar, so we keep
            //  the action panel in the grid.
            $('#sticky').removeClass('fixed');
            $('#sticky').removeClass('col-sm-offset-6');

        }
    }
}

$(function() {
    $(window).scroll(sticky_relocate);
    $(window).resize(sticky_relocate);
    sticky_relocate();
});

$('.remove-citation').click(function() {
    var elem = $(this);
    var citation_id = elem.attr('data-citation');
    $.ajax('{% url "remove-draftcitation" %}?citation=' + citation_id, {
        failure: function(result) {
            console.log('whoops', result);
        },
        success: function(result) {
            $('#citation-panel-' + citation_id).remove();
        }
    });

    $()
});

</script>

{% endblock %}
