{% extends "isisdata/__base.html" %}
{% load i18n static %}
{% load addcss %}

{% block content %}
<div class="row col-sm-6 col-sm-offset-3" style="margin-top:105px;">
	<div id="password-reset" class="panel panel-default narrow center">
		<div class="panel-heading">
			<span class="h4">Change your password</span>
		</div>
		<form action="{% url 'account_change_password' %}" method="post" id="password-reset-form" class="form-horizontal" style="margin-bottom: 0px;">{% csrf_token %}

			<div class="panel-body">
				{% if form.errors and not form.non_field_errors %}
				<p class="errornote">
					{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
				</p>
				{% endif %}

				{% if form.non_field_errors %}
					{% for error in form.non_field_errors %}
					<div class="alert alert-danger" role="alert">
					  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					  <span class="sr-only">Error:</span>
					  {{ error|escape }}
					</div>
					{% endfor %}
				{% endif %}

				<div id="content-main">
						<div class="form-group">
							{% for error in form.oldpassword.errors %}
							<div class="alert alert-danger" role="alert">
							  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  <span class="sr-only">Error:</span>
							  {{ error|escape }}
							</div>
							{% endfor %}
							<label for="oldpassword" class="required control-label col-sm-4">{{ form.oldpassword.label }}:</label>
							<div class="col-sm-6">
								{{ form.oldpassword | addcss:"form-control" }}
							</div>
						</div>
						<div class="form-group">
							{% for error in form.password1.errors %}
							<div class="alert alert-danger" role="alert">
							  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  <span class="sr-only">Error:</span>
							  {{ error|escape }}
							</div>
							{% endfor %}
							<label for="password1" class="required control-label col-sm-4">{% trans 'New password:' %}</label>
							<div class="col-sm-6">
								{{ form.password1 | addcss:"form-control"}}
							</div>
						</div>
						<div class="form-group">
							{% for error in form.password2.errors %}
							<div class="alert alert-danger" role="alert">
							  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  <span class="sr-only">Error:</span>
							  {{ error|escape }}
							</div>
							{% endfor %}
							<label for="password2" class="required control-label col-sm-4">{% trans 'New password (again):' %}</label>
							<div class="col-sm-6">
								{{ form.password2 | addcss:"form-control"}}
							</div>
						</div>
						{% url 'account_reset_password' as password_reset_url %}
						{% if password_reset_url %}
						<div class="password-reset-link">
							<a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
						</div>
						{% endif %}

						<input name="next" type="hidden" value="{{next}}">



					<script type="text/javascript">
					document.getElementById('id_username').focus()
					</script>
				</div>
			</div>
			<div class="panel-footer clearfix">
				<div class="submit-row btn-group btn-group-sm pull-right">
					<input type="submit" class="btn btn-primary" value="{% trans 'Change' %}" />
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
