option_settings:
  #"aws:rds:dbinstance":
  #  DBEngineVersion: 9.4.7
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "isiscb.production_settings"
    #PYTHONPATH: "/opt/python/current/app/isiscb:$PYTHONPATH"

  "aws:elasticbeanstalk:container:python":
    WSGIPath: "isiscb/isiscb/wsgi.py"

option_settings:
    - namespace: aws:elasticbeanstalk:command
      option_name: Timeout
      value: 1800

Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-west-2-655333410217"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:

  /etc/nginx/nginx.conf:
    mode: "000400"
    owner: root
    group: root
    content: |
      #Adjusted Elastic Beanstalk Nginx Configuration File

      user                    nginx;
      error_log               /var/log/nginx/error.log warn;
      pid                     /var/run/nginx.pid;
      worker_processes        auto;
      worker_rlimit_nofile    32145;

      events {
        worker_connections  1024;
      }

      http {
        include       /etc/nginx/mime.types;
        default_type  application/octet-stream;

        log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                          '$status $body_bytes_sent "$http_referer" '
                          '"$http_user_agent" "$http_x_forwarded_for"';

        include       conf.d/*.conf;

        map $http_upgrade $connection_upgrade {
            default     "upgrade";
        }

        server {
            listen 80;
            server_name _;
            if ($http_x_forwarded_proto = 'http'){
              return 301 https://$host$request_uri;
            }

            # Include the Elastic Beanstalk generated locations
            include conf.d/elasticbeanstalk/*.conf;
        }
      }

container_commands:
  00_update_pip:
    command: "/bin/bash .ebextensions/scripts/07_update_pip.sh"
  01_migrate:
    command: "/bin/bash .ebextensions/scripts/01_migrate.sh"
    leader_only: true
  02_collectstatic:
    command: "/bin/bash .ebextensions/scripts/02_collectstatic.sh"
    leader_only: true
  03_createsu:
    command: "/bin/bash .ebextensions/scripts/03_createsu.sh"
    leader_only: true
  04_wsgipass:
    command: "/bin/bash .ebextensions/scripts/04_wsgipass.sh"
  05_create_log_file:
      command: touch /var/log/app_analyzer.log
  #06_change_permissions:
  #    command: chmod g+s /var/log/app_analyzer.log
  #07_change_owner:
  #    command: chown wsgi:wsgi /var/log/app_analyzer.log
