option_settings:
  #"aws:rds:dbinstance":
  #  DBEngineVersion: 9.4.7
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "isiscb.production_settings"
    #PYTHONPATH: "/opt/python/current/app/isiscb:$PYTHONPATH"

  "aws:elasticbeanstalk:container:python":
    WSGIPath: "isiscb/isiscb/wsgi.py"

option_settings:
    - namespace: aws:elasticbeanstalk:command
      option_name: Timeout
      value: 1800

Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-west-2-655333410217"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

container_commands:
  00_install_package:
    command: "dnf install libcurl4-gnutls-dev"
  00_update_pip:
    command: "/bin/bash .ebextensions/scripts/07_update_pip.sh"
  01_update_pip:
    command: "/bin/bash .ebextensions/scripts/01_pip_install.sh"
  02_migrate:
    command: "/bin/bash .ebextensions/scripts/01_migrate.sh"
    leader_only: true
  03_collectstatic:
    command: "/bin/bash .ebextensions/scripts/02_collectstatic.sh"
    leader_only: true
  04_createsu:
    command: "/bin/bash .ebextensions/scripts/03_createsu.sh"
    leader_only: true
  05_wsgipass:
    command: "/bin/bash .ebextensions/scripts/04_wsgipass.sh"
  06_create_log_file:
      command: touch /var/log/app_analyzer.log
  07_change_owner:
      command: chown webapp:webapp /var/log/app_analyzer.log
  
