container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python isiscb/manage.py migrate auth --noinput && python isiscb/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python isiscb/manage.py collectstatic --noinput"
    leader_only: true
  03_createsu:
    command: "source /opt/python/run/venv/bin/activate && python isiscb/manage.py createsu"
    leader_only: true
