packages:
  rpm:
    epel: https://download.postgresql.org/pub/repos/yum/reporpms/EL-8-x86_64/pgdg-redhat-repo-latest.noarch.rpm
  yum:
    git: []
    postgresql11-devel: []
    freetype-devel: []
    libpng-devel: []
    zlib-devel: []
    libjpeg-turbo-devel: []
    mod24_ssl : []
    openssl-devel: []
    libcurl: []
    libcurl-devel: []
