{% extends "curation/base.html" %}
{% load addcss %}

{% block content %}

<h1>AARelation Sets</h1>

{% if request.GET.type == 'success' %}
<div class="alert alert-success" role="alert">{{request.GET.msg}}</div>
{% endif %}

{% if request.GET.type == 'error' %}
<div class="alert alert-danger" role="alert">{{request.GET.msg}}</div>
{% endif %}

<div class="row">
  <div class="col-sm-12">
    <p>
    <a href="{% url 'curation:create_aarset' %}" class="btn btn-sm btn-primary">Create new set</a>
    </p>
    <table class="table table-striped">
      <tr>
        <th width="30%">Name</th>
        <th>Description</th>
        <th width="10%"></th>
      </tr>
      {% for set in sets %}
      <tr>
        <td><a href="{% url 'curation:view_aarset' set.id %}">{{ set.name }}</a></td>
        <td>{{ set.description }}</td>
        <td>
          <a style="padding-top:0px;" class="btn btn-link" href="{% url 'curation:edit_aarset' set.id %}"><i class="fa fa-pencil-square-o" title="Edit" aria-hidden="true"></i></a>
          <form style="display: inline;" action="{% url 'curation:delete_aarset' set.id %}" method="POST">
            {% csrf_token %}
            <button style="padding-top:0px;" class="btn btn-link" type="submit"><i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i></button>
          </form>
        </td>
      </tr>

      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
