{% extends "curation/list_view.html" %}
{% load addcss %}
{% load pagination_tags %}
{% load render_object %}
{% load permission_tags %}


{% block object_list %}
<script>
$('body').ready(function() {
    var form = $('#bulk-form');
    $('#bulk_change_submit').click(function() {
      form.attr('action', '{% url "curation:citation-bulk-action" %}');
      form.attr('target', '_blank');
      form.submit();
    })
});
</script>

<span class="pull-right" style="margin-right: 10px;">Count of total records: {{ result_count }}</span>
<form action="" method="POST" id="bulk-form" target="_blank">
    {% csrf_token %}

    <input type="hidden" name="objectType" value="{{ object_type }}">

    <a class="btn btn-primary btn-xs" href="{% url 'curation:create_authority' %}">Create new authority record</a>

    <input type="hidden" value="{{ filter_params }}" name="filters" />
    <a class="btn btn-primary btn-xs" href="#" id="export">
      <span class="glyphicon glyphicon-cloud-download"></span>
      Export
    </a>

    <input class="btn btn-success btn-xs" id="bulk_change_submit" type="submit" value="Bulk change" />

    <a class="btn btn-success btn-xs" href="#" id="bulk-change-csv">
      <span class="glyphicon glyphicon-cloud-upload"></span>
      Bulk Change (CSV)
    </a>

    <a class="btn btn-primary btn-xs" href="{% url 'curation:authority-bulk-select' %}">
      <i class="fa fa-check-circle" aria-hidden="true"></i> Bulk select
    </a>

    <span class="dropdown">
        <button class="btn btn-primary dropdown-toggle btn-xs" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-folder-open"></span>
            Authorities
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="small" href="#" id="collection-create"><span class="glyphicon glyphicon-certificate"></span> Create new collection</a></li>
            <li><a class="small" href="#" id="collection-add"><span class="glyphicon glyphicon-plus"></span> Add to existing collection</a></li>
            <li><a class="small" href="{% url "curation:authority-collections" %}" id="collections"><span class="glyphicon glyphicon-th-list"></span> List collections</a></li>
        </ul>
    </span>

    <table class="table table-responsive table-hover table-curation">
        <thead>
            <tr>
                <th style="width:20px;">
                    <input type="checkbox" name="select_all" id="select_all" />
                    <script>
                    $('#select_all').change(function(e) {
                        if ($(this).prop('checked')) {
                            $('.queryset-checkbox').prop('checked', true);
                        } else {
                            $('.queryset-checkbox').prop('checked', false);
                        }
                    });
                    </script>
                </th>
                <th width="2%"><i class="fa fa-thumbs-o-up" aria-hidden="true" title="Status"></i></th>
                <th width="5%">ID</th>
                <th width="5%">Type</th>
                <th>Name</th>
                <th>Dates</th>
                <th>Tracking</th>

            </tr>
        </thead>
        <tbody>
            {% for object in filter_list %}
            <tr class="{% if not object.public or not object|are_related_objects_for_authority_public %}notpublic{% endif %}">
                <td>
                    <input type="checkbox" name="queryset" class="queryset-checkbox" value="{{object.id}}" />
                </td>
                <td>
                  {% if object.record_status_value %}<span title="{{object.record_status_value|get_status_label}}">{{ object.record_status_value|get_status_label|cut_characters:2 }}</span>{% endif %}
                </td>
                <td>
                    <a href="{% url "curation:curate_authority" object.id %}?search={{ search_key }}&current={{ forloop.counter0|add:current_offset }}">{{ object.id }}</a>
                    {% if not object.public %}
                    <i class="fa fa-eye-slash" aria-hidden="true" title="This citation is not public."></i>
                    {% endif %}
                    {% if not object|are_related_objects_for_authority_public %}
                    <i class="fa fa-exclamation-circle" aria-hidden="true" title="At least one linked record is not public."></i>
                    {% endif %}
                    {% if object|is_public_inconsistent %}
                    <i class="fa fa-exclamation-triangle" aria-hidden="true" title="The public/record status fields are inconsistent."></i>
                    {% endif %}
                    {% if object.record_status_value == object.REDIRECT %}
                    <i class="fa fa-share" aria-hidden="true" title="This authority records redirects to another one."></i>
                    {% endif %}
                </td>
                <td>{{ object.type_controlled|get_authority_type_controlled_display }}</td>
                <td>{{ object.name|safe }}</td>
                <td>{{ object.tracking_state|get_authority_tracking_state_display }}</td>
            </tr>
            {% endfor %}
        </tbody>

        </thead>

    </table>
</form>
{% endblock %}

{% block filter_form %}
<style>
.control-label {
    font-size: 0.8em;
}
</style>
<form id="filter_form" class="form-horizontal clearfix" action="{% url 'curation:authority_list' %}" method="GET" style="margin-bottom: 0px; margin-top: 10px;">
    <div >
        <div class="col-sm-3">
          {% for error in objects.form.name.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          <div class="form-group form-group-xs clearable">
              <label class="control-label col-lg-2">{{ objects.form.name.label }}</label>
              <div class="col-lg-10">
                {{ objects.form.name|addcss:"form-control " }}
              </div>
          </div>

          {% for error in objects.form.classification_system.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          <div class="form-group form-group-xs clearable">
              <label class="control-label col-lg-2">Class.Syst.</label>
              <div class="col-lg-10">
                {{ objects.form.classification_system|addcss:"form-control " }}
              </div>
          </div>

          {% for error in objects.form.classification_code.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          <div class="form-group form-group-xs clearable">
              <label class="control-label col-lg-2">Clas.Code</label>
              <div class="col-lg-10">
                {{ objects.form.classification_code|addcss:"form-control " }}
              </div>
          </div>

          {% for error in objects.form.classification_hierarchy.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          <div class="form-group form-group-xs clearable">
              <label class="control-label col-lg-2">Clas.Hier.</label>
              <div class="col-lg-10">
                {{ objects.form.classification_hierarchy|addcss:"form-control" }}
              </div>
          </div>
        </div>
        <div class="col-sm-3">



            {% for error in objects.form.id.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group form-group-xs clearable">
                <label class="col-lg-2 control-label">{{ objects.form.id.label }}</label>
                <div class="col-lg-10">
                  {{ objects.form.id|addcss:"form-control " }}
                </div>
            </div>

            {% for error in objects.form.description.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group form-group-xs clearable">
                <label class="control-label col-lg-2">Descrip.</label>
                <div class="col-lg-10">
                  {{ objects.form.description|addcss:"form-control " }}
                </div>
            </div>

            {% for error in objects.form.linked_data.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group form-group-xs clearable">
                <label class="control-label col-lg-2" style="padding-right: 0px;">LD Type</label>
                <div class="col-lg-10">
                  {{ objects.form.linked_data|addcss:"form-control " }}
                </div>
            </div>




        </div>

        <div class="col-sm-3">

          {% for error in objects.form.type_controlled.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          <div class="form-group form-group-xs clearable">
              <label class="col-lg-2 control-label">{{ objects.form.type_controlled.label }}</label>
              <div class="col-lg-10">
                {{ objects.form.type_controlled|addcss:"form-control " }}
              </div>
          </div>

          {% for error in objects.form.record_status_value.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          <div class="form-group form-group-xs clearable">
              <label class="control-label col-lg-2">Status</label>
              <div class="col-lg-10">
                {{ objects.form.record_status_value|addcss:"form-control" }}
              </div>
          </div>

          {% for error in objects.form.tracking_state.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          <div class="form-group form-group-xs clearable">
              <label class="control-label col-lg-2">Tracking</label>
              <div class="col-lg-10">
                {{ objects.form.tracking_state|addcss:"form-control " }}
              </div>
          </div>
        </div>

        <div class="col-sm-3">
          {% for error in objects.form.belongs_to.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          <div class="form-group form-group-xs clearable">
              <label class="control-label col-lg-2">Database</label>
              <div class="col-lg-10">
                {{ objects.form.belongs_to|addcss:"form-control " }}
              </div>
          </div>

          {% for error in objects.form.in_collections.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          <div class="form-group form-group-xs clearable">
              <label class="control-label col-lg-2">Collection</label>
              <div class="col-lg-10">
                {{ objects.form.in_collections}}
                <input id="in_collections_input" placeholder="Type at least 3 characters to search" type="text" value="{{objects.collection_name}}" class="form-control">
              </div>
          </div>

          {% for error in objects.form.zotero_accession.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          <div class="form-group form-group-xs  clearable">
              <label class="control-label col-lg-2">Zotero</label>
              {{ objects.form.zotero_accession|addcss:"form-control" }}
              <div class="col-lg-10">
                <input id="zotero_accession_input" placeholder="Type at least 3 characters to search" type="text" class="form-control">
              </div>
          </div>


        </div>
    </div>

</form>
<script>
$(document).ready(function() {
    $('#clear-filters').on('click', function() {
        $('.form-group.clearable input').val('');
        $('.form-group.clearable select').val('');
    });

    /* in collection javascript */
    $('#in_collections_input').bootcomplete({
        url:'{% url 'curation:search-authority-collections' %}',
        minLength: 3,
        idFieldName: 'in_collections'
    });

    $('#in_collections_input').on('input', function() {
        if ($('#in_collections_input').val() == '') {
          $('#id_in_collections').val('');
        }
    });

    /* zotero accession javascript */
    $('#zotero_accession_input').bootcomplete({
        url:'{% url 'curation:search-zotero-accessions' %}',
        minLength: 3,
        idFieldName: 'zotero_accession'
    });

    $('#zotero_accession_input').on('input', function() {
        if ($('#zotero_accession_input').val() == '') {
          $('#id_zotero_accession').val('');
        }
    });

    var date = "{{ objects.zotero_accession_date|date:"c" }}";
    var append = "";
    if (date != null && date != "") {
      append = " (" + new Date().toLocaleString() + ")";
    }
    $('#zotero_accession_input').val("{{objects.zotero_accession_name}}" + append);

    var form = $('#bulk-form');
    $('#export').click(function() {
        form.attr('action', '{% url "curation:export-authorities" %}');
        form.attr('target', '_blank');
        form.submit();
    });

    $('#bulk-change-csv').click(function() {
        window.open('{% url "curation:bulk_change_from_csv" %}');
    });

    var form = $('#bulk-form');
    $('#collection-create').click(function() {
        form.attr('action', '{% url "curation:create-authority-collection" %}');
        form.submit();
    });
    $('#collection-add').click(function() {
        form.attr('action', '{% url "curation:add-authority-collection" %}');
        form.submit();
    });
});
</script>
{% endblock %}
