{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}

{% block content %}

<form class="form" action="." method="POST">
    {% csrf_token %}

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-5">
          <div class="row">
              <div class="col-md-12">
                <div class="form-group form-inline">
                  <strong class="text-warning">
                  {{ form.instance.id }}</strong> | <strong>ACR record</strong>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  {{ form.record_status_value|addcss:"form-control input-sm" }}
                  &nbsp;
                  {{ form.record_status_explanation|addcss:"form-control input-sm" }}
                </div>
                <div class="col-md-12">
                    {% for error in form.record_status_value.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    {% for error in form.record_status_explanation.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-3">
          <a href="{% url 'curate_authority' instance.id %}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
     Back to Authority</a>
        </div>
        <div class="col-md-4">
            <div class="btn-group pull-right">
                <a href="{% url 'curate_authority' instance.id %}" class="btn btn-sm btn-default">Cancel</a>
                <input type="submit" value="Save" class="btn btn-sm btn-success" />
                <a href="#"
                  class="btn btn-danger btn-sm delete-acrelation"
                  acrelation-id="{{ acrelation.id }}"
                  acrelation-title="{{ acrelation.citation|get_citation_title|safe }}">
                  Delete
                </a>
            </div>
        </div>
      </div>

      <div class="container-fluid form-horizontal">
          <div class="row">
              <div class="col-sm-6">
                  {% for error in form.name_for_display_in_citation.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                  <div class="form-group">
                      <label class="col-md-4">{{ form.name_for_display_in_citation.label }}</label>
                      <div class="col-md-8">
                        {{ form.name_for_display_in_citation|addcss:"form-control" }}
                      </div>
                  </div>

                  {% for error in form.type_controlled.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                  <div class="form-group">
                      <label class="col-md-4">{{ form.type_controlled.label }}</label>
                      <div class="col-md-8">
                        {{ form.type_controlled|addcss:"form-control" }}
                      </div>
                  </div>

                  {% for error in form.type_broad_controlled.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                  <div class="form-group">
                      <label class="col-md-4">{{ form.type_broad_controlled.label }}</label>
                      <div class="col-md-8">
                        {{ form.type_broad_controlled|addcss:"form-control" }}
                      </div>
                  </div>


                  {% for error in form.data_display_order.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                  <div class="form-group">
                      <label class="col-md-4">{{ form.data_display_order.label }}</label>
                      <div class="col-md-8">
                        {{ form.data_display_order|addcss:"form-control" }}
                      </div>
                  </div>

                  {% for error in form.confidence_measure.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                  <div class="form-group">
                      <label class="col-md-4">{{ form.confidence_measure.label }}</label>
                      <div class="col-md-8">
                        {{ form.confidence_measure|addcss:"form-control" }}
                      </div>
                  </div>


                  {% for error in form.administrator_notes.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                  <div class="form-group">
                      <label class="col-md-12">{{ form.administrator_notes.label }}</label>
                      <div class="col-md-12">
                        {{ form.administrator_notes|addcss:"form-control" }}
                      </div>
                  </div>
                  {{ form.authority }}
                  {{ form.citation }}
              </div>
            <div class="col-sm-6">

              <strong>Citation record: </strong><strong class="text-warning">{{ form.instance.citation.id }} &nbsp;&nbsp;
                {% if form.instance.citation %}
                <a href="{% url 'curate_citation' form.instance.citation.id %}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                {% endif %}
              </strong>

              {% if form.instance.citation %}
              <p>
                <span class="text-success">{{ form.instance.citation.get_type_controlled_display }}</span>
                <br>
                <em>{{ form.instance.citation.title }}</em>
                <br>
                {% with form.instance.citation|get_authors_editors as authors_editors %}
                {% if authors_editors %}
                            {{ authors_editors }}
                {% endif %}
                {% endwith %}

              </p>
              {% endif %}

                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text"
                                class="form-control"
                                name="citation-search"
                                id="citation-search">
                            <span class="input-group-btn">
                                <a
                                    class="btn glyphicon glyphicon-pencil enable-search-input"
                                    data-target="#citation-search">
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <ul class="list-group" id="results-container"></ul>

                <hr>

                <div>
                  <strong>Authority record: </strong><strong class="text-warning">{{ instance.id }}</strong> &nbsp;&nbsp;
                    <a href="{% url 'curate_authority' instance.id %}"><i class="fa fa-external-link" aria-hidden="true"></i> </a>

                <p>
                  <span class="text-success">{{ instance.get_type_controlled_display }}</span>
                  <br>
                  {{ instance.name }}
                  <br>


                </p>
            </div>
        </div>

    </div>

</form>


<script>
$('#id_language').multiSelect()
</script>

<script>

$(document).ready(function() {
    var citation_name = "{% if acrelation %}{{ acrelation.citation|get_citation_title|safe }}{% endif %}";
    var citation_id = "{% if acrelation %}{{ acrelation.citation.id }}{% endif %}";

    var citation_search_input = $('#citation-search');

    var unlockSearchInput = function(e) {
        var search_input = $($(this).attr('data-target'));
        search_input.removeAttr('disabled');
        search_input.trigger('keyup');
    }

    var triggerSearch = function(e) {
        var query = $(this).val();
        $.ajax("{% url "quick_and_dirty_citation_search" %}?q=" + query, {
            success: function(result) {
                var results_container = $('#results-container');
                results_container.empty();
                result.results.forEach(function(r) {
                    var choice_elem = '<li class="list-group-item search-result';
                    if (r.public != true) {
                      choice_elem += ' record-notpublic';
                    }
                    choice_elem += '">';
                    choice_elem += '<span class="button-group button-group-xs">';
                    choice_elem += '<a class="glyphicon glyphicon-ok btn btn-xs select-citation" data-id="' + r.id + '" data-name="' + r.title + '"></a>';
                    choice_elem += '<a href="'+ r.url + '" class="btn btn-xs glyphicon glyphicon-pencil" target="_blank"></a>';
                    choice_elem += '</span>';
                    choice_elem += ' <span class="label label-success">' + r.type + '</span> <strong>' + r.title + '</strong> <span class="label label-default">' + r.datestring + '</span>';
                    if (r.description != null) {
                        choice_elem += ' | <span class="text-muted">' + r.description + '</span>';
                    }
                    if (r.public != true) {
                      choice_elem += ' <i class="fa fa-eye-slash" title="The linked record is not public."></i>';
                    }
                    choice_elem += '</li>';

                    results_container.append(choice_elem);

                });

                $('.select-citation').click(function() {
                    var selected = $(this);
                    var selected_id = selected.attr('data-id');
                    var selected_name = selected.attr('data-name');
                    $('#results-container').empty();
                    citation_search_input.val(selected_name);
                    $('#id_acrelation-citation').val(selected_id);
                    citation_search_input.attr('disabled', true);
                });
            }
        });
    }

    if (citation_id.length > 0) {
        citation_search_input.val(citation_name);
        citation_search_input.attr('disabled', true);
    }
    citation_search_input.on('keyup', triggerSearch);
    $('.enable-search-input').click(unlockSearchInput);
});
</script>

{% if acrelation %}

<script>
$(document).ready(function() {
    $('.delete-acrelation').click(function() {
        var elem = $(this);
        var acrelation_id = elem.attr('acrelation-id');
        var acrelation_title = elem.attr('acrelation-title');
        $('#acrelation-id-container').val(acrelation_id);
        $('#delete-acrelation-target-name').html(acrelation_title);
        $('#delete-acrelation-modal').modal('show');
    });

});

var delete_acrelation = function() {
    $('#delete-acrelation-modal').modal('hide');
    var acrelation_id = $('#acrelation-id-container').val();
    if (acrelation_id) {
        window.location.replace("{% url "delete_acrelation_for_authority" instance.id acrelation.id %}?confirm=true");
    }
}
</script>


<!-- Modal -->
<div class="modal fade" id="delete-acrelation-modal" tabindex="-1" role="dialog" aria-labelledby="delete-acrelation-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-acrelation-modal-label">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to delete an authority-citation relation with <span class="text-warning" id="delete-acrelation-target-name"></span>. Deletion cannot be undone!
                </p>
                <p>
                    This will not delete the related citation itself, only the relation between the citation and this authority.
                </p>

                <input type="hidden" id="acrelation-id-container" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-danger" onclick="delete_acrelation();">Delete forever</button>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
