{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}

{% block content %}

<form id="acrelation_form" class="form" action="." method="POST">
    {% csrf_token %}

    <input type="hidden" name="search" value="{{ search_key }}">
    <input type="hidden" name="current" value="{{ current_index }}">

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-5">
          <div class="row">
              <div class="col-md-12">
                <div class="form-group form-inline">
                  <strong class="text-warning">
                  {{ form.instance.id }}</strong> | <strong>ACR record</strong>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  {{ form.record_status_value|addcss:"form-control input-sm" }}
                  &nbsp;
                  {{ form.record_status_explanation|addcss:"form-control input-sm" }}
                </div>
                <div class="col-md-12">
                    {% for error in form.record_status_value.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    {% for error in form.record_status_explanation.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-3">
          <a href="{% url 'curation:curate_authority' instance.id %}?search={{ search_key }}&current={{ current_index }}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
     Back to Authority</a>
        </div>
        <div class="col-md-4">
            <div class="btn-group pull-right">
                <a href="{% url 'curation:curate_authority' instance.id %}?search={{ search_key }}&current={{ current_index }}" class="btn btn-sm btn-default">Cancel</a>
                <a href="#" class="btn btn-sm btn-success save-acrelation" >Save</a>
                <a href="#"
                  class="btn btn-danger btn-sm delete-acrelation"
                  acrelation-id="{{ acrelation.id }}"
                  acrelation-title="{{ acrelation.citation|get_citation_title|safe }}">
                  Delete
                </a>
            </div>
        </div>
      </div>

      <div class="container-fluid form-horizontal">
          <div class="row">
              <div class="col-sm-6">
                  {% for error in form.name_for_display_in_citation.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                  <div class="form-group">
                      <label class="col-md-4">{{ form.name_for_display_in_citation.label }}</label>
                      <div class="col-md-8">
                        {{ form.name_for_display_in_citation|addcss:"form-control" }}
                      </div>
                  </div>

                  {% for error in form.type_controlled.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                  <div class="form-group">
                      <label class="col-md-4">{{ form.type_controlled.label }}</label>
                      <div class="col-md-8">
                        {{ form.type_controlled|addcss:"form-control" }}
                      </div>
                  </div>


                  {% for error in form.data_display_order.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                  <div class="form-group">
                      <label class="col-md-4">{{ form.data_display_order.label }}</label>
                      <div class="col-md-8">
                        {{ form.data_display_order|addcss:"form-control" }}
                      </div>
                  </div>

                  {% for error in form.confidence_measure.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                  <div class="form-group">
                      <label class="col-md-4">{{ form.confidence_measure.label }}</label>
                      <div class="col-md-8">
                        {{ form.confidence_measure|addcss:"form-control" }}
                      </div>
                  </div>


                  {% for error in form.administrator_notes.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                  <div class="form-group">
                      <label class="col-md-12">{{ form.administrator_notes.label }}</label>
                      <div class="col-md-12">
                        {{ form.administrator_notes|addcss:"form-control" }}
                      </div>
                  </div>
                  {{ form.authority }}
                  {{ form.citation }}
              </div>
            <div class="col-sm-6">

              <div class="text-right">
                <a href="{% url 'curation:create_citation' %}" target="_blank"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add new citation</a>
              </div>

              <div id="citation_info_container">
                <div id="citation_info">
                  <strong>Citation record: </strong><strong class="text-warning"><span class="show_id">{{ form.instance.citation.id }}</span> &nbsp;&nbsp;
                    <a class="link_to_citation" {% if form.instance.citation %}href="{% url 'curation:curate_citation' form.instance.citation.id %}"{% endif %}><i class="fa fa-external-link" aria-hidden="true"></i></a>
                  </strong>

                  <p>
                    <span id="citation_type_full" data-code-type="{% if form.instance.citation %}{{ form.instance.type_controlled }}{% endif %}" class="text-success show_type_controlled">{% if form.instance.citation %}
                    {{ form.instance.citation.get_type_controlled_display }}{% endif %}</span>
                    <br>
                    <em  class="show_title">{% if form.instance.citation %}
                    {{ form.instance.citation.title }}{% endif %}</em>
                    <br>
                    <span class="show_authors">
                    {% if form.instance.citation %}
                    {% with form.instance.citation|get_authors_editors as authors_editors %}
                    {% if authors_editors %}
                          {{ authors_editors }}
                    {% endif %}
                    {% endwith %}
                    {% endif %}
                    </span>

                  </p>
                </div>
              </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text"
                                class="form-control"
                                name="citation-search"
                                id="citation-search">
                            <span class="input-group-btn">
                                <a
                                    class="btn glyphicon glyphicon-pencil enable-search-input"
                                    data-target="#citation-search">
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <ul class="list-group" id="results-container"></ul>

                <hr>

                <div id="authority_info">
                  <strong>Authority record: </strong><strong class="text-warning">{{ instance.id }}</strong> &nbsp;&nbsp;
                    <a href="{% url 'curation:curate_authority' instance.id %}"><i class="fa fa-external-link" aria-hidden="true"></i> </a>

                <p>
                  <span id="authority_type_full" {% if form.instance.authority %}data-code-type="{{ form.instance.authority.type_controlled }}"{% endif %} class="text-success">{{ instance.get_type_controlled_display }}</span>
                  <br>
                  {{ instance.name }}
                  <br>


                </p>
            </div>
        </div>

    </div>

</form>

<div class="modal fade" id="save_confirm_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i style="color:#e8a603" class="fa fa-exclamation-triangle" aria-hidden="true"></i> ACRelation Incomplete</h4>
      </div>
      <div class="modal-body">
        <p id="modal_text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel Save</button>
        <button id="save_confirmed" type="button" class="btn btn-default">Yes, Save!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$('#id_language').multiSelect()
</script>

<script>
//# sourceURL=script.js
$(document).ready(function() {
    var INITIAL_MAX_RESULT = 20;
    var max_results = INITIAL_MAX_RESULT;

    var citation_name = "{% if acrelation %}{{ acrelation.citation|get_citation_title|safe }}{% endif %}";
    var citation_id = "{% if acrelation %}{{ acrelation.citation.id }}{% endif %}";

    var citation_search_input = $('#citation-search');

    var unlockSearchInput = function(e) {
        var search_input = $($(this).attr('data-target'));
        search_input.removeAttr('disabled');
        search_input.trigger('keyup');
    }

    var searchTimer = 0;
    var triggerSearch = function(e) {
        if (searchTimer) {
            clearTimeout(searchTimer);
        }

        searchTimer = setTimeout(function() {
          var query = citation_search_input.val();
          $.ajax("{% url "curation:quick_and_dirty_citation_search" %}?max=" + max_results + "&q=" + query, {
              failure: function(result) {
                  // do nothing
              },
              success: function(result) {
                  var results_container = $('#results-container');
                  results_container.empty();
                  result.results.forEach(function(r) {
                      var choice_elem = '<li class="list-group-item search-result';
                      if (r.public != true) {
                        choice_elem += ' record-notpublic';
                      }
                      choice_elem += '">';
                      choice_elem += '<span class="button-group button-group-xs">';
                      choice_elem += '<a class="glyphicon glyphicon-ok btn btn-xs select-citation" data-id="' + r.id + '" data-name="' + r.title + '" data-authors="' + r.authors + '" data-type="' + r.type +'" data-type-code="' + r.type_code + '"></a>';
                      choice_elem += '<a href="'+ r.url + '" class="btn btn-xs glyphicon glyphicon-pencil" target="_blank"></a>';
                      choice_elem += '</span>';
                      choice_elem += ' <span class="label label-success">' + r.type + '</span> <strong>' + r.title + '</strong> <span class="label label-default">' + r.datestring + '</span>';
                      if (r.description != null) {
                          choice_elem += ' | <span class="text-muted">' + r.description + '</span>';
                      }
                      if (r.public != true) {
                        choice_elem += ' <i class="fa fa-eye-slash" title="The linked record is not public."></i>';
                      }
                      choice_elem += '</li>';

                      results_container.append(choice_elem);

                  });

                  if (result.results.length == max_results) {
                    var load_more = `
                      <li class="list-group-item search-result">
                        <div class="text-right" id="load-more"><a>Load more...</a></div>
                      </li>
                    `;
                    results_container.append(load_more);
                    $('#load-more').click(function() {
                        max_results += 10;
                        triggerSearch();
                    });
                  }

                  $('.select-citation').click(function() {
                      var selected = $(this);
                      var selected_id = selected.attr('data-id');
                      var selected_name = selected.attr('data-name');
                      var selected_authors = selected.attr('data-authors');
                      var selected_type = selected.attr('data-type');
                      var selected_type_code = selected.attr('data-type-code');
                      var link = "{% url 'curation:citation_list' %}" + selected_id;

                      $('#results-container').empty();
                      citation_search_input.val(selected_name);
                      $('#id_acrelation-citation').val(selected_id);
                      citation_search_input.attr('disabled', true);

                      var parentCont = $("#citation_info");

                      parentCont.find(".show_id").html(selected_id);
                      parentCont.find(".show_title").html(selected_name);
                      parentCont.find(".show_authors").html(selected_authors);
                      parentCont.find(".show_type_controlled").html(selected_type);
                      parentCont.find(".show_type_controlled").attr("data-code-type", selected_type_code);
                      parentCont.find(".link_to_citation").attr("href", link).removeClass("hidden");
                  });
              }
          });
        }, 500);
    }

    if (citation_id.length > 0) {
        citation_search_input.val(citation_name);
        citation_search_input.attr('disabled', true);
    }
    citation_search_input.on('keyup', function() {
        max_results = INITIAL_MAX_RESULT;
        triggerSearch();
    });
    $('.enable-search-input').click(unlockSearchInput);

    $('.save-acrelation').click(function() {
      var authority_id = $('#id_acrelation-authority').val();
      var citation_id = $('#id_acrelation-citation').val();

      var possible_authority_types = {
        'AU':['PE', "IN"],
        'ED':['PE', "IN"],
        'CO':['PE'],
        'AD':['PE'],
        'TR':['PE'],
        'CM':['PE'],
        "SU":['CO', "TI", "PE", "GE", "CR", "IN"],
        "CA":["CT"],
        "PU":["IN"],
        "SC":["IN"],
        "PE":["SE"]
      };

      var possible_citation_types = {
        'AD':['TH'],
        'CM':["TH"]
      };

      if (citation_id == '') {
        $('#modal_text').text("You did not select a citation for this ACRelation. Are you sure you want to save?");
        $('#save_confirm_modal').modal('show');
        return;
      }
      if (authority_id == '') {
        $('#modal_text').text("You did not select an authority for this ACRelation. Are you sure you want to save?");
        $('#save_confirm_modal').modal('show');
        return;
      }

      var acrel_type = $('#id_acrelation-type_controlled').val();
      var acrel_type_full = $('#id_acrelation-type_controlled option:selected').text();
      var accepted_types = possible_authority_types[acrel_type];
      var selected_type = $('#authority_type_full').attr('data-code-type');
      var selected_type_full = $("#authority_type_full").text();

      if (accepted_types != undefined && !accepted_types.includes(selected_type)) {
        $('#modal_text').text("You selected '" + acrel_type_full + "' as relationship type but the authority is of type '" + selected_type_full + "'. Are you sure you want to save?");
        $('#save_confirm_modal').modal('show');
        return;
      }

      var accepted_citation_types = possible_citation_types[acrel_type];
      var selected_citation_type = $("#citation_type_full").attr("data-type-code");
      var selected_citation_type_full = $("#citation_type_full").text();
      if (accepted_citation_types != undefined && !accepted_citation_types.includes(selected_citation_type)) {
        $('#modal_text').text("You selected '" + acrel_type_full + "' as relationship type but the citation of this ACRelation is of type '" + selected_citation_type_full + "'. Are you sure you want to save?");
        $('#save_confirm_modal').modal('show');
        return;
      }

      $('#acrelation_form').submit();

    });

    $('#save_confirmed').click(function() {
      $('#acrelation_form').submit();
    });
});
</script>

{% if acrelation %}

<script>
$(document).ready(function() {
    $('.delete-acrelation').click(function() {
        var elem = $(this);
        var acrelation_id = elem.attr('acrelation-id');
        var acrelation_title = elem.attr('acrelation-title');
        $('#acrelation-id-container').val(acrelation_id);
        $('#delete-acrelation-target-name').html(acrelation_title);
        $('#delete-acrelation-modal').modal('show');
    });

});

var delete_acrelation = function() {
    $('#delete-acrelation-modal').modal('hide');
    var acrelation_id = $('#acrelation-id-container').val();
    if (acrelation_id) {
        window.location.replace("{% url "curation:delete_acrelation_for_authority" instance.id acrelation.id %}?confirm=true&search={{ search_key }}&current={{ current_index }}");
    }
}
</script>


<!-- Modal -->
<div class="modal fade" id="delete-acrelation-modal" tabindex="-1" role="dialog" aria-labelledby="delete-acrelation-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-acrelation-modal-label">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to delete an authority-citation relation with <span class="text-warning" id="delete-acrelation-target-name"></span>. Deletion cannot be undone!
                </p>
                <p>
                    This will not delete the related citation itself, only the relation between the citation and this authority.
                </p>

                <input type="hidden" id="acrelation-id-container" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-danger" onclick="delete_acrelation();">Delete forever</button>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
