{% extends "curation/base.html" %}
{% load staticfiles %}
{% load addcss %}

{% block content %}
<div class="h2">Create a new authority collection</div>

<p class="text-warning">
    This will create a new authority collection with {{ queryset.count }} authorities.
    You can add more authorities later.
</p>

<form class="form" action="?confirmed=true" method="POST">
    {% csrf_token %}

    {% for field in form %}
    {% if field.label in "'Authorities', 'Filters'" %}
    {{ field }}
    {% else %}

    {% for error in field.errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    <div class="form-group">
        <label>{{ field.label }}</label>
        {{ field|addcss:"form-control" }}
    </div>
    {% endif %}
    {% endfor %}
    <div class="text-center">
        <input type="submit" class="btn btn-success" value="Create" />
    </div>
</form>
{% endblock %}
