{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}
{% load permission_tags %}

{% block content %}

{% with instance|get_warnings_column_count_authority as column_count %}

{% if not instance.public %}
<div class="alert alert-danger alert-small col-md-{{column_count}}" role="alert">
<i class="fa fa-eye-slash" aria-hidden="true"></i> This citation is not public. It cannot be found through the public site.
</div>
{% endif %}

{% if not instance|are_related_objects_for_authority_public %}
<div class="alert alert-info alert-small col-md-{{column_count}}" role="alert">
  <i class="fa fa-exclamation-circle" aria-hidden="true"></i> At least one record linked to this citation is not public.
</div>
{% endif %}

{% if instance|is_public_inconsistent %}
<div class="alert alert-warning alert-small col-md-{{column_count}}" role="alert">
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
 There is a problem with this record. It has the status "Active" but it is not marked as public.
</div>
{% endif %}

{% endwith %}

<div id="authorityView" >

<form class="form" action="." method="POST">
    {% csrf_token %}

{% include "curation/fragment_authority_header.html" %}


<div class="row">
    <div class="col-sm-4">
        <div class="h4">Authority Details</div>
        <div class="row">
            <div class="col-xs-6">
                {% for error in form.type_controlled.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ form.type_controlled.label }}</label>
                    {{ form.type_controlled|addcss:"form-control input-sm"}}
                </div>
            </div>

            <div class="col-xs-6">
                {% for error in form.record_status_value.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ form.record_status_value.label }}</label>
                    {{ form.record_status_value|addcss:"form-control input-sm"}}
                </div>
            </div>
        </div>

        {{ form.redirect_to }}
        {% for error in form.redirect_to.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}

        <div class="form-group">
            <label>{{ form.redirect_to.label }}</label>

            <div class="input-group">
                <input type="text"
                    class="form-control input-sm"
                    name="authority-search"
                    autocomplete="off"
                    id="authority-search" />
                    <ul class="list-group" id="results-container"></ul>
                <span class="input-group-btn">
                    <span class="btn" id="remove_redirect">
                        <span class="glyphicon glyphicon-remove"
                            style="color: red;"></span>
                    </span>
                </span>
            </div>
        </div>

        {% for error in form.name.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div class="form-group">
            <label>{{ form.name.label }}</label>
            {{ form.name|addcss:"form-control input-sm"}}
        </div>

        {% for error in form.description.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div class="form-group">
            <label>{{ form.description.label }}</label>
            {{ form.description|addcss:"form-control input-sm"}}
        </div>

        {% for error in form.classification_system.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div class="form-group">
            <label>{{ form.classification_system.label }}</label>
            {{ form.classification_system|addcss:"form-control input-sm"}}
        </div>

        {% for error in form.classification_code.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div class="form-group">
            <label>{{ form.classification_code.label }}</label>
            {{ form.classification_code|addcss:"form-control input-sm"}}
        </div>

        {% for error in form.record_status_explanation.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div class="form-group">
            <label>{{ form.record_status_explanation.label }}</label>
            {{ form.record_status_explanation|addcss:"form-control input-sm"}}
        </div>

        {% for error in form.record_history.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div class="form-group">
            <label>{{ form.record_history.label }}</label>
            {{ form.record_history|addcss:"form-control input-sm"}}
        </div>
    </div>
    <div class="col-sm-8">
        <ul class="nav nav-tabs nav-justified curation-tabs" role="tablist">
            <li role="presentation"{% if not tab or tab == 'fields' %} class="active"{% endif %}>
                <a href="#fields" aria-controls="fields" role="tab" data-toggle="tab">Fields</a>
            </li>
            <li role="presentation"{% if tab == 'attributes' %} class="active"{% endif %}>
                <a href="#attributes" aria-controls="attributes" role="tab" data-toggle="tab">Attributes</a>
            </li>
            <li role="presentation"{% if tab == 'linkeddata' %} class="active"{% endif %}>
                <a href="#linkeddata" aria-controls="linkeddata" role="tab" data-toggle="tab">Linked Data</a>
            </li>
            <li role="presentation"{% if tab == 'acrelations' %} class="active"{% endif %}>
                <a href="#acrelations" aria-controls="acrelations" role="tab" data-toggle="tab">Related Citations</a>
            </li>
            <li role="presentation"{% if tab == 'aarelations' %} class="active"{% endif %}>
                <a href="#aarelations" aria-controls="aarelations" role="tab" data-toggle="tab">Related Authorities</a>
            </li>
            <li role="presentation"{% if tab == 'tracking' %} class="active"{% endif %}>
                <a href="#tracking" aria-controls="tracking" role="tab" data-toggle="tab">Tracking</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane{% if not tab or tab == 'fields' %} active{% endif %} panel-body" id="fields">

                <div class="col-sm-6">
                    {% if person_form %}
                    <div class="h4">Person Details</div>
                    {% for field in person_form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        {{ field|addcss:"form-control input-sm" }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="col-sm-6">
                  {% for error in form.belongs_to.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                  <div class="form-group">
                      <label>{{ form.belongs_to.label }}</label>
                      {{ form.belongs_to|addcss:"form-control input-sm" }}
                  </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'attributes' %} active{% endif %} panel-body" id="attributes">
                {% include "curation/fragment_authority_attributes.html" %}
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'linkeddata' %} active{% endif %} panel-body" id="linkeddata">
                {% include "curation/fragment_authority_linkeddata.html" %}
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'aarelations' %} active{% endif %} panel-body" id="aarelations">
                <ul class="list-group">
                {% for aarelation in instance.aarelation_set.all %}
                    <a class="list-group-item">
                        {% if instance.id == aarelation.subject.id %}
                        <span class="text text-warning">This <span class="label label-success">{{ instance.get_type_controlled_display }}</span></span>
                        {% else %}

                        The <span class="label label-success">{{ aarelation.subject.get_type_controlled_display }}</span> <span class="text text-warning">{{ aarelation.subject|get_citation_title }}</span>

                        {% endif %}
                        <span class="label label-primary">{{ aarelation.get_type_controlled_display }}</span>
                        {% if aarelation.type_free %}
                        <span class="label label-success">{{ aarelation.type_free }}</span>
                        {% endif %}

                        {% if instance.id == aarelation.object.id %}
                        <span class="text text-warning">this <span class="label label-success">{{ instance.get_type_controlled_display }}</span>.</span>
                        {% else %}
                        the <span class="label label-success">{{ aarelation.object.get_type_controlled_display }}</span> <span class="text text-warning">{{ aarelation.object|get_citation_title }}</span>.
                        {% endif %}


                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </a>
                {% endfor %}
                </ul>

            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'acrelations' %} active{% endif %} panel-body" id="acrelations">
                {% include "curation/fragment_authority_acrelations.html" %}
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'tracking' %} active{% endif %} panel-body" id="tracking">
                {% include "curation/fragment_authority_tracking.html" %}
            </div>
        </div>
    </div>

</div>

</form>
</div>

<script>
//# sourceURL=test.js
$('#id_language').multiSelect()

$(document).ready(function() {
    var lastSearch = $.now();
    var waiting = false;

    var authority_name = "{% if instance.redirect_to %}{{ instance.redirect_to.id}}: {{ instance.redirect_to.name }}{% endif %}";
    if (authority_name.length > 0) {
        $('#authority-search').val(authority_name);
        $('#authority-search').attr('title', authority_name);
    }
    $('#authority-search').on('keyup', function(e) {
        if ($.now() - lastSearch < 500 || waiting) return;
        lastSearch = $.now();
        waiting = true;

        var query = $(this).val();
        $.ajax("{% url "curation:quick_and_dirty_authority_search" %}?q=" + query, {
            failure: function(result) {
                waiting = false;
            },
            success: function(result) {
                waiting = false;

                $('#results-container').empty();
                result.results.forEach(function(r) {
                    var choice_elem = '<li class="list-group-item search-result';
                    if (r.public != true) {
                      choice_elem += ' record-notpublic';
                    }
                    choice_elem += '">';
                    choice_elem += '<span class="button-group button-group-xs">';
                    choice_elem += '<a class="glyphicon glyphicon-ok btn btn-xs select-citation" data-id="' + r.id + '" data-name="' + r.id + ': ' + r.name + '"></a>';
                    choice_elem += '<a href="'+ r.url + '" class="btn btn-xs glyphicon glyphicon-pencil" target="_blank"></a>';
                    choice_elem += '</span>';
                    choice_elem += ' <span class="label label-success">' + r.type + '</span> <strong>' + r.id + ': ' + r.name + '</strong> <span class="label label-default">' + r.datestring + '</span>';
                    if (r.description != null) {
                        choice_elem += ' | <span class="text-muted">' + r.description + '</span>';
                    }
                    if (r.public != true) {
                      choice_elem += ' <i class="fa fa-eye-slash" title="The linked record is not public."></i>';
                    }
                    choice_elem += '</li>';

                    $('#results-container').append(choice_elem);
                });

                $('.select-citation').click(function() {
                    var selected = $(this);
                    var selected_id = selected.attr('data-id');
                    var selected_name = selected.attr('data-name');
                    $('#results-container').empty();
                    $('#authority-search').val(selected_name);
                    $('#authority-search').attr('title', selected_name);
                    $('#id_authority-redirect_to').val(selected_id);
                });
            }
        });
    });

    $('#remove_redirect').on("click", function(e) {
        $('#id_authority-redirect_to').val("");
        $('#authority-search').val("");
    });
});
</script>
{% endblock %}
