{% load render_object %}

{% load rules %}
{% load permission_tags %}

{% with 'aarelation'|create_perm_tuple:instance.id as permTuple %}
{% test_rule 'can_update_authority_field' user permTuple as can_update %}
{% test_rule 'can_view_authority_field' user permTuple as can_view %}

{% for aarelation in aarelations %}
<li class="list-group-item aarelation aarelation-type-{{ aarelation.type_controlled }} {% if not aarelation.public %}notpublic{% endif %} {% if not aarelation.subject.public or not aarelation.object.public %}record-notpublic{% endif %}" id="aarelation-{{ aarelation.id }}">
  <div class="row">

  {% if can_update %}
  <a href="{% url "curation:update_aarelation_for_authority" instance.id aarelation.id %}?search={{ search_key }}&current={{ current_index }}" class="list_entry_link">
  {% endif %}
  <span class="col-sm-11">
    {% if aarelation.subject.id != instance.id %}
    {{ aarelation.subject }}

    {% if not aarelation.subject.public %}
    <i class="fa fa-eye-slash" title="The linked authority is not public."></i>
    {% endif %}

    {% else %}
    This <span class="label label-warning">Authority</span>
    {% endif %}

    <span class="label label-primary">{{ aarelation.get_type_controlled_display }}</span>
    {% if aarelation.type_broad_controlled %}
    <span class="label label-success">{{ aarelation.get_type_broad_controlled_display }}</span>
    {% endif %}

    {% if aarelation.object.id != instance.id %}
    {{ aarelation.object }}

    {% if not aarelation.object.public %}
    <i class="fa fa-eye-slash" title="The linked citation is not public."></i>
    {% endif %}

    {% else %}
    this <span class="label label-warning">Authority</span>

    {% endif %}
    {% if not aarelation.public %}
    <i class="fa fa-minus-square" aria-hidden="true" title="This aarelation is not public."></i>
    {% endif %}
  </span>
  {% if can_update %}
  </a>
  {% endif %}


  <span class="col-sm-1 text-right">
    {% if can_update %}
    <span class="button-group button-group-xs">
    <a class="glyphicon glyphicon-remove delete delete-aarelation"
            type="button"
            aarelation-id="{{ aarelation.id }}"
            aarelation-title="{{ aarelation.citation|get_citation_title|safe }}"></a>
    </span>
    {% endif %}
  </span>
</div>
</li>
{% endfor %}

{% if total_aarelations > end %}
<a class="btn btn-sm btn-default" style="margin-top: 15px" id="nextPage" href="{% url 'curation:authority_aarelations' instance.id %}?start={{end}}&nr=20"><i class="fa fa-refresh" aria-hidden="true"></i> Load more...</a>
{% endif %}

{% endwith %}
