{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}

{% block content %}
<hr />

<form class="form" action="." method="POST">
    {% csrf_token %}

    <div class="h3 text-warning">Editing Attribute for Authority:
        <div class="button-group pull-right">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
    <div class="h2">
        <a href="{% url "curate_authority" instance.id %}?tab=attributes" style="text-decoration:none;">
            <span class="glyphicon glyphicon-chevron-left"></span> {{ instance.name|safe }}
        </a>
    </div>
    <span class="h5"><ul style="list-style: none;">{{ instance|get_date_attributes }}</ul></span>
    <div class="h4 text-warning">{{ instance.id }}</div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {% for error in attribute_form.type_controlled.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ attribute_form.type_controlled.label }}</label>
                    {{ attribute_form.type_controlled|addcss:"form-control" }}
                </div>

                {% for error in attribute_form.description.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ attribute_form.description.label }}</label>
                    {{ attribute_form.description|addcss:"form-control" }}
                </div>
            </div>
            <div class="col-sm-6">
                {% if value_form %}
                    {% for field in value_form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        {{ field|addcss:"form-control" }}
                    </div>
                    {% endfor %}
                {% else %}
                <div id="value_form_container"></div>
                {% endif %}

                {% for error in attribute_form.value_freeform.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ attribute_form.value_freeform.label }}</label>
                    {{ attribute_form.value_freeform|addcss:"form-control" }}
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="button-group pull-right">
                <input type="submit" value="Save" class="btn btn-success" />
                {% if attribute %}<a href="{% url "delete_attribute_for_authority" instance.id attribute.id %}" class="btn btn-danger">Delete</a>{% endif %}
            </div>
        </div>
    </div>

</form>

<div id="value_forms" style="visibility: hidden;">
    {% for id, form in value_forms %}
    <div id="form_for_{{id}}">
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control" }}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<script>
$('#id_language').multiSelect()

$('#id_attribute-type_controlled').change(function() {
    var value = $(this).val();
    console.log(value);
    var container = $('#value_form_container');
    container.empty();
    var form = $('#form_for_' + value).clone();
    console.log(form);
    container.append(form);
});
</script>
{% endblock %}
