{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}

{% block content %}
<hr />

<div class="h3 text-warning">Editing Attribute for Authority:</div>
<div class="h2"> {{ instance.name|safe }}</div>
<span class="h5"><ul style="list-style: none;">{{ instance|get_date_attributes }}</ul></span>
<div class="h4 text-warning">{{ instance.id }}</div>

<div class="container-fluid">
    <div class="h3">Are you sure that you want to delete this attribute?</div>

    <dl>
        <dt>Type</dt>
        <dd>{{ attribute.type_controlled.name }}</dd>
        <dt>Value</dt>
        <dd>{{ attribute.value.get_child_class }}</dd>
    </dl>


    <div class="clearfix">
        <div class="button-group pull-right">
            <a href="{% url "delete_attribute_for_authority" instance.id attribute.id %}?confirm=true" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>

{% endblock %}
