{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}

{% block content %}
<hr />

<form class="form" action="." method="POST">
    {% csrf_token %}

    {% include "curation/fragment_authority_header.html" %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {% for error in linkeddata_form.type_controlled.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ linkeddata_form.type_controlled.label }}</label>
                    {{ linkeddata_form.type_controlled|addcss:"form-control" }}
                </div>

                {% for error in linkeddata_form.universal_resource_name.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ linkeddata_form.universal_resource_name.label }}</label>
                    {{ linkeddata_form.universal_resource_name|addcss:"form-control" }}
                </div>

                {% for error in linkeddata_form.administrator_notes.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ linkeddata_form.administrator_notes.label }}</label>
                    {{ linkeddata_form.administrator_notes|addcss:"form-control" }}
                </div>

                {% for error in linkeddata_form.record_status_value.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ linkeddata_form.record_status_value.label }}</label>
                    {{ linkeddata_form.record_status_value|addcss:"form-control" }}
                </div>
            </div>

            <div class="col-sm-6">
              {% for error in linkeddata_form.resource_name.errors %}
              <div class="alert alert-danger">{{ error }}</div>
              {% endfor %}
              <div class="form-group">
                  <label>{{ linkeddata_form.resource_name.label }}</label>
                  {{ linkeddata_form.resource_name|addcss:"form-control" }}
              </div>

              {% for error in linkeddata_form.url.errors %}
              <div class="alert alert-danger">{{ error }}</div>
              {% endfor %}
              <div class="form-group">
                  <label>{{ linkeddata_form.url.label }}</label>
                  {{ linkeddata_form.url|addcss:"form-control" }}
              </div>

            </div>

        </div>
        <div class="clearfix">
            <div class="button-group pull-right">
                <input type="submit" value="Save" class="btn btn-success" />
                {% if linkeddata %}
                <a href="#"
                    class="btn btn-danger delete-linkeddata"
                    linkeddata-id="{{ linkeddata.id }}"
                    linkeddata-title="{{ linkeddata }}">
                    Delete
                </a>
                {% endif %}
            </div>
        </div>
    </div>

</form>


{% if linkeddata %}
<script>
$(document).ready(function() {
    $('.delete-linkeddata').click(function() {
        var elem = $(this);
        var linkeddata_id = elem.attr('linkeddata-id');
        var linkeddata_title = elem.attr('linkeddata-title');
        $('#linkeddata-id-container').val(linkeddata_id);
        $('#delete-linkeddata-target-name').html(linkeddata_title);
        $('#delete-linkeddata-modal').modal('show');
    });

});

var delete_linkeddata = function() {
    $('#delete-linkeddata-modal').modal('hide');
    var linkeddata_id = $('#linkeddata-id-container').val();
    if (linkeddata_id) {
        window.location.replace("{% url "delete_linkeddata_for_authority" instance.id linkeddata.id %}?confirm=true");
    }
}
</script>


<!-- Modal -->
<div class="modal fade" id="delete-linkeddata-modal" tabindex="-1" role="dialog" aria-labelledby="delete-linkeddata-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-linkeddata-modal-label">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to delete the Linked Data entry <span class="text-warning" id="delete-linkeddata-target-name"></span>. Deletion cannot be undone!
                </p>
                <input type="hidden" id="linkeddata-id-container" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-danger" onclick="delete_linkeddata();">Delete forever</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
