{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}

{% block content %}

<form class="form" id="attributeForm" action="." method="POST">
    {% csrf_token %}
    <input type="hidden" name="search" value="{{ search_key }}">
    <input type="hidden" name="current" value="{{ current_index }}">

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-5">
          <div class="row">
              <div class="col-md-12">
                <div class="form-group form-inline">
                  <strong class="text-warning">
                    {% if attribute_form.instance.id %}{{ attribute_form.instance.id }}{% else %}New{% endif %}</strong> | <strong>Attribute</strong>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  {{ attribute_form.record_status_value|addcss:"form-control input-sm" }}
                  &nbsp;
                  {{ attribute_form.record_status_explanation|addcss:"form-control input-sm" }}
                </div>
                <div class="col-md-12">
                    {% for error in attribute_form.record_status_value.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    {% for error in attribute_form.record_status_explanation.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-3">
          <a href="{% url 'curation:curate_authority' instance.id %}?search={{ search_key }}&current={{ current_index }}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
     Back to Authority</a>
        </div>
        <div class="col-md-4">
            <div class="btn-group pull-right">
                <a href="{% url 'curation:curate_authority' instance.id %}?search={{ search_key }}&current={{ current_index }}" class="btn btn-sm btn-default">Cancel</a>
                <a type="submit" class="btn btn-sm btn-success saveBtn" >Save</a>
                {% if attribute %}
                <a href="#"
                  class="btn btn-danger btn-sm delete-attribute"
                  attribute-id="{{ attribute.id }}"
                  attribute-title="{{ attribute.type_controlled.name }}">
                  Delete
                </a>
                {% endif %}
            </div>
        </div>
      </div>

    <div class="container-fluid form-horizontal">
        <div class="row">
            <div class="col-sm-6">
                {% for error in attribute_form.type_controlled.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label class="col-md-4">{{ attribute_form.type_controlled.label }}</label>
                    <div class="col-md-8">
                      {{ attribute_form.type_controlled|addcss:"form-control" }}
                    </div>
                </div>

                {% for error in attribute_form.description.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label class="col-md-4">{{ attribute_form.description.label }}</label>
                    <div class="col-md-8">
                      {{ attribute_form.description|addcss:"form-control" }}
                    </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> How should I use this type?</div>
                  <div class="panel-body">
                    <div id="typeHelpText">Please select a type.</div>
                  </div>
                </div>

                {% for error in attribute_form.record_history.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label class="col-md-12">{{ attribute_form.record_history.label }}</label>
                    <div class="col-md-12">
                      {{ attribute_form.record_history|addcss:"form-control" }}
                    </div>
                </div>

                <div class="form-group">
                  <label class="col-md-12">Last updated on <span class="date">{{ attribute.modified_on|get_iso_date }}</span> by {{ attribute.modified_by }}</label>
                </div>
            </div>
            <div class="col-sm-6">
                {% if value_form %}
                    {% for field in value_form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">{{ field.label }}: {{ error }}</div>
                    {% endfor %}
                    <div class="form-group">
                        <label class="col-md-3">{{ field.label }}</label>
                        <div class="col-md-9">
                          {{ field|addcss:"form-control" }}
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div id="value_form_container"></div>
                {% endif %}

                {% for error in attribute_form.value_freeform.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label class="col-md-3">{{ attribute_form.value_freeform.label }}</label>
                    <div class="col-md-9">
                      {{ attribute_form.value_freeform|addcss:"form-control" }}
                    </div>
                </div>
                <div id="ajax_errors"></div>
            </div>
        </div>
        <div class="clearfix">
            <div class="button-group pull-right">
                <a type="submit" class="btn btn-sm btn-success saveBtn" >Save</a>
                {% if attribute %}
                <a href="#"
                    class="btn btn-danger delete-attribute"
                    attribute-id="{{ attribute.id }}"
                    attribute-title="{{ attribute.type_controlled.name }}">
                    Delete
                </a>
                {% endif %}
            </div>
        </div>
    </div>

</form>

<div id="value_forms" style="visibility: hidden;">
    {% for id, form in value_forms %}
    <div id="form_for_{{id}}">
        {% for field in form %}
        {% for error in field.errors %}
        <div class="col-md-12">
          <div class="alert alert-danger">{{ error }}</div>
        </div>
        {% endfor %}
        <div class="form-group">
            <label class="col-md-3">{{ field.label }}</label>
            <div class="col-md-9">
              {{ field|addcss:"form-control" }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<script>
  //# sourceURL=script.js
$('#id_language').multiSelect()

$(document).ready(function() {
  $("#id_attribute-type_controlled").change(function() {
    // set fields on the right
    var value = $(this).val();
    var container = $('#value_form_container');
    container.empty();
    var form = $('#form_for_' + value).clone(withDataAndEvents=true);
    container.append(form);

    // update help text
    $.ajax({
      url: "{% url 'curation:index' %}attributetype/" + $("#id_attribute-type_controlled").val() + "/helptext",
      success: function(data) {
        text = data['help_text'];
        if (text != '') {
          $("#typeHelpText").html(text);
        } else {
          $("#typeHelpText").html("Sorry, no help text available.");
        }

      },
      failure: function(data) {
        $("#typeHelpText").html("Sorry, no help text available.");
      }
    });
  });

  $(".saveBtn").click(function() {
    var attrType = $("#id_attribute-type_controlled option:selected").text();
    // so ugly, but there is not really another option
    if (attrType.startsWith("{{country_code_attribute}}" + " ")) {
      $("#geocode-attr-warning").modal('show');
    } else {
      $("#attributeForm").submit();
    }
  })

  $("#geocodeWarningOk").click(function() {
      $("#geocode-attr-warning").modal('hide');
      $("#attributeForm").submit();
  })

  $("[data-type='citation_id']").change(function() {
    $.ajax({
      url: "{% url 'curation:api_citation' %}" + "?id=" + $("[data-type='citation_id']").val(),
      success: function(data) {
        $("#ajax_errors").text("")
        $("#id_value-citation_name").val(data['title'])
      },
      error: function(data) {
        $("#ajax_errors").html('<i class="fa fa-warning" aria-hidden="true"></i> Citation with provided id could not be found.')
      }
    });
  });
});
</script>

<div class="modal fade" id="geocode-attr-warning" tabindex="-1" role="dialog" aria-labelledby="delete-attribute-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-attribute-modal-label">Citation Reindexing</h4>
            </div>
            <div class="modal-body">
                <p>
                    This attribute is a country code. You might need to reindex related citations to make sure your changes are reflected on the public site.
                </p>
                <input type="hidden" id="attribute-id-container" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="geocodeWarningOk" >Got it!</button>
            </div>
        </div>
    </div>
</div>

{% if attribute %}
<script>
$(document).ready(function() {
    $('.delete-attribute').click(function() {
        var elem = $(this);
        var attribute_id = elem.attr('attribute-id');
        var attribute_title = elem.attr('attribute-title');
        $('#attribute-id-container').val(attribute_id);
        $('#delete-attribute-target-name').html(attribute_title);
        $('#delete-attribute-modal').modal('show');
    });

});

var delete_attribute = function() {
    $('#delete-attribute-modal').modal('hide');
    var attribute_id = $('#attribute-id-container').val();
    if (attribute_id) {
        window.location.replace("{% url "curation:delete_attribute_for_authority" instance.id attribute.id %}?confirm=true&search={{ search_key }}&current={{ current_index }}");
    }
}
</script>


<!-- Modal -->
<div class="modal fade" id="delete-attribute-modal" tabindex="-1" role="dialog" aria-labelledby="delete-attribute-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-attribute-modal-label">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to delete an attribute of type <span class="text-warning" id="delete-attribute-target-name"></span>. Deletion cannot be undone!
                </p>
                {% if attribute.type_controlled.name == country_code_attribute %}
                <p style="color: #8a6d3b">
                  This attribute is a country code. You might need to reindex related citations to make sure your changes are reflected on the public site.
                </p>
                {% endif %}
                <input type="hidden" id="attribute-id-container" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-danger" onclick="delete_attribute();">Delete forever</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
