{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}
{% load permission_tags %}

{% block content %}

{% with instance|get_warnings_column_count_authority as column_count %}

{% if not instance.public %}
<div class="alert alert-danger alert-small col-md-{{column_count}}" role="alert">
<i class="fa fa-eye-slash" aria-hidden="true"></i> This citation is not public. It cannot be found through the public site.
</div>
{% endif %}

{% if not instance|are_related_objects_for_authority_public %}
<div class="alert alert-info alert-small col-md-{{column_count}}" role="alert">
  <i class="fa fa-exclamation-circle" aria-hidden="true"></i> At least one record linked to this citation is not public.
</div>
{% endif %}

{% if instance|is_public_inconsistent %}
<div class="alert alert-warning alert-small col-md-{{column_count}}" role="alert">
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
 There is a problem with this record. It has the status "Active" but it is not marked as public.
</div>
{% endif %}

{% endwith %}

<div id="authorityView" >

<form class="form form-horizontal" action="." method="POST">
    {% csrf_token %}

    <input type="hidden" name="search" value="{{ search_key }}">
    <input type="hidden" name="current" value="{{ current_index }}">

{% include "curation/fragment_authority_header.html" %}


<div class="row">
    <div class="col-sm-4">
        <div class="h4">Authority Details</div>
        <div class="row">
            <div class="col-xs-6">
                {% for error in form.type_controlled.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label class="col-xs-3">{{ form.type_controlled.label }}</label>
                    <div class="col-xs-9">{{ form.type_controlled|addcss:"form-control input-xs"}}</div>
                </div>
            </div>

            <div class="col-xs-6">
                {% for error in form.record_status_value.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label class="col-xs-3">Status</label>
                    <div class="col-xs-9">{{ form.record_status_value|addcss:"form-control input-xs"}}</div>
                </div>
            </div>
        </div>

        <div class="row ">
          {% for error in form.name.errors %}
          <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
            <label class="col-xs-2">{{ form.name.label }}</label>
            <div class="col-xs-10">{{ form.name|addcss:"form-control input-xs"}}</div>
        </div>

        {% if person_form %}
        <div class="row " style="padding-top: 10px;">
          {% for error in person_form.personal_name_last.errors %}
          <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
          {% for error in person_form.personal_name_first.errors %}
          <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
          {% for error in person_form.personal_name_suffix.errors %}
          <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
          <label class="col-xs-1">Last</label>
          <div class="col-xs-4">{{ person_form.personal_name_last|addcss:"form-control input-xs"}}</div>

          <label class="col-xs-1" style="padding-left: 0px;">First</label>
          <div class="col-xs-3">{{ person_form.personal_name_first|addcss:"form-control input-xs"}}</div>

          <label class="col-xs-1" style="padding-left: 0px;">Suffix</label>
          <div class="col-xs-2">{{ person_form.personal_name_suffix|addcss:"form-control input-xs"}}</div>
        </div>
        {% endif %}

        <div class="row">
        {% for error in form.description.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div class="col-xs-12">
            <label class="control-label">{{ form.description.label }}</label>
            <div>{{ form.description|addcss:"form-control input-xs"}}</div>
        </div>
        </div>

        <div class="row" style="padding-top: 10px;">
        {% for error in form.classification_system.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div>
            <label class="col-xs-3">{{ form.classification_system.label }}</label>
            <div class="col-xs-9">{{ form.classification_system|addcss:"form-control input-xs"}}</div>
        </div>
        </div>

        <div class="row">
        {% for error in form.classification_code.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div>
            <label class="col-xs-3">{{ form.classification_code.label }}</label>
            <div class="col-xs-9">{{ form.classification_code|addcss:"form-control input-xs"}}</div>
        </div>
        </div>

        <div class="row">
        {% for error in form.belongs_to.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div>
            <label class="col-xs-3">{{ form.belongs_to.label }}</label>
            <div class="col-xs-9">{{ form.belongs_to|addcss:"form-control input-xs" }}</div>
        </div>
        </div>

        <div class="row">
          {% for error in form.administrator_notes.errors %}
          <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
          <div class="col-xs-12">
              <label>{{ form.administrator_notes.label }}</label>
              {{ form.administrator_notes|addcss:"form-control input-xs" }}
          </div>
        </div>
    </div>
    <div class="col-sm-8">
        <ul class="nav nav-tabs nav-justified curation-tabs" role="tablist">
            <li role="presentation"{% if not tab or tab == 'fields' %} class="active"{% endif %}>
                <a href="#fields" aria-controls="fields" role="tab" data-toggle="tab">Fields</a>
            </li>
            <li role="presentation"{% if tab == 'attributes' %} class="active"{% endif %}>
                <a href="#attributes" aria-controls="attributes" role="tab" data-toggle="tab">Attributes</a>
            </li>
            <li role="presentation"{% if tab == 'linkeddata' %} class="active"{% endif %}>
                <a href="#linkeddata" aria-controls="linkeddata" role="tab" data-toggle="tab">Linked Data</a>
            </li>
            <li role="presentation"{% if tab == 'acrelations' %} class="active"{% endif %}>
                <a href="#acrelations" aria-controls="acrelations" role="tab" data-toggle="tab">Related Citations</a>
            </li>
            <li role="presentation"{% if tab == 'aarelations' %} class="active"{% endif %}>
                <a href="#aarelations" aria-controls="aarelations" role="tab" data-toggle="tab">Related Authorities</a>
            </li>
            <li role="presentation"{% if tab == 'tracking' %} class="active"{% endif %}>
                <a href="#tracking" aria-controls="tracking" role="tab" data-toggle="tab">Tracking</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane{% if not tab or tab == 'fields' %} active{% endif %} panel-body" id="fields">

                <!-- 2nd column -->
                <div class="col-sm-6">
                  <div class="row">
                  <h5 style="margin-top: 0px;">Attributes</h5>
                  </div>
                  {% for attr_forms in attribute_forms %}
                  <div class="row" style="padding-right: 20px;">
                    {{ attr_forms.0.id }}
                    <input type="hidden" name="{{attr_forms.0.prefix}}-record_status_value" id="id_{{attr_forms.0.prefix}}-record_status_value" value="{{attr_forms.0.record_status_value.value}}" />
                    {% for error in attr_forms.0.type_controlled.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    <div class="no-gutter">
                        <label class="col-md-1">Type</label>
                        <div class="col-md-4" data-form-prefix="{{attr_forms.0.prefix}}">{{ attr_forms.0.type_controlled|addcss:"form-control input-xs attributeDropDown"}}</div>
                        <label class="col-md-2">Freeform</label>
                        <div class="col-md-5">{{ attr_forms.0.value_freeform|addcss:"form-control input-xs"}}</div>
                    </div>
                  </div>

                    <div id="{{attr_forms.0.prefix}}_attribute_value_form_container" data-form-prefix="{{ attr_forms.1.prefix }}">
                      {% if attr_forms.1 %}
                      {% for field in attr_forms.1 %}
                      <div class="row" style="padding-right: 20px;">
                        <div class="no-gutter">
                          <div class="col-md-5"></div>
                          <label class="col-md-2">
                            {{ field.label}}
                          </label>
                          <div class="col-md-5"">{{ field|addcss:"form-control input-xs"}}</div>
                        </div>
                      </div>
                      {% if field.errors %}
                      <script>
                        var errorMsg = "";
                      {% for error in field.errors %}
                        errorMsg += "{{ error }}";
                      {% endfor %}
                      $("#id_{{attr_forms.1.prefix}}-{{ field.name }}").popover({
                        'content': errorMsg,
                        'title': 'Error',
                        'placement': 'top',
                      });
                      $("#id_{{attr_forms.1.prefix}}-{{ field.name }}").popover('show');

                      $(".popover-title").css('background-color', '#ffc6c6');
                      </script>
                      {% endif %}
                      {% endfor %}
                      {% endif %}

                      </div>
                  {% endfor %}

                  {% if instance.attributes.all|length > 3 %}
                    <div class="pull-right">
                      <a href="?tab=attributes">More...</a>
                    </div>
                  {% endif %}

                  <div class="row">
                  <h5 style="margin-top: 20px;">Linked Data</h5>
                  </div>

                  {% for linkeddata_form in linkeddata_forms %}
                  <div class="row" style="padding-right: 20px;">
                    {{ linkeddata_form.id }}
                    <input type="hidden" name="{{linkeddata_form.prefix}}-record_status_value" id="id_{{linkeddata_form.prefix}}-record_status_value" value="{{linkeddata_form.record_status_value.value}}" />
                    {% for error in linkeddata_form.type_controlled.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    <div class="no-gutter">
                        <div class="col-md-4" data-form-prefix="{{linkeddata_form.prefix}}">{{ linkeddata_form.type_controlled|addcss:"form-control input-xs linkeddata_type_controlled"}}</div>
                        <div class="col-md-4">{{ linkeddata_form.universal_resource_name|addcss:"onelineTextarea form-control input-xs linkeddata_urn;URN"}}</div>
                        <div class="col-md-4">{{ linkeddata_form.resource_name|addcss:"onelineTextarea form-control input-xs linkeddata_resource_name;Resource Name"}}</div>
                    </div>
                  </div>
                  {% endfor %}

                  {% if instance.linkeddata_entries.all|length > 3 %}
                    <div class="pull-right">
                      <a href="?tab=linkeddata">More...</a>
                    </div>
                  {% endif %}

                </div>

                <!-- 3rd column -->
                <div class="col-sm-6">
                  <div class="row">
                    {{ form.redirect_to }}
                    {% for error in form.redirect_to.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}

                        <label class="col-xs-3" style="padding-left: 0px;">{{ form.redirect_to.label }}</label>

                        <div class="input-group col-xs-9">
                            <input type="text"
                                class="form-control input-xs"
                                name="authority-search"
                                autocomplete="off"
                                id="authority-search" />
                                <ul class="list-group" id="results-container"></ul>
                            <span class="input-group-btn" style="padding-top: 0px;">
                                <span class="btn" style="padding-top: 2px; padding-left: 3px;" id="remove_redirect">
                                    <span class="glyphicon glyphicon-remove"
                                        style="color: red;"></span>
                                </span>
                            </span>
                        </div>
                    </div>

                  <div class="row">
                    {% for error in form.record_status_explanation.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    <div class="form-group form-group-xs">
                        <label class="col-xs-3">Status Explanation</label>
                        <div class="col-xs-9">{{ form.record_status_explanation|addcss:"form-control input-xs"}}</div>
                    </div>
                  </div>

                  <div class="row">
                    {% for error in form.record_history.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    <div class="form-group">
                        <label class="col-xs-12">{{ form.record_history.label }}</label>
                        <div class="col-xs-12">{{ form.record_history|addcss:"form-control input-xs"}}</div>
                    </div>
                  </div>

                  {% if person_form %}
                  <div class="row">
                  <h5>Unused fields</h5>

                  {% for error in person_form.personal_name_preferred.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                  <div class="form-group">
                    <label class="col-xs-3">Preferred name</label>
                    <div class="col-xs-9">{{ person_form.personal_name_preferred|addcss:"form-control input-xs"}}</div>
                  </div>
                  </div>
                  {% endif %}

                </div>
            </div>

            <div role="tabpanel" class="tab-pane{% if tab == 'attributes' %} active{% endif %} panel-body" id="attributes">
                {% include "curation/fragment_authority_attributes.html" %}
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'linkeddata' %} active{% endif %} panel-body" id="linkeddata">
                {% include "curation/fragment_authority_linkeddata.html" %}
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'aarelations' %} active{% endif %} panel-body" id="aarelations">
                <ul class="list-group">
                {% for aarelation in instance.aarelation_set.all %}
                    <a class="list-group-item">
                        {% if instance.id == aarelation.subject.id %}
                        <span class="text text-warning">This <span class="label label-success">{{ instance.get_type_controlled_display }}</span></span>
                        {% else %}

                        The <span class="label label-success">{{ aarelation.subject.get_type_controlled_display }}</span> <span class="text text-warning">{{ aarelation.subject|get_citation_title }}</span>

                        {% endif %}
                        <span class="label label-primary">{{ aarelation.get_type_controlled_display }}</span>
                        {% if aarelation.type_free %}
                        <span class="label label-success">{{ aarelation.type_free }}</span>
                        {% endif %}

                        {% if instance.id == aarelation.object.id %}
                        <span class="text text-warning">this <span class="label label-success">{{ instance.get_type_controlled_display }}</span>.</span>
                        {% else %}
                        the <span class="label label-success">{{ aarelation.object.get_type_controlled_display }}</span> <span class="text text-warning">{{ aarelation.object|get_citation_title }}</span>.
                        {% endif %}


                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </a>
                {% endfor %}
                </ul>

            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'acrelations' %} active{% endif %} panel-body" id="acrelations">
                {% include "curation/fragment_authority_acrelations.html" %}
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'tracking' %} active{% endif %} panel-body" id="tracking">
                {% include "curation/fragment_authority_tracking.html" %}
            </div>
        </div>
    </div>

</div>

</form>
</div>

<div id="value_forms" class="hide">
    {% for id, form in value_forms %}
    <div id="form_for_{{id}}" >
        {% with nr_of_fields=form.fields|length %}
        {% for field in form %}
        <div class="row" style="padding-right: 20px;">
          <div class="no-gutter">
            <div class="col-md-5"></div>
            <label class="col-md-2">
              {{ field.label}}
            </label>
            <div class="col-md-5">{{ field|addcss:"form-control input-xs"}}</div>
          </div>
        </div>

        {% if field.errors %}
        <script>
          var errorMsg = "";
        {% for error in field.errors %}
          errorMsg.append({{ error }});
        {% endfor %}
        $("#value_input_div_{{id}}").popover({
          'content': errorMsg;
          'title': 'Error';
        });
        $("#value_input_div_{{id}}").popover('show');
        </script>
        {% endif %}
        {% endfor %}
        {% endwith %}
    </div>
    {% endfor %}
</div>

<script>
//# sourceURL=test.js
$('#id_language').multiSelect()

$(document).ready(function() {

    setRedirectFieldAccessiblity();

    $(".linkeddata_type_controlled").prop('required', false);
    $(".linkeddata_urn").prop('required', false);

    var lastSearch = $.now();
    var waiting = false;

    var authority_name = "{% if instance.redirect_to %}{{ instance.redirect_to.id}}: {{ instance.redirect_to.name }}{% endif %}";
    if (authority_name.length > 0) {
        $('#authority-search').val(authority_name);
        $('#authority-search').attr('title', authority_name);
    }
    $('#authority-search').on('keyup', function(e) {
        if ($.now() - lastSearch < 500 || waiting) return;
        lastSearch = $.now();
        waiting = true;

        var query = $(this).val();
        $.ajax("{% url "curation:quick_and_dirty_authority_search" %}?q=" + query, {
            failure: function(result) {
                waiting = false;
            },
            success: function(result) {
                waiting = false;

                $('#results-container').empty();
                result.results.forEach(function(r) {
                    var choice_elem = '<li class="list-group-item search-result';
                    if (r.public != true) {
                      choice_elem += ' record-notpublic';
                    }
                    choice_elem += '">';
                    choice_elem += '<span class="button-group button-group-xs">';
                    choice_elem += '<a class="glyphicon glyphicon-ok btn btn-xs select-citation" data-id="' + r.id + '" data-name="' + r.id + ': ' + r.name + '"></a>';
                    choice_elem += '<a href="'+ r.url + '" class="btn btn-xs glyphicon glyphicon-pencil" target="_blank"></a>';
                    choice_elem += '</span>';
                    choice_elem += ' <span class="label label-success">' + r.type + '</span> <strong>' + r.id + ': ' + r.name + '</strong> <span class="label label-default">' + r.datestring + '</span>';
                    if (r.description != null) {
                        choice_elem += ' | <span class="text-muted">' + r.description + '</span>';
                    }
                    if (r.public != true) {
                      choice_elem += ' <i class="fa fa-eye-slash" title="The linked record is not public."></i>';
                    }
                    choice_elem += '</li>';

                    $('#results-container').append(choice_elem);
                });

                $('.select-citation').click(function() {
                    var selected = $(this);
                    var selected_id = selected.attr('data-id');
                    var selected_name = selected.attr('data-name');
                    $('#results-container').empty();
                    $('#authority-search').val(selected_name);
                    $('#authority-search').attr('title', selected_name);
                    $('#id_authority-redirect_to').val(selected_id);
                });
            }
        });
    });

    $("#id_authority-record_status_value").change(function() {
      setRedirectFieldAccessiblity();
    });

    $('#remove_redirect').on("click", function(e) {
      // if status is not redirect, let's not let the user remove the redirect
      var statusVal = $("#id_authority-record_status_value").val();
      if (statusVal == 'Redirect') {
        $('#id_authority-redirect_to').val("");
        $('#authority-search').val("");
      }
    });

    $(".attributeDropDown").change(function() {
      var value = $(this).find("option:selected").val();
      var formPrefix = $(this).parent().data("form-prefix");
      var container = $("#" + formPrefix + "_attribute_value_form_container");
      container.empty();
      var valueFormPrefix = container.data("form-prefix");
      if (valueFormPrefix == '' || valueFormPrefix == null) {
        // this is so ugly, but ah well, f****** django
        valueFormPrefix = formPrefix.replace("attribute", "value");
      }
      var form = $('#form_for_' + value).clone();
      form.find("input, textarea, select").each(function() {
        var name = $(this).attr("name").replace("value-", valueFormPrefix + "-");
        $(this).attr("name", name);
        var id = $(this).attr("id").replace("value-", valueFormPrefix + "-");
        $(this).attr("id", name);
      });
      container.append(form);
    });

    $("#searchExplorePublic").click(function(e) {
      e.preventDefault();
      searchService("{% url 'isis-index' %}?models=isisdata.authority&q=")
    });
    $("#searchExploreCuration").click(function(e) {
      e.preventDefault();
      searchService("{% url 'curation:authority_list' %}?name=");
    });
    $("#searchWikipedia").click(function(e) {
      e.preventDefault();
      searchService("https://en.wikipedia.org/w/index.php?search=");
    });
    $("#searchGoogle").click(function(e) {
      e.preventDefault();
      searchService("https://www.google.com/search?q=");
    });
    $("#searchLCCN").click(function(e) {
      e.preventDefault();
      var searchTerm = $("#searchAuthorityExternal").val();
      if (searchTerm != null && searchTerm != '') {
        var url = "https://authorities.loc.gov/cgi-bin/Pwebrecon.cgi?Search_Arg=" + searchTerm + "&Search_Code=SHED_&CNT=100"
        var win = window.open(url, '_blank');
        if (win) {
            win.focus();
        } else {
            alert('Please allow popups to use this feature.');
        }
      }
    });


    $("#searchViaf").click(function(e) {
      e.preventDefault();
      var searchTerm = $("#searchAuthorityExternal").val();
      if (searchTerm != null && searchTerm != '') {
        var url = "http://viaf.org/viaf/search?query=local.names%20all%20%22" + searchTerm + "%22&sortKeys=holdingscount&recordSchema=BriefVIAF"
        var win = window.open(url, '_blank');
        if (win) {
            win.focus();
        } else {
            alert('Please allow popups to use this feature.');
        }
      }
    });

  function searchService(url) {
    var searchTerm = $("#searchAuthorityExternal").val();
    if (searchTerm != null && searchTerm != '') {
      var url = url + searchTerm;
      var win = window.open(url, '_blank');
      if (win) {
          win.focus();
      } else {
          alert('Please allow popups to use this feature.');
      }
    }
  }

  function setRedirectFieldAccessiblity() {
    var statusVal = $("#id_authority-record_status_value").val();
    if (statusVal == 'Redirect') {
      $('#authority-search').attr('readonly', false);
      $("#remove_redirect").removeClass("disabled");
    } else {
      $('#authority-search').attr('readonly', true);
      $("#remove_redirect").addClass("disabled");
    }
  }
});
</script>
{% endblock %}
