{% load static %}
{% load rules %}

{% test_rule 'can_view_user_module' user as view_user_module %}
{% test_rule 'has_zotero_access' user as has_zotero_access %}

<html>
    <head>
        <link rel="stylesheet" href="{% static "isisdata/bootstrap-3.3.5/css/bootstrap.min.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "curation/css/curation.css" %}" />
        <link rel="stylesheet" href="{% static "curation/css/multi-select.css" %}" />
        <link rel="stylesheet" href="{% static "curation/css/bootcomplete.css" %}" />
        <script src="https://kit.fontawesome.com/bd50fe44dc.js" crossorigin="anonymous"></script>

        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

        <script src="{% static "isisdata/js/jquery-1.11.3.min.js" %}" type="text/javascript"></script>
        <script src="{% static "curation/js/jquery.multi-select.js" %}" type="text/javascript"></script>
        <script src="{% static "curation/js/jquery.bootcomplete.js" %}" type="text/javascript"></script>
        <script src="{% static "isisdata/bootstrap-3.3.5/js/bootstrap.min.js" %}" type="text/javascript"></script>
        <script>
        // Django needs CSRF for AJAX POST requests.
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

        $(document).ready(function() {
          setdate();
          function setdate() {
            $('.date').each(function() {
              var date = $(this).text();
              $(this).text((new Date(date).toLocaleString()));
            });
          }
        });
        </script>
        {% block extrahead %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
      <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "curation:dashboard" %}">IsisCB Curation</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_staff or user.is_superuser %}
              <li{% if curation_section == "dashboard" %} class="active"{% endif %}><a href="{% url "curation:dashboard" %}">Dashboard</a></li>
              {% if view_user_module %}<li{% if curation_section == "users" %} class="active"{% endif %}><a href="{% url "curation:user_list" %}">Users</a></li>{% endif %}
              <li{% if curation_section == "datasets" %} class="active"{% endif %}>
                <a href="{% url "curation:datasets" %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Datasets <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li{% if curation_subsection == "citations" %} class="active"{% endif %}><a href="{% url "curation:citation_list" %}?filters=true">Citations</a></li>
                    <li{% if curation_subsection == "authorities" %} class="active"{% endif %}><a href="{% url "curation:authority_list" %}?filters=true">Authorities</a></li>
                    <li{% if curation_subsection == "aarsets" %} class="active"{% endif %}><a href="{% url "curation:aarsets" %}">AARelation Sets</a></li>
                </ul>
              </li>

              {% if has_zotero_access %}
              <li{% if curation_section == "zotero" %} class="active"{% endif %}>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zotero <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li{% if curation_subsection == "accessions" %} class="active"{% endif %}><a href="{% url "accessions" %}">Accessions</a></li>
                  <li{% if curation_subsection == "draftauthorities" %} class="active"{% endif %}><a href="">Authorities</a></li>
                </ul>
              </li>
              {% endif %}
              <li{% if curation_section == "bulk" %} class="active"{% endif %}>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bulk Changes <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url "curation:bulk_changes" %}">Overview</a></li>
                  <li><a href="{% url "curation:general_bulk_change_from_csv" %}">Bulk Changes from CSV</a></li>
                  <li><a href="{% url "curation:timeline_tasks" %}">Timelines</a></li>
                </ul>
              </li>
            {% else %}
            <li><a href="{% url 'curation:contributions' %}?filters=true"><i class="fas fa-search"></i> Search Citations</a></li>
            {% endif %}
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="far fa-user-circle" style="font-size: 1.4em"></i> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu pull-right" id="usercontext" aria-labelledby="usermenu">
                  <!-- <li><a href="/profile/">Dashboard</a></li> -->
                  <li><a href="{% url 'user_profile' user.username %}">My Profile</a></li>
                  <li><a href="{% url 'account_change_password' %}?next={{ request.get_full_path|urlencode }}">Change Password</a></li>
                  <li><a href="{% url 'search_history' %}">My Search History</a></li>
                  <li><a href="{% url 'search_saved' %}">My Saved Searches</a></li>
                  <li><a id="logout" href="{% url 'account_logout' %}">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid" style="margin-top: 60px;">
      <div class="row">
        <div class="col-sm-12">
        {% block content %}


        {% endblock %}
        </div>
      </div>
    </div>

  </body>
</html>
