{% load staticfiles %}
{% load rules %}

{% test_rule 'can_view_user_module' user as view_user_module %}


<html>
    <head>
        <link rel="stylesheet" href="{% static "isisdata/font-awesome-4.4.0/css/font-awesome.min.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "isisdata/bootstrap-3.3.5/css/bootstrap.min.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "curation/css/curation.css" %}" />
        <link rel="stylesheet" href="{% static "curation/css/multi-select.css" %}" />

        <script src="{% static "isisdata/js/jquery-1.11.3.min.js" %}" type="text/javascript"></script>
        <script src="{% static "curation/js/jquery.multi-select.js" %}" type="text/javascript"></script>
        <script src="{% static "isisdata/bootstrap-3.3.5/js/bootstrap.min.js" %}" type="text/javascript"></script>
        <script>
        // Django needs CSRF for AJAX POST requests.
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
        </script>
    </head>
    <body>
        <div class="container-fluid"
            style="margin-top: 5px;">
            <ul class="nav nav-pills nav-justified">
                <li{% if curation_section == "dashboard" %} class="active"{% endif %}><a href="{% url "dashboard" %}">Dashboard</a></li>
                {% if view_user_module %}<li{% if curation_section == "users" %} class="active"{% endif %}><a href="{% url "user_list" %}">Users</a></li>{% endif %}
                <li{% if curation_section == "datasets" %} class="active"{% endif %}><a href="#">Datasets</a></li>
                <li{% if curation_section == "zotero" %} class="active"{% endif %}><a href="#">Zotero</a></li>
            </ul>
        </div>
        <div class="container-fluid"
            style="margin-top: 10px;">
            <ul class="nav nav-pills nav-justified">
                <li{% if curation_subsection == "citations" %} class="active"{% endif %}><a href="{% url "citation_list" %}">Citations</a></li>
                <li{% if curation_subsection == "authorities" %} class="active"{% endif %}><a href="{% url "authority_list" %}">Authorities</a></li>
            </ul>
        </div>

        <div class="container-fluid"
            style="margin-top: 15px;">
        {% block content %}


        {% endblock %}
        </div>

    </body>
</html>
