{% extends "curation/base.html" %}
{% load staticfiles %}
{% load addcss %}

{% block content %}
<div class="h2">Bulk select</div>

<p class="text-warning">
    Select multiple citations by entering their IDs in the field below, separated by commas.
    Whitespace will be ignored, so you may write the IDs all on one line, or on separate lines.
</p>

<form class="form" action="{% url "citation_list" %}" method="POST">
    {% csrf_token %}


    <div class="form-group">
        <textarea class="form-control" name="id"></textarea>
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-success" value="Select" />
    </div>
</form>
{% endblock %}
