{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}

{% block content %}
<hr />

<form class="form" action="." method="POST">
    {% csrf_token %}

    <div class="h3 text-warning">Editing Attribute for Citation:
        <div class="button-group pull-right">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
    <div class="h2"> {{ instance.title|safe }}</div>
    <div class="h4">{{ instance|get_authors_editors }}</div>
    <div class="h4 text-warning">{{ instance.id }} | {{ instance.publication_date }}</div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {% for error in attribute_form.type_controlled.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ attribute_form.type_controlled.label }}</label>
                    {{ attribute_form.type_controlled|addcss:"form-control" }}
                </div>

                {% for error in attribute_form.description.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ attribute_form.description.label }}</label>
                    {{ attribute_form.description|addcss:"form-control" }}
                </div>
            </div>
            <div class="col-sm-6">
                {% for field in value_form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field|addcss:"form-control" }}
                </div>
                {% endfor %}

                {% for error in attribute_form.value_freeform.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ attribute_form.value_freeform.label }}</label>
                    {{ attribute_form.value_freeform|addcss:"form-control" }}
                </div>
            </div>
        </div>

        <div class="row">

        </div>

        <div class="clearfix">
            <div class="button-group pull-right">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>

</form>
<script>
$('#id_language').multiSelect()
</script>
{% endblock %}
