{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}

{% block content %}
<hr />

{% if not form.instance.public %}
<div class="alert alert-danger" role="alert">
<i class="fa fa-eye-slash" aria-hidden="true"></i> This ACRelation is not public.
</div>
{% endif %}

<form class="form" action="." method="POST">
    {% csrf_token %}

    {% include "curation/fragment_citation_header.html" %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {% for error in form.name_for_display_in_citation.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ form.name_for_display_in_citation.label }}</label>
                    {{ form.name_for_display_in_citation|addcss:"form-control" }}
                </div>

                {% for error in form.type_controlled.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ form.type_controlled.label }}</label>
                    {{ form.type_controlled|addcss:"form-control" }}
                </div>

                {% for error in form.type_broad_controlled.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ form.type_broad_controlled.label }}</label>
                    {{ form.type_broad_controlled|addcss:"form-control" }}
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        {% for error in form.data_display_order.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.data_display_order.label }}</label>
                            {{ form.data_display_order|addcss:"form-control" }}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        {% for error in form.confidence_measure.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.confidence_measure.label }}</label>
                            {{ form.confidence_measure|addcss:"form-control" }}
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-xs-6">
                        {% for error in form.record_status_value.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.record_status_value.label }}</label>
                            {{ form.record_status_value|addcss:"form-control" }}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        {% for error in form.record_status_explanation.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.record_status_explanation.label }}</label>
                            {{ form.record_status_explanation|addcss:"form-control" }}
                        </div>
                    </div>
                </div>

                {% for error in form.administrator_notes.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ form.administrator_notes.label }}</label>
                    {{ form.administrator_notes|addcss:"form-control" }}
                </div>
                {{ form.authority }}
                {{ form.citation }}
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Authority</label>
                    <input type="text"
                        class="form-control"
                        name="authority-search"
                        autocomplete="off"
                        id="authority-search" />
                </div>
                {% if form.instance.authority %}
                <p style="padding-left: 4px; margin-top: -10px;">
                  <a href="{% url 'curate_authority' form.instance.authority.id %}"><i class="fa fa-share-square" aria-hidden="true"></i> Go to authority</a>
                </p>
                {% endif %}
                <ul class="list-group" id="results-container"></ul>
            </div>
        </div>
        <div class="clearfix">
            <div class="button-group pull-right">
                <input type="submit" value="Save" class="btn btn-success" />
                {% if acrelation %}
                <a href="#"
                    class="btn btn-danger delete-acrelation"
                    acrelation-id="{{ acrelation.id }}"
                    acrelation-title="{{ acrelation.authority.name }}">
                    Delete
                </a>
                {% endif %}
            </div>
        </div>
    </div>

</form>


<script>
$('#id_language').multiSelect()
</script>

<script>

$(document).ready(function() {
    var authority_name = "{% if acrelation %}{{ acrelation.authority.name }}{% endif %}";
    if (authority_name.length > 0) {
        $('#authority-search').val(authority_name);
        $('#authority-search').attr('disabled', true);
    } else {
        $('#authority-search').on('keyup', function(e) {
            var query = $(this).val();
            $.ajax("{% url "quick_and_dirty_authority_search" %}?q=" + query, {
                success: function(result) {
                    $('#results-container').empty();
                    result.results.forEach(function(r) {
                        var choice_elem = '<li class="list-group-item search-result';
                        if (r.public != true) {
                          choice_elem += ' record-notpublic';
                        }
                        choice_elem += '">';
                        choice_elem += '<span class="button-group button-group-xs">';
                        choice_elem += '<a class="glyphicon glyphicon-ok btn btn-xs select-citation" data-id="' + r.id + '" data-name="' + r.name + '"></a>';
                        choice_elem += '<a href="'+ r.url + '" class="btn btn-xs glyphicon glyphicon-pencil" target="_blank"></a>';
                        choice_elem += '</span>';
                        choice_elem += ' <span class="label label-success">' + r.type + '</span> <strong>' + r.name + '</strong> <span class="label label-default">' + r.datestring + '</span>';
                        if (r.description != null) {
                            choice_elem += ' | <span class="text-muted">' + r.description + '</span>';
                        }
                        if (r.public != true) {
                          choice_elem += ' <i class="fa fa-eye-slash" title="The linked record is not public."></i>';
                        }
                        choice_elem += '</li>';

                        $('#results-container').append(choice_elem);
                    });

                    $('.select-citation').click(function() {
                        var selected = $(this);
                        var selected_id = selected.attr('data-id');
                        var selected_name = selected.attr('data-name');
                        $('#results-container').empty();
                        $('#authority-search').val(selected_name);
                        $('#id_acrelation-name_for_display_in_citation').val(selected_name);
                        $('#id_acrelation-authority').val(selected_id);
                    });
                }
            });
        });
    }
});
</script>

{% if acrelation %}
<script>
$(document).ready(function() {
    bind_acrelation();
});

var bind_acrelation = function() {
    $('.delete-acrelation').click(function() {
        var elem = $(this);
        var acrelation_id = elem.attr('acrelation-id');
        var acrelation_title = elem.attr('acrelation-title');
        $('#acrelation-id-container').val(acrelation_id);
        $('#delete-acrelation-target-name').html(acrelation_title);
        $('#delete-acrelation-modal').modal('show');
    });
}

var delete_acrelation = function() {
    $('#delete-acrelation-modal').modal('hide');
    var acrelation_id = $('#acrelation-id-container').val();
    if (acrelation_id) {
        window.location.replace("{% url "delete_acrelation_for_citation" instance.id acrelation.id %}?confirm=true");
    }
}
</script>


<!-- Modal -->
<div class="modal fade" id="delete-acrelation-modal" tabindex="-1" role="dialog" aria-labelledby="delete-acrelation-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-acrelation-modal-label">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to delete an authority-citation relation with <span class="text-warning" id="delete-acrelation-target-name"></span>. Deletion cannot be undone!
                </p>
                <p>
                    This will not delete the related authority itself, only the relation between the authority and this citation.
                </p>
                <input type="hidden" id="acrelation-id-container" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-danger" onclick="delete_acrelation();">Delete forever</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
