{% extends "curation/base.html" %}

{% load render_object %}
{% load rules %}
{% load permission_tags %}
{% load search_filters %}
{% load general_tags %}

{% block content %}

<style>
#subject-list-group > li, #category-list-group > li {
  padding: 5px 15px;
}

#abstract_panel div.panel-heading {
  padding: 1px 15px;
}
#abstract_panel div.panel-body {
  padding: 5px;
}
</style>

{% with 'acrelation'|create_perm_tuple:instance.id as permTuple %}
{% test_rule 'can_update_citation_field' user permTuple as can_update %}
{% test_rule 'can_view_citation_field' user permTuple as can_view %}

<div id="subjectsCategoriesView" class="row">
  <div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <a class="text-info" href="{% url 'curation:citation_list' %}?page={{ current_page}}&search={{ search_key }}" id="citation_back_to_list"><i class="fa fa-reply" aria-hidden="true"></i>
        Back to List (Use carefully. May not work.) </a>
    </div>
    <div class="col-md-5">
      <p>
       
        <a href="{% url 'curation:curate_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
   Back to Citation</a>
      </p>
    </div>
    
    </div>
    <div class="col-md-3">
     
    </div>
  </div>
  <div class="col-md-12">&nbsp;</div>

  <!-- BEGIN title/abstract column -->
  <div class="col-md-4">
      <div class="col-md-12">
        <p>
        <strong id="citation_type" data-type="{{instance.type_controlled}}">{{ instance.get_type_controlled_display }}</strong>:
        {{ instance.id }}, {{ instance|get_citation_pubdate }} [{{ instance.record_status_value }}]
        </p>
      </div>

      <div class="col-md-12">
        {% for acrelation in instance.acrelation_set.all %}
            {% if acrelation.type_broad_controlled == 'PR' %}
            <label class="label label-success">{{ acrelation.get_type_controlled_display }}</label>
            {{ acrelation.authority.name }}
            {% if acrelation.name_for_display_in_citation %}
            <span class="text-muted">(as "{{ acrelation.name_for_display_in_citation }}")</span>
            {% endif %}
            {% if not acrelation.authority.public %}
            <i class="fa fa-eye-slash" title="The linked record is not public."></i>
            {% endif %}
            {% if not acrelation.public %}
            <i class="fa fa-minus-square" aria-hidden="true" title="This ACRelation is not public."></i>
            {% endif %}
            {% endif %}
         {% endfor %}
       </div>

       <div class="col-md-12"  style="margin-top: 10px;">
         <i>{{ instance.title }}</i>
       </div>

       <div class="col-md-12" style="margin-top: 10px;">
         <div class="panel-group" id="abstract_panel" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class="fa fa-caret-up" aria-hidden="true"></i>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                {{ instance.abstract }}
              </div>
            </div>
          </div>
        </div>
       </div>
  </div>
  <!-- END title/abstract column -->

  <!-- BEGIN category/subject column -->
  <div class="col-md-3">
    <div class="col-md-12" style="margin-top: 10px;">
      <h5><b>Categories</b></h5>
      <ul id="category-list-group" class="list-group">
        {% for acrel in instance|get_categories %}
           <li id="category-entry-{{ acrel.id }}" class="list-group-item">
            <a href="{% if acrel.authority|is_external_tenant:instance.owning_tenant %}{% url 'tenants:authority' instance.owning_tenant.identifier acrel.authority.id %}{% else %}{% url 'curation:curate_authority' acrel.authority.id %}{% endif %}">
              {% if acrel.authority|is_external_tenant:instance.owning_tenant.id %}<i class="fas fa-share-alt"></i>{% endif %} 
              {{ acrel.authority.name }}
            </a>
           {% if can_update %}
           <span class="button-group button-group-xs">
               <a class="btn btn-xs glyphicon glyphicon-remove delete delete-category pull-right"
                   acrelation-id="{{ acrel.id }}"
                   data-acrelation-type="category"
                   acrelation-title="{{ acrel.authority.name }}"></a>
           </span>
           {% endif %}
           </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-12" style="margin-top: 10px;">
      <h5><b>Subjects</b></h5>
      <ul id="subject-list-group" class="list-group">
        {% for acrel in instance|get_subjects %}
           <li id="subject-entry-{{ acrel.id }}" class="list-group-item {% if not acrel.authority %}record-notpublic{% endif %} ">
             {% if acrel.authority %}
             <a href="{% if acrel.authority|is_external_tenant:instance.owning_tenant %}{% url 'tenants:authority' instance.owning_tenant.identifier acrel.authority.id %}{% else %}{% url 'curation:curate_authority' acrel.authority.id %}{% endif %}">{% if acrel.authority|is_external_tenant:instance.owning_tenant.id %}<i class="fas fa-share-alt"></i>{% endif %} {{ acrel.authority.name }}</a>
             {% else %}}
             <span class="text-muted">{% if acrel.authority|is_external_tenant:instance.owning_tenant.id %}<i class="fas fa-share-alt"></i>{% endif %} {{ acrel.name_for_display_in_citation }} <i class="fa fa-chain-broken" aria-hidden="true"></i></span>
             {% endif %}
             {% if can_update %}
             <span class="button-group button-group-xs">
                 <a class="btn btn-xs glyphicon glyphicon-remove delete delete-category pull-right"
                     acrelation-id="{{ acrel.id }}"
                     data-acrelation-type="subject"
                     acrelation-title="{{ acrel.authority.name }}"></a>
             </span>
             {% endif %}
           </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- END category/subject column -->

  <!-- BEGIN add subject/category column -->
  <div class="col-md-5">
    {% if can_update %}
    <div class="text-right">
      <a href="{% url 'curation:create_authority' %}" target="_blank"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add new authority</a>
    </div>
    <div class="text-right">
      Search all tenants:
      <div class="btn-group btn-toggle"> 
        <button id="searchAllTenantsOff" class="btn btn-xs btn-default {% if not tenant.settings.subject_searches_all_tenants %}btn-primary {% else %} btn-default {% endif %}">Off</button>
        <button id="searchAllTenantsOn" class="btn btn-xs {% if tenant.settings.subject_searches_all_tenants %}btn-primary  {% else %} btn-default {% endif %}">On</button>
      </div>
    </div>
    
    <ul class="nav nav-tabs" role="tablist">
      <li id="subjectsTab" role="presentation" class="active"><a href="#addSubjects" aria-controls="addSubjects" role="tab" data-toggle="tab">Subjects</a></li>
      <li id="categoriesTab" role="presentation"><a href="#addCategories" aria-controls="addCategories" role="tab" data-toggle="tab">Categories</a></li>
      <li id="timePeriodsTab" role="presentation"><a href="#addTimePeriods" aria-controls="addTimePeriods" role="tab" data-toggle="tab">Eras</a></li>
      <li id="journalsTab" role="presentation"><a href="#addJournals" aria-controls="addJournals" role="tab" data-toggle="tab">Journals</a></li>
      <li id="suggestTab" role="presentation"><a href="#suggest" aria-controls="suggest" role="tab" data-toggle="tab">Suggest</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="addSubjects">
        <p>
          <div class="input-group">
            <input type="text" id="subjectSearchQuery" class="form-control" placeholder="Search for subject..." style="height:3.4em">
            </input>

            <span class="input-group-btn">
              <span class="button-checkbox">
                <button type="button" class="btn btn-default" id="forceSearch" title="Force search" style="height:3.5em" data-color="primary">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </span>
              <span class="button-checkbox">
                <button type="button" class="btn" data-color="primary">C</button>
                <input id="filterConcepts" type="checkbox" class="hidden" />
              </span>
              <span class="button-checkbox">
                <button type="button" class="btn" data-color="primary">P</button>
                <input id="filterPersons" type="checkbox" class="hidden" />
              </span>
              <span class="button-checkbox">
                <button type="button" class="btn" data-color="primary">I</button>
                <input id="filterInstitutions" type="checkbox" class="hidden" />
              </span>
              <span class="button-checkbox">
                <button type="button" class="btn" data-color="primary">G</button>
                <input id="filterGeoTerms" type="checkbox" class="hidden" />
              </span>
              <span class="button-checkbox">
                <button type="button" class="btn" data-color="primary">T</button>
                <input id="filterTimePeriods" type="checkbox" class="hidden" />
              </span>
              <span >
                <button id="filterAll" type="button" class="btn btn-default" style="line-height:240%">All</button>
              </span>
            </span>
          </div>
        </p>

        <ul class="list-group" id="subjectSearchResultsContainer">

        </ul>

        
      </div>

      <!-- Category tab -->
      <div role="tabpanel" class="tab-pane" id="addCategories">
        {% include "curation/fragment_categories_page_categories.html" %}
        <div id="category-guesses-container">
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="addTimePeriods">
        {% include "curation/fragment_categories_page_timeperiods.html" %}
      </div>

      <div role="tabpanel" class="tab-pane" id="addJournals">
        {% include "curation/fragment_categories_page_journals.html" %}
      </div>

      <div role="tabpanel" class="tab-pane" id="suggest">
        {% include "curation/fragment_categories_page_suggest.html" %}
      </div>
    </div>
    {% endif %}
  </div>
  <!-- END add subject/category column -->

</div>

<script>
$('#subjectsTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
  setSearchAllTenants();
})

$("#categoriesTab a").click(function(e) {
  if (!window.location.href.includes("#categories")) {
    window.location.href += "#categories";
  }
  location.reload();
})

$('#journalsTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
  setSearchAllTenants();
})

var search_all_tenants;
function setSearchAllTenants() {
  search_all_tenants = {% if tenant.settings.subject_searches_all_tenants %}true{%else%}false{%endif%};
  {% if tenant.settings.subject_searches_all_tenants %} 
  turnSearchAllTenantsOn()
  {% else %} 
  turnSearchAllTenantsOff()
  {% endif %}
}

//@ sourceURL=delete.js
$(document).ready(function() {
  setSearchAllTenants();
  $('.delete-category').click(delete_handler);
  if (window.location.hash.includes("#categories")) {
    $("#categoriesTab a").tab('show')
  }
});

var delete_handler = function() {
    var elem = $(this);
    var acrelation_id = elem.attr('acrelation-id');
    var acrelation_type = elem.attr('data-acrelation-type')
    if (acrelation_id) {
        $.ajax("{% url "curation:create_acrelation_for_citation" instance.id %}" + acrelation_id + '/delete.json?confirm=true', {
            'success': function(r) {
                $('#' + acrelation_type + '-entry-' + acrelation_id).remove();
            },
        });
    }
}

var INITIAL_MAX_RESULTS = 10;
var max_results = INITIAL_MAX_RESULTS;
var types = [];

var searchTimerSubjects = 0;
function triggerSearchSubjects(force) {
  if (searchTimerSubjects) {
      clearTimeout(searchTimerSubjects);
  }

  var query = $('#subjectSearchQuery').val();
  searchTimerSubjects = setTimeout(function() {
    var url = "{% url "curation:quick_and_dirty_authority_search" %}?exclude=CT,SE&show_inactive=false&use_custom_cmp=false&type=" + types 
    url += "&max=" + max_results + "&force=" + force; 
    if (!search_all_tenants) {
      url += "&tenant_ids={{instance.owning_tenant.id}}";
    }
    url += "&q=" + $('#subjectSearchQuery').val();
    $.ajax(url, {
        success: function(result) {
          var resultsContainer = $('#subjectSearchResultsContainer');
          resultsContainer.empty();
          result.results.forEach(function(r) {
            var newLi = $("<li></li>");
            newLi.addClass("list-group-item");
            newLi.attr('data-acrelation-id', r.name);
            var publicLink = $('<a></a>');
            publicLink.attr('href', '{% url 'tenants:home' instance.owning_tenant.identifier %}authority/' + r.id);
            publicLink.attr('target', "_blank");

            var linkText = r.name + ' (' + r.citation_count + ')';
            if (!(r.owning_tenant == {{instance.owning_tenant.id}}) ) {
              linkText = '<i class="fas fa-share-alt"></i> ' + linkText;
            }
            publicLink.html(linkText);
            newLi.append(publicLink);
            var suggestLink = $('<a href="#" data-acrid="' + r.id + '" data-query="' + r.name + '"></a>');
            suggestLink.append($('<span class="label label-warning pull-right" style="margin-left: 5px;">S</span>'));
            newLi.append(suggestLink);
            newLi.append($('<span class="label label-primary pull-right">' + r.type + '</span>'));
            resultsContainer.append(newLi);

            suggestLink.click(suggestSubjects);

            var addBtn = $('<a href="#" data-id="' + r.id + '"></a>');
            addBtn.append('<i class="fa fa-plus-circle" aria-hidden="true" style="margin-right:10px;"></i>');
            addBtn.click(addConcept);
            newLi.prepend(addBtn);
          });

          if (result.results.length == 0 && ((force && query.length < 3) || (!force && query.length > 2))) {
            var msg = $('<p>There are no results for "' + $('#subjectSearchQuery').val() +'".</p>');
            resultsContainer.append(msg);
          } else if (result.results.length == 0 && !force && query.length < 3) {
            var msg = $('<p>Your query was too short. </p>');
            var forceLink = $('<a>Press <i class="fa fa-search" aria-hidden="true"></i></a>');
            forceLink.click(function() {
              triggerSearchSubjects(true);
            });
            msg.append(forceLink);
            msg.append(" to force the search.");
            resultsContainer.append(msg);
          }

          if (result.results.length == max_results) {
            var load_more = `
              <li class="list-group-item search-result">
                <div class="text-right" id="load-more-subjects"><a>Load more...</a></div>
              </li>
            `;
            resultsContainer.append(load_more);
            $('#load-more-subjects').click(function() {
                max_results += 10;
                triggerSearchSubjects(force);
            });
          }
        }
      });
  }, 500);
}

// checkbox settings
var settings = {
    on: {
        icon: 'glyphicon glyphicon-check'
    },
    off: {
        icon: 'glyphicon glyphicon-unchecked'
    }
};

function suggestSubjects(event) {
  $("#suggestionSpinner").show();
  var id = $(event.currentTarget).data('acrid');
  var query = $(event.currentTarget).data('query');
  $.get("{% url "curation:subjects_suggestions" instance.id %}?authority_id=" + id, function(result) {
    showSuggestions(query, result);
  });
  $('#suggestTab a').tab("show");
}

function turnSearchAllTenantsOn() {
  search_all_tenants = true
  $("#searchAllTenantsOff").removeClass("btn-primary");
  $("#searchAllTenantsOff").addClass("btn-default");
  $("#searchAllTenantsOn").removeClass("btn-default");
  $("#searchAllTenantsOn").addClass("btn-primary");
  console.log($("#subjectSearchQuery").val())
  if ($("#subjectsTab").hasClass("active") && $("#subjectSearchQuery").val()) {
    triggerSearchSubjects(true);
  } else if ($("#categoriesTab").hasClass("active")) {
    triggerSearchCategories();
  } else if ($("#journalsTab").hasClass("active") && $("#journalsSearchQuery").val()) {
    triggerSearchJournals();
  }
}

function turnSearchAllTenantsOff() {
  search_all_tenants = false
  $("#searchAllTenantsOn").removeClass("btn-primary");
  $("#searchAllTenantsOn").addClass("btn-default");
  $("#searchAllTenantsOff").removeClass("btn-default");
  $("#searchAllTenantsOff").addClass("btn-primary");
  if ($("#subjectsTab").hasClass("active")) {
    triggerSearchSubjects(true);
  } else if ($("#categoriesTab").hasClass("active")) {
    triggerSearchCategories();
  } else if ($("#journalsTab").hasClass("active")) {
    triggerSearchJournals();
  }
}

$(document).ready(function() {

  $("#forceSearch").click(function() {
    triggerSearchSubjects(true);
  });

  $("#searchAllTenantsOff").click(function() {
    turnSearchAllTenantsOff();
  });
  $("#searchAllTenantsOn").click(function() {
    turnSearchAllTenantsOn();
  });

  $('#subjectSearchQuery').on('keyup', function() {
    max_results = INITIAL_MAX_RESULTS;
    triggerSearchSubjects(false);
  });

  // add checkbox search handlers
  $("#filterConcepts").change(function() {
    filterType("CO", $("#filterConcepts"));
  });
  $("#filterPersons").change(function() {
    filterType("PE", $("#filterPersons"));
  });
  $("#filterInstitutions").change(function() {
    filterType("IN", $("#filterInstitutions"));
  });
  $("#filterGeoTerms").change(function() {
    filterType("GE", $("#filterGeoTerms"));
  });
  $("#filterTimePeriods").change(function() {
    filterType("TI", $("#filterTimePeriods"));
  });
  $("#filterAll").click(function() {
    $('.button-checkbox').each(function () {
      var checkbox = $(this).find('input:checkbox');
      checkbox.attr('checked', false);
      updateDisplay(checkbox);
    });
    types = []
    triggerSearchSubjects(false);
  });

  // checkbox styling
  $('.button-checkbox').each(function () {
          // Settings
          var $widget = $(this),
              $button = $widget.find('button'),
              $checkbox = $widget.find('input:checkbox'),
              color = $button.data('color')


          // Event Handlers
          $button.on('click', function () {
              $checkbox.prop('checked', !$checkbox.is(':checked'));
              $checkbox.triggerHandler('change');
              updateDisplay($checkbox);
          });
          $checkbox.on('change', function () {
              updateDisplay($checkbox);
          });

          // Initialization
          function init() {

              updateDisplay($checkbox);

              if ($button.data('state') == 'on' || $button.data('state') == 'off') {

                // Inject the icon if applicable
                if ($button.find('.state-icon').length == 0) {
                    $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i><br>');
                }
              }
          }
          init();
      });
});

// checkbox update display
function updateDisplay($checkbox) {
    var isChecked = $checkbox.is(':checked');
    var $button = $checkbox.siblings('button')
    var color = $button.data('color');

    // Set the button's state
    $button.data('state', (isChecked) ? "on" : "off");

    if ($button.data('state') == 'on' || $button.data('state') == 'off') {
      // Set the button's icon
      $button.find('.state-icon')
          .removeClass()
          .addClass('state-icon ' + settings[$button.data('state')].icon);

    }

    // Update the button's color
    if (isChecked) {
        $button
            .removeClass('btn-default')
            .addClass('btn-' + color + ' active');
    }
    else {
        $button
            .removeClass('btn-' + color + ' active')
            .addClass('btn-default');
    }
}

function filterType(type, element) {
  if (element.is(':checked')) {
    types.push(type);
  } else {
    var typeIndex = types.indexOf(type);
    if (typeIndex > -1) {
      types.splice(typeIndex, 1);
    }
  }
  triggerSearchSubjects(false);
}

function addConcept(event) {
  var link = event.target.closest('a');
  var acRelId = $(link).data('id');

  var payload = {
      'citation_id': "{{ instance.id }}",
      'authority_id': acRelId,
      'type_controlled': 'SU',    // subject.
      'type_broad_controlled': 'SC',    // subject content.
  };

  $.post("{% url "curation:quick_create_acrelation"  %}", payload, function(result) {
    var ul = $('#subject-list-group');
    var newId = result.acrelation.id;
    var url = '{% url 'curation:authority_list' %}' + result.acrelation.authority.id

    var linkText = result.acrelation.authority.name;
    if (result.acrelation.authority.owning_tenant != {{ instance.owning_tenant.id }}) {
      linkText = '<i class="fas fa-share-alt"></i> ' + linkText;
      url = "{% url 'tenants:authority-base' instance.owning_tenant.identifier %}" + result.acrelation.authority.id;
    }
    var li = $('<li id="subject-entry-' + newId + '" class="list-group-item"><a href="' + url + '">' + linkText + '</a></li>');
    ul.append(li);
    {% if can_update %}
    var span = $('<span class="button-group button-group-xs"></span>');
    li.append(span);

    var a = $('<a class="btn btn-xs glyphicon glyphicon-remove delete delete-category pull-right" acrelation-id="' + newId + '" data-acrelation-type="subject" acrelation-title="' + result.acrelation.authority.name + '"></a>');
    span.append(a);
    a.click(delete_handler);
    {% endif %}
  });
}
</script>

{% endwith %}
{% endblock %}
