{% extends "curation/list_view.html" %}
{% load addcss %}
{% load pagination_tags %}
{% load render_object %}
{% load permission_tags %}

{% block object_list %}

<a class="btn btn-primary btn-sm" href="{% url 'create_citation' %}">Create new citation record</a>

<table class="table table-responsive table-hover table-curation">
    <thead>
        <tr>
            <th width="5%">ID</th>
            <th width="5%">Type</th>
            <th>Title</th>
            <th>Author/Editor(s)</th>
            <th width="5%">Published</th>
            <th width="15%">Periodical</th>
            <th width="12%">Modified</th>
            <th width="12%">Created</th>
        </tr>
    </thead>
    <tbody>
        {% for object in filter_list %}
        {% with object.all_acrelations as acrelations %}
        {% with acrelations|get_authorities as authorities %}
        {% with object.all_ccrelations as ccrelations %}
        {% with object|get_citations:ccrelations as related_citations %}
        {% with object.attributes as attributes %}
        <tr class="{% if not object.public or not object.id|are_linked_books_public:related_citations or not object.id|are_linked_journals_public:authorities %}notpublic{% endif %}">
            <td>
                <a href="{% url "curate_citation" object.id %}">{{ object.id }}</a>
                {% if not object.public %}
                <i class="fa fa-eye-slash" aria-hidden="true" title="This citation is not public."></i>
                {% endif %}

                {% if not acrelations|are_related_authorities_public:authorities or not ccrelations|are_related_citations_public:related_citations or not attributes|are_attributes_public %}
                <i class="fa fa-exclamation-circle" aria-hidden="true" title="At least one linked record is not public."></i>
                {% endif %}
                {% if object|is_public_inconsistent %}
                <i class="fa fa-exclamation-triangle" aria-hidden="true" title="The public/record status fields are inconsistent."></i>
                {% endif %}
                {% if object.record_status_value == 'Redirect' %}
                <i class="fa fa-share" aria-hidden="true" title="This authority records redirects to another one."></i>
                {% endif %}
            </td>
            <td>{{ object.get_type_controlled_display }}</td>
            <td><strong>{{ object|get_citation_title|safe }}</strong></td>
            <td>
                <a href="{% url "curate_citation" object.id %}?tab=acrelations">
                    {{ acrelations|get_authors_editors_preloaded }}
                </a>
            </td>
            <td>
                <a href="{% url "curate_citation" object.id %}?tab=attributes">
                    {{ object|get_citation_pubdate_fast }}
                </a>
            </td>
            <td>
                <a href="{% url "curate_citation" object.id %}?tab=acrelations">
                    {{ object|get_citation_periodical }}
                </a>
            </td>
            <td>
                {% if object.modified_on %}{{ object.modified_on }}{% else %}{{ object.modified_on_fm }}{% endif %}
            </td>
            <td>
                {% if object.created_on %}{{ object.created_on }}{% else %}{{ object.created_on_fm }}{% endif %}
            </td>
        </tr>
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endfor %}
    </tbody>

    </thead>

</table>
{% endblock %}

{% block filter_form %}
<form class="form clearfix">
    <div class="row">
        <div class="col-sm-4">
            {% for error in objects.form.id.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.id.label }}</label>
                {{ objects.form.id|addcss:"form-control" }}
            </div>

            {% for error in objects.form.abstract.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.abstract.label }}</label>
                {{ objects.form.abstract|addcss:"form-control" }}
            </div>

            <div class="row">
                <div class="col-xs-6">
                    {% for error in objects.form.publication_date_from.errors %}
                    <div class="alert alert-warning">{{ error }}</div>
                    {% endfor %}
                    <div class="form-group clearable">
                        <label>{{ objects.form.publication_date_from.label }}</label>
                        {{ objects.form.publication_date_from|addcss:"form-control" }}
                    </div>
                </div>
                <div class="col-xs-6">
                    {% for error in objects.form.publication_date_to.errors %}
                    <div class="alert alert-warning">{{ error }}</div>
                    {% endfor %}
                    <div class="form-group clearable">
                        <label>{{ objects.form.publication_date_to.label }}</label>
                        {{ objects.form.publication_date_to|addcss:"form-control" }}
                    </div>
                </div>
            </div>

            {% for error in objects.form.publisher.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.publisher.label }}</label>
                {{ objects.form.publisher|addcss:"form-control" }}
            </div>

        </div>
        <div class="col-sm-4">
            {% for error in objects.form.title.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.title.label }}</label>
                {{ objects.form.title|addcss:"form-control" }}
            </div>


            {% for error in objects.form.author_or_editor.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.author_or_editor.label }}</label>
                {{ objects.form.author_or_editor|addcss:"form-control" }}
            </div>

            {% for error in objects.form.periodical.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.periodical.label }}</label>
                {{ objects.form.periodical|addcss:"form-control" }}
            </div>

            {% for error in objects.form.order.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.order.label }}</label>
                {{ objects.form.order|addcss:"form-control" }}
            </div>

        </div>

        <div class="col-sm-4">
            {% for error in objects.form.type_controlled.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.type_controlled.label }}</label>
                {{ objects.form.type_controlled|addcss:"form-control" }}
            </div>

            {% for error in objects.form.description.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.description.label }}</label>
                {{ objects.form.description|addcss:"form-control" }}
            </div>

            {% for error in objects.form.subject.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.subject.label }}</label>
                {{ objects.form.subject|addcss:"form-control" }}
            </div>

            {% for error in objects.form.record_status.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.record_status.label }}</label>
                {{ objects.form.record_status|addcss:"form-control" }}
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            {% for error in objects.form.zotero_accession.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.zotero_accession.label }}</label>
                {{ objects.form.zotero_accession|addcss:"form-control" }}
            </div>
        </div>
        <div class="col-sm-4">
            {% for error in objects.form.belongs_to.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group clearable">
                <label>{{ objects.form.belongs_to.label }}</label>
                {{ objects.form.belongs_to|addcss:"form-control" }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="btn-group pull-right">
                <input class="btn btn-primary" type="submit" value="Apply Filters"></input>
                <button class="btn btn-warning" type="" id="clear-filters" value="Clear Filters">Clear Filters</button>
            </div>
        </div>
    </div>


</form>
<script>
$(document).ready(function() {
    $('#clear-filters').on('click', function() {
        $('.form-group.clearable input').val('');
        $('.form-group.clearable select').val('');
    });
});
</script>
{% endblock %}
