{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}


{% block content %}
<style>
.related-citations-tooltip {
    background-color: white;
    text-align: left;
    border: 1px solid #ccc;
}

.related-citations-tooltip .tooltip-inner {
    background-color: white;
    color: black;
    text-align: left;
    max-width: 300px;
    width: 300px;
}

.related-citations-tooltip .tooltip-inner p {
    width: 300px;
}

.related-citation {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 8pt;
}
</style>

{% if not form.instance.public %}
<div class="alert alert-danger" role="alert">
<i class="fa fa-eye-slash" aria-hidden="true"></i> This ACRelation is not public.
</div>
{% endif %}

{{ form.errors }}

<form id="acrelation_form" class="form" action="." method="POST">
    {% csrf_token %}
    <input type="hidden" name="search" value="{{ search_key }}">
    <input type="hidden" name="current" value="{{ current_index }}">

<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-5">
      <div class="row">
          <div class="col-md-12">
            <div class="form-group form-inline">
              <strong class="text-warning">
              {{ form.instance.id }}</strong> | <strong>ACR record</strong>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {% if user.is_superuser or user.is_staff %}
                {{ form.record_status_value|addcss:"form-control input-sm" }}
                &nbsp;
                {{ form.record_status_explanation|addcss:"form-control input-sm" }}
              {% endif %}
            </div>
            <div class="col-md-12">
                {% for error in form.record_status_value.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                {% for error in form.record_status_explanation.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-3">
      <a {% if user.is_staff or user.is_superuser %}href="{% url 'curation:curate_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}"{% else %}href="{% url 'curation:guest_curate_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}"{% endif %}><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
 Back to Citation</a>
    </div>
    <div class="col-md-4">
        <div class="btn-group pull-right">
            <a {% if user.is_staff or user.is_superuser %}href="{% url 'curation:curate_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}"{% else %}href="{% url 'curation:guest_curate_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}"{% endif %} class="btn btn-sm btn-default">Cancel</a>
            <a href="#" class="btn btn-sm btn-success save-acrelation" >Save</a>
            <a href="#"
                class="btn btn-danger btn-sm delete-acrelation"
                acrelation-id="{{ acrelation.id }}"
                acrelation-title="{{ acrelation.authority.name }}">
                Delete
            </a>
        </div>
    </div>
  </div>



    {% include "curation/fragment_citation_header.html" %}

    <div class="container-fluid form-horizontal">
        <div class="row">
          <div class="col-sm-12" style="padding: 0 20%;">

            <strong>Citation record: </strong><strong class="text-warning">{{ instance.id }} &nbsp;&nbsp;
              <a href="{% url 'curation:curate_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
            </strong>

            <p>
              <span id="citation_type_full" data-code-type="{{ instance.type_controlled }}" class="text-success">{{ instance.get_type_controlled_display }}</span>
              <br>
              <em>{{ instance.title }}</em>
              <br>
              {% with instance|get_authors_editors as authors_editors %}
              {% if authors_editors %}
                          {{ authors_editors }}
              {% endif %}
              {% endwith %}

            </p>
            <hr>
            {% if user.is_superuser or user.is_staff %}
              <div class="text-right">
                <a href="{% url 'curation:create_authority' %}?search={{ search_key }}&current={{ current_index }}" target="_blank"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add new authority</a>
              </div>
            {% endif %}
            <div class="form-horizontal">
              <div id="authority_info">
                <strong>Authority record: </strong><strong class="text-warning">{% if form.instance.authority %}{{ form.instance.authority.id }}{% endif %}</strong> &nbsp;&nbsp;
                  <a id="authority_link" href="{% if form.instance.authority %}{% url 'curation:curate_authority' form.instance.authority.id %}{% endif %}"><i class="fa fa-external-link" aria-hidden="true"></i> </a>

                <p>
                  <span id="authority_type_full" {% if form.instance.authority %}data-type-code="{{ form.instance.authority.type_controlled }}"{% endif %} class="text-success">{% if form.instance.authority %}{{ form.instance.authority.get_type_controlled_display }}{% endif %}</span>
                  <br>
                  <span {% if form.instance.authority %}data-type="{{form.instance.authority.type_controlled}}"{% endif %} id="authority_name">{% if form.instance.authority %}{{ form.instance.authority.name }}{% endif %}</span>
                  <br>


                </p>

            </div>
              <div class="form-group">
                  <div class="col-sm-12">
                      <div class="input-group">
                          <input type="text"
                              class="form-control"
                              name="authority-search"
                              autocomplete="off"
                              placeholder="Search for authority . . ."
                              id="authority-search">
                          <span class="input-group-btn">
                              <a
                                  class="btn glyphicon glyphicon-pencil enable-search-input"
                                  data-target="#authority-search">
                              </a>
                          </span>
                      </div>
                    </div>
              </div>

              <ul class="list-group" id="results-container"></ul>
            </div>

            <hr>
            {% for error in form.name_for_display_in_citation.errors %}
              <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <div class="form-group">
                <label class="col-md-4">{{ form.name_for_display_in_citation.label }}</label>
                <div class="col-md-8">
                  {{ form.name_for_display_in_citation|addcss:"form-control" }}
                </div>
            </div>

            {% for error in form.type_controlled.errors %}
              <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <div class="form-group">
                <label class="col-md-4">{{ form.type_controlled.label }}</label>
                <div class="col-md-8">
                  {{ form.type_controlled|addcss:"form-control" }}
                </div>
            </div>

            {% for error in form.data_display_order.errors %}
              <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <div class="form-group">
                {% if user.is_superuser or user.is_staff %}<label class="col-md-4">{{ form.data_display_order.label }}</label>{% endif %}
                <div class="col-md-8">
                  {% if user.is_superuser or user.is_staff %}
                    {{ form.data_display_order|addcss:"form-control" }}
                  {% else %}
                    {{ form.data_display_order.as_hidden }}
                  {% endif %}
                </div>
            </div>

            {% for error in form.confidence_measure.errors %}
              <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <div class="form-group">
                {% if user.is_superuser or user.is_staff %}<label class="col-md-4">{{ form.confidence_measure.label }}</label>{% endif %}
                <div class="col-md-8">
                  {% if user.is_superuser or user.is_staff %}
                    {{ form.confidence_measure|addcss:"form-control" }}
                  {% else %}
                    {{ form.confidence_measure.as_hidden }}
                  {% endif %}
                </div>
            </div>


            {% for error in form.administrator_notes.errors %}
              <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <div class="form-group">
                {% if user.is_superuser or user.is_staff %}<label class="col-md-12">{{ form.administrator_notes.label }}</label>{% endif %}
                <div class="col-md-12">
                  {% if user.is_superuser or user.is_staff %}
                    {{ form.administrator_notes|addcss:"form-control" }}
                  {% else %}
                    {{ form.administrator_notes.as_hidden }}
                  {% endif %}
                </div>
            </div>

            {% for error in form.record_history.errors %}
              <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <div class="form-group">
                {% if user.is_superuser or user.is_staff %}<label class="col-md-12">{{ form.record_history.label }}</label>{% endif %}
                <div class="col-md-12">
                  {% if user.is_superuser or user.is_staff %}
                    {{ form.record_history|addcss:"form-control" }}
                  {% else %}
                    {{ form.record_history.as_hidden }}
                  {% endif %}
                </div>
            </div>
            
            {{ form.authority }}
            {{ form.citation }}

            <div class="form-group">
              <label class="col-md-12">Last updated on <span class="date">{{ acrelation.modified_on|get_iso_date }}</span> by {{ acrelation.modified_by }}</label>
            </div>
          </div>
        </div>

    </div>

</form>

<div class="modal fade" id="save_confirm_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i style="color:#e8a603" class="fa fa-exclamation-triangle" aria-hidden="true"></i> ACRelation Incomplete</h4>
      </div>
      <div class="modal-body">
        <p id="modal_text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel Save</button>
        <button id="save_confirmed" type="button" class="btn btn-default">Yes, Save!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$('#id_language').multiSelect()
</script>

<script>
//# sourceURL=save.js
$(document).ready(function() {
    var format_citations = function(related_citations) {
        var _doc = '';
        related_citations.forEach(function(rel_cit) {
            _doc += "<div class='related-citation'>" + rel_cit + "</div>";
        })
        return _doc;
    }

    var max_results = 10;

    var authority_name = "{% if acrelation %}{{ acrelation.authority.name|safe }}{% endif %}";
    var authority_search_input = $('#authority-search');

    var unlockSearchInput = function(e) {
        var search_input = $($(this).attr('data-target'));
        search_input.removeAttr('disabled');
        search_input.trigger('keyup');
    }

    var searchTimer = 0;
    var triggerSearch = function(e) {
        if (searchTimer) {
            clearTimeout(searchTimer);
        }

        var query = authority_search_input.val();
        searchTimer = setTimeout(function() {
          $.ajax("{% url "curation:quick_and_dirty_authority_search" %}?max=" + String(max_results) + "&show_inactive=false&q=" + query, {
              failure: function(result) {
                  waiting = false;
              },
              success: function(result) {
                  waiting = false;

                  $('#results-container').empty();
                  if (result.results.length) {
                    result.results.forEach(function(suggestion) {
                      var choice_elem = `
                          <li class="list-group-item search-result">
                              <div class="row">
                                  <div class="col-xs-2">
                                      <span class="button-group button-group-md">
                                          <a class="glyphicon glyphicon-ok btn btn-md select-citation"
                                              data-type="`+ suggestion.type +`"
                                              data-type-code="` + suggestion.type_code + `"
                                              data-id="` + suggestion.id + `"
                                              data-name="` + suggestion.name + `"
                                              data-suggestion="` + suggestion.id + `">
                                          </a>
                                      </span>
                                  </div>
                                  <div class="col-xs-10">
                                      <div class="h5">
                                          <a href="/curation/authority/` + suggestion.id + `/?tab=acrelations"
                                              class="search-authority-anchor"
                                              target="_blank"
                                              data-toggle="tooltip"
                                              data-html="true"
                                              data-placement="left"
                                              data-title="` + format_citations(suggestion.related_citations) + `">` + suggestion.name + ` (` + suggestion.citation_count + `)</a>
                                      </div>
                                      <span class="label label-danger"
                                          style="margin-left: 5px;">
                                          ` + suggestion.type_controlled + `
                                      </span>
                                  </div>
                              </div>
                          </li>`;

                      $('#results-container').append(choice_elem);
                  });
                  } else {
                    $('#results-container').append('<li style="list-style-type: none;">There are no authorities by that name. Try checking for variations of the name. If you cannot find an authority to match, then you can submit this citation for review without this authority link and an editor will create the authority record needed.</li>');
                  }
                  
                  if (result.results.length == max_results) {
                    var load_more = `
                      <li class="list-group-item search-result">
                        <div class="text-right" id="load-more"><a>Load more...</a></div>
                      </li>
                    `;
                    $('#results-container').append(load_more);
                    $('#load-more').click(function() {
                        max_results += 10;
                        triggerSearch();
                    });
                  }
                  $('.search-authority-anchor[data-toggle="tooltip"]').tooltip({
                      template: '<div class="tooltip related-citations-tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
                  });

                  $('.select-citation').click(function() {
                      var selected = $(this);
                      var selected_id = selected.attr('data-id');
                      var selected_name = selected.attr('data-name');
                      var selected_type = selected.attr('data-type');
                      var selected_type_code = selected.attr('data-type-code');

                      $('#results-container').empty();
                      authority_search_input.val(selected_name);
                      $('#id_acrelation-name_for_display_in_citation').val(selected_name);
                      $('#id_acrelation-authority').val(selected_id);
                      $('#authority_type_full').text(selected_type);
                      $('#authority_type_full').attr('data-type-code', selected_type_code);
                      $('#authority_name').text(selected_name);

                      authority_search_input.attr('disabled', true);
                  });
              }
          });
        }, 500);
    }

    if (authority_name.length > 0) {
        authority_search_input.val(authority_name);
        authority_search_input.attr('disabled', true);
    }
    authority_search_input.on('keyup', function() {
      max_results = 10;
      triggerSearch();
    });
    $('.enable-search-input').click(unlockSearchInput);

    $('.save-acrelation').click(function() {
      var authority_id = $('#id_acrelation-authority').val();
      var citation_id = $('#id_acrelation-citation').val();

      var possible_authority_types = {
        'AU':['PE', "IN"],
        'ED':['PE', "IN"],
        'CO':['PE'],
        'AD':['PE'],
        'TR':['PE'],
        'CM':['PE'],
        "SU":['CO', "TI", "PE", "GE", "CR", "IN"],
        "CA":["CT"],
        "PU":["IN"],
        "SC":["IN"],
        "PE":["SE"]
      };

      var possible_citation_types = {
        'AD':['TH'],
        'CM':["TH"]
      };

      if (citation_id == '') {
        $('#modal_text').text("You did not select a citation for this ACRelation. Are you sure you want to save?");
        $('#save_confirm_modal').modal('show');
        return;
      }
      if (authority_id == '') {
        $('#modal_text').text("You did not select an authority for this ACRelation. Are you sure you want to save?");
        $('#save_confirm_modal').modal('show');
        return;
      }

      var acrel_type = $('#id_acrelation-type_controlled').val();
      var acrel_type_full = $('#id_acrelation-type_controlled option:selected').text();
      var accepted_types = possible_authority_types[acrel_type];
      var selected_type = $('#authority_type_full').attr('data-type-code');
      var selected_type_full = $("#authority_type_full").text();

      if (accepted_types != undefined && !accepted_types.includes(selected_type)) {
        $('#modal_text').text("You selected '" + acrel_type_full + "' as relationship type but the authority you chose is of type '" + selected_type_full + "'. Are you sure you want to save?");
        $('#save_confirm_modal').modal('show');
        return;
      }

      var accepted_citation_types = possible_citation_types[acrel_type];
      var selected_citation_type = $("#citation_type_full").attr("data-type-code");
      var selected_citation_type_full = $("#citation_type_full").text();
      if (accepted_citation_types != undefined && !accepted_citation_types.includes(selected_citation_type)) {
        $('#modal_text').text("You selected '" + acrel_type_full + "' as relationship type but the citation of this ACRelation is of type '" + selected_citation_type_full + "'. Are you sure you want to save?");
        $('#save_confirm_modal').modal('show');
        return;
      }

      $('#acrelation_form').submit();

    });

    $('#save_confirmed').click(function() {
      $('#acrelation_form').submit();
    });

    //If the ACR already has a display name but isn't linked to an authority, automatically plug the display name into the search bar and execute the search
    let authority_display_name = $('#id_acrelation-name_for_display_in_citation').val();
    if (authority_display_name) {
      $('#authority-search').val(authority_display_name).focus();
      triggerSearch();
    }
});
</script>

{% if acrelation %}
  <script>
  $(document).ready(function() {
      bind_acrelation();
  });

  var bind_acrelation = function() {
      $('.delete-acrelation').click(function() {
          var elem = $(this);
          var acrelation_id = elem.attr('acrelation-id');
          var acrelation_title = elem.attr('acrelation-title');
          $('#acrelation-id-container').val(acrelation_id);
          $('#delete-acrelation-target-name').html(acrelation_title);
          $('#delete-acrelation-modal').modal('show');
      });
  }

  var delete_acrelation = function() {
      $('#delete-acrelation-modal').modal('hide');
      var acrelation_id = $('#acrelation-id-container').val();
      if (acrelation_id) {
          window.location.replace("{% url "curation:delete_acrelation_for_citation" instance.id acrelation.id %}?confirm=true&search={{ search_key }}&current={{ current_index }}");
      }
  }
  </script>


  <!-- Modal -->
  <div class="modal fade" id="delete-acrelation-modal" tabindex="-1" role="dialog" aria-labelledby="delete-acrelation-modal-label">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="delete-acrelation-modal-label">Are you sure?</h4>
              </div>
              <div class="modal-body">
                  <p>
                      You are about to delete an authority-citation relation with <span class="text-warning" id="delete-acrelation-target-name"></span>. Deletion cannot be undone!
                  </p>
                  <p>
                      This will not delete the related authority itself, only the relation between the authority and this citation.
                  </p>
                  <input type="hidden" id="acrelation-id-container" />
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Take me back!</button>
                  <button type="button" class="btn btn-danger" onclick="delete_acrelation();">Delete forever</button>
              </div>
          </div>
      </div>
  </div>
{% endif %}

<script>
  $(document).ready(function() {
    
  });
</script>

{% endblock %}
