{% extends "curation/citation_change_view.html" %}
{% load addcss %}
{% load render_object %}
{% load permission_tags %}

{% block citation_panel_left %}
<style>
.input-shaded {
    background-color: #ccc;
}
</style>
{% for error in form.title.errors %}
<div class="alert alert-danger">{{ error }}</div>
{% endfor %}
<div class="form-group">
    {{ form.title|addcss:"form-control titleInput" }}
</div>

<!-- Authors/editors/contributors -->
{% with instance|get_authors_editors as authors_editors %}
<div class="noFormForms">
  <small>
    <label>By:</label> <a class="text-warning cursor-link"
            onclick="toggleTab('acrelations')">
            {% if authors_editors %}
            {{ authors_editors }}
            {% else %}
            <em>Add author, editor, or contributor</em>
            {% endif %}

        </a>
  </small>
</div>
{% endwith %}

<!-- Publication date -->

{% with instance|get_citation_pubdate as pubdate %}
<div class="noFormForms">
  <small>
   <label>Date:</label>
      <a class="text-warning cursor-link"
            onclick="toggleTab('attributes')">
            {% if pubdate %}
            {{ pubdate }}
            {% else %}
            <em>Add publication date</em>
            {% endif %}
        </a>
  </small>
</div>
{% endwith %}

{% for error in form.edition_details.errors %}
<div class="alert alert-danger">{{ error }}</div>
{% endfor %}
<div class="form-group">
<div class="row">
  <div class="col-sm-2 text-left">
    <label class="input-sm">{{ form.edition_details.label }}</label>
  </div>
  <div class="col-sm-10">
    {{ form.edition_details|addcss:"form-control input-sm" }}
  </div>
</div>
</div>

{% with instance|get_citation_periodical as journal %}
<div class="noFormForms">
  <small>
    <label>In:</label> <a class="text-warning cursor-link"
            onclick="toggleTab('acrelations')">
            {% if journal %}
            {{ journal }}
            {% else %}
            <em>Add journal</em>
            {% endif %}

        </a>
  </small>
</div>
{% endwith %}

{% if partdetails_form %}
<div class="row">
  {% for error in partdetails_form.volume_free_text.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  {% for error in partdetails_form.volume_begin.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  {% for error in partdetails_form.volume_end.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  <div class="form-group col-xs-4" style="padding: 0px;">
      <div class="col-sm-3 text-left">
        <label class="input-sm">Vol.</label>
      </div>
      <div class="col-sm-9">
        {{ partdetails_form.volume_free_text|addcss:"form-control input-sm" }}
      </div>
    </div>
    <div class="form-group col-xs-4" style="padding: 0px;">
      <div class="col-sm-3 text-left">
        <label class="input-sm">From</label>
      </div>
      <div class="col-xs-9">
        {{ partdetails_form.volume_begin|addcss:"form-control input-sm input-shaded" }}
      </div>
    </div>
    <div class="form-group col-xs-4" style="padding: 0px;">
      <div class="col-sm-3 text-left">
        <label class="input-sm">to</label>
      </div>
      <div class="col-xs-9">
          {{ partdetails_form.volume_end|addcss:"form-control input-sm input-shaded" }}
      </div>
  </div>
</div>

<div class="row">
  {% for error in partdetails_form.issue_free_text.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  {% for error in partdetails_form.issue_begin.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  {% for error in partdetails_form.issue_end.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  <div class="form-group col-xs-4" style="padding: 0px;">
    <div class="col-sm-3 text-left">
      <label class="input-sm">Issue</label>
    </div>
    <div class="col-xs-9">
      {{ partdetails_form.issue_free_text|addcss:"form-control input-sm" }}
    </div>
  </div>
  <div class="form-group col-xs-4" style="padding: 0px;">
    <div class="col-sm-3 text-left">
      <label class="input-sm">From</label>
    </div>
    <div class="col-xs-9">
        {{ partdetails_form.issue_begin|addcss:"form-control input-sm input-shaded" }}
    </div>
  </div>
  <div class="form-group col-xs-4" style="padding: 0px;">
    <div class="col-sm-3 text-left">
      <label class="input-sm">to</label>
    </div>
    <div class="col-xs-9">
        {{ partdetails_form.issue_end|addcss:"form-control input-sm input-shaded" }}
    </div>
  </div>
</div>
<div class="row">
  {% for error in partdetails_form.pages_free_text.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  {% for error in partdetails_form.page_begin.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  {% for error in partdetails_form.page_end.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}

  <div class="form-group col-xs-4" style="padding: 0px;">
    <div class="col-sm-3 text-left">
      <label class="input-sm">Pages</label>
    </div>
    <div class="col-xs-9">
      {{ partdetails_form.pages_free_text|addcss:"form-control input-sm" }}
    </div>
  </div>
  <div class="form-group col-xs-4" style="padding: 0px;">
    <div class="col-sm-3 text-left">
      <label class="input-sm">From</label>
    </div>
    <div class="col-xs-9">
      {{ partdetails_form.page_begin|addcss:"form-control input-sm input-shaded" }}
    </div>
  </div>
  <div class="form-group col-xs-4" style="padding: 0px;">
    <div class="col-sm-3 text-left">
      <label class="input-sm">to</label>
    </div>
    <div class="col-xs-9">
      {{ partdetails_form.page_end|addcss:"form-control input-sm input-shaded" }}
    </div>
  </div>
</div>

<div class="row">
  {% for error in partdetails_form.extent.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  {% for error in partdetails_form.extent_note.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}

  <div class="form-group col-xs-5" style="padding: 0px;">
    <div class="col-sm-3 text-left">
      <label class="input-sm">Extent</label>
    </div>
    <div class="col-xs-9">
      {{ partdetails_form.extent|addcss:"form-control input-sm" }}
    </div>
  </div>
  <div class="form-group col-xs-7" style="padding: 0px;">
    <div class="col-sm-3 text-left">
      <label class="input-sm">Note</label>
    </div>
    <div class="col-xs-9">
      {{ partdetails_form.extent_note|addcss:"form-control input-sm" }}
    </div>
  </div>
</div>
{% endif %}

{{ form.physical_details }}
{{ form.book_series }}
<!--
{% with instance|get_publisher as publisher %}
<div class="form-group">
    <label>Publisher</label>
    <div>
        {% if publisher %}
        <a class="text-warning cursor-link"
            onclick="toggleTab('acrelations')">
            {{ publisher }}
        </a>
        {% else %}
        <a class="text-warning"
            href="{% url 'create_acrelation_for_citation' instance.id %}?type_controlled=PU">
            <span class="gylphicon glyphicon-plus"></span> Add Publisher
        </a>
        {% endif %}
    </div>
</div>
{% endwith %}
-->

{% with instance|get_doi as doi %}
<div class="form-group">
    <div>
        {% if doi %}
        <a class="text-warning cursor-link input-sm"
            onclick="toggleTab('linkeddata')">
            {{ doi }}
        </a>
        {% else %}
        <a class="text-warning input-sm"
            href="{% url 'create_linkeddata_for_citation' instance.id %}?type_controlled=DOI">
            <span class="gylphicon glyphicon-plus"></span> Add DOI
        </a>
        {% endif %}
    </div>
</div>
{% endwith %}

{% for error in form.additional_titles.errors %}
<div class="alert alert-danger">{{ error }}</div>
{% endfor %}
<div class="form-group">
<div class="row">
    <div class="col-sm-2 text-left">
      <label class="input-sm ">{{ form.additional_titles.label }}</label>
    </div>
    <div class="col-sm-10">
      {{ form.additional_titles|addcss:"form-control input-sm" }}
    </div>
</div>
</div>


{% endblock %}
