{% extends "curation/base.html" %}
{% load staticfiles %}
{% load addcss %}

{% block content %}
<div class="h2">Export citations</div>

<p class="text-warning">
    This will export data for {{ queryset.count }} citations.
</p>

<form class="form" action="?confirmed=true" method="POST">
    {% csrf_token %}

    {% for field in form %}


    {% for error in field.errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    <div class="form-group">
        {% if field.label != 'Filters' %}
        <label>{{ field.label }}</label>
        <span class="pull-right">{{ field.help_text }}</span>
        {% endif %}
        {{ field|addcss:"form-control" }}
    </div>
    <p class="text-muted text">

    </p>

    {% endfor %}
    <div class="text-center">
        <input type="submit" class="btn btn-success" value="Create" />
    </div>
</form>
{% endblock %}
