{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}

{% block content %}
<hr />

{% if not form.instance.public %}
<div class="alert alert-danger" role="alert">
<i class="fa fa-eye-slash" aria-hidden="true"></i> This CCRelation is not public.
</div>
{% endif %}

<form class="form" action="." method="POST">
    {% csrf_token %}

    {% include "curation/fragment_citation_header.html" %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {% for error in form.type_controlled.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ form.type_controlled.label }}</label>
                    {{ form.type_controlled|addcss:"form-control" }}
                </div>

                {% for error in form.description.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ form.description.label }}</label>
                    {{ form.description|addcss:"form-control" }}
                </div>

                {% for error in form.data_display_order.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ form.data_display_order.label }}</label>
                    {{ form.data_display_order|addcss:"form-control" }}
                </div>


                <div class="row">

                    <div class="col-xs-6">
                        {% for error in form.record_status_value.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.record_status_value.label }}</label>
                            {{ form.record_status_value|addcss:"form-control" }}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        {% for error in form.record_status_explanation.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.record_status_explanation.label }}</label>
                            {{ form.record_status_explanation|addcss:"form-control" }}
                        </div>
                    </div>
                </div>

                {% for error in form.administrator_notes.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ form.administrator_notes.label }}</label>
                    {{ form.administrator_notes|addcss:"form-control" }}
                </div>


                {{ form.subject }}
                {{ form.object }}
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Subject</label>
                    <input type="text"
                        id="citation-search-subject"
                        class="form-control citation-search"
                        name="citation-search"
                        results-target="#subject-results-container"
                        selected-result-target="#id_ccrelation-subject"
                        {% if not ccrelation and instance %}value="{{instance|get_citation_title}}"{% endif %}
                        {% if not ccrelation and instance %}disabled{% endif %} />
                </div>
                <ul class="list-group" id="subject-results-container"></ul>


                <div class="text-center">
                    <div class="button-group">
                        <span class="btn btn-lg glyphicon glyphicon-refresh"
                            id="swap-subject-object"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Object</label>
                    <input type="text"
                        id="citation-search-object"
                        class="form-control citation-search"
                        name="citation-search"
                        results-target="#object-results-container"
                        autocomplete="off"
                        selected-result-target="#id_ccrelation-object" />
                </div>
                <ul class="list-group" id="object-results-container"></ul>
            </div>
        </div>
        <div class="clearfix">
            <div class="button-group pull-right">
                <input type="submit" value="Save" class="btn btn-success" />
                {% if ccrelation %}
                <a href="#"
                    class="btn btn-danger delete-ccrelation"
                    ccrelation-id="{{ ccrelation.id }}"
                    ccrelation-title="{{ ccrelation.subject|get_citation_title|safe }}">
                    Delete
                </a>
                {% endif %}
            </div>
        </div>
    </div>

</form>


<script>
$('#id_language').multiSelect()
</script>

<script>

$(document).ready(function() {
    var subject_name = "{% if ccrelation %}{{ ccrelation.subject|get_citation_title }}{% endif %}";
    var subject_id = "{% if ccrelation %}{{ ccrelation.subject.id }}{% endif %}";
    var object_name = "{% if ccrelation %}{{ ccrelation.object|get_citation_title }}{% endif %}";
    var object_id = "{% if ccrelation %}{{ ccrelation.object.id }}{% endif %}";

    if (subject_id.length > 0) {
        $('#citation-search-subject').val(subject_name);
        $('#citation-search-subject').attr('disabled', true);
    }

    if (object_id.length > 0) {
        $('#citation-search-object').val(object_name);
        $('#citation-search-object').attr('disabled', true);
    }

    $('#swap-subject-object').click(function() {
        subject_name = $('#citation-search-subject').val();
        object_name = $('#citation-search-object').val();
        subject_id = $('#id_ccrelation-subject').val();
        object_id = $('#id_ccrelation-object').val();
        var subject_disabled = $('#citation-search-subject').attr('disabled');
        var object_disabled = $('#citation-search-object').attr('disabled');

        $('#citation-search-subject').val(object_name);
        $('#citation-search-object').val(subject_name);
        if (object_disabled) {
            $('#citation-search-subject').attr('disabled', true);
        } else {
            $('#citation-search-subject').removeAttr('disabled');
        }

        if (subject_disabled) {
            $('#citation-search-object').attr('disabled', true);
        } else {
            $('#citation-search-object').removeAttr('disabled');
        }
        $('#id_ccrelation-subject').val(object_id);
        $('#id_ccrelation-object').val(subject_id);


        $('.citation-search').each(function(i, elem) {
            $($(elem).attr('results-target')).empty();
        });
    });


    $('.citation-search').on('keyup', function(e) {
        var search_input = $(this);
        var query = search_input.val();
        console.log('query', query);
        var results_container = $($(this).attr('results-target'));
        console.log('results_container', results_container);
        var id_result_container = $($(this).attr('selected-result-target'));

        $.ajax("{% url "quick_and_dirty_citation_search" %}?q=" + query, {
            success: function(result) {
                console.log('success', results_container);
                results_container.empty();
                result.results.forEach(function(r) {
                    var choice_elem = '<li class="list-group-item search-result';
                    if (r.public != true) {
                      choice_elem += ' record-notpublic';
                    }
                    choice_elem += '">';
                    choice_elem += '<span class="button-group button-group-xs">';
                    choice_elem += '<a class="glyphicon glyphicon-ok btn btn-xs select-citation" data-id="' + r.id + '" data-name="' + r.title + '"></a>';
                    choice_elem += '<a href="'+ r.url + '" class="btn btn-xs glyphicon glyphicon-pencil" target="_blank"></a>';
                    choice_elem += '</span>';
                    choice_elem += ' <span class="label label-success">' + r.type + '</span> <strong>' + r.title + '</strong> <span class="label label-default">' + r.datestring + '</span>';
                    if (r.description != null) {
                        choice_elem += ' | <span class="text-muted">' + r.description + '</span>';
                    }
                    if (r.public != true) {
                      choice_elem += ' <i class="fa fa-eye-slash" title="The linked record is not public."></i>';
                    }
                    choice_elem += '</li>';

                    results_container.append(choice_elem);
                });

                $('.select-citation').click(function() {
                    var selected = $(this);
                    var selected_id = selected.attr('data-id');
                    var selected_name = selected.attr('data-name');
                    results_container.empty();
                    search_input.val(selected_name);
                    id_result_container.val(selected_id);
                });
            }
        });
    });
});
</script>

{% if ccrelation %}
<script>
$(document).ready(function() {
    $('.delete-ccrelation').click(function() {
        var elem = $(this);
        var ccrelation_id = elem.attr('ccrelation-id');
        var ccrelation_title = elem.attr('ccrelation-title');
        $('#ccrelation-id-container').val(ccrelation_id);
        $('#delete-ccrelation-target-name').html(ccrelation_title);
        $('#delete-ccrelation-modal').modal('show');
    });

});

var delete_ccrelation = function() {
    $('#delete-ccrelation-modal').modal('hide');
    var ccrelation_id = $('#ccrelation-id-container').val();
    if (ccrelation_id) {
        window.location.replace("{% url "delete_ccrelation_for_citation" instance.id ccrelation.id %}?confirm=true");
    }
}
</script>


<!-- Modal -->
<div class="modal fade" id="delete-ccrelation-modal" tabindex="-1" role="dialog" aria-labelledby="delete-ccrelation-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-ccrelation-modal-label">Are you sure?</h4>
            </div>
            <div class="modal-body">
                You are about to delete a citation-citation relation with <span class="text-warning" id="delete-ccrelation-target-name"></span>. Deletion cannot be undone!
                <p>
                    This will not delete the related citation itself, only the relation between that citation and this one.
                </p>
                <input type="hidden" id="ccrelation-id-container" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-danger" onclick="delete_ccrelation();">Delete forever</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
