{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}
{% load general_tags %}
{% load permission_tags %}

{% block content %}
<script>
// Use this (with a click event) instead of an anchor.
var toggleTab = function(name) {
    $('.nav-tabs a[href="#' + name + '"]').tab('show')
}
</script>
<style>
.acrelation.search-result {
    font-size: 9pt;
}
</style>

{% with instance|get_warnings_column_count_citation as column_count %}

{% if not instance.public %}
<div class="alert alert-danger alert-small col-md-{{column_count}}" role="alert">
<i class="fa fa-eye-slash" aria-hidden="true"></i> This citation is not public. It cannot be found through the public site.
</div>
{% endif %}

{% if instance|does_chapter_miss_book %}
<div class="alert alert-danger alert-small col-md-{{column_count}}" role="alert">
<i class="fa fa-exclamation-circle" aria-hidden="true"></i> This {{instance.get_type_controlled_display}} is not linked to a book.
</div>
{% endif %}

{% if instance|reviewed_book_missing %}
<div class="alert alert-danger alert-small col-md-{{column_count}}" role="alert">
<i class="fa fa-exclamation-circle" aria-hidden="true"></i> This {{instance.get_type_controlled_display}} is not linked to a book.
</div>
{% endif %}

{% if instance|is_periodical_missing %}
<div class="alert alert-danger alert-small col-md-{{column_count}}" role="alert">
<i class="fa fa-exclamation-circle" aria-hidden="true"></i> This {{instance.get_type_controlled_display}} is not linked to a periodical.
</div>
{% endif %}

{% if not instance|are_related_objects_for_citation_public %}
<div class="alert alert-info alert-small col-md-{{column_count}}" role="alert">
  <i class="fa fa-exclamation-circle" aria-hidden="true"></i> At least one record linked to this citation is not public.
</div>
{% endif %}

{% if instance|is_public_inconsistent %}
<div class="alert alert-warning alert-small col-md-{{column_count}}" role="alert">
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
 There is a problem with this record. It has the status "Active" but it is not marked as public.
</div>
{% endif %}

{% endwith %}

<form id="citation_form" class="form" action="." method="POST">
    {% csrf_token %}

  <input type="hidden" id="input_back_to_list" name="back_to_list" value="False">
  <input type="hidden" id="input_forward_type" name="forward_type" >

{% include "curation/fragment_citation_header.html" %}

<div id="citationView" class="row">
    <div class="col-md-5">
      <div class="row">
          <div class="col-md-12">
            <div class="form-group form-inline">
              <strong id="citation_type" data-type="{{instance.type_controlled}}">
 {{ instance.get_type_controlled_display }}</strong>:
              <strong class="text-warning">{{ instance.id }}</strong>
              &nbsp;
              <a
                  href="{{ instance|get_uri }}"
                  target="_blank">
                  <span class="glyphicon glyphicon-new-window" ></span>
              </a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{ form.record_status_value|addcss:"form-control input-sm" }}
              &nbsp;
              {{ form.record_status_explanation|addcss:"form-control input-sm" }}

              {{ form.type_controlled }}
            </div>
          </div>
          <div class="col-md-12">
              {% for error in form.record_status_value.errors %}
              <div class="alert alert-danger">{{ error }}</div>
              {% endfor %}
              {% for error in form.record_status_explanation.errors %}
              <div class="alert alert-danger">{{ error }}</div>
              {% endfor %}
          </div>
      </div>
    </div>

    <div class="col-md-4 text-center">
      {% if previous %}
      <a id="citation_previous"><i class="fa fa-caret-left" aria-hidden="true"></i> Prev</a>
      {% endif %}
      &nbsp; &nbsp; &nbsp;

      <a id="citation_back_to_list"><i class="fa fa-reply" aria-hidden="true"></i>
Back to List </a>
      &nbsp; &nbsp; &nbsp;
      {% if next %}
      <a id="citation_next">Next <i class="fa fa-caret-right" aria-hidden="true"></i></a>
      {% endif %}
    </div>
    <div class="col-md-3 text-right">
        Record {{ index }} of {{ total }}
        <div class="btn-group ">
            <a href="{% url 'curation:curate_citation' instance.id %}" class="btn btn-sm btn-default">Cancel</a>
            <a data-href="" class="btn btn-sm btn-success citation_submit">Save</a>
            <!--<button class="btn btn-sm btn-danger">Delete</button>-->

        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4" style="border-right: 1px dotted #ccc9c9; height: 90%;">
        {% block citation_panel_left %}
        {% include "curation/fragment_citation_fields.html" %}
        {% endblock %}
    </div>
    <div class="col-sm-8">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation"{% if not tab or tab == 'fields' %} class="active"{% endif %}>
                <a class="cursor-link" href="#fields" aria-controls="fields" role="tab" data-toggle="tab">Fields</a>
            </li>
            <li role="presentation"{% if tab == 'attributes' %} class="active"{% endif %}>
                <a class="cursor-link" href="#attributes" aria-controls="attributes" role="tab" data-toggle="tab">Attributes</a>
            </li>
            <li role="presentation"{% if tab == 'linkeddata' %} class="active"{% endif %}>
                <a class="cursor-link" href="#linkeddata" aria-controls="linkeddata" role="tab" data-toggle="tab">Linked Data</a>
            </li>
            <li role="presentation"{% if tab == 'ccrelations' %} class="active"{% endif %}>
                <a class="cursor-link" href="#ccrelations" aria-controls="ccrelations" role="tab" data-toggle="tab">Related Citations</a>
            </li>
            <li role="presentation"{% if tab == 'acrelations' %} class="active"{% endif %}>
                <a class="cursor-link" href="#acrelations" aria-controls="acrelations" role="tab" data-toggle="tab">Related Authorities</a>
            </li>
            <li role="presentation"{% if tab == 'tracking' %} class="active"{% endif %}>
                <a class="cursor-link" href="#tracking" aria-controls="tracking" role="tab" data-toggle="tab">Tracking</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane{% if not tab or tab == 'fields' %} active{% endif %} panel-body" id="fields">
                {% block fields_tab %}
                <div class="row">
                    <div class="col-sm-6">
                        {% include "curation/fragment_citation_categories.html" %}
                    </div>
                    <div class="col-sm-6">

                        {% for error in form.description.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.description.label }}</label>
                            {{ form.description|addcss:"form-control" }}
                        </div>

                        {% for error in form.abstract.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.abstract.label }}</label>
                            {{ form.abstract|addcss:"form-control" }}
                        </div>

                        {% for error in form.administrator_notes.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.administrator_notes.label }}</label>
                            {{ form.administrator_notes|addcss:"form-control" }}
                        </div>

                        {% for error in form.record_history.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.record_history.label }}</label>
                            {{ form.record_history|addcss:"form-control" }}
                        </div>

                        {% for error in form.belongs_to.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.belongs_to.label }}</label>
                            {{ form.belongs_to|addcss:"form-control" }}
                        </div>

                        <label>Language(s)</label>
                        <ul class="list-group" id="language-list-group">
                            {% for language in instance.language.all %}
                            <li class="list-group-item language clearfix"
                                id="language-{{ language.id }}">
                                {{ language }}
                                <!-- TODO: implement permission check here. -->
                                <span class="button-group button-group-xs pull-right">
                                    <a class="btn btn-xs glyphicon glyphicon-remove delete delete-language"
                                        type="button"
                                        language-id="{{ language.id }}"
                                        language-name="{{ language }}"></a>
                                </span>
                            </li>
                            {% endfor %}
                            <li class="list-group-item" id="create-language-item" style="display: none;"></li>
                            <a style="cursor: pointer;" class="list-group-item language text-muted" onclick="addLanguage();">
                                <span class="glyphicon glyphicon-plus"></span> Add a language
                            </a>

                        </ul>

                    </div>

                </div>
                {% endblock %}
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'attributes' %} active{% endif %} panel-body" id="attributes">
                {% include "curation/fragment_citation_attributes.html" %}
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'linkeddata' %} active{% endif %} panel-body" id="linkeddata">
                {% include "curation/fragment_citation_linkeddata.html" %}
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'ccrelations' %} active{% endif %} panel-body" id="ccrelations">
                {% include "curation/fragment_citation_ccrelations.html" %}

            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'acrelations' %} active{% endif %} panel-body" id="acrelations">
                {% include "curation/fragment_citation_acrelations.html" %}
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'tracking' %} active{% endif %} panel-body" id="tracking">
                {% include "curation/fragment_citation_tracking.html" %}
            </div>
        </div>
    </div>
</div>

</form>

<script>
$(document).ready(function() {
    bind_language();
});

var bind_language = function() {
    $('.delete-language').click(function() {
        var elem = $(this);
        var language_id = elem.attr('language-id');
        var language_name = elem.attr('language-name');
        $('#language-id-container').val(language_id);
        $('#delete-language-target-name').html(language_name);
        $('#delete-language-modal').modal('show');
    });
}

var delete_language = function() {
    $('#delete-language-modal').modal('hide');
    var language_id = $('#language-id-container').val();
    if (language_id) {
        $.ajax("{% url "curation:delete_language_for_citation" instance.id %}?language=" + language_id, {
            'success': function(r) {
                $('#language-' + language_id).remove();
            },
        });
    }
}
</script>

<!-- Modal -->
<div class="modal fade" id="delete-language-modal" tabindex="-1" role="dialog" aria-labelledby="delete-language-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-language-modal-label">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to remove the language <span class="text-warning" id="delete-language-target-name"></span> from this citation. Deletion cannot be undone!
                </p>
                <p>
                    This will not delete the related language record itself, only the association between that language record and this citation.
                </p>
                <input type="hidden" id="language-id-container" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-danger" onclick="delete_language();">Delete forever</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="save_confirm_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i style="color:#e8a603" class="fa fa-exclamation-triangle" aria-hidden="true"></i> Citation Incomplete</h4>
      </div>
      <div class="modal-body">
        <p id="modal_text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel Save</button>
        <button id="save_confirmed" type="button" class="btn btn-default">Yes, Save!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="data_changed_modal" tabindex="-1" role="dialog" data-forward-type="list">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i style="color:#e8a603" class="fa fa-exclamation-triangle" aria-hidden="true"></i> Record has changed!</h4>
      </div>
      <div class="modal-body">
        <p id="modal_text">This record has changed. Do you want to save the changes?</p>
      </div>
      <div class="modal-footer">
        <button id="data_changed_cancel" type="button" class="btn btn-default" data-dismiss="modal">No, just cancel.</button>
        <button id="data_changed_save_confirmed" type="button" class="btn btn-primary">Yes, Save!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
//# sourceURL=script.js
var language_creation_container = $('#create-language-item');

var addLanguage = function() {
    language_creation_container.empty();
    var form_group = $('<div class="form-group"></div>');
    form_group.append('<input class="form-control" id="create-language-input" name="create-language-input" type="text" />');
    language_creation_container.append(form_group);
    language_creation_container.append('<ul class="list-group" id="create-language-results-container"></ul>');
    language_creation_container.css("display", "block");

    var lastSearch = $.now();
    var waiting = false;

    $('#create-language-input').on('keyup', function(e) {
        if ($.now() - lastSearch < 500 || waiting) return;

        var query = $(this).val();
        $.ajax("{% url "curation:quick_and_dirty_language_search" %}?q=" + query, {
            failure: function(result) {
                waiting = false;
            },
            success: function(result) {
                waiting = false;

                var results_container = $('#create-language-results-container');
                results_container.empty();
                result.results.forEach(function(r) {
                    var choice_elem = '<li class="list-group-item search-result';
                    if (r.public != true) {
                      choice_elem += ' record-notpublic';
                    }
                    choice_elem += '">';
                    choice_elem += '<span class="button-group button-group-xs">';
                    choice_elem += '<a class="glyphicon glyphicon-ok btn btn-xs select-language" data-id="' + r.id + '" data-name="' + r.name + '"></a>';
                    choice_elem += '</span>';
                    choice_elem += ' <span class="label label-success">' + r.id + '</span> <strong>' + r.name + '</strong>';

                    if (r.public != true) {
                      choice_elem += ' <i class="fa fa-eye-slash" title="The linked record is not public."></i>';
                    }

                    choice_elem += '</li>';

                    results_container.append(choice_elem);
                });

                $('.select-language').click(function() {
                    var selected = $(this);
                    var selected_id = selected.attr('data-id');
                    var selected_name = selected.attr('data-name');
                    $('#create-language-results-container').empty();
                    $('#create-language-input').val(selected_name);

                    var payload = {
                        'language': selected_id
                    };

                    $.post("{% url "curation:add_language_for_citation" instance.id %}", payload, function(result) {
                        var new_id = result.language.id;
                        var new_elem = '<li class="list-group-item clearfix" id="language-' + new_id + '">';
                        new_elem += result.language.name;
                        new_elem += '<span class="button-group button-group-xs pull-right">';
                        new_elem += '<a class="btn btn-xs glyphicon glyphicon-remove delete delete-language" type="button" language-id="'+ new_id +'" language-name="' + result.language.name + '"></a>';
                        new_elem += '</span>';
                        new_elem += '</li>';

                        $('#language-list-group').prepend(new_elem);
                        language_creation_container.css("display", "none");
                        language_creation_container.empty();

                        bind_language();
                    }).fail(function(a) {
                        console.log(a);
                      })
                });
            }
        });
    });
}



$( document ).ready(function() {

  $('.citation_submit').on( "click", function() {
      $('#data_changed_modal').attr('data-forward-type', '');
      if (checkRecord()) {
          $('#citation_form').submit();
      }
  });

  $('#data_changed_save_confirmed').on('click', function() {
    $('#data_changed_modal').modal('hide');
    $("#input_back_to_list").val("True");
    if ( checkRecord() ) {
        $('#citation_form').attr('href', '{% url 'curation:curate_citation' instance.id %}');
        $('#citation_form').submit();
    }
  });

  $('#save_confirmed').on('click', function() {
    var forwardType = $('#data_changed_modal').attr('data-forward-type');
    $('#input_forward_type').val(forwardType);
    $('#citation_form').submit();
  });

  $("#citation_form :input").change(function() {
    $("#citation_form").data("changed",true);
  });

  /* if data in record has changed, show change confirm dialog */
  $("#citation_next").on('click', function(event) {
    if ($("#citation_form").data("changed")) {
      $('#data_changed_modal').attr('data-forward-type', 'next');
      $('#data_changed_modal').modal('show');
    }
    {% if next.id %}
    else {
      window.location.href = '{% url 'curation:curate_citation' next.id %}';
    }
    {% endif %}
  });

  $("#citation_previous").on('click', function(event) {
    if ($("#citation_form").data("changed")) {
      $('#data_changed_modal').attr('data-forward-type', 'previous');
      $('#data_changed_modal').modal('show');
    }
    {% if previous.id %}
    else {
      window.location.href = '{% url 'curation:curate_citation' previous.id %}';
    }
    {% endif %}
  });

  $('#citation_back_to_list').on('click', function(event) {
    if ($("#citation_form").data("changed")) {
      $('#data_changed_modal').attr('data-forward-type', 'list');
      $('#data_changed_modal').modal('show');
    } else {
      window.location.href = '{% url 'curation:citation_list' %}?page={{request_params.page}}';
    }
  });

  $("#data_changed_cancel").on('click', function() {
    {% if next.id and previous.id %}
    if ($('#data_changed_modal').attr('data-forward-type') == "next") {
      window.location.href = '{% url 'curation:curate_citation' next.id %}';
    } else if ($('#data_changed_modal').attr('data-forward-type') == "previous") {
      window.location.href = '{% url 'curation:curate_citation' previous.id %}';
    }
    else {
      window.location.href = '{% url 'curation:citation_list' %}?page={{request_params.page}}';
    }
    {% else %}
      window.location.href = '{% url 'curation:citation_list' %}?page={{request_params.page}}';
    {% endif %}

  });

});

function checkRecord() {
  var citation_type = $('#citation_type').attr("data-type");

  var warnings = [];

  if ($("#author_editors") == undefined || $("#author_editors").text() == '') {
    warnings.push("You did not add an author or editor.");
  }

  if ($("#id_title").val() == '' && citation_type != "RE") {
    warnings.push("You did not enter a title.");
  }

  var categoryList = $("#category-list-group li");
  var subjectList = $("#subject-list-group li");
  if (categoryList.length <= 1 && subjectList.length <= 1) {
    warnings.push("You did not add any categories or subjects.");
  }

  if ($("#publication_date") == undefined || $("#publication_date").text() == '' || $("#publication_date").text() == 'missing') {
    warnings.push("You did not add a publication date.");
  }

  if ($("#id_belongs_to").val() == '') {
    warnings.push("You did not specify a dataset.");
  }

  var languageList = $("#language-list-group li");
  if (languageList.length <= 1) {
    warnings.push("You did not select a language.");
  }

  if (citation_type == "RE" || citation_type == "AR" || citation_type == "ES") {
    if ($("#journal") == undefined || $("#journal").text() == '') {
      warnings.push("You did not specify a periodical.");
    }

    if ($("#id_partdetails-volume_free_text").val() == "") {
      warnings.push("You did not specify a volumne.");
    }

    if ($("#id_partdetails-pages_free_text").val() == "") {
      warnings.push("You did not specify a page range.");
    }

    if ($("#doi") == undefined || $("#doi").text() == "") {
      warnings.push("You did not specify a DOI.");
    }
  }

  if (citation_type == "RE" || citation_type == "ES") {
    var citationsBox = $("#ccrelations");

    //TODO: this is really ugly and nees a better solution!
    var bookLinks = citationsBox.find("span.label:contains('Book')");

    if (bookLinks.length < 1) {
      warnings.push("You did not add a link to a book.");
    }
  }

  if (citation_type == "BO") {
    if ($("#publisher") == undefined || $("#publisher").text() == '') {
      warnings.push("You did not specify a publisher.");
    }
    if ($('#id_physical_details').val() == "") {
      warnings.push("You did not enter any physical details.");
    }
    if ($("#isbn") == undefined || $("#isbn").text() == '') {
      warnings.push("You did not add an ISBN number.");
    }
  }

  if (citation_type == "TH") {
    if ($('#id_physical_details').val() == "") {
      warnings.push("You did not enter any physical details.");
    }
    if ($("#school") == undefined || $("#school").text() == '') {
      warnings.push("You did not specify a school.");
    }
  }

  if (citation_type == "CH") {
    var citationsBox = $("#ccrelations");
    //TODO: this is really ugly and nees a better solution!
    var bookLinks = citationsBox.find("span.label:contains('Book')");
    if (bookLinks.length < 1) {
      warnings.push("You did not add a CCRelation to a book.");
    }

    if ($('#id_partdetails-pages_free_text').val() == "") {
      warnings.push("You did not enter any page information.");
    }
  }

  if (warnings.length > 0) {
    var start = "<p>The following issues were found. Are you sure you want to save this citation?</p>";
    var list = "<ul>";
    for (var warn in warnings) {
      list = list.concat("<li>" + warnings[warn] + "</li>");
    }
    list = list.concat("</ul>");

    $('#modal_text').html(start + list);

    $('#save_confirm_modal').modal('show');
    return false;
  }

  return true;
}

</script>

{% endblock %}
