{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}

{% block content %}

{% if not form.instance.public %}
<div class="alert alert-danger" role="alert">
<i class="fa fa-eye-slash" aria-hidden="true"></i> This CCRelation is not public.
</div>
{% endif %}

<form id="ccrelation_form" class="form" action="." method="POST">
    {% csrf_token %}

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-5">
          <div class="row">
              <div class="col-md-12">
                <div class="form-group form-inline">
                  <strong class="text-warning">
                    {% if form.instance.id %}{{ form.instance.id }}{% else %}New{% endif %}</strong> | <strong>CCR record</strong>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  {{ form.record_status_value|addcss:"form-control input-sm" }}
                  &nbsp;
                  {{ form.record_status_explanation|addcss:"form-control input-sm" }}
                </div>
                <div class="col-md-12">
                    {% for error in form.record_status_value.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    {% for error in form.record_status_explanation.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-3">
          <a href="{% url 'curate_citation' instance.id %}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
     Back to Citation</a>
        </div>
        <div class="col-md-4">
            <div class="btn-group pull-right">
                <a href="{% url 'curate_citation' instance.id %}" class="btn btn-sm btn-default">Cancel</a>
                <a href="#" class="btn btn-sm btn-success save-ccrelation" >Save</a>
                {% if ccrelation.id %}
                <a href="#"
                  class="btn btn-danger btn-sm delete-ccrelation"
                  ccrelation-id="{{ ccrelation.id }}"
                  ccrelation-title="{{ ccrelation.subject|get_citation_title|safe }}">
                  Delete
                </a>
                {% endif %}
            </div>
        </div>
      </div>
    {% include "curation/fragment_citation_header.html" %}

    <div class="container-fluid form-horizontal">
        <div class="row">
            <div class="col-sm-6">
                {% for error in form.type_controlled.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label class="col-md-4">{{ form.type_controlled.label }}</label>
                    <div class="col-md-8">
                      {{ form.type_controlled|addcss:"form-control" }}
                    </div>
                </div>

                {% for error in form.data_display_order.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label class="col-md-4">{{ form.data_display_order.label }}</label>
                    <div class="col-md-8">
                      {{ form.data_display_order|addcss:"form-control" }}
                    </div>
                </div>

                {% for error in form.administrator_notes.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label class="col-md-12">{{ form.administrator_notes.label }}</label>
                    <div class="col-md-12">
                      {{ form.administrator_notes|addcss:"form-control" }}
                    </div>
                </div>


                {{ form.subject }}
                {{ form.object }}
            </div>
            <div class="col-sm-6">

              <div class="text-right">
                <a href="{% url 'create_citation' %}" target="_blank"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add new citation</a>
              </div>

                {% for error in form.subject.errors %}
                <div class="col-md-12">
                  <div class="alert alert-danger">
                  {{ error }}
                  </div>
                </div>
                {% endfor %}

                <div id="subject_info_container">
                  <div id="subject_info">
                    <strong>Citation record: </strong>
                    {% if form.instance.subject %}
                    <strong class="text-warning"><span class="show_id">{{ form.instance.subject.id }}</span> &nbsp;&nbsp;
                      <a class="link_to_citation" href="{% url 'curate_citation' form.instance.subject.id %}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                    </strong>

                    <p>
                      <span {% if form.instance.subject %}data-type_id="{{ form.instance.subject.type_controlled }}"{% endif %} class="text-success show_type_controlled">{{ form.instance.subject.get_type_controlled_display }}</span>
                      <br>
                      <em class="show_title">{{ form.instance.subject|get_citation_title }}</em>
                      <br>
                      {% with form.instance.subject|get_authors_editors as authors_editors %}
                      <span class="show_authors">
                      {% if authors_editors %}
                                  {{ authors_editors }}
                      {% endif %}
                      </span>
                      {% endwith %}

                    </p>
                    {% endif %}
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="input-group">
                        <input type="text"
                            id="citation-search-subject"
                            class="form-control citation-search"
                            name="citation-search"
                            results-target="#subject-results-container"
                            selected-result-target="#id_ccrelation-subject">
                        <span class="input-group-btn">
                            <a
                                class="btn glyphicon glyphicon-pencil enable-search-input"
                                data-target="#citation-search-subject">
                            </a>
                        </span>
                    </div>
                  </div>
                </div>


                <ul class="list-group" id="subject-results-container"></ul>


                <div class="text-center">
                    <div class="button-group">
                        <span class="btn btn-lg glyphicon glyphicon-refresh"
                            id="swap-subject-object"></span>
                    </div>
                </div>

                {% for error in form.object.errors %}
                <div class="col-md-12">
                  <div class="alert alert-danger">
                  {{ error }}
                  </div>
                </div>
                {% endfor %}

                <div id="object_info_container">
                <div id="object_info">
                <strong>Citation record: </strong>

                <strong class="text-warning"><span class="show_id">{% if form.instance.object %}{{ form.instance.object.id }}{% endif %}</span> &nbsp;&nbsp;
                  {% if form.instance.object %}<a class="link_to_citation" href="{% url 'curate_citation' form.instance.object.id %}"><i class="fa fa-external-link" aria-hidden="true"></i></a>{% endif %}
                  {% if not form.instance.object %}
                    <a class="hidden link_to_citation" href=""><i class="fa fa-external-link" aria-hidden="true"></i></a>
                  {% endif %}
                </strong>

                <p>
                  <span {% if form.instance.object %}data-type_id="{{ form.instance.object.type_controlled }}"{% endif %} class="text-success show_type_controlled">{% if form.instance.object %}{{ form.instance.object.get_type_controlled_display }}{% endif %}</span>
                  <br>
                  <em class="show_title">{% if form.instance.object %}{{ form.instance.object|get_citation_title }}{% endif %}</em>
                  <br>
                  <span class="show_authors">
                    {% if form.instance.object %}
                  {% with form.instance.object|get_authors_editors as authors_editors %}

                  {% if authors_editors %}
                              {{ authors_editors }}
                  {% endif %}

                  {% endwith %}
                  {% endif %}
                  </span>


                </p>
                </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                      <div class="input-group">
                        <input type="text"
                            id="citation-search-object"
                            class="form-control citation-search"
                            name="citation-search"
                            results-target="#object-results-container"
                            autocomplete="off"
                            selected-result-target="#id_ccrelation-object">
                        <span class="input-group-btn">
                            <a
                                class="btn glyphicon glyphicon-pencil enable-search-input"
                                data-target="#citation-search-object">
                            </a>
                        </span>
                    </div>
                  </div>
                </div>

                <ul class="list-group" id="object-results-container"></ul>
            </div>
        </div>
    </div>

</form>

<div class="modal fade" id="save_confirm_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i style="color:#e8a603" class="fa fa-exclamation-triangle" aria-hidden="true"></i> CCRelation Incomplete</h4>
      </div>
      <div class="modal-body">
        <p id="modal_text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel Save</button>
        <button id="save_confirmed" type="button" class="btn btn-default">Yes, Save!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$('#id_language').multiSelect()
</script>

<script>
//# sourceURL=ccrel.js
$(document).ready(function() {
    var subject_name = "{% if ccrelation %}{{ ccrelation.subject|get_citation_title|safe }}{% endif %}";
    var subject_id = "{% if ccrelation %}{{ ccrelation.subject.id }}{% endif %}";
    var object_name = "{% if ccrelation %}{{ ccrelation.object|get_citation_title|safe }}{% endif %}";
    var object_id = "{% if ccrelation %}{{ ccrelation.object.id }}{% endif %}";

    var subject_search_input = $('#citation-search-subject');
    var object_search_input = $('#citation-search-object');

    if (subject_id.length > 0) {
        subject_search_input.val(subject_name);
        subject_search_input.attr('disabled', true);
    }

    if (object_id.length > 0) {
        object_search_input.val(object_name);
        object_search_input.attr('disabled', true);
    }

    /**
      * Swap the subject and the object of the relation.
      */
    var swapSubjectObject = function() {
        subject_name = subject_search_input.val();
        object_name = object_search_input.val();
        subject_id = $('#id_ccrelation-subject').val();
        object_id = $('#id_ccrelation-object').val();
        var subject_disabled = subject_search_input.attr('disabled');
        var object_disabled = object_search_input.attr('disabled');

        subject_search_input.val(object_name);
        object_search_input.val(subject_name);
        if (object_disabled) {
            subject_search_input.attr('disabled', true);
        } else {
            subject_search_input.removeAttr('disabled');
        }

        if (subject_disabled) {
            object_search_input.attr('disabled', true);
        } else {
            object_search_input.removeAttr('disabled');
        }
        $('#id_ccrelation-subject').val(object_id);
        $('#id_ccrelation-object').val(subject_id);

        $("#subject_info_container").append($("#object_info"));
        $("#object_info_container").append($("#subject_info"));

        $("#object_info").attr("id", "temp_id");
        $("#subject_info").attr("id", "object_info");
        $("#temp_id").attr("id", "subject_info");


        $('.citation-search').each(function(i, elem) {
            $($(elem).attr('results-target')).empty();
        });
    }

    var unlockSearchInput = function(e) {
        var search_input = $($(this).attr('data-target'));
        search_input.removeAttr('disabled');
        search_input.trigger('keyup');
    }

    /**
      * Performs a citation search based on the content of the search input.
      */
    var triggerSearch = function(e) {
        var search_input = $(this);
        var query = search_input.val();
        console.log('query', query);
        var results_container = $($(this).attr('results-target'));
        console.log('results_container', results_container);
        var id_result_container = $($(this).attr('selected-result-target'));

        $.ajax("{% url "quick_and_dirty_citation_search" %}?q=" + query, {
            success: function(result) {
                console.log('success', results_container);
                results_container.empty();
                result.results.forEach(function(r) {
                    var choice_elem = '<li class="list-group-item search-result';
                    if (r.public != true) {
                      choice_elem += ' record-notpublic';
                    }
                    choice_elem += '">';
                    choice_elem += '<span class="button-group button-group-xs">';
                    choice_elem += '<a class="glyphicon glyphicon-ok btn btn-xs select-citation" data-id="' + r.id + '" data-name="' + r.title + '" data-authors="' + r.authors + '" data-type="' + r.type + '" data-type_id="' + r.type_id + '"></a>';
                    choice_elem += '<a href="'+ r.url + '" class="btn btn-xs glyphicon glyphicon-pencil" target="_blank"></a>';
                    choice_elem += '</span>';
                    choice_elem += ' <span class="label label-success">' + r.type + '</span> <strong>' + r.title + '</strong> <span class="label label-default">' + r.datestring + '</span>';
                    if (r.description != null) {
                        choice_elem += ' | <span class="text-muted">' + r.description + '</span>';
                    }
                    if (r.public != true) {
                      choice_elem += ' <i class="fa fa-eye-slash" title="The linked record is not public."></i>';
                    }
                    choice_elem += '</li>';

                    results_container.append(choice_elem);
                });

                $('.select-citation').click(function() {
                    var selected = $(this);
                    var selected_id = selected.attr('data-id');
                    var selected_name = selected.attr('data-name');
                    var selected_authors = selected.attr('data-authors');
                    var selected_type = selected.attr('data-type');
                    var selected_type_id = selected.attr('data-type_id');
                    var link = "{% url 'citation_list' %}" + selected_id;

                    results_container.empty();
                    search_input.val(selected_name);
                    search_input.attr('disabled', true);
                    id_result_container.val(selected_id);

                    var parentCont = $("#subject_info");
                    // this is butt-ugly, but so what, too tired to do something better
                    if (search_input.attr("id") == "citation-search-object") {
                      parentCont = $("#object_info");
                    }

                    parentCont.find(".show_id").html(selected_id);
                    parentCont.find(".show_title").html(selected_name);
                    parentCont.find(".show_authors").html(selected_authors);
                    parentCont.find(".show_type_controlled").html(selected_type);
                    parentCont.find(".show_type_controlled").attr("data-type_id", selected_type_id);
                    parentCont.find(".link_to_citation").attr("href", link).removeClass("hidden");


                });
            }
        });
    }

    $('#ccrelation_form').on('keyup keypress', function(e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode === 13) {
        e.preventDefault();
        return false;
      }
    });

    $('.save-ccrelation').click(function() {
      var rel_type = $('#id_ccrelation-type_controlled').val();
      var subject_info = $('#subject_info');
      var object_info = $('#object_info');
      var subject_type = subject_info.find('.show_type_controlled');
      var object_type = object_info.find('.show_type_controlled');
      var subject_type_id = '';
      var object_type_id = '';
      if (subject_type != undefined) {
        subject_type_id = subject_type.attr('data-type_id');
      }
      if (object_type != undefined) {
        object_type_id = object_type.attr('data-type_id');
      }

      if (rel_type == 'IC' && subject_type_id != 'BO') {
        $('#modal_text').text("You selected 'Includes Chapter' as type for this CCRelation, but your subject is not a book.");
        $('#save_confirm_modal').modal('show');
        return;
      }
      if (rel_type == 'IC' && object_type_id != 'CH') {
        $('#modal_text').text("You selected 'Includes Chapter' as type for this CCRelation, but your object is not a chapter.");
        $('#save_confirm_modal').modal('show');
        return;
      }
      if (rel_type == 'ISA' && subject_type_id != 'AR') {
        $('#modal_text').text("You selected 'Includes Series Article' as type for this CCRelation, but your subject is not an article.");
        $('#save_confirm_modal').modal('show');
        return;
      }
      if (rel_type == 'ISA' && object_type_id != 'AR') {
        $('#modal_text').text("You selected 'Includes Series Article' as type for this CCRelation, but your object is not an article.");
        $('#save_confirm_modal').modal('show');
        return;
      }
      if (rel_type == 'RB' && subject_type_id != 'BO' && subject_type_id != 'WE' && subject_type_id != 'TH') {
        $('#modal_text').text("You selected 'Is Reviewed By' as type for this CCRelation, but your subject is not a book, website, or thesis.");
        $('#save_confirm_modal').modal('show');
        return;
      }
      if (rel_type == 'RB' && object_type_id != 'RE') {
        $('#modal_text').text("You selected 'Is Reviewed By' as type for this CCRelation, but your object is not a review.");
        $('#save_confirm_modal').modal('show');
        return;
      }
      // if no warnings, save
      $('#ccrelation_form').submit();
    });

    $('#save_confirmed').click(function() {
      $('#ccrelation_form').submit();
    });

    $('#swap-subject-object').click(swapSubjectObject);
    $('.citation-search').on('keyup', triggerSearch);
    $('.enable-search-input').click(unlockSearchInput);
});
</script>

{% if ccrelation.id %}
<script>
$(document).ready(function() {
    $('.delete-ccrelation').click(function() {
        var elem = $(this);
        var ccrelation_id = elem.attr('ccrelation-id');
        var ccrelation_title = elem.attr('ccrelation-title');
        $('#ccrelation-id-container').val(ccrelation_id);
        $('#delete-ccrelation-target-name').html(ccrelation_title);
        $('#delete-ccrelation-modal').modal('show');
    });
});

var delete_ccrelation = function() {
    $('#delete-ccrelation-modal').modal('hide');
    var ccrelation_id = $('#ccrelation-id-container').val();
    if (ccrelation_id) {
        window.location.replace("{% url "delete_ccrelation_for_citation" instance.id ccrelation.id %}?confirm=true");
    }
}
</script>


<!-- Modal -->
<div class="modal fade" id="delete-ccrelation-modal" tabindex="-1" role="dialog" aria-labelledby="delete-ccrelation-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-ccrelation-modal-label">Are you sure?</h4>
            </div>
            <div class="modal-body">
                You are about to delete a citation-citation relation with <span class="text-warning" id="delete-ccrelation-target-name"></span>. Deletion cannot be undone!
                <p>
                    This will not delete the related citation itself, only the relation between that citation and this one.
                </p>
                <input type="hidden" id="ccrelation-id-container" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-danger" onclick="delete_ccrelation();">Delete forever</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
