{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}

{% block content %}
<hr />

<form class="form" action="." method="POST">
    {% csrf_token %}

    <div class="h3 text-warning">Editing Authority-Citation Relation for Citation:
        <div class="button-group pull-right">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
    <div class="h2">
        <a href="{% url "curate_citation" instance.id %}?tab=acrelations" style="text-decoration:none;">
            <span class="glyphicon glyphicon-chevron-left"></span> {{ instance.title|safe }}
        </a>
     </div>
    <div class="h4">{{ instance|get_authors_editors }}</div>
    <div class="h4 text-warning">{{ instance.id }} | {{ instance|get_citation_pubdate }}</div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {% for error in form.name_for_display_in_citation.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ form.name_for_display_in_citation.label }}</label>
                    {{ form.name_for_display_in_citation|addcss:"form-control" }}
                </div>

                {% for error in form.type_controlled.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ form.type_controlled.label }}</label>
                    {{ form.type_controlled|addcss:"form-control" }}
                </div>

                {% for error in form.type_broad_controlled.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label>{{ form.type_broad_controlled.label }}</label>
                    {{ form.type_broad_controlled|addcss:"form-control" }}
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        {% for error in form.data_display_order.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.data_display_order.label }}</label>
                            {{ form.data_display_order|addcss:"form-control" }}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        {% for error in form.confidence_measure.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.confidence_measure.label }}</label>
                            {{ form.confidence_measure|addcss:"form-control" }}
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-xs-6">
                        {% for error in form.record_status_value.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.record_status_value.label }}</label>
                            {{ form.record_status_value|addcss:"form-control" }}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        {% for error in form.record_status_explanation.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.record_status_explanation.label }}</label>
                            {{ form.record_status_explanation|addcss:"form-control" }}
                        </div>
                    </div>
                </div>
                {{ form.authority }}
                {{ form.citation }}
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Authority</label>
                    <input type="text"
                        class="form-control"
                        name="authority-search"
                        id="authority-search" />
                </div>
                <ul class="list-group" id="results-container"></ul>
            </div>
        </div>
        <div class="clearfix">
            <div class="button-group pull-right">
                <input type="submit" value="Save" class="btn btn-success" />
                {% if acrelation %}<a class="btn btn-danger">Delete</a>{% endif %}
            </div>
        </div>
    </div>

</form>


<script>
$('#id_language').multiSelect()
</script>

<script>

$(document).ready(function() {
    var authority_name = "{% if acrelation %}{{ acrelation.authority.name }}{% endif %}";
    if (authority_name.length > 0) {
        $('#authority-search').val(authority_name);
        $('#authority-search').attr('disabled', true);
    } else {
        $('#authority-search').on('keyup', function(e) {
            var query = $(this).val();
            $.ajax("{% url "quick_and_dirty_authority_search" %}?q=" + query, {
                success: function(result) {
                    $('#results-container').empty();
                    result.results.forEach(function(r) {
                        $('#results-container').append('<a class="list-group-item search-result" data-id="' + r.id + '" data-name="' + r.name + '"><span class="label label-primary">' + r.type + '</span> ' + r.name + ' | <span class="text-muted">' + r.description + '</span></a>');
                    });

                    $('.search-result').click(function() {
                        var selected = $(this);
                        var selected_id = selected.attr('data-id');
                        var selected_name = selected.attr('data-name');
                        $('#results-container').empty();
                        $('#authority-search').val(selected_name);
                        $('#id_acrelation-authority').val(selected_id);
                    });
                }
            });
        });
    }
});
</script>
{% endblock %}
