{% extends "curation/base.html" %}
{% load staticfiles %}
{% load addcss %}


{% block content %}
<div class="h2">Export citations</div>

{% if task.state == 'SUCCESS' %}
<p class="text-warning">
    Your export is complete; you can download it from
    <a href="{{ download_target }}" target="_blank">{{ download_target }}</a>.
</p>
{% elif task.state == 'FAILURE' %}
<p class="text-error">
    There was a problem completing your request. Please contact an administrator
    for support, or consult the server logs.
</p>
{% else %}
{% block extrahead %}
<meta http-equiv="refresh" content="3"/>
{% endblock %}

<p class="text-warning">
    {% if task.max_value == 0 %}
        Starting...
    {% else %}
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70"
      aria-valuemin="0" aria-valuemax="100" style="width:{{ task.progress }}%">
        {{ task.current_value|floatformat }} of {{ task.max_value|floatformat }}
        <span class="sr-only">{{ task.progress }}% Complete</span>
      </div>
    </div>
    <p class="text-muted">
        If progress seems to hang on the last item, don't despair! Sometimes it
        takes a few minutes to finalize the upload to S3.
    </p>
    {% endif %}
</p>
{% endif %}

<div class="clearfix">
    <a class="btn btn-lg btn-success" href="{% url "citation_list" %}">Done</a>
</div>

{% endblock %}
