{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}
{% load permission_tags %}


{% block content %}
<script>
// Use this (with a click event) instead of an anchor.
var toggleTab = function(name) {
    $('.nav-tabs a[href="#' + name + '"]').tab('show')
}
</script>

<form class="form" action="{% url 'curation:create_citation' %}" method="POST">
    {% csrf_token %}

{% include "curation/fragment_create_citation_header.html" %}

<div id="citationView">
    <div class="row">
        <div class="col-sm-12">
            {% include "curation/fragment_create_citation_fields.html" %}
        </div>
    </div>
</div>

<div>
  <div class="button-group pull-right" style="padding: 10px;">
      <input type="submit" value="Create & Continue" class="btn btn-success" />
  </div>
</div>
</form>



{% endblock %}
