{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}
{% load general_tags %}
{% load permission_tags %}


{% block content %}
<script>
// Use this (with a click event) instead of an anchor.
var toggleTab = function(name) {
    $('.nav-tabs a[href="#' + name + '"]').tab('show')
}
</script>

{% if not instance.public %}
<div class="alert alert-danger" role="alert">
<i class="fa fa-eye-slash" aria-hidden="true"></i> This citation is not public. It cannot be found through the public site.
</div>
{% endif %}

{% if not instance|are_related_objects_for_citation_public %}
<div class="alert alert-info" role="alert">
  <i class="fa fa-exclamation-circle" aria-hidden="true"></i> At least one record linked to this citation is not public.
</div>
{% endif %}

{% if instance|is_public_inconsistent %}
<div class="alert alert-warning" role="alert">
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
 There is a problem with this record. It has the status "Active" but it is not marked as public.
</div>
{% endif %}

<form class="form" action="." method="POST">
    {% csrf_token %}

{% include "curation/fragment_citation_header.html" %}

<div class="row">
    <div class="col-xs-2">
        <div class="">
            <strong class="text-warning">{{ instance.id }}</strong>&nbsp;
            <a class="btn"
                href="{{ instance|get_uri }}"
                target="_blank">
                <span class="glyphicon glyphicon-new-window" style="vertical-align: middle;"></span>
            </a>
        </div>
    </div>
    <div class="col-xs-2">
        {% for error in form.type_controlled.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div class="form-group">
            {{ form.type_controlled|addcss:"form-control" }}
        </div>
    </div>
    <div class="col-md-4 col-xs-2">
        <div class="row">
            <div class="col-md-6">
                {% for error in form.record_status_value.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    {{ form.record_status_value|addcss:"form-control" }}
                </div>
            </div>
            <div class="col-md-6">
                {% for error in form.record_status_explanation.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    {{ form.record_status_explanation|addcss:"form-control" }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="btn-group pull-right">
            <button class="btn btn-md btn-default">Cancel</button>
            <input type="submit" value="Save" class="btn btn-md btn-success" />
            <button class="btn btn-md btn-danger">Delete</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        {% block citation_panel_left %}
        {% include "curation/fragment_citation_fields.html" %}
        {% endblock %}
    </div>
    <div class="col-sm-8">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation"{% if not tab or tab == 'fields' %} class="active"{% endif %}>
                <a href="#fields" aria-controls="fields" role="tab" data-toggle="tab">Fields</a>
            </li>
            <li role="presentation"{% if tab == 'attributes' %} class="active"{% endif %}>
                <a href="#attributes" aria-controls="attributes" role="tab" data-toggle="tab">Attributes</a>
            </li>
            <li role="presentation"{% if tab == 'linkeddata' %} class="active"{% endif %}>
                <a href="#linkeddata" aria-controls="linkeddata" role="tab" data-toggle="tab">Linked Data</a>
            </li>
            <li role="presentation"{% if tab == 'ccrelations' %} class="active"{% endif %}>
                <a href="#ccrelations" aria-controls="ccrelations" role="tab" data-toggle="tab">Related Citations</a>
            </li>
            <li role="presentation"{% if tab == 'acrelations' %} class="active"{% endif %}>
                <a href="#acrelations" aria-controls="acrelations" role="tab" data-toggle="tab">Related Authorities</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane{% if not tab or tab == 'fields' %} active{% endif %} panel-body" id="fields">
                {% block fields_tab %}
                <div class="row">
                    <div class="col-sm-6">
                        {% include "curation/fragment_citation_categories.html" %}
                        {% include "curation/fragment_citation_subjects.html" %}
                    </div>
                    <div class="col-sm-6">

                        {% for error in form.description.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.description.label }}</label>
                            {{ form.description|addcss:"form-control" }}
                        </div>

                        {% for error in form.abstract.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.abstract.label }}</label>
                            {{ form.abstract|addcss:"form-control" }}
                        </div>



                        {% for error in form.dataset.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label>{{ form.belongs_to.label }}</label>
                            {{ form.belongs_to|addcss:"form-control" }}
                        </div>

                        <label>Language(s)</label>
                        <ul class="list-group" id="language-list-group">
                            {% for language in instance.language.all %}
                            <li class="list-group-item language clearfix"
                                id="language-{{ language.id }}">
                                {{ language }}
                                <!-- TODO: implement permission check here. -->
                                <span class="button-group button-group-xs pull-right">
                                    <a class="btn btn-xs glyphicon glyphicon-remove delete delete-language"
                                        type="button"
                                        language-id="{{ language.id }}"
                                        language-name="{{ language }}"></a>
                                </span>
                            </li>
                            {% endfor %}
                            <li class="list-group-item" id="create-language-item" style="display: none;"></li>
                            <a style="cursor: pointer;" class="list-group-item language text-muted" onclick="addLanguage();">
                                <span class="glyphicon glyphicon-plus"></span> Add a language
                            </a>

                        </ul>

                    </div>

                </div>
                {% endblock %}
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'attributes' %} active{% endif %} panel-body" id="attributes">
                {% include "curation/fragment_citation_attributes.html" %}
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'linkeddata' %} active{% endif %} panel-body" id="linkeddata">
                {% include "curation/fragment_citation_linkeddata.html" %}
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'ccrelations' %} active{% endif %} panel-body" id="ccrelations">
                {% include "curation/fragment_citation_ccrelations.html" %}

            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'acrelations' %} active{% endif %} panel-body" id="acrelations">
                {% include "curation/fragment_citation_acrelations.html" %}
            </div>
        </div>
    </div>
</div>

</form>

<script>
$(document).ready(function() {
    bind_language();
});

var bind_language = function() {
    $('.delete-language').click(function() {
        var elem = $(this);
        var language_id = elem.attr('language-id');
        var language_name = elem.attr('language-name');
        $('#language-id-container').val(language_id);
        $('#delete-language-target-name').html(language_name);
        $('#delete-language-modal').modal('show');
    });
}

var delete_language = function() {
    $('#delete-language-modal').modal('hide');
    var language_id = $('#language-id-container').val();
    if (language_id) {
        $.ajax("{% url "delete_language_for_citation" instance.id %}?language=" + language_id, {
            'success': function(r) {
                $('#language-' + language_id).remove();
            },
        });
    }
}
</script>

<!-- Modal -->
<div class="modal fade" id="delete-language-modal" tabindex="-1" role="dialog" aria-labelledby="delete-language-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-language-modal-label">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to remove the language <span class="text-warning" id="delete-language-target-name"></span> from this citation. Deletion cannot be undone!
                </p>
                <p>
                    This will not delete the related language record itself, only the association between that language record and this citation.
                </p>
                <input type="hidden" id="language-id-container" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-danger" onclick="delete_language();">Delete forever</button>
            </div>
        </div>
    </div>
</div>


<script>
var language_creation_container = $('#create-language-item');

var addLanguage = function() {
    language_creation_container.empty();
    var form_group = $('<div class="form-group"></div>');
    form_group.append('<input class="form-control" id="create-language-input" name="create-language-input" type="text" />');
    language_creation_container.append(form_group);
    language_creation_container.append('<ul class="list-group" id="create-language-results-container"></ul>');
    language_creation_container.css("display", "block");

    $('#create-language-input').on('keyup', function(e) {
        var query = $(this).val();
        $.ajax("{% url "quick_and_dirty_language_search" %}?q=" + query, {
            success: function(result) {
                var results_container = $('#create-language-results-container');
                results_container.empty();
                result.results.forEach(function(r) {
                    var choice_elem = '<li class="list-group-item search-result';
                    if (r.public != true) {
                      choice_elem += ' record-notpublic';
                    }
                    choice_elem += '">';
                    choice_elem += '<span class="button-group button-group-xs">';
                    choice_elem += '<a class="glyphicon glyphicon-ok btn btn-xs select-language" data-id="' + r.id + '" data-name="' + r.name + '"></a>';
                    choice_elem += '</span>';
                    choice_elem += ' <span class="label label-success">' + r.id + '</span> <strong>' + r.name + '</strong>';

                    if (r.public != true) {
                      choice_elem += ' <i class="fa fa-eye-slash" title="The linked record is not public."></i>';
                    }

                    choice_elem += '</li>';

                    results_container.append(choice_elem);
                });

                $('.select-language').click(function() {
                    var selected = $(this);
                    var selected_id = selected.attr('data-id');
                    var selected_name = selected.attr('data-name');
                    $('#create-language-results-container').empty();
                    $('#create-language-input').val(selected_name);

                    var payload = {
                        'language': selected_id
                    };

                    $.post("{% url "add_language_for_citation" instance.id %}", payload, function(result) {
                        var new_id = result.language.id;
                        var new_elem = '<li class="list-group-item clearfix" id="language-' + new_id + '">';
                        new_elem += result.language.name;
                        new_elem += '<span class="button-group button-group-xs pull-right">';
                        new_elem += '<a class="btn btn-xs glyphicon glyphicon-remove delete delete-language" type="button" language-id="'+ new_id +'" language-name="' + result.language.name + '"></a>';
                        new_elem += '</span>';
                        new_elem += '</li>';

                        $('#language-list-group').prepend(new_elem);
                        language_creation_container.css("display", "none");
                        language_creation_container.empty();

                        bind_language();
                    }).fail(function(a) {
                        console.log(a);
                      })
                });
            }
        });
    });
}

</script>

{% endblock %}
