{% extends "curation/list_view.html" %}
{% load addcss %}
{% load pagination_tags %}
{% load render_object %}
{% load permission_tags %}


{% block object_list %}


<div class="h3">
  {% if type == 'CITATION' %} Citation Collections {% else %} Authority Collections {% endif %}
</div>
<form action="" method="GET" id="">
    <span class="pull-right" style="margin-right: 10px;">Count of total records: {{ filter_list|length }}</span>

    <table style="margin-top: 5px;" class="table table-responsive table-hover table-curation">
        <thead>
            <tr>
                <th>Name</th>
                <th>Created By</th>
                <th>Created On</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            {% for object in filter_list %}

            <tr class="">
                <td>
                    <a href="{% if type == 'CITATION' %}{% url "curation:citation_list" %}{% else %}{% url "curation:authority_list" %}{% endif %}?title=&in_collections={{object.id}}&collection_only=true">{{ object.name }}</a>
                </td>
                <td>
                    {{ object.createdBy }}
                </td>
                <td>
                    {{ object.created }}
                </td>
                <td>
                  {% if type == 'CITATION' %}
                    {{ object.citations.count }}
                  {% else %}
                    {{ object.authorities.count }}
                  {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>

        </thead>

    </table>
</form>

{% endblock %}

{% block filter_form %}
<form id="filter_form" action="" class="form-horizontal clearfix" method="GET" style="margin-bottom: 0px; margin-top: 10px;">
  {% csrf_token %}
    <!-- <div class="row"> -->
        <div class="col-sm-6">
            {% with objects.form.name as field %}
            {% for error in field.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group form-group-sm clearable">
                <label class="control-label">{{ field.label }}</label>
                <div class="">
                  {{ field|addcss:"form-control" }}
                </div>
            </div>
            {% endwith %}
        </div>
        <div class="col-sm-6">
            {% with objects.form.createdBy as field %}
            {% for error in field.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <div class="form-group form-group-sm clearable">
                <label class="control-label">{{ field.label }}</label>
                <div class="">
                  {{ field|addcss:"form-control" }}
                </div>
            </div>
            {% endwith %}
        </div>

    <!-- </div> -->
</form>
{% endblock %}
