{% extends "curation/list_view.html" %}
{% load addcss %}
{% load general_tags %}
{% load static %}
{% load render_object %}
{% load permission_tags %}

{% block extrahead %}
<script src="{% static 'curation/js/moment.js' %}" type="text/javascript"></script>
{% endblock %}

{% block object_list %}
<script>
//# sourceURL=buttons.js
$('body').ready(function() {
    var form = $('#bulk-form');
    $('#collection-create').click(function() {
        form.attr('action', '{% url "curation:create-citation-collection" %}');
        form.submit();
    });
    $('#collection-add').click(function() {
        form.attr('action', '{% url "curation:add-citation-collection" %}');
        form.submit();
    });
    $('#export').click(function() {
        form.attr('action', '{% url "curation:export-citations" %}');
        form.attr('target', '_blank');
        form.submit();
        e.preventDefault();
    });
    $('#bulk_change_submit').click(function(e) {
      form.attr('action', '{% url "curation:citation-bulk-action" %}');
      form.attr('target', '_blank');
      form.submit();
      e.preventDefault();
    });

    $('.queryset-checkbox').change(function() {
      toggleLinkRecordsBtn();
    });

    $("#select_all").change(function() {
      toggleLinkRecordsBtn();
    });

    $("#link_records_btn").click(function(e) {
      if ($(this).attr("disabled") == false || $(this).attr("disabled") == undefined) {
        $("#linkRecordsModal").modal("show");
      }
      e.preventDefault();
    });
});

function toggleLinkRecordsBtn() {
  if ($('.queryset-checkbox:checked').length > 0) {
    $("#link_records_btn").removeAttr("disabled");
  } else {
    $("#link_records_btn").attr("disabled", "true");
  }
}
</script>

<style>
    .notpublic {
        background-color: #fff;
        {% comment %} border-left: 5px solid #f0ad4e; {% endcomment %}
    }

    .citation_issue_button:hover {
        color: #777 !important;
    }
</style>

<div id="msgBoxError" class="alert alert-danger" role="alert" style="display: none;">
  <button type="button" class="close" id="closeErrorBoxBtn" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div id="msgBoxErrorText"></div>
</div>
<div id="msgBoxSuccess" class="alert alert-success" role="alert" style="display: none;">
  <button type="button" class="close" id="closeSuccessBoxBtn" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div id="msgBoxSuccessText"></div>
</div>

<script>
  $(function() {
    $("#closeErrorBoxBtn").click(function() {
      $("#msgBoxError").hide();
      $("#msgBoxErrorText").empty();
    });

    $("#closeSuccessBoxBtn").click(function() {
      $("#msgBoxSuccess").hide();
      $("#msgBoxSuccessText").empty();
    });
  });
</script>

<form action="{% url "curation:citation-bulk-action" %}" method="POST" id="bulk-form" target="_blank">
    {% csrf_token %}
    &nbsp;&nbsp;
    <a class="btn btn-success" href="{% url 'curation:create_citation' %}"><i class="fas fa-plus"></i> Create new citation record</a>

    <input type="hidden" value="{{ filter_params }}" name="filters" />
    <span class="pull-right" style="margin-right: 10px;">Results Count: {{ result_count }}</span>
    <table style="margin-top: 5px;" class="table table-responsive table-hover table-curation">
        <thead>
            <tr>
                <th width="2%">Issues</th>
                <th width="5%">Status</th>
                <th width="5%">ID</th>
                <th width="2%"><i class="fa fa-file-text-o" aria-hidden="true" title="Type"></i></th>
                <th width="15%" style="min-width:300px">Title  <span style="cursor: pointer;" id="sort_title"></span></th>
                <th>Author/Editor(s)</th>
                <th width="5%">Publi. <span style="cursor: pointer;" id="sort_published"></span></th>
                <th width="15%">Periodical</th>
                <th width="3%">Vol.</th>
                <th width="3%">Nr.</th>
                <th width="5%">Pages</th>
                <th width="7%">Modified</th>
                <th width="7%">Created</th>
            </tr>
        </thead>
        <tbody>
            {% for object in filter_list %}
            {% with object.all_acrelations as acrelations %}
            {% with acrelations|get_authorities as authorities %}
            {% with object.all_ccrelations as ccrelations %}
            {% with object|get_citations:ccrelations as related_citations %}
            {% with object.attributes as attributes %}
            {% with object.id|add:"_authors_editors_preloaded" as authors_editors_preloaded_js_variable %}
            {% with object.id|add:"_are_related_citations_public" as are_related_citations_public_js_variable %}
            {% with object.id|add:"_citation_periodical" as citation_periodical_js_variable %}
            {% with object.id|add:"_has_related_citations" as has_related_citations_js_variable %}
            {% with object.id|add:"_are_related_authorities_missing_links" as are_related_authorities_missing_links_js_variable %}
            {{ object.id|get_authors_editors_preloaded|json_script:authors_editors_preloaded_js_variable }}
            {{ object.id|are_related_citations_public|json_script:are_related_citations_public_js_variable }}
            {{ object.id|get_citation_periodical|json_script:citation_periodical_js_variable }}
            {{ object.id|has_related_citations|json_script:has_related_citations_js_variable }}
            {{ object.id|are_related_authorities_missing_links|json_script:are_related_authorities_missing_links_js_variable }}
            
            <tr class="{% if not object.public or not object.id|are_linked_books_public:related_citations or not object.id|are_linked_journals_public:authorities %}notpublic{% endif %} {% if object.stub_record_status == 'SR'%}stubrecord{%endif%}">
                <td style="text-align: center;">
                  {% if not object.tracking_state or not object.title_for_display|safe or object.title_for_display|safe == ' ' or not object.type_controlled or object.type_controlled|get_type_controlled_display == 'None' or not object.id|are_related_authorities_public or not object.id|are_related_citations_public or not object.id|get_authors_editors_preloaded or not object.publication_date or not object.id|get_citation_periodical %}<a data-toggle="modal" class="open-issues-modal" data-id="{{object.id}}" data-target="#issuesModal" title="Click to view issues with citation"><span class="citation_issue_button" style="color: #f0ad4e; font-size: 1.4em;"><i class="fas fa-exclamation-triangle"></i></span></a>{% endif %}
                </td>
                <td>
                  {% if not object.tracking_state %}<span class="label label-default label-xs">Draft</span>{% elif object.tracking_state == 'FU' %}<span class="label label-warning label-xs">Under Review</span>{% else %}<span class="label label-success label-xs">Published</span>{% endif %}
                </td>
                <td>
                    <a href="{% url "curation:guest_curate_citation" object.id %}?search={{ search_key }}&current={{ forloop.counter0|add:current_offset }}">{{ object.id }}</a>
                </td>
                <td><span class="label label-xs label-primary" title="{{object.type_controlled|get_type_controlled_display}}">{{ object.type_controlled|get_type_controlled_display }}</span></td>
                <td id="title-{{object.id}}">{{ object.title_for_display|safe }}{{object.language}}</td>
                <td id="authors-{{object.id}}">
                    <a href="{% url "curation:curate_citation" object.id %}?search={{ search_key }}&current={{ forloop.counter0|add:current_offset }}&tab=acrelations">
                        {{ object.id|get_authors_editors_preloaded }}
                    </a>
                </td>
                <td id="date-{{object.id}}">
                    <a href="{% url "curation:curate_citation" object.id %}?tab=attributes">
                        {{ object.publication_date.year }}
                    </a>
                </td>
                <td id="periodical-{{object.id}}">
                    <a href="{% url "curation:curate_citation" object.id %}?tab=acrelations">
                        {{ object.id|get_citation_periodical|truncatechars:31 }}
                    </a>
                </td>
                <td>
                  {% if object.part_details__volume_free_text %}{{ object.part_details__volume_free_text }}{% endif %}
                </td>
                <td>
                  {% if object.part_details__issue_free_text %}{{ object.part_details__issue_free_text }}{% endif %}
                </td>
                <td id="page-{{object.id}}">
                    {{ object|get_page_numbers }}
                </td>
                <td>
                    {% if object.modified_on %}
                      <span class="list_date">{{ object.modified_on|date:"c" }}</span>
                    {% else %}
                      <span class="list_date">{{ object.modified_on_fm|date:"c" }}</span>
                    {% endif %}
                </td>
                <td>
                    {% if object.created_native %}
                      <span class="list_date">{{ object.created_native|date:"c" }}</span>
                      {% else %}
                      {% if object.created_on_fm %}
                        <span class="list_date">{{ object.created_on_fm|date:"c" }}</span>
                      {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endfor %}
        </tbody>

        </thead>

    </table>
</form>

{{ filter_list|json_script:"filter_list_data" }}

<div class="modal fade" id="issuesModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Issues with Citation</h5>
      </div>
      <div class="modal-body" id="issues-modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).on("click", ".open-issues-modal", function () {
    let filter_list = JSON.parse(document.getElementById('filter_list_data').textContent);
    
    let citationId = $(this).data('id');
    let citation = filter_list.find(obj => {
      return obj.id == citationId;
    })
    console.log(citation);

    let authors_editors_preloaded = JSON.parse(document.getElementById(`${citationId}_authors_editors_preloaded`).textContent);
    let are_related_citations_public = JSON.parse(document.getElementById(`${citationId}_are_related_citations_public`).textContent);
    let citation_periodical = JSON.parse(document.getElementById(`${citationId}_citation_periodical`).textContent);
    let has_related_citations = JSON.parse(document.getElementById(`${citationId}_has_related_citations`).textContent);
    let are_related_authorities_missing_links = JSON.parse(document.getElementById(`${citationId}_are_related_authorities_missing_links`).textContent);

    console.log(authors_editors_preloaded);
    console.log(are_related_citations_public);
    console.log(citation_periodical);
    console.log(citation.publication_date);

    $('#issues-modal-body').empty();
    let issuesListContainer = `<ul id='${citationId}-issues-modal-list'></ul>`;
    $('#issues-modal-body').append(issuesListContainer);
    let issuesList = $(`#${citationId}-issues-modal-list`);
    if (citation) {
      if (are_related_authorities_missing_links) {
        $(issuesList).append("<li><span>If you have authors, editors, journals, or publishers listed, but you have not linked them to their authorities, you need to do so.</span></li>");
      }
      if (!citation.publication_date) {
        $(issuesList).append("<li><span>You need to add a publication date to your citation.</span></li>");
      }
      if (!authors_editors_preloaded) {
        $(issuesList).append("<li><span>If your citation has authors or editors, make sure you've added them.</span></li>");
      }
      if (has_related_citations && !are_related_citations_public) {
        $(issuesList).append("<li><span>You may have linked this citation to other citation(s) but the citation you linked it to hasn't been approved and isn't public. Make sure it's the citation you want to link to. If it's your citation, get it approved first, or, wait for it to become approved.</span></li>");
      }
      if (!citation_periodical) {
        $(issuesList).append("<li><span>You need to add the journal or press that published the citation.</span></li>");
      }
      if (!citation.type_controlled) {
        $(issuesList).append("<li><span>You need add give the citation a type.</span></li>");
      }
      if (!citation.title_for_display || citation.title_for_display == '' || citation.title_for_display == ' ') {
        $(issuesList).append("<li><span>You need to add a title to the citation.</span></li>");
      }
      if (!citation.tracking_state) {
        $(issuesList).append("<li><span>You need to submit the citation for review.</span></li>");
      }
    }
    
  });
//# sourceURL=modals.js
  $(window).load(function() {
    var sortOrder = $("#id_o").val();

    if (sortOrder == "-publication_date") {
      $("#sort_published").addClass("fa fa-sort-amount-desc");
      $("#sort_published").attr("title", "Click to sort by publication date ascending.")
    } else {
      $("#sort_published").addClass("fa fa-sort-amount-asc");
      $("#sort_published").attr("title", "Click to sort by publication date descending.")
    }

    if (sortOrder == '-title_for_sort') {
      $("#sort_title").addClass("fa fa-sort-amount-desc");
      $("#sort_title").attr("title", "Click to sort by title date ascending.")
    } else {
      $("#sort_title").addClass("fa fa-sort-amount-asc");
      $("#sort_title").attr("title", "Click to sort by title date descending.")
    }

    $("#sort_published").on('click', function(e) {
      e.preventDefault();
      if (sortOrder == "-publication_date") {
        $("#id_o").val('publication_date');
      } else {
        $("#id_o").val('-publication_date');
      }
      submitSearchForm();
    });

    $("#sort_title").on('click', function(e) {
      e.preventDefault();
      if (sortOrder == "-title_for_sort") {
        $("#id_o").val('title_for_sort');
      } else { 
        $("#id_o").val('-title_for_sort');
      }
      submitSearchForm();
    });

    setdate();

    var options = { weekday: "long", year: "numeric", month: "2-digit", day: "2-digit", hour: "2-digit", minute: "2-digit" };
    function setdate() {
      $('.list_date').each(function() {
        var date = new Date($(this).text());
        var m = moment(date);

        $(this).text(m.format("YYYY-MM-DD"));
        $(this).attr('title', m.format("YYYY-MM-DD h:mma"));
      });
    }

  });
</script>
{% endblock %}

{% block filter_form %}
<form id="filter_form" action="{% url 'curation:contributions' %}" class="form-horizontal clearfix" method="GET" style="margin-bottom: 0px; margin-top: 10px;">
    <div>
      <div class="col-sm-12">

          {% for error in objects.form.title.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          <div class="form-group form-group-xs clearable">
              <label class="col-lg-2 control-label">{{ objects.form.title.label }}</label>
              <div class="col-lg-10">
                {{ objects.form.title|addcss:"form-control;Title" }}
              </div>
          </div>


          {% for error in objects.form.author_or_editor.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          <div class="form-group form-group-xs clearable">
              <label class="col-lg-2 control-label">Au./Ed.</label>
              <div class="col-lg-10">
                {{ objects.form.author_or_editor|addcss:"form-control;Author/Ed." }}
              </div>
          </div>

          {% for error in objects.form.periodical.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          <div class="form-group form-group-xs clearable">
              <label class="col-lg-2 control-label">Periodical</label>
              <div class="col-lg-10">
                {{ objects.form.periodical|addcss:"form-control;Periodical" }}
              </div>
          </div>

          {% for error in objects.form.publisher.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          <div class="form-group form-group-xs clearable">
              <label class="col-lg-2 control-label">Publisher</label>
              <div class="col-lg-10">
                {{ objects.form.publisher|addcss:"form-control;Publisher" }}
              </div>
          </div>

          {% for error in objects.form.publication_date_from.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          {% for error in objects.form.publication_date_before.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          <div class="form-group form-group-xs clearable has-feedback">
              <label class="col-lg-2 control-label">Pub date</label>
              <div class="col-lg-5" style="padding-right:2px">
                {{ objects.form.publication_date_from|add_popover:"form-control date-input;after" }}
              </div>
              <div class="col-lg-5" style="padding-left:2px">
                {{ objects.form.publication_date_to|add_popover:"form-control date-input;before;All dates in format 2017-05-31;bottom" }}
                <a href="" class="glyphicon glyphicon-question-sign form-control-feedback popover_info"></a>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">

              </div>
          </div>

          {% for error in objects.form.type_controlled.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          <div class="form-group form-group-xs clearable">
              <label class="col-lg-2 control-label">Type</label>
              <div class="col-lg-10">
                {{ objects.form.type_controlled|addcss:"form-control;Rec. Type" }}
              </div>
          </div>

          {% for error in objects.form.created_on_from.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          {% for error in objects.form.created_on_to.errors %}
          <div class="alert alert-warning">{{ error }}</div>
          {% endfor %}
          <div class="form-group form-group-xs clearable">
              <label class="col-lg-2 control-label">Created</label>
              <div class="col-lg-5" style="padding-right:2px">
                {{ objects.form.created_on_from|add_popover:"form-control date-input;after" }}
              </div>
              <div class="col-lg-5" style="padding-left:2px">
                {{ objects.form.created_on_to|add_popover:"form-control date-input;before" }}

              </div>
          </div>
      </div>

      <div class="col-sm-12" style="text-align: center;">
          <div class="btn-group">
            <input class="btn btn-primary btn-xs" type="submit" id="submit-form-btn" value="Apply Filters"></input>
            <button class="btn btn-warning btn-xs" type="" id="clear-filters" value="Clear Filters">Clear Filters</button>
          </div>
      </div>
    </div>
</form>

<script>
$(document).ready(function() {
    //# sourceURL=source.js

    $('[data-toggle="popover"]').popover();

    $.each($('select'), function(index, value) {
      if ($(value).val() == '') {
        $(value).css('color', '#888');
      }
    });

    $('select').change(function() {
      if ($(this).val() != '' || $(this).find("option:selected").text() == 'All') {
        $(this).css('color', '#000');
      } else {
        $(this).css('color', '#888');
      }

    });

    /* in collection javascript */
    $('#in_collections_input').bootcomplete({
        url:'{% url 'curation:search-collections' %}',
        minLength: 3,
        idFieldName: 'in_collections'
    });

    $('#in_collections_input').on('input', function() {
        if ($('#in_collections_input').val() == '') {
          $('#id_in_collections').val('');
        }
    });

    /* zotero accession javascript */
    $('#zotero_accession_input').bootcomplete({
        url:'{% url 'curation:search-zotero-accessions' %}',
        minLength: 3,
        idFieldName: 'zotero_accession'
    });

    $('#zotero_accession_input').on('input', function() {
        if ($('#zotero_accession_input').val() == '') {
          $('#id_zotero_accession').val('');
        }
    });

    var date = "{{ objects.zotero_accession_date|date:"c" }}";
    var append = "";
    if (date != null && date != "") {
      append = " (" + new Date().toLocaleString() + ")";
    }
    $('#zotero_accession_input').val("{{objects.zotero_accession_name}}" + append);

    /* 'belongs to' javascript */
    $('#belongs_to_input').bootcomplete({
        url:'{% url 'curation:search-datasets' %}',
        minLength: 3,
        idFieldName: 'belongs_to'
    });

    $('#belongs_to_input').on('input', function() {
        if ($('#belongs_to_input').val() == '') {
          $('#id_belongs_to').val('');
        }
    });

    /* 'creator' javascript */
    $('#creator_input').bootcomplete({
        url:'{% url 'curation:search-users' %}',
        minLength: 3,
        idFieldName: 'created_by_native'
    });

    $('#creator_input').on('input', function() {
        if ($('#creator_input').val() == '') {
          $('#id_created_by_native').val('');
        }
    });

    /* 'modifier' javascript */
    $('#modifier_input').bootcomplete({
        url:'{% url 'curation:search-users' %}',
        minLength: 3,
        idFieldName: 'modified_by'
    });

    $('#modifier_input').on('input', function() {
        if ($('#modifier_input').val() == '') {
          $('#id_modified_by').val('');
        }
    });
});
</script>
{% endblock %}

{% block filter_submit %}
<!-- nothing -->
{% endblock %}
