{% extends "curation/base.html" %}
{% load staticfiles %}
{% load addcss %}


{% block content %}
<div class="h2">
  {% if exported_type == 'CITATION' %}
  Export Citations
  {% endif %}
  {% if exported_type == 'AUTHORITY' %}
  Export Authorities
  {% endif %}
  {% if exported_type == 'AUTHORITY_ATTRIBUTES' %}
  Importing Attributes
  {% endif %}
</div>

<p><br><em>{{ task.label }}</em></p>

{% if task.state == 'SUCCESS' %}
<p class="text-warning">
  {% if exported_type == 'CITATION' or exported_type == 'AUTHORITY' %}
    Your export is complete; you can download it from
    <a href="{{ download_target }}" target="_blank">{{ download_target }}</a>.
  {% endif %}
  {% if exported_type == 'AUTHORITY_ATTRIBUTES' %}
    Your import is complete; you can download a list of errors that occurred during import from
    <a href="{{ download_target }}" target="_blank">{{ download_target }}</a>.
  {% endif %}
</p>
{% elif task.state == 'FAILURE' %}
<p class="text-error">
    There was a problem completing your request. Please contact an administrator
    for support, or consult the server logs.
</p>
{% else %}
{% block extrahead %}
<meta http-equiv="refresh" content="3"/>
{% endblock %}

<p class="text-warning">
    {% if task.max_value == 0 %}
        In Queue, please be patient, there are other jobs in front of this one.
    {% else %}
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70"
      aria-valuemin="0" aria-valuemax="100" style="width:{{ task.progress }}%">
        {{ task.current_value|floatformat }} of {{ task.max_value|floatformat }}
        <span class="sr-only">{{ task.progress }}% Complete</span>
      </div>
    </div>
    <p class="text-muted">
        If progress seems to hang on the last item, don't despair! Sometimes it
        takes a few minutes to finalize the upload to S3.
    </p>
    {% endif %}
</p>
{% endif %}

<div class="clearfix">
  {% if exported_type == 'CITATION' %}
    <a class="btn btn-md btn-success" href="{% url "curation:citation_list" %}">Return to Search Interface</a>
  {% endif %}
  {% if exported_type == 'AUTHORITY' %}
    <a class="btn btn-md btn-success" href="{% url "curation:authority_list" %}">Return to Search Interface</a>
  {% endif %}
  {% if exported_type == 'AUTHORITY_ATTRIBUTES' %}
    <a class="btn btn-md btn-success" href="{% url "curation:authority_list" %}">Return to Search Interface</a>
  {% endif %}
</div>

{% endblock %}
