{% load render_object %}

{% load general_tags %}

<div class="h4">
    <span class="text-warning">{{ instance.id }}</span> | <strong>{{ instance.name|safe }}</strong>
</div>

<div class="clearfix">
    <div class="button-group pull-right">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>

    <div class="h5">
        <span class="text-warning">{{ instance.get_type_controlled_display }}:</span> {{ instance|get_date_attributes }}
    </div>

    <p class="">
        <span class="label label-primary">IsisCB</span> <a href="{{ instance|get_uri }}">{{ instance|get_uri }}</a>
    </p>
</div>
