{% load render_object %}
{% load rules %}
{% load permission_tags %}
{% load addcss %}

{% with 'acrelation'|create_perm_tuple:instance.id as permTuple %}
{% test_rule 'can_update_citation_field' user permTuple as can_update %}
{% test_rule 'can_view_citation_field' user permTuple as can_view %}

{% if can_update %}
<p class="pull-right">
<a href="{% url 'curation:subjects_and_categories' instance.id %}?search={{ search_key }}&current={{ current_index }}" class="btn btn-primary btn-xs">Categories/Subjects</a>
</p>
{% endif %}

<div class="clearfix"></div>

<div class="form-group">
<div class="row">
  <div class="col-sm-3 text-left">
    <label class="input-sm">Categories</label>
  </div>
  <div class="col-sm-9 input-sm">
    {% for acrelation in instance.acrelation_set.all %}
        {% if acrelation.type_controlled == 'CA' %}
              {{ acrelation.authority.name }};
        {% endif %}
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 text-left">
    <label class="input-sm">Subjects</label>
  </div>
  <div class="col-sm-9 input-sm">
    {% for acrelation in instance.acrelation_set.all %}
        {% if acrelation.type_controlled == 'SU' %}
              {{ acrelation.authority.name }};
        {% endif %}
    {% endfor %}
  </div>
</div>
</div>

{% endwith %}

{% if partdetails_form %}
<div class="row" style="padding-top: 10px;">
  {% for error in partdetails_form.volume_free_text.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  {% for error in partdetails_form.volume_begin.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  {% for error in partdetails_form.volume_end.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  <div class="form-group col-xs-6" style="padding: 0px; margin: 0px;">
      <div class="col-sm-5 text-left">
        <label class="input-xs">Volume</label>
      </div>
      <div class="col-sm-7">
        {{ partdetails_form.volume_free_text|addcss:"form-control input-xs" }}
      </div>
    </div>
    <div class="form-group col-xs-3" style="padding: 0px; margin: 0px;">
      <div class="col-sm-3 text-left" style="padding-left: 0px;">
        <label class="input-xs">From</label>
      </div>
      <div class="col-xs-9">
        {{ partdetails_form.volume_begin|addcss:"form-control input-xs input-shaded" }}
      </div>
    </div>
    <div class="form-group col-xs-3" style="padding: 0px; margin: 0px;">
      <div class="col-sm-3 text-left" style="padding-left: 0px;">
        <label class="input-xs">to</label>
      </div>
      <div class="col-xs-9">
          {{ partdetails_form.volume_end|addcss:"form-control input-xs input-shaded" }}
      </div>
  </div>
</div>
<div class="row">
  {% for error in partdetails_form.issue_free_text.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  {% for error in partdetails_form.issue_begin.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  {% for error in partdetails_form.issue_end.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  <div class="form-group col-xs-6" style="padding: 0px; margin: 0px;">
    <div class="col-sm-5 text-left">
      <label class="input-xs">No./Episode</label>
    </div>
    <div class="col-xs-7">
      {{ partdetails_form.issue_free_text|addcss:"form-control input-xs" }}
    </div>
  </div>
  <div class="form-group col-xs-3" style="padding: 0px; margin: 0px;">
    <div class="col-sm-3 text-left" style="padding-left: 0px;">
      <label class="input-xs">From</label>
    </div>
    <div class="col-xs-9">
        {{ partdetails_form.issue_begin|addcss:"form-control input-xs input-shaded" }}
    </div>
  </div>
  <div class="form-group col-xs-3" style="padding: 0px; margin: 0px;">
    <div class="col-sm-3 text-left" style="padding-left: 0px;">
      <label class="input-xs">to</label>
    </div>
    <div class="col-xs-9">
        {{ partdetails_form.issue_end|addcss:"form-control input-xs input-shaded" }}
    </div>
  </div>
</div>
<div class="row">
  {% for error in partdetails_form.pages_free_text.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  {% for error in partdetails_form.page_begin.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  {% for error in partdetails_form.page_end.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}

  <div class="form-group col-xs-6" style="padding: 0px;">
    <div class="col-sm-5 text-left">
      <label class="input-xs">Pages</label>
    </div>
    <div class="col-xs-7">
      {{ partdetails_form.pages_free_text|addcss:"form-control input-xs" }}
    </div>
  </div>
  <div class="form-group col-xs-3" style="padding: 0px;">
    <div class="col-sm-3 text-left" style="padding-left: 0px;">
      <label class="input-xs">From</label>
    </div>
    <div class="col-xs-9">
      {{ partdetails_form.page_begin|addcss:"form-control input-xs input-shaded" }}
    </div>
  </div>
  <div class="form-group col-xs-3" style="padding: 0px;">
    <div class="col-sm-3 text-left" style="padding-left: 0px;">
      <label class="input-xs">to</label>
    </div>
    <div class="col-xs-9">
      {{ partdetails_form.page_end|addcss:"form-control input-xs input-shaded" }}
    </div>
  </div>
</div>

<div class="row">
  {% for error in partdetails_form.extent.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}
  {% for error in partdetails_form.extent_note.errors %}
  <div class="col-xs-12">
    <div class="alert alert-danger">{{ error }}</div>
  </div>
  {% endfor %}

  <div class="form-group col-xs-5" style="padding: 0px;">
    <div class="col-sm-3 text-left">
      <label class="input-xs">Extent</label>
    </div>
    <div class="col-xs-9">
      {{ partdetails_form.extent|addcss:"form-control input-xs" }}
    </div>
  </div>
  <div class="form-group col-xs-7" style="padding: 0px;">
    <div class="col-sm-3 text-left">
      <label class="input-xs">Note</label>
    </div>
    <div class="col-xs-9">
      {{ partdetails_form.extent_note|addcss:"form-control input-xs" }}
    </div>
  </div>
</div>
{% endif %}
