{% load render_object %}
{% load rules %}
{% load permission_tags %}

{% with 'acrelation'|create_perm_tuple:instance.id as permTuple %}
{% test_rule 'can_update_citation_field' user permTuple as can_update %}
{% test_rule 'can_view_citation_field' user permTuple as can_view %}

{% if can_update %}
<p class="pull-right">
<a href="{% url 'curation:subjects_and_categories' instance.id %}" class="btn btn-primary btn-sm">Categories/Subjects</a>
</p>
{% endif %}

<div class="clearfix"></div>

<label>Categories</label>
<ul class="list-group" id="category-list-group">
{% if can_view %}
{% for acrelation in instance.acrelation_set.all %}
    {% if acrelation.type_controlled == 'CA' %}
    <li class="list-group-item acrelation clearfix {% if not acrelation.public %}notpublic{% endif %} {% if not acrelation.authority.public %}record-notpublic{% endif %}" id="category-{{ acrelation.id }}">
      <div class="row">
        {% if can_update %}
        <a href="{% url "curation:update_acrelation_for_citation" instance.id acrelation.id %}" class="list_entry_link">
        {% endif %}
        <span class="col-sm-10">
          {{ acrelation.authority.name }}
          {% if acrelation.name_for_display_in_citation %}
          <span class="text-muted">(as "{{ acrelation.name_for_display_in_citation }}")</span>
          {% endif %}
          {% if not acrelation.authority.public %}
          <i class="fa fa-eye-slash" title="The linked record is not public."></i>
          {% endif %}
          {% if not acrelation.public %}
          <i class="fa fa-minus-square" aria-hidden="true" title="This ACRelation is not public."></i>
          {% endif %}
        </span>

        {% if can_update %}
        </a>
        {% endif %}

        <span class="col-sm-2 text-right">
          {% if can_update %}
          <span class="button-group button-group-xs">
              <a class="btn btn-xs glyphicon glyphicon-remove delete delete-category"
                  type="button"
                  acrelation-id="{{ acrelation.id }}"
                  acrelation-title="{{ acrelation.authority.name }}"></a>
          </span>
          {% endif %}
        </span>
      </div>
    </li>
    {% endif %}
{% endfor %}

{% if can_update %}
<li class="list-group-item" id="create-category-item" style="display: none;"></li>
<a style="cursor: pointer;" class="list-group-item acrelation text-muted" onclick="createNewCategory();">
    <span class="glyphicon glyphicon-plus"></span> Add a category
</a>
{% endif %}
{% endif %}
{% if not can_view %}
<li class="list-group-item">
  <div class="alert alert-warning" role="alert">
  You do not have sufficient permissions to view categorys.
  </div>
</li>
{% endif %}

</ul>

{% endwith %}
<script>
//# sourceURL=categories.js
var category_creation_container = $('#create-category-item');

var INITIAL_MAX_RESULTS = 10;
var max_results_categories = INITIAL_MAX_RESULTS;

var searchTimerCategories = 0;
function triggerSearchCategories() {
  if (searchTimerCategories) {
      clearTimeout(searchTimerCategories);
  }

  var query = $('#create-category-input').val();
  searchTimerCategories = setTimeout(function() {
    $.ajax("{% url "curation:quick_and_dirty_authority_search" %}?show_inactive=false&type=CT&max=" + max_results_categories + "&q=" + query, {
        success: function(result) {
            var results_container = $('#create-category-results-container');
            results_container.empty();
            result.results.forEach(function(r) {
                var choice_elem = '<li class="list-group-item acrelation search-result';
                if (r.public != true) {
                  choice_elem += ' record-notpublic';
                }
                choice_elem += '">';
                choice_elem += '<span class="button-group button-group-xs">';
                choice_elem += '<a class="glyphicon glyphicon-ok btn btn-xs select-citation-categories" data-id="' + r.id + '" data-name="' + r.name + '"></a>';
                choice_elem += '<a href="'+ r.url + '" class="btn btn-xs glyphicon glyphicon-pencil" target="_blank"></a>';
                choice_elem += '</span>';
                choice_elem += ' <span class="label label-success">' + r.type + '</span> <strong>' + r.name + '</strong>';
                if (r.citation_count != null) {
                    choice_elem += ' (' + r.citation_count + ')';
                }
                if (r.description != null) {
                    choice_elem += ' | <span class="text-muted">' + r.description + '</span>';
                }
                if (r.public != true) {
                  choice_elem += ' <i class="fa fa-eye-slash" title="The linked record is not public."></i>';
                }

                choice_elem += '</li>';

                results_container.append(choice_elem);
            });

            if (result.results.length == max_results_categories) {
              var load_more = `
                <li class="list-group-item search-result">
                  <div class="text-right" id="load-more-categories"><a>Load more...</a></div>
                </li>
              `;
              results_container.append(load_more);
              $('#load-more-categories').click(function() {
                  max_results_categories += 10;
                  triggerSearchCategories();
              });
            }

            $('.select-citation-categories').click(function() {
                var selected = $(this);
                var selected_id = selected.attr('data-id');
                var selected_name = selected.attr('data-name');
                $('#create-category-results-container').empty();
                $('#create-category-input').val(selected_name);

                var payload = {
                    'citation_id': "{{ instance.id }}",
                    'authority_id': selected_id,
                    'type_controlled': 'CA',    // category.
                    'type_broad_controlled': 'CT',    // classification term.
                };

                $.post("{% url "curation:quick_create_acrelation"  %}", payload, function(result) {
                    var new_id = result.acrelation.id;
                    var new_elem = '<li class="list-group-item clearfix" id="category-' + new_id + '">';
                    var new_elem_acr = '<li class="list-group-item clearfix" id="acrelation-' + new_id + '">';
                    new_elem_acr += '<span class="label label-primary">category</span> <span class="label label-success">Provides category Content About</span> ';

                    new_elem += '<a href="{% url "curation:create_acrelation_for_citation" instance.id %}' + new_id +  '" >';
                    new_elem_acr += '<a href="{% url "curation:create_acrelation_for_citation" instance.id %}"' + new_id +  '" >';

                    new_elem += '<div class="row">';
                    new_elem_acr += '<div class="row">';

                    new_elem += '<span class="col-sm-10">';
                    new_elem_acr += '<span class="col-sm-10">';

                    new_elem += result.acrelation.authority.name;
                    new_elem_acr += result.acrelation.authority.name;

                    new_elem += '</span>';
                    new_elem_acr += '</span>';

                    new_elem += '</a>';
                    new_elem_acr += '</a>';

                    new_elem += '<span class="col-sm-2 text-right">';
                    new_elem_acr += '<span class="col-sm-2 text-right">';

                    new_elem += '<span class="button-group button-group-xs">';
                    new_elem_acr += '<span class="button-group button-group-xs">';
                    new_elem += '<a class="btn btn-xs glyphicon glyphicon-remove delete delete-category" type="button" acrelation-id="' + new_id + '" acrelation-title="' + result.acrelation.authority.name + '"></a>'
                    new_elem_acr += '<a class="btn btn-xs glyphicon glyphicon-remove delete delete-acrelation" type="button" acrelation-id="' + new_id + '" acrelation-title="' + result.acrelation.authority.name + '"></a>'
                    new_elem += '</span>';
                    new_elem_acr += '</span>';
                    new_elem += '</span>';
                    new_elem_acr += '</span>';

                    new_elem += '</div>';
                    new_elem_acr += '</div>';

                    new_elem += '</li>';
                    new_elem_acr += '</li>';

                    $('#category-list-group').prepend(new_elem);
                    $('#acrelation-list-group').prepend(new_elem_acr);
                    category_creation_container.css("display", "none");
                    category_creation_container.empty();

                    bind_acrelation();
                    bind_category();
                }).fail(function(a) {
                    console.log(a);
                  })
            });
        }
    });
  }, 500);
}

var createNewCategory = function() {
    category_creation_container.empty();
    var form_group = $('<div class="form-group"></div>');
    form_group.append('<input class="form-control" id="create-category-input" name="create-category-input" type="text" />');
    category_creation_container.append(form_group);
    category_creation_container.append('<ul class="list-group" id="create-category-results-container"></ul>');
    category_creation_container.css("display", "block");

    $('#create-category-input').on('keyup', function(e) {
      max_results_categories = INITIAL_MAX_RESULTS;
      triggerSearchCategories();
    });
}

</script>


<script>
$(document).ready(function() {
    bind_category();
});

var bind_category = function() {
    $('.delete-category').click(function() {
        var elem = $(this);
        var acrelation_id = elem.attr('acrelation-id');
        var acrelation_title = elem.attr('acrelation-title');
        $('#category-id-container').val(acrelation_id);
        $('#delete-category-target-name').html(acrelation_title);
        $('#delete-category-modal').modal('show');
    });
}

var delete_category = function() {
    $('#delete-category-modal').modal('hide');
    var acrelation_id = $('#category-id-container').val();
    if (acrelation_id) {
        $.ajax("{% url "curation:create_acrelation_for_citation" instance.id %}" + acrelation_id + '/delete.json?confirm=true', {
            'success': function(r) {
                $('#category-' + acrelation_id).remove();
                $('#acrelation-' + acrelation_id).remove();
            },
        });
    }
}
</script>


<!-- Modal -->
<div class="modal fade" id="delete-category-modal" tabindex="-1" role="dialog" aria-labelledby="delete-category-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-category-modal-label">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to remove a category relation with <span class="text-warning" id="delete-category-target-name"></span>. Deletion cannot be undone!
                </p>
                <p>
                    This will not delete the related authority record itself, only the association between that record and this citation.
                </p>
                <input type="hidden" id="category-id-container" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-danger" onclick="delete_category();">Delete forever</button>
            </div>
        </div>
    </div>
</div>
