{% load render_object %}

{% load rules %}
{% load permission_tags %}

{% with 'attributes'|create_perm_tuple:instance.id as permTuple %}
{% test_rule 'can_update_citation_field' user permTuple as can_update %}
{% test_rule 'can_view_citation_field' user permTuple as can_view %}
<ul class="list-group">
{% if can_view %}
{% for attribute in instance.attributes.all %}

    <li class="list-group-item attribute {% if not attribute.public %}notpublic{% endif %}" id="attribute-{{ attribute.id }}">
      <div class="row">
        {% if can_update %}
        <a href="{% url "update_attribute_for_citation" instance.id attribute.id%}" class="list_entry_link">
        {% endif %}
        <span class="col-sm-11">

          <span class="label label-primary">{{ attribute.type_controlled.name }}{% if attribute.get_type_qualifier_display %} ({{ attribute.get_type_qualifier_display }}){% endif %}</span>
          {{ attribute.value.get_child_class }}
          <span class="text-warning">{{ attribute.value_freeform}}</span>

          {% if not attribute.public %}
          <i class="fa fa-eye-slash" title="This attribute is not public."></i>
          {% endif %}
        </span>

        {% if can_update %}
        </a>
        {% endif %}

        <span class="col-sm-1 text-right">
          {% if can_update %}
          <span class="button-group button-group-xs">
              <a class="btn btn-xs glyphicon glyphicon-remove delete delete-attribute"
                  type="button"
                  attribute-id="{{ attribute.id }}"
                  attribute-title="{{ attribute.type_controlled.name }}"></a>
          </span>
          {% endif %}
        </span>
      </div>
    </li>
{% endfor %}
{% if can_update %}
    <a class="list-group-item text-muted" href="{% url "create_attribute_for_citation" instance.id %}">
        <span class="glyphicon glyphicon-plus"></span> Create new attribute
    </a>
{% endif %}
{% endif %}
{% if not can_view %}
<li class="list-group-item">
  <div class="alert alert-warning" role="alert">
  You do not have sufficient permissions to view attributes.
  </div>
</li>
{% endif %}
</ul>

{% endwith %}

<script>
$(document).ready(function() {
    $('.delete-attribute').click(function() {
        var elem = $(this);
        var attribute_id = elem.attr('attribute-id');
        var attribute_title = elem.attr('attribute-title');
        $('#attribute-id-container').val(attribute_id);
        $('#delete-attribute-target-name').html(attribute_title);
        $('#delete-attribute-modal').modal('show');
    });

});

var delete_attribute = function() {
    $('#delete-attribute-modal').modal('hide');
    var attribute_id = $('#attribute-id-container').val();
    if (attribute_id) {
        $.ajax("{% url "create_attribute_for_citation" instance.id %}" + attribute_id + '/delete.json?confirm=true', {
            'success': function(r) {
                $('#attribute-' + attribute_id).remove();
            },
        });
    }
}
</script>


<!-- Modal -->
<div class="modal fade" id="delete-attribute-modal" tabindex="-1" role="dialog" aria-labelledby="delete-attribute-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-attribute-modal-label">Are you sure?</h4>
            </div>
            <div class="modal-body">
                You are about to delete an attribute of type <span class="text-warning" id="delete-attribute-target-name"></span>. Deletion cannot be undone!
                <input type="hidden" id="attribute-id-container" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-danger" onclick="delete_attribute();">Delete forever</button>
            </div>
        </div>
    </div>
</div>
