{% load render_object %}

{% load rules %}
{% load permission_tags %}

{% with 'tracking_records'|create_perm_tuple:instance.id as permTuple %}
{% test_rule 'can_update_citation_field' user permTuple as can_update %}
{% test_rule 'can_view_citation_field' user permTuple as can_view %}

<div class="text-right" style="margin-bottom: 10px;">
{% if can_update and can_create_fully_entered %}
  <a href="{% url 'curation:tracking-citation' instance.id %}?type=FU&search={{ search_key }}&current={{ current_index }}" class="btn btn-default btn-sm">Fully Entered</a>
{% else %}
<a class="btn btn-default btn-sm" disabled="disabled">Fully Entered</a>
{% endif %}

{% if can_update and can_create_proofed %}
<a href="{% url 'curation:tracking-citation' instance.id %}?type=PD&search={{ search_key }}&current={{ current_index }}" class="btn btn-default btn-sm">Proofed</a>
{% else %}
<a class="btn btn-default btn-sm" disabled="disabled">Proofed</a>
{% endif %}

{% if can_update and can_create_authorize %}
<a href="{% url 'curation:tracking-citation' instance.id %}?type=AU&search={{ search_key }}&current={{ current_index }}" class="btn btn-default btn-sm">Authorized</a>
{% else %}
<a class="btn btn-default btn-sm" disabled="disabled">Authorized</a>
{% endif %}
</div>

{% if can_view %}
{% for tracking in tracking_records %}

<div class="panel panel-default" id="tracking-{{tracking.id}}">
  <div class="panel-heading">
    <span class="label label-info">{{ tracking.get_type_controlled_display }}</span> {{ tracking.tracking_info }}
    <div class="pull-right">
      <a class="btn btn-xs glyphicon glyphicon-remove delete-tracking" type="button" data-tracking-info="{{ tracking.get_type_controlled_display }}: {{ tracking.tracking_info }}" data-tracking-id="{{tracking.id}}"></a>
    </div>
  </div>
  <div class="panel-body">
    {% if tracking.notes %}
      {{ tracking.notes }}
    {% else %}
      <small>No details provided.</small>
    {% endif %}
    <hr>
    <div class="text-right" style="margin: -10px; ">
      {% if tracking.modified_by %}
      {# if there is a modifier then we will also have a modifiction date #}
      <small>Created by {{ tracking.modified_by }} on {{ tracking.modified_on }}</small>
      {% else %}
      <small>No creation info available. Most likely this record was created in the old system.</small>
      {% endif %}
    </div>
  </div>
</div>

{% endfor %}
{% endif %}
{% if not can_view %}
<li class="list-group-item">
  <div class="alert alert-warning" role="alert">
  You do not have sufficient permissions to view tracking records.
  </div>
</li>
{% endif %}
</ul>

<!-- Modal -->
<div class="modal fade" id="delete-tracking-modal" tabindex="-1" role="dialog" aria-labelledby="delete-tracking-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-acrelation-modal-label">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to delete the tracking record: <span class="text-warning" id="delete-tracking-target-name"></span>. Deletion cannot be undone!
                </p>
                <p>
                    Are you sure you want to proceed?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="delete-tracking-submit-btn" data-delete-tracking-id="">Delete forever</button>
            </div>
        </div>
    </div>
</div>

<script>
//# sourceURL=delete.js
$(function() {
  $(".delete-tracking").click(function() {
    $("#delete-tracking-target-name").text($(this).data("tracking-info"))
    $("#delete-tracking-submit-btn").attr("data-delete-tracking-id", $(this).data("tracking-id"))
    $('#delete-tracking-modal').modal('show')
  })

  $("#delete-tracking-submit-btn").click(function() {
    var tracking_id = $(this).attr("data-delete-tracking-id");
    if(tracking_id) {
      $.post("{% url "curation:tracking-citation" instance.id %}/" + tracking_id, function(data) {
          if (data.result == 'success') {
            $('#tracking-' + tracking_id).remove();
          }
        })
    }
    $('#delete-tracking-modal').modal('hide')
  })
})
</script>

{% endwith %}
