{% load render_object %}

{% load general_tags %}

<div class="h4">
    <span class="text-warning">Create new Authority Record</span>

    <div class="button-group pull-right">
        <button id="searchExplorePublic" class="btn btn-primary btn-sm">Explore, Authority Search</button>
        <button id="searchExploreCuration" class="btn btn-primary btn-sm">Explore, Curation Authority Search</button>
        <button id="searchWikipedia" class="btn btn-primary btn-sm">Wikipedia</button>
        <button id="searchGoogle" class="btn btn-primary btn-sm">Google</button>
        <button id="searchViaf" class="btn btn-primary btn-sm">Viaf</button>
        <button id="searchLCCN" class="btn btn-primary btn-sm">LCCN</button>
        <button id="reset" class="btn btn-danger btn-sm">Reset form</button>
        <input id="createAuthorityButton" type="submit" value="Create & Continue" class="btn btn-success btn-sm" />

    </div>
</div>

<div class="clearfix">
</div>
