{% load render_object %}
{% load rules %}
{% load permission_tags %}

{% with 'acrelation'|create_perm_tuple:instance.id as permTuple %}
{% test_rule 'can_update_citation_field' user permTuple as can_update %}
{% test_rule 'can_view_citation_field' user permTuple as can_view %}

<div class="form-group">
<label>Authors, Editors, Contributors</label>
    <ul class="list-group" id="author-list-group">
    {% if can_view %}
    {% for acrelation in instance.acrelation_set.all %}
        {% if acrelation.type_broad_controlled == 'PR' %}    <!-- Personal responsibility. -->
        <li class="list-group-item clearfix {% if not acrelation.public %}notpublic{% endif %} {% if not acrelation.authority.public %}record-notpublic{% endif %}" id="author-{{ acrelation.id }}">
            {% if can_update %}
            <span class="button-group button-group-xs pull-right">
                <a href="{% url "update_acrelation_for_citation" instance.id acrelation.id %}" class="btn btn-xs glyphicon glyphicon-pencil"></a>
                <a class="btn btn-xs glyphicon glyphicon-remove delete delete-author"
                    type="button"
                    acrelation-id="{{ acrelation.id }}"
                    acrelation-title="{{ acrelation.authority.name }}"></a>
            </span>
            {% endif %}

            <label class="label label-success">{{ acrelation.get_type_controlled_display }}</label>
            {{ acrelation.authority.name }}
            {% if acrelation.name_for_display_in_citation %}
            <span class="text-muted">(as "{{ acrelation.name_for_display_in_citation }}")</span>
            {% endif %}
            {% if not acrelation.authority.public %}
            <i class="fa fa-eye-slash" title="The linked record is not public."></i>
            {% endif %}
            {% if not acrelation.public %}
            <i class="fa fa-minus-square" aria-hidden="true" title="This ACRelation is not public."></i>
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}

    {% if can_update %}
    <li class="list-group-item" id="create-author-item" style="visibility: hidden;"></li>
    <a style="cursor: pointer;" class="list-group-item text-muted" onclick="createNewauthor();">
        <span class="glyphicon glyphicon-plus"></span> Add a contributor
    </a>
    {% endif %}
    {% endif %}
    {% if not can_view %}
    <li class="list-group-item">
      <div class="alert alert-warning" role="alert">
      You do not have sufficient permissions to view authors.
      </div>
    </li>
    {% endif %}

    </ul>
</div>
{% endwith %}
<script>
var author_creation_container = $('#create-author-item');

var createNewauthor = function() {
    author_creation_container.empty();
    var select_form_group = $('<div class="form-group"></div>');
    var input_form_group = $('<div class="form-group"></div>');
    var select_elem = `
        <select class="form-control" id="create-author-type" name="create-author-type">
            <option value="AU" selected="selected">Author</option>
            <option value="ED">Editor</option>
            <option value="AD">Advisor</option>
            <option value="CO">Contributor</option>
            <option value="TR">Translator</option>
        </select>`;
    select_form_group.append(select_elem);
    input_form_group.append('<input class="form-control" id="create-author-input" name="create-author-input" type="text" />');
    author_creation_container.append(select_form_group);
    author_creation_container.append(input_form_group);
    author_creation_container.append('<ul class="list-group" id="create-author-results-container"></ul>');
    author_creation_container.css("visibility", "visible");

    $('#create-author-input').on('keyup', function(e) {
        var query = $(this).val();
        $.ajax("{% url "quick_and_dirty_authority_search" %}?type=PE&q=" + query, {
            success: function(result) {
                var results_container = $('#create-author-results-container');
                results_container.empty();
                result.results.forEach(function(r) {
                    var choice_elem = '<li class="list-group-item search-result';
                    if (r.public != true) {
                      choice_elem += ' record-notpublic';
                    }
                    choice_elem += '">';
                    choice_elem += '<span class="button-group button-group-xs">';
                    choice_elem += '<a class="glyphicon glyphicon-ok btn btn-xs select-citation" data-id="' + r.id + '" data-name="' + r.name + '"></a>';
                    choice_elem += '<a href="'+ r.url + '" class="btn btn-xs glyphicon glyphicon-pencil" target="_blank"></a>';
                    choice_elem += '</span>';
                    choice_elem += ' <span class="label label-success">' + r.type + '</span> <strong>' + r.name + '</strong>';
                    if (r.datestring != null) {
                        choice_elem += '(' + r.datestring + ')';
                    }
                    if (r.description != null) {
                        choice_elem += ' | <span class="text-muted">' + r.description + '</span>';
                    }
                    if (r.public != true) {
                      choice_elem += ' <i class="fa fa-eye-slash" title="The linked record is not public."></i>';
                    }

                    choice_elem += '</li>';

                    results_container.append(choice_elem);
                });

                $('.select-citation').click(function() {
                    var selected = $(this);
                    var selected_id = selected.attr('data-id');
                    var selected_name = selected.attr('data-name');
                    var selected_type = $('#create-author-type').val();
                    $('#create-author-results-container').empty();
                    $('#create-author-input').val(selected_name);

                    var payload = {
                        'citation_id': "{{ instance.id }}",
                        'authority_id': selected_id,
                        'type_controlled': selected_type,
                        'type_broad_controlled': 'PR',    // Personal Responsibility
                    };

                    $.post("{% url "quick_create_acrelation"  %}", payload, function(result) {
                        var new_id = result.acrelation.id;
                        var new_elem = '<li class="list-group-item clearfix" id="author-' + new_id + '">';
                        var new_elem_acr = '<li class="list-group-item clearfix" id="acrelation-' + new_id + '">';
                        new_elem += '<span class="button-group button-group-xs pull-right">';
                        new_elem_acr += '<span class="button-group button-group-xs pull-right">';
                        new_elem += '<a href="{% url "create_acrelation_for_citation" instance.id %}' + new_id + '" class="btn btn-xs glyphicon glyphicon-pencil"></a>';
                        new_elem_acr += '<a href="{% url "create_acrelation_for_citation" instance.id %}' + new_id + '" class="btn btn-xs glyphicon glyphicon-pencil"></a>';
                        new_elem += '<a class="btn btn-xs glyphicon glyphicon-remove delete delete-author" type="button" acrelation-id="' + new_id + '" acrelation-title="' + result.acrelation.authority.name + '"></a>'
                        new_elem_acr += '<a class="btn btn-xs glyphicon glyphicon-remove delete delete-acrelation" type="button" acrelation-id="' + new_id + '" acrelation-title="' + result.acrelation.authority.name + '"></a>'
                        new_elem += '</span>';
                        new_elem_acr += '</span>';
                        new_elem_acr += '<span class="label label-primary">author</span> <span class="label label-success">Provides author Content About</span> ';
                        new_elem += '<label class="label label-success">' + result.acrelation.get_type_controlled_display + '</label> ' + result.acrelation.authority.name;
                        new_elem_acr += result.acrelation.authority.name;
                        new_elem += '</li>';
                        new_elem_acr += '</li>';
                        
                        $('#author-list-group').prepend(new_elem);
                        $('#acrelation-list-group').prepend(new_elem_acr);
                        author_creation_container.css("visibility", "hidden");
                        author_creation_container.empty();

                        bind_acrelation();
                        bind_author();
                    }).fail(function(a) {
                        console.log(a);
                      })
                });
            }
        });
    });
}

</script>


<script>
$(document).ready(function() {
    bind_author();
});

var bind_author = function() {
    $('.delete-author').click(function() {
        var elem = $(this);
        var acrelation_id = elem.attr('acrelation-id');
        var acrelation_title = elem.attr('acrelation-title');
        $('#author-id-container').val(acrelation_id);
        $('#delete-author-target-name').html(acrelation_title);
        $('#delete-author-modal').modal('show');
    });
}

var delete_author = function() {
    $('#delete-author-modal').modal('hide');
    var acrelation_id = $('#author-id-container').val();
    if (acrelation_id) {
        $.ajax("{% url "create_acrelation_for_citation" instance.id %}" + acrelation_id + '/delete.json?confirm=true', {
            'success': function(r) {
                $('#author-' + acrelation_id).remove();
                $('#acrelation-' + acrelation_id).remove();
            },
        });
    }
}
</script>


<!-- Modal -->
<div class="modal fade" id="delete-author-modal" tabindex="-1" role="dialog" aria-labelledby="delete-author-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-author-modal-label">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to remove a relation with <span class="text-warning" id="delete-author-target-name"></span>. Deletion cannot be undone!
                </p>
                <p>
                    This will not delete the related authority record itself, only the association between that record and this citation.
                </p>
                <input type="hidden" id="author-id-container" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-danger" onclick="delete_author();">Delete forever</button>
            </div>
        </div>
    </div>
</div>
