{% load addcss %}
{% load render_object %}
{% load general_tags %}

{% if user.is_superuser or user.is_staff %}
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2 text-left">
        <label class="input-xs">Subtype</label>
      </div>
      <div class="col-sm-10">
        {{ form.subtype|addcss:"form-control input-xs" }}
      </div>
    </div>
  </div>
{% endif %}

<div class="panel panel-default">
  <div class="panel-heading">Title</div>
  <div class="panel-body">
    {% for error in form.title.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
      {{ form.title|addcss:"form-control titleInput" }}
  </div>
</div>

{% if user.is_superuser or user.is_staff %}
  {% for error in form.edition_details.errors %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endfor %}
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2 text-left" style="padding-right: 5px;">
        <label class="input-xs">Ed. det.</label>
      </div>
      <div class="col-sm-10">
        {{ form.edition_details|addcss:"form-control oneLine input-xs" }}
      </div>
    </div>
  </div>
{% endif %}

<div class="panel panel-default">
  <div class="panel-heading">
    Authors, Editors, etc.
    <a class="text-warning input-xs" href="{% url 'curation:create_acrelation_for_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}" style="float: right;">
      <span class="btn btn-xs btn-success"><i class="fas fa-plus"></i> Add Creator</span>
    </a>
  </div>
  <div class="panel-body">
    <ul class="list-group" style="margin-bottom: 0;">
      {% for acrelation in instance.acrelation_set.all|order_by:"data_display_order" %}
        {% if acrelation.type_controlled in personal_responsibility_types %}
          <li class="list-group-item">
            <a href="{% url 'curation:update_acrelation_for_citation' instance.id acrelation.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <span class="label label-info">{{acrelation.get_type_controlled_display}}</span>
            <a {% if acrelation.authority %}href="{% if user.is_staff or user.is_superuser %}{% url 'curation:curate_authority' acrelation.authority.id %}{% else %}{% url 'authority' acrelation.authority.id %}{% endif %}"{% else %}class="btn disabled" {% endif %}>
              {{ acrelation.authority.name }}
              {% if acrelation.name_for_display_in_citation %}
                {% if user.is_staff or user.is_superuser %}
                  <span class="text-muted">({{ acrelation.name_for_display_in_citation }})</span>
                {% endif %}
              {% endif %}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Publisher or Journal
    {% for type in host_mapping|get_item:instance.type_controlled %}
      <a class="text-warning input-xs" href="{% url 'curation:create_acrelation_for_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}&type_controlled={{type}}" style="float: right;">
          <span class="btn btn-xs btn-success"><i class="fas fa-plus"></i> Add {{acrel_type_choices|get_item:type}}</span>
      </a>
    {% endfor %}
  </div>
  <div class="panel-body">
    <ul class="list-group" style="margin-bottom: 0;">
      {% for acrelation in instance.acrelation_set.all|order_by:"data_display_order" %}
        {% if acrelation.type_controlled in publisher_distributor_types %}
          <li class="list-group-item">
            <a href="{% url 'curation:update_acrelation_for_citation' instance.id acrelation.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <span class="label label-primary">{{acrelation.get_type_controlled_display}}</span>
            <a {% if acrelation.authority %}href="{% if user.is_staff or user.is_superuser %}{% url 'curation:curate_authority' acrelation.authority.id %}{% else %}{% url 'authority' acrelation.authority.id %}{% endif %}"{% endif %}>
              {{ acrelation.authority.name }}
              {% if acrelation.name_for_display_in_citation %}
                {% if user.is_staff or user.is_superuser %}
                  <span class="text-muted">({{ acrelation.name_for_display_in_citation }})</span>
                {% endif %}
              {% endif %}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Publication Date
    <a class="text-warning input-xs" href="{% url 'curation:create_attribute_for_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}&typeName={{publication_date_attribute_name}}" style="float: right;">
      <span class="btn btn-xs btn-success"><i class="fas fa-plus"></i> Add Date</span>
    </a>
  </div>
  <div class="panel-body">
    <ul class="list-group" style="margin-bottom: 0;">
      {% for attribute in instance.attributes.all %}
        {% if attribute.type_controlled.value_content_type.model_class in date_attribute_types %}
          <li class="list-group-item">
            <a href="{% url 'curation:update_attribute_for_citation' instance.id attribute.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <span class="label label-warning">{{ attribute.type_controlled.name }}{% if attribute.get_type_qualifier_display %} ({{ attribute.get_type_qualifier_display }}){% endif %}</span>
            {{ attribute.value.get_child_class }}
            <span class="text-muted">{{ attribute.value_freeform}}</span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

{% if user.is_superuser or user.is_staff %}
  {% for error in form.complete_citation.errors %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endfor %}
  <div class="form-group">
    <div class="row">
      <div class="col-sm-1 text-left">
        <label class="input-sm">Full Cit.</label>
      </div>
      <div class="col-sm-11" >
      {{ form.complete_citation|addcss:"form-control reduceIfEmpty input-sm" }}
      </div>
    </div>
  </div>

  {% for error in form.description.errors %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endfor %}
  <div class="form-group">
    <div class="row">
      <div class="col-sm-1 text-left">
        <label class="input-sm">Desc.</label>
      </div>
      <div class="col-sm-11">
      {{ form.description|addcss:"form-control reduceIfEmpty input-sm" }}
      </div>
    </div>
  </div>

  {% for error in form.record_status_explanation.errors %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endfor %}
  <div class="form-group">
    <div class="row">
      <div class="col-sm-1 text-left" style="margin-top: -7px;">
        <label class="input-sm">Status Expl.</label>
      </div>
      <div class="col-sm-11">
      {{ form.record_status_explanation|addcss:"form-control reduceIfEmpty input-sm" }}
      </div>
    </div>
  </div>

  {% for error in form.belongs_to.errors %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endfor %}
  <div class="form-group">
    <div class="row">
      <div class="col-sm-1 text-left">
        <label class="input-sm">Set</label>
      </div>
      <div class="col-sm-11">
        {{ form.belongs_to|addcss:"form-control input-sm" }}
      </div>
    </div>
  </div>

  {% for error in form.record_history.errors %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endfor %}
  <div class="form-group">
    <div class="row">
      <div class="col-sm-1 text-left">
        <label class="input-sm">Hist.</label>
      </div>
      <div class="col-sm-11">
        {{ form.record_history|addcss:"form-control input-sm" }}
      </div>
    </div>
  </div>
{% endif %}
