{% load render_object %}

{% load rules %}
{% load permission_tags %}

{% with 'linkeddata_entries'|create_perm_tuple:instance.id as permTuple %}
{% test_rule 'can_update_authority_field' user permTuple as can_update %}
{% test_rule 'can_view_authority_field' user permTuple as can_view %}
<ul class="list-group">
{% if can_view %}
{% for linkeddata in instance.linkeddata_entries.all %}
    <li class="list-group-item linkeddata" id="linkeddata-{{ linkeddata.id }}">
        {% if linkeddata.type_controlled %}
        <span class="label label-primary">{{ linkeddata.type_controlled.name }}</span>
        {% endif %}

        {{ linkeddata.universal_resource_name }}
        {% if linkeddata.resource_name %}
        <span class="text-warning">{{ linkeddata.resource_name }}</span>
        {% endif %}

        {% if not linkeddata.public %}
        <i class="fa fa-eye-slash" title="This Linked Data entry is not public."></i>
        {% endif %}

        {% if can_update %}
        <span class="button-group button-group-xs pull-right">
            <a href="{% url 'update_linkeddata_for_authority' instance.pk linkeddata.pk %}" class="btn btn-xs glyphicon glyphicon-pencil"></a>
            <a class="btn btn-xs glyphicon glyphicon-remove delete delete-linkeddata"
                type="button"
                linkeddata-id="{{ linkeddata.pk }}"
                linkeddata-title="{{ linkeddata }}"></a>
        </span>
        {% endif %}
    </li>
{% endfor %}
{% if can_update %}
    <a class="list-group-item text-muted" href="{% url 'create_linkeddata_for_authority' instance.id %}">
        <span class="glyphicon glyphicon-plus"></span> Create new Linked Data entry
    </a>
{% endif %}
{% endif %}
{% if not can_view %}
<li class="list-group-item">
  <div class="alert alert-warning" role="alert">
  You do not have sufficient permissions to view Linked Data entries.
  </div>
</li>
{% endif %}
</ul>

{% endwith %}

<script>
//# sourceURL=delete_ld.js
$(document).ready(function() {
    $('.delete-linkeddata').click(function() {
        var elem = $(this);
        var linkeddata_id = elem.attr('linkeddata-id');
        var linkeddata_title = elem.attr('linkeddata-title');
        $('#linkeddata-id-container').val(linkeddata_id);
        $('#delete-linkeddata-target-name').html(linkeddata_title);
        $('#delete-linkeddata-modal').modal('show');
    });

});

var delete_linkeddata = function() {
    $('#delete-linkeddata-modal').modal('hide');
    var linkeddata_id = $('#linkeddata-id-container').val();
    if (linkeddata_id) {
        $.ajax("{% url "curate_authority" instance.id %}linkeddata/" + linkeddata_id + '/delete.json?confirm=true', {
            'success': function(r) {
                $('#linkeddata-' + linkeddata_id).remove();
            }
        });
    }
}
</script>


<!-- Modal -->
<div class="modal fade" id="delete-linkeddata-modal" tabindex="-1" role="dialog" aria-labelledby="delete-linkeddata-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-linkeddata-modal-label">Are you sure?</h4>
            </div>
            <div class="modal-body">
                You are about to delete the Linked Data entry <span class="text-warning" id="delete-linkeddata-target-name"></span>. Deletion cannot be undone!
                <input type="hidden" id="linkeddata-id-container" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-danger" onclick="delete_linkeddata();">Delete forever</button>
            </div>
        </div>
    </div>
</div>
