<p>
  <div class="form-group">
    <input type="text" id="categorySearchQuery" class="form-control" placeholder="Search for categories...">
  </div>
  <ul class="list-group" id="create-category-results-container">
  <li class="list-group-item" id="create-category-item" style="display: none;"></li>
  </ul>
</p>



<!-- categories js -->
<script>
//# sourceURL=categories.js

function addCategory(event) {
  var selected = event.target;
  var selected_id = $(selected).attr('data-id');
  $('#create-category-results-container').empty();

  var payload = {
      'citation_id': "{{ instance.id }}",
      'authority_id': selected_id,
      'type_controlled': 'CA',    // category.
      'type_broad_controlled': 'CT',    // classification term
  };

  $.post("{% url "curation:quick_create_acrelation"  %}", payload, function(result) {
    var ul = $('#category-list-group');
    var newId = result.acrelation.id;
    var url = '{% url 'curation:authority_list' %}' + result.acrelation.authority.id

    var li = $('<li id="subject-entry-' + newId + '" class="list-group-item"><a href="' + url + '">' + result.acrelation.authority.name + '</a></li>');
    ul.append(li);
    {% if can_update %}
    var span = $('<span class="button-group button-group-xs"></span>');
    li.append(span);

    var a = $('<a class="btn btn-xs glyphicon glyphicon-remove delete delete-category pull-right" acrelation-id="' + newId + '" data-acrelation-type="subject" acrelation-title="' + result.acrelation.authority.name + '"></a>');
    span.append(a);
    a.click(delete_handler);
    {% endif %}
  });
}

var category_creation_container = $('#create-category-item');

var INITIAL_MAX_RESULTS = 10;
var max_results_categories = INITIAL_MAX_RESULTS;

var searchTimerCategories = 0;
function triggerSearchCategories() {
  if (searchTimerCategories) {
      clearTimeout(searchTimerCategories);
  }

  var query = $('#categorySearchQuery').val();
  searchTimerCategories = setTimeout(function() {
    $.ajax("{% url "curation:quick_and_dirty_authority_search" %}?show_inactive=false&system=SPWC&type=CT&use_custom_cmp=true&max=" + max_results_categories + "&q=" + query, {
        success: function(result) {
            var results_container = $('#create-category-results-container');
            results_container.empty();
            result.results.forEach(function(r) {
                var choice_elem = '<li class="list-group-item acrelation search-result';
                if (r.public != true) {
                  choice_elem += ' record-notpublic';
                }
                choice_elem += '">';
                choice_elem += '<span class="button-group button-group-xs">';
                choice_elem += '<a class="glyphicon glyphicon-ok btn btn-xs select-citation-categories" data-id="' + r.id + '" data-name="' + r.name + '"></a>';
                choice_elem += '<a href="'+ r.url + '" class="btn btn-xs glyphicon glyphicon-pencil" target="_blank"></a>';
                choice_elem += '</span>';
                choice_elem += ' <span class="label label-success">' + r.type + '</span> <strong>' + r.name + '</strong>';
                if (r.citation_count != null) {
                    choice_elem += ' (' + r.citation_count + ')';
                }
                if (r.description != null) {
                    choice_elem += ' | <span class="text-muted">' + r.description + '</span>';
                }
                if (r.public != true) {
                  choice_elem += ' <i class="fa fa-eye-slash" title="The linked record is not public."></i>';
                }

                choice_elem += '</li>';

                results_container.append(choice_elem);
            });

            if (result.results.length == 0) {
              var msg = $('<p>There are no results for "' + query +'".</p>');
              results_container.append(msg);
            }

            if (result.results.length == max_results_categories) {
              var load_more = `
                <li class="list-group-item search-result">
                  <div class="text-right" id="load-more-categories"><a>Load more...</a></div>
                </li>
              `;
              results_container.append(load_more);
              $('#load-more-categories').click(function() {
                  max_results_categories += 10;
                  triggerSearchCategories();
              });
            }

            $('.select-citation-categories').click(addCategory);
        }
    });
  }, 500);
}

$(document).ready(function() {
  $('#categorySearchQuery').on('keyup', function(e) {
    max_results_categories = INITIAL_MAX_RESULTS;
    triggerSearchCategories();
  });
});

</script>
