{% load addcss %}
{% load render_object %}
{% load general_tags %}

<div class="panel panel-default">
  <div class="panel-heading">Title</div>
  <div class="panel-body">
    {% for error in form.title.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
      {{ form.title|addcss:"form-control titleInput" }}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Authors, Editors, etc.
    <a class="text-warning input-xs" href="{% url 'curation:create_acrelation_for_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}" style="float: right;">
      <span class="btn btn-xs btn-success"><i class="fas fa-plus"></i> Add Creator</span>
    </a>
  </div>
  <div class="panel-body">
    <ul class="list-group" style="margin-bottom: 0;">
      {% for acrelation in instance.acrelation_set.all|order_by:"data_display_order" %}
        {% if acrelation.type_controlled in personal_responsibility_types %}
          <li class="list-group-item">
            <a href="{% url 'curation:update_acrelation_for_citation' instance.id acrelation.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <span class="label label-info">{{acrelation.get_type_controlled_display}}</span>
            <a {% if acrelation.authority %}href="{% url 'curation:curate_authority' acrelation.authority.id %}"{% else %}class="btn disabled" {% endif %}>
              {{ acrelation.authority.name }}
              {% if acrelation.name_for_display_in_citation %}
                <span class="text-muted">({{ acrelation.name_for_display_in_citation }})</span>
              {% endif %}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Publisher or Journal
    {% for type in host_mapping|get_item:instance.type_controlled %}
      <a class="text-warning input-xs" href="{% url 'curation:create_acrelation_for_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}&type_controlled={{type}}" style="float: right;">
          <span class="btn btn-xs btn-success"><i class="fas fa-plus"></i> Add {{acrel_type_choices|get_item:type}}</span>
      </a>
    {% endfor %}
  </div>
  <div class="panel-body">
    <ul class="list-group" style="margin-bottom: 0;">
      {% for acrelation in instance.acrelation_set.all|order_by:"data_display_order" %}
        {% if acrelation.type_controlled in publisher_distributor_types %}
          <li class="list-group-item">
            <a href="{% url 'curation:update_acrelation_for_citation' instance.id acrelation.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <span class="label label-primary">{{acrelation.get_type_controlled_display}}</span>
            <a {% if acrelation.authority %}href="{% url 'curation:curate_authority' acrelation.authority.id %}"{% endif %}>
              {{ acrelation.authority.name }}
              {% if acrelation.name_for_display_in_citation %}
                <span class="text-muted">({{ acrelation.name_for_display_in_citation }})</span>
              {% endif %}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Publication Date
    <a class="text-warning input-xs" href="{% url 'curation:create_attribute_for_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}&typeName={{publication_date_attribute_name}}" style="float: right;">
      <span class="btn btn-xs btn-success"><i class="fas fa-plus"></i> Add Date</span>
    </a>
  </div>
  <div class="panel-body">
    <ul class="list-group" style="margin-bottom: 0;">
      {% for attribute in instance.attributes.all %}
        {% if attribute.type_controlled.value_content_type.model_class in date_attribute_types %}
          <li class="list-group-item">
            <a href="{% url 'curation:update_attribute_for_citation' instance.id attribute.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <span class="label label-warning">{{ attribute.type_controlled.name }}{% if attribute.get_type_qualifier_display %} ({{ attribute.get_type_qualifier_display }}){% endif %}</span>
            {{ attribute.value.get_child_class }}
            <span class="text-muted">{{ attribute.value_freeform}}</span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>