{% load render_object %}
{% load rules %}
{% load permission_tags %}

{% with 'acrelation'|create_perm_tuple:instance.id as permTuple %}
{% test_rule 'can_update_citation_field' user permTuple as can_update %}
{% test_rule 'can_view_citation_field' user permTuple as can_view %}

<label>Subjects</label>
<ul class="list-group" id="subject-list-group">
{% if can_view %}
{% for acrelation in instance.acrelation_set.all %}
    {% if acrelation.type_controlled == 'SU' %}
    <li class="list-group-item acrelation clearfix {% if not acrelation.public %}notpublic{% endif %} {% if not acrelation.authority.public %}record-notpublic{% endif %}" id="subject-{{ acrelation.id }}">
      <div class="row">
        {% if can_update %}
        <a href="{% url "update_acrelation_for_citation" instance.id acrelation.id %}" class="list_entry_link">
        {% endif %}

        <span class="col-sm-10">
          {{ acrelation.authority.name }}
          {% if acrelation.name_for_display_in_citation %}
          <span class="text-muted">(as "{{ acrelation.name_for_display_in_citation }}")</span>
          {% endif %}
          {% if not acrelation.authority.public %}
          <i class="fa fa-eye-slash" title="The linked record is not public."></i>
          {% endif %}
          {% if not acrelation.public %}
          <i class="fa fa-minus-square" aria-hidden="true" title="This ACRelation is not public."></i>
          {% endif %}
        </span>

        {% if can_update %}
        </a>
        {% endif %}

        <span class="col-sm-2 text-right">
          {% if can_update %}
          <span class="button-group button-group-xs">
              <a class="btn btn-xs glyphicon glyphicon-remove delete delete-subject"
                  type="button"
                  acrelation-id="{{ acrelation.id }}"
                  acrelation-title="{{ acrelation.authority.name }}"></a>
          </span>
          {% endif %}
        </span>
      </div>
    </li>
    {% endif %}
{% endfor %}

{% if can_update %}
<li class="list-group-item" id="create-subject-item" style="display: none;"></li>
<a style="cursor: pointer;" class="list-group-item acrelation text-muted" onclick="createNewSubject();">
    <span class="glyphicon glyphicon-plus"></span> Add a subject
</a>
{% endif %}
{% endif %}
{% if not can_view %}
<li class="list-group-item">
  <div class="alert alert-warning" role="alert">
  You do not have sufficient permissions to view subjects.
  </div>
</li>
{% endif %}

</ul>

{% endwith %}
<script>
var subject_creation_container = $('#create-subject-item');

var INITIAL_MAX_RESULTS = 10;
var max_results = INITIAL_MAX_RESULTS;

var searchTimerSubjects = 0;
function triggerSearchSubjects(e) {
    if (searchTimerSubjects) {
        clearTimeout(searchTimerSubjects);
    }

    var query = $('#create-subject-input').val();
    searchTimerSubjects = setTimeout(function() {
      $.ajax("{% url "quick_and_dirty_authority_search" %}?max=" + max_results + "&q=" + query, {
          success: function(result) {
              var results_container = $('#create-subject-results-container');
              results_container.empty();
              result.results.forEach(function(r) {
                  var choice_elem = '<li class="list-group-item acrelation search-result';
                  if (r.public != true) {
                    choice_elem += ' record-notpublic';
                  }
                  choice_elem += '">';
                  choice_elem += '<span class="button-group button-group-xs">';
                  choice_elem += '<a class="glyphicon glyphicon-ok btn btn-xs select-citation-subject" data-id="' + r.id + '" data-name="' + r.name + '"></a>';
                  choice_elem += '<a href="'+ r.url + '" class="btn btn-xs glyphicon glyphicon-pencil" target="_blank"></a>';
                  choice_elem += '</span>';
                  choice_elem += ' <span class="label label-success">' + r.type + '</span> <strong>' + r.name + '</strong>';
                  if (r.datestring != null) {
                      choice_elem += '(' + r.datestring + ')';
                  }
                  if (r.description != null) {
                      choice_elem += ' | <span class="text-muted">' + r.description + '</span>';
                  }
                  if (r.public != true) {
                    choice_elem += ' <i class="fa fa-eye-slash" title="The linked record is not public."></i>';
                  }

                  choice_elem += '</li>';

                  results_container.append(choice_elem);
              });

              if (result.results.length == max_results) {
                var load_more = `
                  <li class="list-group-item search-result">
                    <div class="text-right" id="load-more-subjects"><a>Load more...</a></div>
                  </li>
                `;
                results_container.append(load_more);
                $('#load-more-subjects').click(function() {
                    max_results += 10;
                    triggerSearchSubjects();
                });
              }

              $('.select-citation-subject').click(function() {
                  var selected = $(this);
                  var selected_id = selected.attr('data-id');
                  var selected_name = selected.attr('data-name');
                  $('#create-subject-results-container').empty();
                  $('#create-subject-input').val(selected_name);

                  var payload = {
                      'citation_id': "{{ instance.id }}",
                      'authority_id': selected_id,
                      'type_controlled': 'SU',    // subject.
                      'type_broad_controlled': 'SC',    // subject content.
                  };

                  $.post("{% url "quick_create_acrelation"  %}", payload, function(result) {
                      var new_id = result.acrelation.id;

                      var new_elem = '<li class="list-group-item clearfix" id="subject-' + new_id + '">';
                      var new_elem_acr = '<li class="list-group-item clearfix" id="acrelation-' + new_id + '">';

                      new_elem += '<a href="{% url "create_acrelation_for_citation" instance.id %}' + new_id +  '" >';
                      new_elem_acr += '<a href="{% url "create_acrelation_for_citation" instance.id %}' + new_id +  '" >';

                      new_elem += '<div class="row">';
                      new_elem_acr += '<div class="row">';

                      new_elem += '<span class="col-sm-10">';
                      new_elem_acr += '<span class="col-sm-10">';

                      new_elem_acr += '<span class="label label-primary">Subject</span> <span class="label label-success">Provides Subject Content About</span> ';
                      new_elem += result.acrelation.authority.name;
                      new_elem_acr += result.acrelation.authority.name;

                      new_elem += '</span>';
                      new_elem_acr += '</span>';

                      new_elem += '</a>';
                      new_elem_acr += '</a>';

                      new_elem += '<span class="col-sm-2 text-right">';
                      new_elem_acr += '<span class="col-sm-2 text-right">';

                      new_elem += '<span class="button-group button-group-xs pull-right">';
                      new_elem_acr += '<span class="button-group button-group-xs pull-right">';

                      new_elem += '<a class="btn btn-xs glyphicon glyphicon-remove delete delete-subject" type="button" acrelation-id="' + new_id + '" acrelation-title="' + result.acrelation.authority.name + '"></a>'
                      new_elem_acr += '<a class="btn btn-xs glyphicon glyphicon-remove delete delete-acrelation" type="button" acrelation-id="' + new_id + '" acrelation-title="' + result.acrelation.authority.name + '"></a>'
                      new_elem += '</span>';
                      new_elem_acr += '</span>';

                      new_elem += '</span>';
                      new_elem_acr += '</span>';

                      new_elem += '</div>';
                      new_elem_acr += '</div>';

                      new_elem += '</li>';
                      new_elem_acr += '</li>';

                      $('#subject-list-group').prepend(new_elem);
                      $('#acrelation-list-group').prepend(new_elem_acr);
                      subject_creation_container.css("display", "none");
                      subject_creation_container.empty();

                      bind_acrelation();
                      bind_subject();
                  }).fail(function(a) {
                      console.log(a);
                    })
              });
          }
      });
   }, 500);
}

var createNewSubject = function() {
    subject_creation_container.empty();
    var form_group = $('<div class="form-group"></div>');
    form_group.append('<input class="form-control" id="create-subject-input" name="create-subject-input" type="text" />');
    subject_creation_container.append(form_group);
    subject_creation_container.append('<ul class="list-group" id="create-subject-results-container"></ul>');
    subject_creation_container.css("display", "block");

    $('#create-subject-input').on('keyup', function() {
      max_results = INITIAL_MAX_RESULTS;
      triggerSearchSubjects();
    });
}

</script>


<script>
$(document).ready(function() {
    bind_subject();
});

var bind_subject = function() {
    $('.delete-subject').click(function() {
        var elem = $(this);
        var acrelation_id = elem.attr('acrelation-id');
        var acrelation_title = elem.attr('acrelation-title');
        $('#subject-id-container').val(acrelation_id);
        $('#delete-subject-target-name').html(acrelation_title);
        $('#delete-subject-modal').modal('show');
    });
}

var delete_subject = function() {
    $('#delete-subject-modal').modal('hide');
    var acrelation_id = $('#subject-id-container').val();
    if (acrelation_id) {
        $.ajax("{% url "create_acrelation_for_citation" instance.id %}" + acrelation_id + '/delete.json?confirm=true', {
            'success': function(r) {
                $('#subject-' + acrelation_id).remove();
                $('#acrelation-' + acrelation_id).remove();
            },
        });
    }
}
</script>


<!-- Modal -->
<div class="modal fade" id="delete-subject-modal" tabindex="-1" role="dialog" aria-labelledby="delete-subject-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-subject-modal-label">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to remove a subject relation with <span class="text-warning" id="delete-subject-target-name"></span>. Deletion cannot be undone!
                </p>
                <p>
                    This will not delete the related authority record itself, only the association between that record and this citation.
                </p>
                <input type="hidden" id="subject-id-container" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Take me back!</button>
                <button type="button" class="btn btn-danger" onclick="delete_subject();">Delete forever</button>
            </div>
        </div>
    </div>
</div>
