{% load render_object %}

{% load general_tags %}

<div class="h4">
    <span class="text-warning">Create new Authority Record</span>

    <div class="button-group pull-right">
        <input type="submit" value="Create & Continue" class="btn btn-success" />
    </div>
</div>

<div class="clearfix">
</div>

<div class="alert alert-warning" role="alert" style="margin-top: 20px;">
  To create a new record, please fill in the fields below and click "Create & Continue". Your new record will be created as inactive record. You can then edit all other fields and publish the record when you are done.
</div>
