{% load addcss %}
{% load render_object %}
{% load general_tags %}

<div class="form-group">
<div class="row">
  <div class="col-sm-2 text-left">
    <label class="input-xs">Subtype</label>
  </div>
  <div class="col-sm-10">
    {{ form.subtype|addcss:"form-control input-xs" }}
  </div>
</div>
</div>

{% for error in form.title.errors %}
<div class="alert alert-danger">{{ error }}</div>
{% endfor %}
<div class="form-group">
<div class="row">
  <div class="col-sm-2 text-left">
    <label class="input-xs">Title</label>
  </div>
  <div class="col-sm-10">
    {{ form.title|addcss:"form-control titleInput input-xs" }}
  </div>
</div>
</div>

<div class="row">
  <div class="col-sm-12 text-left">
    <table width="100%" style="margin-bottom: 3px;">
      <tr class="categoryHeader">
        <td width="100px">
          <div class="input-xs" style="height: 20px;">Responsibility</div>
        </td>
        <td class="text-right">
          {% for type in responsibility_mapping|get_item:instance.type_controlled %}
          <a class="text-warning input-xs"
              href="{% url 'curation:create_acrelation_for_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}&type_controlled={{type}}">
              <span style="white-space:nowrap;"><span class="gylphicon glyphicon-plus"></span> {{acrel_type_choices|get_item:type}}</span>
          </a>
          {% endfor %}
          <a class="text-warning input-xs"
              href="{% url 'curation:create_acrelation_for_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}">
              <span style="white-space:nowrap;"><span class="gylphicon glyphicon-plus"></span> Other</span>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-12 form-fields-indented">
    <small>
    {% for acrelation in instance.acrelation_set.all|order_by:"data_display_order" %}
        {% if acrelation.type_controlled in personal_responsibility_types %}
        <p class="author_editors" id="author_editors_{{acrelation.id}}" data-responsibility-type="{{ acrelation.type_controlled}}" style="margin-bottom: 2px;">
          ({{acrelation.data_display_order|floatformat:"0"}}) {{ acrelation.authority.name }}
          <span class="label label-info">{{acrelation.get_type_controlled_display}}</span>
          <a href="{% url 'curation:update_acrelation_for_citation' instance.id acrelation.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        </p>
        {% endif %}
    {% endfor %}

    </small>
  </div>
</div>

<div class="row" style="padding-top: 10px;">
  <div class="col-sm-12 text-left">
    <table width="100%" style="margin-bottom: 3px;">
      <tr class="categoryHeader">
        <td width="100px">
          <div class="input-xs">Hosting body</div>
        </td>
        <td class="text-right">
          {% for type in host_mapping|get_item:instance.type_controlled %}
          <a class="text-warning input-xs"
              href="{% url 'curation:create_acrelation_for_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}&type_controlled={{type}}">
              <span style="white-space:nowrap;"><span class="gylphicon glyphicon-plus"></span> {{acrel_type_choices|get_item:type}}</span>
          </a>
          {% endfor %}
          <a class="text-warning input-xs"
              href="{% url 'curation:create_acrelation_for_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}">
              <span style="white-space:nowrap;"><span class="gylphicon glyphicon-plus"></span> Other</span>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-12 form-fields-indented">
    <small>
    {% for acrelation in instance.acrelation_set.all|order_by:"data_display_order" %}
        {% if acrelation.type_controlled in publisher_distributor_types %}
        <p style="margin-bottom: 2px;" id="host_{{acrelation.id}}" class="host_type_{{acrelation.type_controlled}}">
        {{ acrelation.authority.name }}
        <span class="label label-primary">{{acrelation.get_type_controlled_display}}</span>
        <a href="{% url 'curation:update_acrelation_for_citation' instance.id acrelation.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        </p>
        {% endif %}
    {% endfor %}
    </small>
  </div>
</div>

<div class="row" style="padding-top: 10px;">
  <div class="col-sm-12 text-left">
    <table width="100%" style="margin-bottom: 3px;">
      <tr class="categoryHeader">
        <td width="100px">
          <div class="input-xs">Dates</div>
        </td>
        <td class="text-right">
          <a class="text-warning input-xs"
              href="{% url 'curation:create_attribute_for_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}&typeName={{publication_date_attribute_name}}">
              <span style="white-space:nowrap;"><span class="gylphicon glyphicon-plus"></span> Published</span>
          </a>
          <a class="text-warning input-xs"
              href="{% url 'curation:create_attribute_for_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}&typeName={{accessed_date_attribute_name}}">
              <span style="white-space:nowrap;"><span class="gylphicon glyphicon-plus"></span> Accessed</span>
          </a>
          <a class="text-warning input-xs"
              href="{% url 'curation:create_attribute_for_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}">
              <span style="white-space:nowrap;"><span class="gylphicon glyphicon-plus"></span> Other</span>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-12 form-fields-indented">
    <small>
    {% for attribute in instance.attributes.all %}
        {% if attribute.type_controlled.value_content_type.model_class in date_attribute_types %}
        <p style="margin-bottom: 2px;" class="attributes_dates" data-date-type="{{attribute.type_controlled.name}}" id="attributes_dates_{{attribute.id}}">
        {{ attribute.value.get_child_class }}
        <span class="text-muted">{{ attribute.value_freeform}}</span>
        <span class="label label-warning">{{ attribute.type_controlled.name }}{% if attribute.get_type_qualifier_display %} ({{ attribute.get_type_qualifier_display }}){% endif %}</span>
        <a href="{% url 'curation:update_attribute_for_citation' instance.id attribute.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        </p>
        {% endif %}
    {% endfor %}
    </small>
  </div>
</div>

<div class="row" style="padding-top: 10px;">
  <div class="col-sm-12 text-left">
    <table width="100%" style="margin-bottom: 3px;">
      <tr class="categoryHeader">
        <td width="100px">
          <div class="input-xs">Links</div>
        </td>
        <td class="text-right">
          <a class="text-warning input-xs"
              href="{% url 'curation:create_linkeddata_for_citation' instance.id %}?search={{ search_key }}&current={{ current_index }}">
              <span class="gylphicon glyphicon-plus"></span> Add more
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-12" style="padding-left:20px;">
    <small>
    {% for ld in instance.linkeddata_entries.all %}
        <p style="margin-bottom: 2px;" id="links_linked_data_{{ld.id}}" class="linked_data_{{ld.type_controlled.name}}">
          <i class="fa fa-link" aria-hidden="true"></i>
          <span>{{ ld.universal_resource_name }}</span>
        <span class="label label-success">{{ ld.type_controlled.name }}</span>
        <a href="{% url 'curation:update_linkeddata_for_citation' instance.id ld.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        </p>
    {% endfor %}
    </small>
  </div>
</div>
