{% extends "curation/base.html" %}
{% load addcss %}
{% load render_object %}

{% block extrahead %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock %}

{% block content %}

<div class="panel panel-default">
<div class="panel-body" style="padding: 8px;">

<div class="clearfix">
  <div class="col-md-3">
    {% if objects.form.o %}
    <div class="form-inline">
    {{ objects.form.o|addcss:"form-control input-xs" }}
    <button class="btn btn-primary btn-xs" type="submit" id="submit-form-btn-sort"><i class="fa fa-sort-amount-asc" style="padding: 2px;"></i></button>
  </div>
    {% endif %}
  </div>
  <div class="col-md-6">
      <div class="btn-group" style="width:100%">
          <button data-toggle="collapse"
              class="btn btn-xs btn-primary"
              data-target="#filters" style="width:100%">
              <i class="fa fa-filter" aria-hidden="true"></i> Show/hide filters
          </button>
      </div>
  </div>
</div>

<div class="collapse" id="filters">
    {% block filter_form %}
    <form id="filter_form" class="form-horizontal clearfix">
      {% csrf_token %}
        {% for field in objects.form %}
        {% if field.label != 'Ordering' %}
        <div class="form-group clearable">
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control" }}
        </div>
        {% endif %}
        {% endfor %}
        <input type="hidden" id="show_filters" value="False" />
    </form>
    {% endblock %}
    {% block filter_submit %}
    <div class="col-md-12 text-center">
      <div class="btn-group">
        <input class="btn btn-primary btn-xs" type="submit" id="submit-form-btn" value="Apply Filters"></input>
        <button class="btn btn-warning btn-xs" type="" id="clear-filters" value="Clear Filters">Clear Filters</button>
      </div>
    </div>
    {% endblock %}
</div>

<script>
//# sourceURL=main-list.js
var showFilters = '{{ show_filters }}';

$(document).ready(function() {

    var collapseFilters = localStorage.getItem("citationFiltersHidden");
    if (collapseFilters == "true") {
      $("#filters").removeClass("in");
    } else {
      $("#filters").addClass("in");
    }

    $('#filters').on('hidden.bs.collapse', function () {
      localStorage.setItem("citationFiltersHidden", true);
    })

    $('#filters').on('shown.bs.collapse', function () {
      localStorage.setItem("citationFiltersHidden", false);
    })

    $('#clear-filters').on('click', function() {
        $('.form-group.clearable input').val('');
        $('.form-group.clearable select').val('');
        highlightFilters();
        localStorage.setItem("citationFiltersHidden", false);
        submitSearchForm();
    });

    $("#submit-form-btn").on('click', function() {
      submitSearchForm();
    });

    $("#submit-form-btn-sort").on('click', function() {
      submitSearchForm();
    });

    highlightFilters();

    $(".form-control").keypress(function(e) {
      if(e.which == 13) {
          submitSearchForm();
      }
    });

    
});

function submitSearchForm() {
  var sortOrder = $("#id_o").val();
  var sortField = $('<input type="hidden" name="o"></input>');
  sortField.val(sortOrder);
  $("#filter_form").append(sortField);
  var showFiltersField = $('<input type="hidden" name="show_filters"></input>');
  showFiltersField.val(showFilters);
  $("#filter_form").append(showFiltersField);
  $("#filter_form").submit();
}

function highlightFilters() {
  $('#filter_form .form-group').each(function(idx, element) {
    if ($(element).find(".form-control").val() != '') {
      $(element).addClass("is-applied");
    }
    else {
      $(element).removeClass("is-applied");
    }
  });
}

</script>

</div>
</div>

<div class="text-center">
  {% if page.has_other_pages %}
  <ul class="pagination pagination-sm">
    {% if page.has_previous %}
      <li><a href="?page=1&search={{search_key}}">&laquo;</a></li>
      <li><a href="?page={{ page.previous_page_number }}&search={{search_key}}">Prev</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      <li class="disabled"><span>Prev</span></li>
    {% endif %}
    {% for i in page.paginator.page_range %}
      {% if page.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% elif i > page.number|add:-5 and i < page.number|add:5 %}
        <li><a href="?page={{ i }}&search={{search_key}}">{{ i }}</a></li>
      {% elif i == page.number|add:-5 or i == page.number|add:5 %}
        <li><a href="?page={{ i }}&search={{search_key}}">...</a></li>
      {% endif %}
    {% endfor %}
    {% if page.has_next %}
      <li><a href="?page={{ page.next_page_number }}&search={{search_key}}">Next</a></li>
      <li><a href="?page={{ paginator.num_pages }}&search={{search_key}}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>Next</span></li>
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  {% endif %}
</div>

<div class="panel maintable">
    {% block object_list %}
    <ul class="list-group">
        {% for object in current_page %}
        <a class="list-group-item" href="">
            {{ object|render_object }}
        </a>
        {% endfor %}
    </ul>
    {% endblock %}

    <div class="panel-footer text-center">
      {% if page.has_other_pages %}
      <ul class="pagination pagination-sm">
        {% if page.has_previous %}
          <li><a href="?page=1&search={{search_key}}">&laquo;</a></li>
          <li><a href="?page={{ page.previous_page_number }}&search={{search_key}}">Prev</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
          <li class="disabled"><span>Prev</span></li>
        {% endif %}
        {% for i in page.paginator.page_range %}
          {% if page.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% elif i > page.number|add:-5 and i < page.number|add:5 %}
            <li><a href="?page={{ i }}&search={{search_key}}">{{ i }}</a></li>
          {% elif i == page.number|add:-5 or i == page.number|add:5 %}
            <li><a href="?page={{ i }}&search={{search_key}}">...</a></li>
          {% endif %}
        {% endfor %}
        {% if page.has_next %}
          <li><a href="?page={{ page.next_page_number }}&search={{search_key}}">Next</a></li>
          <li><a href="?page={{ paginator.num_pages }}&search={{search_key}}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>Next</span></li>
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
      {% endif %}
    </div>


</div>

{% endblock %}
