{% extends "curation/base.html" %}
{% load addcss %}
{% load pagination_tags %}
{% load render_object %}

{% block content %}
{% autopaginate objects.qs 40 as filter_list %}

<div class="clearfix">
    <div class="btn-group pull-right">
        <button data-toggle="collapse"
            class="btn btn-primary"
            data-target="#filters">
            Show/hide filters
        </button>
    </div>
</div>

<div class="collapse{% if filters_active %} in{% endif %}" id="filters">
    {% block filter_form %}
    <form class="form clearfix">
        {% for field in objects.form %}
        <div class="form-group clearable">
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control" }}
        </div>
        {% endfor %}
        <div class="btn-group pull-right">
            <input class="btn btn-primary" type="submit" value="Apply Filters"></input>
            <button class="btn btn-warning" type="" id="clear-filters" value="Clear Filters">Clear Filters</button>
        </div>
    </form>
    <script>
    $(document).ready(function() {
        $('#clear-filters').on('click', function() {
            $('.form-group.clearable input').val('');
            $('.form-group.clearable select').val('');
        });
    });
    </script>
    {% endblock %}
</div>

<div class="text-center asdf">
    {% paginate %}
</div>

<div class="panel">
    {% block object_list %}
    <ul class="list-group">
        {% for object in filter_list %}
        <a class="list-group-item" href="">
            {{ object|render_object }}
        </a>
        {% endfor %}
    </ul>
    {% endblock %}

    <div class="panel-footer text-center">
    {% paginate %}
    </div>


</div>

{% endblock %}
