{% extends "curation/base.html" %}

{% block content %}
<div class="h3 text-warning">Role: {{ role.name }}</div>

<p>
  {{ role.description }}
</p>

<p>
  <a href="{% url 'create_rule_dataset' role.pk %}" class="btn btn-sm btn-primary">Limit records by dataset</a>
  <a href="{% url 'create_rule_crud' role.pk %}" class="btn btn-sm btn-primary">Add allowed actions</a>
  <a href="{% url 'create_rule_citation_field' role.pk 'citation' %}" class="btn btn-sm btn-primary">Add citation field access</a>
  <a href="{% url 'create_rule_citation_field' role.pk 'authority'%}" class="btn btn-sm btn-primary">Add authority field access</a>
</p>

<table class="table table-striped table-responsive table-hover table-curation">
  <thead>
    <tr>
      <th width="20%">Rule Type</th>
      <th>Rule</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% if role.dataset_rules %}
{% for rule in role.dataset_rules %}
    <tr>
      <td>Limited Dataset</td>
      <td>Dataset = '{{ rule.dataset }}'</td>
      <td><a title="Remove Rule" href="{% url 'remove_rule' role.id rule.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i> Remove</a></td>
    </tr>
{% endfor %}
{% endif %}

{% if role.crud_rules %}
{% for rule in role.crud_rules %}
    <tr>
      <td>Permitted Action</td>
      <td>Action = '{{ rule.crud_action }}'</td>
      <td><a title="Remove Rule" href="{% url 'remove_rule' role.id rule.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i> Remove</a></td>
    </tr>
{% endfor %}
{% endif %}

{% if role.field_rules %}
{% for rule in role.field_rules %}
    <tr>
      <td>Field Access</td>
      <td><span class="label label-info">{{ rule.get_object_type_display }}</span> {{ rule.get_field_action_display }} field '{{ rule.field_name }}'</td>
      <td><a title="Remove Rule" href="{% url 'remove_rule' role.id rule.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i> Remove</a></td>
    </tr>
{% endfor %}
{% endif %}

  </tbody>
</table>

{% endblock %}
