{% extends "curation/base.html" %}

{% load rules %}

{% block content %}

{% test_rule 'can_update_user_module' user as update_module %}

<div class="h3 text-warning">Existing Roles</div>

<p class="text-muted">
  Below is a list of all the roles that exist in the system. You can create as many roles as you like. Each role consists of a set of rules that define what a user can do in the curation inteface. Roles do not have any effect on the public IsisCB page. They purely govern what users are allowed to do and see in the curation interface.
</p>

<p class="text-muted">
  To grant a user access to the curation interface in general, go to their profile page by clicking on their username. Access to the curation inteface is not regulated through roles.
</p>

{% for message in messages %}
<div class="alert alert-danger" role="alert">{{ message }}</div>
{% endfor %}

<div class="row" style="margin-top: 35px;">
  <div class="col-md-12 text-right">
    <a class="btn btn-primary btn-sm" href="{% url "curation:create_role" %}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create new role</a>
  </div>
</div>

<table class="table table-striped table-responsive table-hover table-curation">
<thead>
  <tr>
    <th width="20%">Role Name</th>
    <th>Description</th>
    <th>Tenant</th>
    <th width="30%">Assigned to</th>
    <th width="10%"></th>
  </tr>
</thead>
<tbody>
{% for role in roles %}
  <tr>
    <td><a href="{% url 'curation:role' role.pk %}">{{ role.name }}</a></td>
    <td>{{ role.description }}</td>
    <td>
      {% with role.tenant_rules.0 as role_tenant %}
      {{ role_tenant.tenant.name }} 
      {% if role_tenant %}
      {% if role_tenant.allowed_action == 'update' %} <span class="label label-danger">Administrator</span> {% else %}<span class="label label-info">Editor</span>{% endif %}
      {% endif %}
      {% endwith %}
    </td>
    <td>{% for user in role.users.all %}<a href="{% url 'curation:user' user.pk %}">{{ user.username }}</a>, {% endfor %}</td>
    <td>
      {% if update_module %}
      <form action="{% url 'curation:delete_role' role.pk %}" method="POST" style="margin: 0px;"> {% csrf_token %}<button style="padding: 0px;" title="Delete Role" type="submit" class="btn btn-link"><small><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Role</small></button></form>
      {% endif %}
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
