{% extends "curation/base.html" %}

{% load general_tags %}

{% block content %}

<h2>Tenant: {{tenant.name}}</h2>

<form class="form" action="{% url 'curation:tenant_settings' tenant.id %}" method="POST">
  {% csrf_token %}
<div class="row">
<div class="form-group">
    {% for error in form.navigation_color.errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    <label class="col-md-2">{{ form.navigation_color.label }}</label>
    <div class="col-md-10">
      {{ form.navigation_color }}
    </div>
</div>

<div class="form-group">
    {% for error in form.link_color.errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    <label class="col-md-2">{{ form.link_color.label }}</label>
    <div class="col-md-10">
      {{ form.link_color }}
    </div>
</div>
</div>

<div class="form-group">
<button class="btn btn-primary" type="submit">Save</button>
</div>
</form>

{% endblock %}
