{% extends "curation/base.html" %}

{% load addcss %}
{% load pagination_tags %}
{% load render_object %}


{% block content %}
{% autopaginate objects 40 as filter_list %}


<div class="row">
  <div class="col-md-12">
    <a class="btn btn-primary" href="{% url "create_role" %}">Create new role</a>
  </div>
</div>

<div class="text-center">
    {% paginate %}
</div>

<div class="panel">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Groups</th>
        </tr>
      </thead>
      <tbody>
        {% for user in filter_list %}
        <tr>
          <td>
            {{ user.username }}
          </td>
          <td>
            {{ user.first_name }} {{ user.last_name }}
          </td>
          <td>
            {{ user.email }}
          </td>
          <td>
            {{ user.groups }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="panel-footer text-center">
    {% paginate %}
    </div>


</div>

{% endblock %}
