{% extends "curation/base.html" %}

{% load addcss %}
{% load pagination_tags %}
{% load render_object %}
{% load permission_tags %}
{% load rules %}


{% block content %}
{% autopaginate objects 40 as filter_list %}

{% test_rule 'can_update_user_module' user as update_module %}

<div class="h3 text-warning">Registered Users</div>

<p class="text-muted">
  Below you find a list of all registered users. If you have user administration permissions, you can add roles to a user. Roles define what a user is allowed to do in the curation interface. You can for example restrict what records a user can see depending on the dataset value of a record, or you can give users only view or update but no delete or create permissions.
</p>

<p class="text-muted">
  We recommend that you define small and limited roles over large, capture-it-all roles. Rather than trying to create one role that gives a user all the access they need, try to create smaller roles and then assign a user multiple roles. For example, if you want user 'Mickey Mouse' to be able to modify all records in dataset 'Awesome Dataset', but only see all other records, then  define one role for editing dataset 'Awesome Dataset', and one role for viewing all records. Then give user 'Mickey Mouse' both roles. This way you can reuse roles for other users that should only be able to do one of these things and it's easier to understand what a user can do by looking a the list of roles they have.
</p>

<p class="text-muted">
  To grant a user access to the curation interface in general, go to their profile page. Access to the curation inteface is not regulated through roles.
</p>

{% if update_module %}
<div class="row" style="margin-top: 35px;">
  <div class="col-md-6">
    <a class="btn btn-primary btn-sm" href="{% url "curation:create_role" %}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create new role</a>
  </div>
  <div class="col-md-6 text-right" style="padding-top:10px;">
    <a href="{% url 'curation:roles' %}"><i class="fa fa-key" aria-hidden="true"></i> See all roles</a>
  </div>
</div>
{% endif %}

<div class="text-center">
    {% paginate %}
</div>

<div class="panel">
    <table class="table table-striped table-responsive table-hover table-curation">
      <thead>
        <tr>
          <th>Username</th>
          <th></th>
          <th>Email</th>
          <th>Roles</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for user in filter_list %}
        <tr>
          <td>
            <a href="{% url 'curation:user' user.pk %}">{{ user.username }}</a>
          </td>
          <td>
            {% if user.is_superuser %}<span class="label label-danger">Administrator</span> {% endif %}
            {% if user.is_staff %}<span class="label label-warning">Curation Access</span>{% endif %}
          </td>
          <td>
            {{ user.email }}
          </td>
          <td>
            {% for role in user.pk|roles %}
              <a href="{% url 'curation:role' role.pk %}">{{ role.name }}</a>,
            {% endfor %}
          </td>
          <td>
            {% if update_module %}
            <a href="{% url 'curation:add_role_to_user' user.pk %}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Role</a>
            &nbsp; &nbsp;
            <a href="{% url 'curation:user' user.pk %}"><i class="fa fa-cog" aria-hidden="true"></i> User Profile</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="panel-footer text-center">
    {% paginate %}
    </div>


</div>

{% endblock %}
