{% extends "admin/base_site.html" %}

{% load static %}

{% block content %}

<style>
.suggestion-reasons {
    margin-left: 5px;
}

.suggestion-reasons > span {
    margin-right: 5px;
}

.acrelation {
    margin-right: 5px;
}
</style>


<div style="display: none;">
    <table>
        <!-- Used to seed new LinkedData formset rows. -->
        <tr id="linkeddata_template_form">
            <td>{{ linkeddata_template_form.type_controlled }}
                {{ linkeddata_template_form.id }}
                {{ linkeddata_template_form.subject_content_type }}
                {{ linkeddata_template_form.subject_instance_id }}</td>
            <td>{{ linkeddata_template_form.universal_resource_name }}</td>
            {% if linkeddata_formset.can_delete %}
                <td>{{ linkeddata_template_form.DELETE }}</td>
            {% endif %}
        </tr>
    </table>

    <table>
        <!-- Used to seed new Attribute formset rows. -->
        <tr id="attribute_template_form">
            <td>{{ attribute_template_form.type_controlled }}
                {{ attribute_template_form.id }}
                {{ attribute_template_form.source_content_type }}
                {{ attribute_template_form.source_instance_id }}</td>
            <td>{{ attribute_template_form.value }}</td>
            {% if attribute_formset.can_delete %}
                <td>{{ attribute_template_form.DELETE }}</td>
            {% endif %}
        </tr>
    </table>

</div>

{% block form %}

{% endblock %}


<script>

// When the user clicks on the green plus icon in the Attributes row, add a new
//  Attribute form associated with the corresponding Authority or Citation.
$('.add_attributes_button').on('click', function() {
    var for_instance = $(this).attr('for');
    var lastAttributeRow = $('#attribute_template_form');
    var newAttributeRow = lastAttributeRow.clone();
    var totalFormsElem = $('#id_attribute-TOTAL_FORMS');
    console.log(totalFormsElem);
    var tForms = Number(totalFormsElem.attr("value"));

    newAttributeRow.find('td').children().each(function(i, child) {
        var last_ID = child.id;
        var last_ID_parts = last_ID.split('-');
        var last_name_parts = child.name.split('-');

        var new_idx = tForms - 1;
        var new_ID = [last_ID_parts[0], new_idx, last_ID_parts[2]].join('-');
        var new_name = [last_name_parts[0], new_idx, last_name_parts[2]].join('-');

        var childElem = $(child);

        if (last_name_parts[2] == 'source_instance_id') {
            // Maintain the association between this form and its parent
            //  Authority instance.
            childElem.val(for_instance);
        } else {
            childElem.val("");
        }
        childElem.attr('id', new_ID);
        childElem.attr('name', new_name);

    });

    totalFormsElem.attr("value", tForms);
    console.log(for_instance);
    console.log($('.attribute_table[for='+ for_instance + ']'));
    $('.attribute_table[for='+ for_instance + ']').append(newAttributeRow);
});

// When the user clicks on the green plus icon in the LinkedData row, add a new
//  LinkedData form associated with the corresponding Authority or Citation.
$('.add_linkeddata_button').on('click', function() {
    var for_instance = $(this).attr('for');
    var lastAttributeRow = $('#linkeddata_template_form');
    var newAttributeRow = lastAttributeRow.clone();
    var totalFormsElem = $('#id_linkeddata-TOTAL_FORMS');
    var tForms = Number(totalFormsElem.attr("value"));

    newAttributeRow.find('td').children().each(function(i, child) {
        var last_ID = child.id;
        var last_ID_parts = last_ID.split('-');
        var last_name_parts = child.name.split('-');

        var new_idx = tForms - 1;

        var new_ID = [last_ID_parts[0], new_idx, last_ID_parts[2]].join('-');
        var new_name = [last_name_parts[0], new_idx, last_name_parts[2]].join('-');

        var childElem = $(child);
        if (last_name_parts[2] == 'subject_instance_id') {
            // Maintain the association between this form and its parent
            //  Authority or Citation instance.
            childElem.val(for_instance);
        } else {
            childElem.val("");
        }
        childElem.attr('id', new_ID);
        childElem.attr('name', new_name);
    });
    totalFormsElem.attr("value", tForms);
    $('.linkeddata_table[for='+ for_instance + ']').append(newAttributeRow);
});

</script>

{% endblock %}
