{% extends "isisdata/__base.html" %}
{% load i18n admin_static %}
{% load addcss %}

{{% block content %}
<div class="row col-sm-6 col-sm-offset-3" style="margin-top:105px;">
    <div id="password-reset" class="panel panel-default narrow center">
        <div class="panel-heading">
			<span class="h4">Password reset complete</span>
		</div>
        <div class="panel-body">
            <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
        </div>

        <div class="panel-footer clearfix">
			<div class="submit-row btn-group btn-group-sm pull-right">
				<a href="{% url "login" %}" class="btn btn-primary">{% trans 'Log in' %}</a>
			</div>
		</div>
    </div>
</div>

{% endblock %}
