{% extends "isisdata/__base.html" %}
{% load i18n admin_static %}
{% load addcss %}

{% block content %}
<div class="row col-sm-4 col-sm-offset-4" style="margin-top:105px;">
	<div id="login" class="panel panel-default narrow center">
		<div class="panel-heading">Register</div>
		<form action="{{ app_path }}" method="post" id="login-form" class="form-horizontal" style="margin-bottom: 0px;">{% csrf_token %}

			<div class="panel-body">
				{% if form.errors and not form.non_field_errors %}
				<p class="errornote">
					{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
				</p>
				{% endif %}

				{% if form.non_field_errors %}
					{% for error in form.non_field_errors %}
					<div class="alert alert-danger" role="alert">
					  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					  <span class="sr-only">Error:</span>
					  {{ error|escape }}
					</div>
					{% endfor %}
				{% endif %}

				<div id="content-main">
						<div class="form-group">
							{% for error in form.username.errors %}
							<div class="alert alert-danger" role="alert">
							  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  <span class="sr-only">Error:</span>
							  {{ error|escape }}
							</div>
							{% endfor %}

							<label for="username" class="required control-label col-sm-4">{{ form.username.label }}:</label>
							<div class="col-sm-6">
								{{ form.username | addcss:"form-control" }}
							</div>
						</div>
                        <div class="form-group">
							{% for error in form.email.errors %}
							<div class="alert alert-danger" role="alert">
							  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  <span class="sr-only">Error:</span>
							  {{ error|escape }}
							</div>
							{% endfor %}
							<label for="email" class="required control-label col-sm-4">{{ form.email.label }}</label>
							<div class="col-sm-6">
								{{ form.email | addcss:"form-control"}}
							</div>
							<input type="hidden" name="next" value="{{ next }}" />
						</div>
						<div class="form-group">
							{% for error in form.password1.errors %}
							<div class="alert alert-danger" role="alert">
							  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  <span class="sr-only">Error:</span>
							  {{ error|escape }}
							</div>
							{% endfor %}
							<label for="password1" class="required control-label col-sm-4">{{ form.password1.label }}</label>
							<div class="col-sm-6">
								{{ form.password1 | addcss:"form-control"}}
							</div>
							<input type="hidden" name="next" value="{{ next }}" />
						</div>
                        <div class="form-group">
							{% for error in form.password2.errors %}
	   						 <div class="alert alert-danger" role="alert">
	   						   <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	   						   <span class="sr-only">Error:</span>
	   						   {{ error|escape }}
	   						 </div>
	   						 {% endfor %}
							<label for="password2" class="required control-label col-sm-4">{{ form.password2.label }}</label>
							<div class="col-sm-6">
								{{ form.password2 | addcss:"form-control"}}
							</div>
							<input type="hidden" name="next" value="{{ next }}" />
						</div>
						<div class="form-group">
							{% for error in form.captcha.errors %}
							<div class="alert alert-danger" role="alert">
							  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							  <span class="sr-only">Error:</span>
							  {{ error|escape }}
							</div>
							{% endfor %}
							<label for="captcha" class="required control-label col-sm-4">Calculate</label>
							<div class="col-sm-6">
								{{ form.captcha  | addcss:"form-control"}}
							</div>

						</div>

						{{ form.next }}

					<script type="text/javascript">
					document.getElementById('id_username').focus()
					</script>
				</div>
			</div>
			<div class="panel-footer clearfix">
				<div class="submit-row btn-group btn-group-sm pull-right">
					<input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}" />
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
