body, p, div, table, input {
  font-family: 'Lato', sans-serif;
}

.nav-curation>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    /*background-color: */
}

.navbar-toggle {
    float: left;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
}

.navbar-curation .icon-bar {
  display: block;
  width: 44px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}


.brand-logo-container {
    background-color: #012e64;
     border-radius: 4px;

}


.table-curation {
    font-size: 9pt;
}

.error {
  color: #a70404;
}


.delete {
    color: red;
}

.notpublic {
  background-color: #e6e4d9;
}

.record-notpublic {
  background-color: #f1e0e0;
}


/* Reduce padding on related list items */
.list-group-item.acrelation {
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group-item.attribute {
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group-item.linkeddata {
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group-item.ccrelation {
    padding-top: 5px;
    padding-bottom: 5px;
}
