body, p, div, table, input {
  font-family: 'Verdana', sans-serif;
  font-color: #000;
}

body {
  background-color: #f3f5f7;
}

table {
  background-color: inherit;
}

a {
    cursor: pointer;
    color: #032544;
}

.phaedra-colors .label {
  color: #444;
  font-weight: normal;
  line-height: 200%;
  margin: 1px;
}
.phaedra-colors .label[href]:hover,
.phaedra-colors .label[href]:focus {
  color: #444;
  text-decoration: underline;
}

.phaedra-colors .label-chronology {
  background-color: #9BD7FF;
}
.phaedra-colors .label-chronology[href]:hover,
.phaedra-colors .label-chronology[href]:focus {
  background-color: #9BD7FF;
}

.phaedra-colors .label-person {
  background-color: #e3cace;
}
.phaedra-colors .label-person[href]:hover,
.phaedra-colors .label-person[href]:focus {
  background-color: #e3cace;
}

.phaedra-colors .label-geography {
  background-color: #b6cdca;
}
.phaedra-colors .label-geography[href]:hover,
.phaedra-colors .label-geography[href]:focus {
  background-color: #b6cdca;
}

.phaedra-colors .label-institution {
  background-color: #e09d6e;
}
.phaedra-colors .label-institution[href]:hover,
.phaedra-colors .label-institution[href]:focus {
  background-color: #e09d6e;
}

.phaedra-colors .label-concept {
  background-color: #e2b8fc;
}
.phaedra-colors .label-concept[href]:hover,
.phaedra-colors .label-concept[href]:focus {
  background-color: #e2b8fc;
}

.phaedra-colors .label-other {
  background-color: #c8d2f9;
}
.phaedra-colors .label-other[href]:hover,
.phaedra-colors .label-other[href]:focus {
  background-color: #c8d2f9;
}

.phaedra-colors .label-none {
  background-color: #d2d2d2;
}
.phaedra-colors .label-none[href]:hover,
.phaedra-colors .label-none[href]:focus {
  background-color: #d2d2d2;
}

.phaedra-colors .not_public {
  text-decoration: line-through;
}

.phaedra-colors .not_public[href]:hover,
.phaedra-colors .not_public[href]:focus {
  text-decoration: line-through;
}

.is_not_public {
  text-decoration: line-through;
}

textarea.form-control {
  line-height: initial;
}

tr.categoryHeader {
  background-color: #e2e2e2;
  padding: 2px;
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter [class*='col-']:not(:first-child),
.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

/* Input fields */
select.high_input {
  min-height: 350px;
}

/* Popover */
.popover {
    font-size: 11px;
}

.popover_info {
  height:22px;
  line-height:22px;
  color:#666;
}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

.form-fields-xs {
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

.form-fields-indented {
  margin-left: 30px;
}

.form-group-xs .form-control, .form-group-xs .control-label {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

.date-input {
  background-color: #fdf7e6;
}

#citationView a, #authorityView a {
  cursor: pointer;
  color: #032544;
}

.alert-small {
  padding: 7px;
  font-size: 85%;
}

.is-applied .form-control {
    border-color: #277ac1;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background-color: #e4edf5;
}

.pagination {
    margin: 10px 0;
}

.form-control {
  color: #000;
}

.text-warning {
  color: #00386b;
}

label {
  color: #747880;
  font-weight: normal;
}

.list-group a {
  color: #000;
}

.maintable {
  background-color: #f3f5f7;
}

.nav-curation>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    /*background-color: */
}

.navbar-toggle {
    float: left;
}

.navbar-brand {
  font-family: 'Verdana', sans-serif;
}

.navbar-curation .icon-bar {
  display: block;
  width: 44px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

.form-group {
    margin-bottom: 10px;
}

.input-sm {
    padding: 5px 0px;
  }

input.input-sm, textarea.input-sm {
  padding: 5px 5px;
}

.form-horizontal .control-label{
  text-align:left;
}

.noFormForms {
  padding-top: 0px;
  margin-bottom: 10px;
}

.titleInput {
  /*background-color: #f7efdf;*/
}

.brand-logo-container {
    background-color: #012e64;
     border-radius: 4px;

}


.table-curation {
    font-size: 9pt;
}

.error {
  color: #a70404;
}


.delete {
    color: red;
}

a:hover.delete {
  text-decoration: none;
  color: #c30f0f;
}

.notpublic {
  background-color: #e6e4d9;
}

.stubrecord{
  background-color: #fdedf8;
}

.record-notpublic {
  background-color: #f1e0e0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: #f3f5f7;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
  border-bottom-color: #f3f5f7;
}


/* Reduce padding on related list items */
.list-group-item.acrelation {
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group-item.attribute {
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group-item.linkeddata {
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group-item.ccrelation {
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group-item.language {
    padding-top: 5px;
    padding-bottom: 5px;
}

.cursor-link {
    cursor: pointer;
    color: #032544;
}


.glyphicon-plus {
    color: green;

a:hover.list_entry_link {
    text-decoration: none;
}
a:hover.list_entry_link .underlineWhenLinked {
  text-decoration: underline;
}


.input-shaded {
    background-color: #ccc;
}


.related-citations-tooltip {
    background-color: white;
    text-align: left;
    border: 1px solid #ccc;
}

.related-citations-tooltip .tooltip-inner {
    background-color: white;
    color: black;
    text-align: left;
    max-width: 300px;
    width: 300px;
}

.related-citations-tooltip .tooltip-inner p {
    width: 300px;
}

.related-citation {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 8pt;
}


.list-group-item.search-result {
    font-size: 0.9em;
    padding: 5px;
}

label {
    font-size: 9pt;
}

.curation-tabs {
    font-size: 9pt;
}
