body, p, div, table, input {
  font-family: 'Verdana', sans-serif;
  font-color: #000;
}

body, table {
  background-color: #f3f5f7;
}

a {
    cursor: pointer;
    color: #032544;
}
#citationView a, #authorityView a {
  cursor: pointer;
  color: #032544;
}

.is-applied .form-control {
    border-color: #277ac1;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background-color: #e4edf5;
}

.pagination {
    margin: 10px 0;
}

.form-control {
  color: #000;
}

.text-warning {
  color: #00386b;
}

label {
  color: #3e3e3e;
  font-weight: normal;
}

.list-group a {
  color: #000;
}

.maintable {
  background-color: #f3f5f7;
}

.nav-curation>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    /*background-color: */
}

.navbar-toggle {
    float: left;
}

.navbar-brand {
  font-family: 'Verdana', sans-serif;
}

.navbar-curation .icon-bar {
  display: block;
  width: 44px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

.form-group {
    margin-bottom: 10px;
}

.input-sm {
    padding: 5px 0px;
  }

input.input-sm, textarea.input-sm {
  padding: 5px 5px;
}

.form-horizontal .control-label{
  text-align:left;
}

.noFormForms {
  padding-top: 0px;
  margin-bottom: 10px;
}

.titleInput {
  /*background-color: #f7efdf;*/
}

.brand-logo-container {
    background-color: #012e64;
     border-radius: 4px;

}


.table-curation {
    font-size: 9pt;
}

.error {
  color: #a70404;
}


.delete {
    color: red;
}

a:hover.delete {
  text-decoration: none;
  color: #c30f0f;
}

.notpublic {
  background-color: #e6e4d9;
}

.record-notpublic {
  background-color: #f1e0e0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: #f3f5f7;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
  border-bottom-color: #f3f5f7;
}


/* Reduce padding on related list items */
.list-group-item.acrelation {
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group-item.attribute {
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group-item.linkeddata {
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group-item.ccrelation {
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group-item.language {
    padding-top: 5px;
    padding-bottom: 5px;
}

.cursor-link {
    cursor: pointer;
    color: #032544;
}


.glyphicon-plus {
    color: green;

a:hover.list_entry_link {
    text-decoration: none;
}
a:hover.list_entry_link .underlineWhenLinked {
  text-decoration: underline;
}


.input-shaded {
    background-color: #ccc;
}
