{% extends "isisdata/__base.html" %}
{% load app_filters %}
{% block title %}Search{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <div class="menu">
      <a href="javascript:window.history.back()"><span class="glyphicon glyphicon-arrow-left"></span></a>
      &nbsp; &nbsp;
      <a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span></a>
      &nbsp; &nbsp;
      <a href="{% url 'haystack_search' %}"><span class="glyphicon glyphicon-search"></span></a>
      <hr>
    </div>

    {% if query %}
    <h4>Author</h4>
      {% if facets.fields.authors %}
              <ul >
              {# Provide only the top 5 authors #}
              {% for author in facets.fields.authors|slice:":7" %}
                  <li><a href="{{ request.get_full_path }}&amp;selected_facets=authors_exact:{{ author.0|urlencode }}">{{ author.0 }} </a>({{ author.1 }})</li>
              {% endfor %}
            </ul>
      {% else %}
              <p>No author facets.</p>
      {% endif %}

      <h4>Subject</h4>
      {% if facets.fields.subjects %}
        <ul>
              {% for subject in facets.fields.subjects|slice:":7" %}
                  <li ><a href="{{ request.get_full_path }}&amp;selected_facets=subjects_exact:{{ subject.0|urlencode }}">{{ subject.0 }} </a>({{ subject.1 }}) </li>
              {% endfor %}
        </ul>
      {% else %}
              <p>No subject facets.</p>
      {% endif %}

    {% endif %}

  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h3>Search</h3>

    <form method="get" action=".">
      <div class="input-group">
        <input id="id_q" name="q" type="search" type="text" class="form-control" value="{{ query }}" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Search!</button>
        </span>
      </div>
      <div style="padding-top: 15px;">
      Search in:
        {% for model in form.models %}
            {{ model }}
          {% endfor %}
      </div>

        {% if query %}
            <h3>Results</h3>

            {% for result in page.object_list %}
                <p>
                  {% if result.object|to_class_name = 'Citation' %}
                  <span class="glyphicon glyphicon-book"></span>
                    {% if result.authors|joinby:", " %}
                    {{ result.authors | joinby:", " }}
                    {% else %}
                    Author missing
                    {% endif %}
                    <br><a href="{% url 'index' result.object.id %}">{{ result.object|get_title }}</a>

                  {% endif %}
                  {% if result.object|to_class_name = 'Authority' %}
                  <span class="glyphicon glyphicon-bookmark"></span>
                  <a href="{% url 'index' result.object.id %}">{{ result.name }}</a>
                  {% endif %}

                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
  </div>
{% endblock %}
