{% load app_filters %}
{% load metadata_filters %}

{% if query and 'isisdata.citation' in models %}
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Filters</h3></div>
  <div class="panel-body">

<h5>Document Type</h5>
  {% if facets.fields.type %}
        <ul class="selected_facets">
          {% for type in selected_facets.type %}
          {% with type|create_facet_string:'type' as encoded_type %}
          <li><a href="{{ request.get_full_path|remove_facet:encoded_type|set_page_to_one }}"><span class="glyphicon glyphicon-remove"></span> {{ type|get_doc_type_display }}</a></li>
          {% endwith %}
          {% endfor %}
        </ul>
        <ul >
          {# Provide only the top 7 authors #}
          {% for type in facets.fields.type|slice:":7" %}
          {% if "type" not in selected_facets.keys or type.0 not in selected_facets.type %}
          <li><a href="{{ request.get_full_path|set_page_to_one }}&amp;selected_facets=type:{{ type.0|urlencode }}">{{ type.0|get_doc_type_display }} </a>({{ type.1 }})</li>
          {% endif %}
          {% endfor %}
        </ul>
  {% else %}
          <p>No type facets.</p>
  {% endif %}

<h5>Author & Contributors</h5>
  {% if facets.fields.authors %}
        <ul class="selected_facets">
          {% for author in selected_facets.authors_exact %}
          {% with author|create_facet_string:'authors_exact' as encoded_author %}
          <li><a href="{{ request.get_full_path|remove_facet:encoded_author|set_page_to_one }}"><span class="glyphicon glyphicon-remove"></span> {{author}}</a></li>
          {% endwith %}
          {% endfor %}
        </ul>
        <ul >
          {# Provide only the top 7 authors #}
          {% for author in facets.fields.authors|slice:":7" %}
          {% if "authors_exact" not in selected_facets.keys or author.0 not in selected_facets.authors_exact %}
          <li><a href="{{ request.get_full_path|set_page_to_one }}&amp;selected_facets=authors_exact:{{ author.0|urlencode }}">{{ author.0 }} </a>({{ author.1 }})</li>
          {% endif %}
          {% endfor %}
        </ul>
  {% else %}
          <p>No author facets.</p>
  {% endif %}

  <h5>Time Periods</h5>
  {% if facets.fields.time_periods %}
    <ul class="selected_facets">
      {% for time_period in selected_facets.time_periods_exact %}
      {% with time_period|create_facet_string:'time_periods_exact' as encoded_time_period %}
      <li><a href="{{ request.get_full_path|remove_facet:encoded_time_period|set_page_to_one }}"><span class="glyphicon glyphicon-remove"></span> {{time_period}}</a></li>
      {% endwith %}
      {% endfor %}
    </ul>
    <ul>
          {% for time_period in facets.fields.time_periods|slice:":7" %}
          {% if "time_periods_exact" not in selected_facets.keys or time_period.0 not in selected_facets.time_periods_exact %}
              <li ><a href="{{ request.get_full_path|set_page_to_one }}&amp;selected_facets=time_periods_exact:{{ time_period.0|urlencode }}">{{ time_period.0 }} </a>({{ time_period.1 }}) </li>
          {% endif %}
          {% endfor %}
    </ul>
  {% else %}
          <p>No time period facets.</p>
  {% endif %}

  <h5>Places</h5>
  {% if facets.fields.geographics %}
    <ul class="selected_facets">
      {% for geographic in selected_facets.geographics_exact %}
      {% with geographic|create_facet_string:'geographics_exact' as encoded_geographic %}
      <li><a href="{{ request.get_full_path|remove_facet:encoded_geographic|set_page_to_one }}"><span class="glyphicon glyphicon-remove"></span> {{geographic}}</a></li>
      {% endwith %}
      {% endfor %}
    </ul>
    <ul>
          {% for geographic in facets.fields.geographics|slice:":7" %}
          {% if "geographics_exact" not in selected_facets.keys or geographic.0 not in selected_facets.geographics_exact %}
              <li ><a href="{{ request.get_full_path|set_page_to_one }}&amp;selected_facets=geographics_exact:{{ geographic.0|urlencode }}">{{ geographic.0 }} </a>({{ geographic.1 }}) </li>
          {% endif %}
          {% endfor %}
    </ul>
  {% else %}
          <p>No place facets.</p>
  {% endif %}

  <h5>Subjects</h5>
  {% if facets.fields.subjects %}
    <ul class="selected_facets">
      {% for subject in selected_facets.subjects_exact %}
      {% with subject|create_facet_string:'subjects_exact' as encoded_subject %}
      <li><a href="{{ request.get_full_path|remove_facet:encoded_subject|set_page_to_one }}"><span class="glyphicon glyphicon-remove"></span> {{subject}}</a></li>
      {% endwith %}
      {% endfor %}
    </ul>
    <ul>
          {% for subject in facets.fields.subjects|slice:":7" %}
          {% if "subjects_exact" not in selected_facets.keys or subject.0 not in selected_facets.subjects_exact %}
              <li ><a href="{{ request.get_full_path|set_page_to_one }}&amp;selected_facets=subjects_exact:{{ subject.0|urlencode }}">{{ subject.0 }} </a>({{ subject.1 }}) </li>
          {% endif %}
          {% endfor %}
    </ul>
  {% else %}
          <p>No subject facets.</p>
  {% endif %}
</div>
</div>
{% endif %}
