{% load app_filters %}
{% load metadata_filters %}
{% load facet_filters %}
{% load search_filters %}
{% load static %}

{% if query %}

<div class="row">
    <div class="col-md-6">
      <!-- Author panel -->
      <div class="panel-group hidden-print" id="author_panel">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion"
                href="#collapseAuthors" class="accordion-toggle">
                Author & Contributors <span class="badge {% if selected_facets.citation_all_contributor_ids_exact %}active{% endif %}">{{ facets_citation.fields.all_contributor_ids|length }}</span>
              </a>
            </h4>
          </div>
          <div id="collapseAuthors" class="panel-collapse collapse in">
            <div class="facet_panel panel-body">
                <div class="row panel-row">
                  <div class="col-md-12">
                    <h5><small>Click on an author or contributor to only see their publications. </small></h5>
                  </div>
                </div>

              {% if facets_citation.fields.persons_ids %}

              <div class="row panel-row">


                   {% for author in selected_facets.citation_persons_ids_exact %}
                   {% with author|create_facet_string:'citation_persons_ids_exact' as encoded_author %}
                   <div class="col-md-12">
                     <a href="{{ request.get_full_path|remove_facet:encoded_author|set_page_to_one|set_index_model:'models:isisdata.citation' }}"><i class="fa fa-check-square"></i> {{author|get_authority_name}}</a> <a title="Go to authority record for {{author|get_authority_name}}" href="{% url 'authority' author %}?"><i class="fa fa-info-circle"></i></a>
                   </div>
                   {% endwith %}
                   {% endfor %}

                   {% if selected_facets.citation_persons_ids_exact %}
                   <div class="col-md-12">
                     <hr style="margin-top: 4px; margin-bottom: 4px;">
                   </div>
                   {% endif %}

                   {# Provide only the top 10 authors #}
                   {% for author in facets_citation.fields.persons_ids|slice:":10" %}
                   {% if "citation_persons_ids_exact" not in selected_facets.keys or author.0 not in selected_facets.citation_persons_ids_exact %}
                   <div class="col-md-12">
                     <a title="Show only results involving {{ author.0|get_authority_name }}." href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_persons_ids:{{ author.0|urlencode }}"><i class="far fa-square"></i> {{ author.0|get_authority_name }}</a>  ({{ author.1 }}) <a title="Go to authority record for {{author.0|get_authority_name}}" href="{% url 'authority' author.0 %}?"><i class="fa fa-info-circle"></i></a>
                   </div>
                   {% endif %}
                   {% endfor %}
              </div>
                 {% if facets_citation.fields.persons_ids|length > 10 %}
                 <div class="more-facets">
                   <!-- Button trigger modal -->
                   <button type="button" class="btn btn-link" data-toggle="modal" data-target="#authorModal">
                     More...
                   </button>
                 </div>
                {% endif %}

                {% else %}
                <div class="row panel-row">
                  <div class="col-md-12 panel-cell">
                    <p>No author facets.</p>
                  </div>
                </div>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel-group hidden-print" id="place_panel">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion"
                href="#collapseSubjects" class="accordion-toggle">
                Subjects <span class="badge {% if selected_facets.citation_subject_ids_exact  %}active{% endif %}">{{ facets_citation.fields.subject_ids|length }}</span>
              </a>
            </h4>
          </div>
          <div id="collapseSubjects" class="panel-collapse collapse in">
            <div class="facet_panel panel-body">
              <div class="row panel-row">
                <div class="col-md-12">
                  <h5><small>Click on a subject to only see publications tagged with that subject. </small></h5>
                </div>
              </div>

              {% if facets_citation.fields.subject_ids %}

                <div class="row panel-row">

                  {% for subject in selected_facets.citation_subject_ids_exact %}
                  {% with subject|create_facet_string:'citation_subject_ids_exact' as encoded_subject %}
                  <div class="col-md-12">
                    <a href="{{ request.get_full_path|remove_facet:encoded_subject|set_page_to_one|set_index_model:'models:isisdata.citation' }}"><i class="fa fa-check-square"></i> {{subject|get_authority_name}}</a> <a title="Go to authority record for {{subject|get_authority_name}}" href="{% url 'authority' subject %}?"><i class="fa fa-info-circle"></i> </a>
                  </div>
                  {% endwith %}
                  {% endfor %}

                  {% if selected_facets.citation_subject_ids_exact %}
                  <div class="col-md-12">
                    <hr style="margin-top: 4px; margin-bottom: 4px;">
                  </div>
                  {% endif %}

                  {% for subject in facets_citation.fields.subject_ids|slice:":10" %}
                  {% if "citation_subject_ids_exact" not in selected_facets.keys or subject.0 not in selected_facets.citation_subject_ids_exact %}
                  <div class="col-md-12">
                    <a href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_subject_ids_exact:{{ subject.0|urlencode }}" title="Show only results involving {{ subject.0|get_authority_name }}"><i class="far fa-square"></i> {{ subject.0|get_authority_name }}</a> ({{ subject.1 }}) <a title="Go to authority record for {{subject.0|get_authority_name}}" href="{% url 'authority' subject.0 %}?"><i class="fa fa-info-circle"></i>  </a>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>

                {% if facets_citation.fields.subject_ids|length > 10 %}
                <div class="more-facets">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#subjectModal">
                    More...
                  </button>
                </div>
                {% endif %}
              {% else %}
              <div class="col-md-12">
                <p>No subject facets.</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
      <div class="panel-group hidden-print" id="time_panel">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion"
                href="#collapseTime" class="accordion-toggle">
                Time Periods <span class="badge {% if selected_facets.citation_time_period_ids_exact %}active{% endif %}">{{ facets_citation.fields.time_period_ids|length }}</span>
              </a>
            </h4>
          </div>
          <div id="collapseTime" class="panel-collapse collapse in">
            <div class="facet_panel panel-body">

              <div class="row panel-row">
                <div class="col-md-12">
                  <h5><small>Click on a time period to only see publications tagged with that time period. </small></h5>
                </div>
              </div>

              {% if facets_citation.fields.time_period_ids %}
                <div class="row panel-row">
                  {% for time_period in selected_facets.citation_time_period_ids_exact %}
                  {% with time_period|create_facet_string:'citation_time_period_ids_exact' as encoded_time_period %}
                  <div class="col-md-12">
                    <a href="{{ request.get_full_path|remove_facet:encoded_time_period|set_page_to_one|set_index_model:'models:isisdata.citation' }}"><i class="fa fa-check-square"></i> {{ time_period|get_authority_name }}</a>  <a title="Go to authority record for {{ time_period|get_authority_name}}" href="{% url 'authority' time_period %}?"><i class="fa fa-info-circle"></i> </a>
                  </div>
                  {% endwith %}
                  {% endfor %}

                  {% if selected_facets.citation_time_period_ids_exact %}
                  <div class="col-md-12">
                    <hr style="margin-top: 4px; margin-bottom: 4px;">
                  </div>
                  {% endif %}

                  {% for time_period in facets_citation.fields.time_period_ids|slice:":10" %}
                  {% if "citation_time_period_ids_exact" not in selected_facets.keys or time_period.0 not in selected_facets.citation_time_period_ids_exact %}
                  <div class="col-md-12">
                    <a href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_time_period_ids_exact:{{ time_period.0|urlencode }}" title="Show only results involving {{ time_period.0|get_authority_name }}"><i class="far fa-square"></i> {{ time_period.0|get_authority_name }}</a> ({{ time_period.1 }}) <a title="Go to authority record for {{ time_period.0|get_authority_name}}" href="{% url 'authority' time_period.0 %}?"><i class="fa fa-info-circle"></i> </a>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>

                {% if facets_citation.fields.time_period_ids|length > 10 %}
                <div class="more-facets">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#timeModal">
                    More...
                  </button>
                </div>
                {% endif %}
              {% else %}
              <div class="col-md-12">
                <p>No time period facets.</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel-group hidden-print" id="place_panel">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion"
                href="#collapsePlaces" class="accordion-toggle">
                Places <span class="badge {% if selected_facets.citation_geographic_ids_exact %}active{% endif %}">{{ facets_citation.fields.geographic_ids|length }}</span>
              </a>
            </h4>
          </div>
          <div id="collapsePlaces" class="panel-collapse collapse in">
            <div class="facet_panel panel-body">
              <div class="row panel-row">
                <div class="col-md-12">
                  <h5><small>Click on a place to only see publications tagged with that place. </small></h5>
                </div>
              </div>

              {% if facets_citation.fields.geographic_ids %}
                <div class="row panel-row">
                  {% for geographic in selected_facets.citation_geographic_ids_exact %}
                  {% with geographic|create_facet_string:'citation_geographic_ids_exact' as encoded_geographic %}
                  <div class="col-md-12">
                    <a href="{{ request.get_full_path|remove_facet:encoded_geographic|set_page_to_one|set_index_model:'models:isisdata.citation' }}"><i class="fa fa-check-square"></i> {{ geographic|get_authority_name }}</a> <a title="Go to authority record for {{ geographic|get_authority_name }}" href="{% url 'authority' geographic %}?"><i class="fa fa-info-circle"></i></a>
                  </div>
                  {% endwith %}
                  {% endfor %}

                  {% if selected_facets.citation_geographic_ids_exact %}
                  <div class="col-md-12">
                    <hr style="margin-top: 4px; margin-bottom: 4px;">
                  </div>
                  {% endif %}

                  {% for geographic in facets_citation.fields.geographic_ids|slice:":10" %}
                  {% if "citation_geographic_ids_exact" not in selected_facets.keys or geographic.0 not in selected_facets.citation_geographic_ids_exact %}
                      <div class="col-md-12">
                        <a href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_geographic_ids_exact:{{ geographic.0|urlencode }}" title="Show only results involving {{ geographic.0|get_authority_name }}"><i class="far fa-square"></i> {{ geographic.0|get_authority_name }}</a> ({{ geographic.1 }}) <a title="Go to authority record for {{ geographic.0|get_authority_name}}" href="{% url 'authority' geographic.0 %}?"><i class="fa fa-info-circle"></i>  </a>
                      </div>
                  {% endif %}
                  {% endfor %}
                </div>
                {% if facets_citation.fields.geographic_ids|length > 10 %}
                <div class="more-facets">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#placeModal">
                    More...
                  </button>
                </div>
                {% endif %}
              {% else %}
              <div class="col-md-12">
                <p>No place facets.</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
      <div class="panel-group hidden-print" id="place_panel">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion"
                href="#collapseSubjects" class="accordion-toggle">
                Concepts <span class="badge {% if selected_facets.citation_subject_ids_exact  %}active{% endif %}">{{ facets_citation.fields.subject_ids|length }}</span>
              </a>
            </h4>
          </div>
          <div id="collapseSubjects" class="panel-collapse collapse in">
            <div class="facet_panel panel-body">
              <div class="row panel-row">
                <div class="col-md-12">
                  <h5><small>Click on a subject to only see publications tagged with that subject. </small></h5>
                </div>
              </div>

              {% if facets_citation.fields.subject_ids %}

                <div class="row panel-row">

                  {% for subject in selected_facets.citation_subject_ids_exact %}
                  {% with subject|create_facet_string:'citation_subject_ids_exact' as encoded_subject %}
                  <div class="col-md-12">
                    <a href="{{ request.get_full_path|remove_facet:encoded_subject|set_page_to_one|set_index_model:'models:isisdata.citation' }}"><i class="fa fa-check-square"></i> {{subject|get_authority_name}}</a> <a title="Go to authority record for {{subject|get_authority_name}}" href="{% url 'authority' subject %}?"><i class="fa fa-info-circle"></i> </a>
                  </div>
                  {% endwith %}
                  {% endfor %}

                  {% if selected_facets.citation_subject_ids_exact %}
                  <div class="col-md-12">
                    <hr style="margin-top: 4px; margin-bottom: 4px;">
                  </div>
                  {% endif %}

                  {% for subject in facets_citation.fields.subject_ids|slice:":10" %}
                  {% if "citation_subject_ids_exact" not in selected_facets.keys or subject.0 not in selected_facets.citation_subject_ids_exact %}
                  <div class="col-md-12">
                    <a href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_subject_ids_exact:{{ subject.0|urlencode }}" title="Show only results involving {{ subject.0|get_authority_name }}"><i class="far fa-square"></i> {{ subject.0|get_authority_name }}</a> ({{ subject.1 }}) <a title="Go to authority record for {{subject.0|get_authority_name}}" href="{% url 'authority' subject.0 %}?"><i class="fa fa-info-circle"></i>  </a>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>

                {% if facets_citation.fields.subject_ids|length > 10 %}
                <div class="more-facets">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#subjectModal">
                    More...
                  </button>
                </div>
                {% endif %}
              {% else %}
              <div class="col-md-12">
                <p>No subject facets.</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endif %}

<div class="modal fade" id="authorModal" tabindex="-1" role="dialog" aria-labelledby="authorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Author</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for author in facets_citation.fields.all_contributor_ids %}
          {% if "citation_all_contributor_ids_exact" not in selected_facets.keys or author.0 not in selected_facets.citation_all_contributor_ids_exact %}
          <li><a href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_all_contributor_ids_exact:{{ author.0|urlencode }}"><i class="far fa-square"></i> {{ author.0|get_authority_name }} </a>({{ author.1 }}) <a title="Go to authority record for {{ author.0|get_authority_name}}" href="{% url 'authority' author.0 %}?"><i class="fa fa-info-circle"></i> </a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->


<!-- time period Modal -->
<div class="modal fade" id="timeModal" tabindex="-1" role="dialog" aria-labelledby="timeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Time Period</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for time_period in facets_citation.fields.time_period_ids %}
          {% if "citation_time_period_ids_exact" not in selected_facets.keys or time_period.0 not in selected_facets.citation_time_period_ids_exact %}
              <li ><a href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_time_period_ids_exact:{{ time_period.0|urlencode }}"><i class="far fa-square"></i> {{ time_period.0|get_authority_name }} </a>({{ time_period.1 }}) <a title="Go to authority record for {{ time_period.0|get_authority_name}}" href="{% url 'authority' time_period.0 %}?"><i class="fa fa-info-circle"></i> </a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<!-- places Modal -->
<div class="modal fade" id="placeModal" tabindex="-1" role="dialog" aria-labelledby="placeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Place</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for geographic in facets_citation.fields.geographic_ids %}
          {% if "citation_geographic_ids_exact" not in selected_facets.keys or geographic.0 not in selected_facets.citation_geographic_ids_exact %}
              <li ><a href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_geographic_ids_exact:{{ geographic.0|urlencode }}"><i class="far fa-square"></i> {{ geographic.0|get_authority_name }} </a>({{ geographic.1 }}) <a title="Go to authority record for {{ geographic.0|get_authority_name}}" href="{% url 'authority' geographic.0 %}?"><i class="fa fa-info-circle"></i> </a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<!-- subject Modal -->
<div class="modal fade" id="subjectModal" tabindex="-1" role="dialog" aria-labelledby="subjectModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Subject</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for subject in facets_citation.fields.subject_ids %}
          {% if "citation_subject_ids_exact" not in selected_facets.keys or subject.0 not in selected_facets.citation_subject_ids_exact %}
              <li ><a href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_subject_ids_exact:{{ subject.0|urlencode }}"><i class="far fa-square"></i> {{ subject.0|get_authority_name }} </a>({{ subject.1 }}) <a title="Go to authority record for {{ subject.0|get_authority_name}}" href="{% url 'authority' subject.0 %}?"><i class="fa fa-info-circle"></i> </a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<link rel="stylesheet" href={% static "isisdata/switch/bootstrap-switch.css" %}>
<script src={% static "isisdata/switch/bootstrap-switch.min.js" %} type="text/javascript"></script>
<script>
$("input[name='exclude_reviews']").bootstrapSwitch({
  'size':'mini',
  'offText': '<i class="fa fa-times" aria-hidden="true"></i>',
  'onText': '<i class="fa fa-check" aria-hidden="true"></i>',
});

$('input[name="exclude_reviews"]').on('switchChange.bootstrapSwitch', function(event, includeReviews) {
  if (includeReviews) {
    window.location = "{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation'|remove_url_part:'excluded_facets=citation_type:Review'|add_facet_or_operator|safe }} "
  } else {
    window.location = "{{  request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation'|add_excluded_citation_type_facet:'Review'|add_facet_or_operator|safe }}"
  }
});
</script>
