{% load app_filters %}
{% load metadata_filters %}
{% load facet_filters %}

{% if query %}
<div class="panel-group" id="type_panel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion"
          href="#collapseTypes">
          Document Type <span class="badge {% if selected_facets.type %}active{% endif %}">{{ facets_citation.fields.type|length }}</span>
        </a>
      </h4>
    </div>
    <div id="collapseTypes" class="panel-collapse collapse in">
      <div class="facet_panel panel-body">
        {% if facets_citation.fields.type %}
              <ul class="selected_facets">
                {% for type in selected_facets.citation_type %}
                {% with type|create_facet_string:'citation_type' as encoded_type %}
                <li><a href="{{ request.get_full_path|remove_facet:encoded_type|set_page_to_one|set_index_model:'models:isisdata.citation' }}"><span class="glyphicon glyphicon-minus-sign"></span> {{ type }}</a></li>
                {% endwith %}
                {% endfor %}
              </ul>
              <ul class="unselected_facets">
                {% for type in facets_citation.fields.type %}
                {% if type.0 %}
                {% if "citation_type" not in selected_facets.keys or type.0 not in selected_facets.citation_type %}
                <li><a title="Add Document Type facet" href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_type:{{ type.0|urlencode }}"><i class="glyphicon glyphicon-plus-sign"></i> {{ type.0 }}</a> ({{ type.1 }})</li>
                {% endif %}
                {% endif %}
                {% endfor %}
              </ul>
        {% else %}
                <p>No type facets.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="author_panel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion"
          href="#collapseAuthors">
          Author & Contributors <span class="badge {% if selected_facets.citation_all_contributor_ids_exact %}active{% endif %}">{{ facets_citation.fields.all_contributor_ids|length }}</span>
        </a>
      </h4>
    </div>
    <div id="collapseAuthors" class="panel-collapse collapse in">
      <div class="facet_panel panel-body">
        {% if facets_citation.fields.all_contributor_ids %}
              <ul class="selected_facets">
                {% for author in selected_facets.citation_all_contributor_ids_exact %}
                {% with author|create_facet_string:'citation_all_contributor_ids_exact' as encoded_author %}
                <li><a href="{{ request.get_full_path|remove_facet:encoded_author|set_page_to_one|set_index_model:'models:isisdata.citation' }}"><span class="glyphicon glyphicon-minus-sign"></span> {{author|get_authority_name}}</a> <a title="Go to authority record for {{author|get_authority_name}}" href="{% url 'authority' author %}?"><i class="glyphicon glyphicon-new-window"></i></a>  </li>
                {% endwith %}
                {% endfor %}
              </ul>
              <ul class="unselected_facets">
                {# Provide only the top 7 authors #}
                {% for author in facets_citation.fields.all_contributor_ids|slice:":7" %}
                {% if "citation_all_contributor_ids_exact" not in selected_facets.keys or author.0 not in selected_facets.citation_aall_contributor_ids_exact %}
                <li><a title="Show only results involving {{ author.0|get_authority_name }}." href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_all_contributor_ids_exact:{{ author.0|urlencode }}"><i class="glyphicon glyphicon-plus-sign"></i> {{ author.0|get_authority_name }}</a>  ({{ author.1 }}) <a title="Go to authority record for {{author.0|get_authority_name}}" href="{% url 'authority' author.0 %}?"><i class="glyphicon glyphicon-new-window"></i></a></li>
                {% endif %}
                {% endfor %}
              </ul>
              {% if facets_citation.fields.all_contributor_ids|length > 7 %}
              <div class="more-facets">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#authorModal">
                  More...
                </button>
              </div>
              {% endif %}
        {% else %}
                <p>No author facets.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="place_panel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion"
          href="#collapseSubjects">
          Subjects <span class="badge {% if selected_facets.citation_subject_ids_exact  %}active{% endif %}">{{ facets_citation.fields.subject_ids|length }}</span>
        </a>
      </h4>
    </div>
    <div id="collapseSubjects" class="panel-collapse collapse in">
      <div class="facet_panel panel-body">
        {% if facets_citation.fields.subject_ids %}
          <ul class="selected_facets">
            {% for subject in selected_facets.citation_subject_ids_exact %}
            {% with subject|create_facet_string:'citation_subject_ids_exact' as encoded_subject %}
            <li><a href="{{ request.get_full_path|remove_facet:encoded_subject|set_page_to_one|set_index_model:'models:isisdata.citation' }}"><span class="glyphicon glyphicon-minus-sign"></span> {{subject|get_authority_name}}</a> <a title="Go to authority record for {{subject|get_authority_name}}" href="{% url 'authority' subject %}?"><i class="glyphicon glyphicon-new-window"></i> </a> </li>
            {% endwith %}
            {% endfor %}
          </ul>
          <ul class="unselected_facets">
                {% for subject in facets_citation.fields.subject_ids|slice:":7" %}
                {% if "citation_subject_ids_exact" not in selected_facets.keys or subject.0 not in selected_facets.citation_subject_ids_exact %}
                    <li ><a href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_subject_ids_exact:{{ subject.0|urlencode }}" title="Show only results involving {{ subject.0|get_authority_name }}"><i class="glyphicon glyphicon-plus-sign"></i> {{ subject.0|get_authority_name }}</a> ({{ subject.1 }}) <a title="Go to authority record for {{subject.0|get_authority_name}}" href="{% url 'authority' subject.0 %}?"><i class="glyphicon glyphicon-new-window"></i>  </a> </li>
                {% endif %}
                {% endfor %}
          </ul>
          {% if facets_citation.fields.subject_ids|length > 7 %}
          <div class="more-facets">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#subjectModal">
              More...
            </button>
          </div>
          {% endif %}
        {% else %}
                <p>No subject facets.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="time_panel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion"
          href="#collapseTime">
          Time Periods <span class="badge {% if selected_facets.citation_time_period_ids_exact %}active{% endif %}">{{ facets_citation.fields.time_period_ids|length }}</span>
        </a>
      </h4>
    </div>
    <div id="collapseTime" class="panel-collapse collapse in">
      <div class="facet_panel panel-body">
        {% if facets_citation.fields.time_period_ids %}
          <ul class="selected_facets">
            {% for time_period in selected_facets.citation_time_period_ids_exact %}
            {% with time_period|create_facet_string:'citation_time_period_ids_exact' as encoded_time_period %}
            <li><a href="{{ request.get_full_path|remove_facet:encoded_time_period|set_page_to_one|set_index_model:'models:isisdata.citation' }}"><span class="glyphicon glyphicon-minus-sign"></span> {{ time_period|get_authority_name }}</a>  <a title="Go to authority record for {{ time_period|get_authority_name}}" href="{% url 'authority' time_period %}?"><i class="glyphicon glyphicon-new-window"></i> </a></li>
            {% endwith %}
            {% endfor %}
          </ul>
          <ul class="unselected_facets">
                {% for time_period in facets_citation.fields.time_period_ids|slice:":7" %}
                {% if "citation_time_period_ids_exact" not in selected_facets.keys or time_period.0 not in selected_facets.citation_time_period_ids_exact %}
                    <li ><a href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_time_period_ids_exact:{{ time_period.0|urlencode }}" title="Show only results involving {{ time_period.0|get_authority_name }}"><i class="glyphicon glyphicon-plus-sign" ></i> {{ time_period.0|get_authority_name }}</a> ({{ time_period.1 }}) <a title="Go to authority record for {{ time_period.0|get_authority_name}}" href="{% url 'authority' time_period.0 %}?"><i class="glyphicon glyphicon-new-window"></i> </a></li>
                {% endif %}
                {% endfor %}
          </ul>
          {% if facets_citation.fields.time_period_ids|length > 7 %}
          <div class="more-facets">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#timeModal">
              More...
            </button>
          </div>
          {% endif %}
        {% else %}
                <p>No time period facets.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="place_panel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion"
          href="#collapsePlaces">
          Places <span class="badge {% if selected_facets.citation_geographic_ids_exact %}active{% endif %}">{{ facets_citation.fields.geographic_ids|length }}</span>
        </a>
      </h4>
    </div>
    <div id="collapsePlaces" class="panel-collapse collapse in">
      <div class="facet_panel panel-body">
        {% if facets_citation.fields.geographic_ids %}
          <ul class="selected_facets">
            {% for geographic in selected_facets.citation_geographic_ids_exact %}
            {% with geographic|create_facet_string:'citation_geographic_ids_exact' as encoded_geographic %}
            <li><a href="{{ request.get_full_path|remove_facet:encoded_geographic|set_page_to_one|set_index_model:'models:isisdata.citation' }}"><span class="glyphicon glyphicon-minus-sign"></span> {{ geographic|get_authority_name }}</a> <a title="Go to authority record for {{ geographic|get_authority_name }}" href="{% url 'authority' geographic %}?"><i class="glyphicon glyphicon-new-window"></i></a></li>
            {% endwith %}
            {% endfor %}
          </ul>
          <ul class="unselected_facets">
                {% for geographic in facets_citation.fields.geographic_ids|slice:":7" %}
                {% if "citation_geographic_ids_exact" not in selected_facets.keys or geographic.0 not in selected_facets.citation_geographic_ids_exact %}
                    <li ><a href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_geographic_ids_exact:{{ geographic.0|urlencode }}" title="Show only results involving {{ geographic.0|get_authority_name }}"><i class="glyphicon glyphicon-plus-sign"></i> {{ geographic.0|get_authority_name }}</a> ({{ geographic.1 }}) <a title="Go to authority record for {{ geographic.0|get_authority_name}}" href="{% url 'authority' geographic.0 %}?"><i class="glyphicon glyphicon-new-window"></i>  </a></li>
                {% endif %}
                {% endfor %}
          </ul>
          {% if facets_citation.fields.geographic_ids|length > 7 %}
          <div class="more-facets">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#placeModal">
              More...
            </button>
          </div>
          {% endif %}
        {% else %}
                <p>No place facets.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% endif %}

<div class="modal fade" id="authorModal" tabindex="-1" role="dialog" aria-labelledby="authorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Author</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for author in facets_citation.fields.all_contributor_ids %}
          {% if "citation_all_contributor_ids_exact" not in selected_facets.keys or author.0 not in selected_facets.citation_all_contributor_ids_exact %}
          <li><a href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_all_contributor_ids_exact:{{ author.0|urlencode }}"><i class="glyphicon glyphicon-plus-sign"></i> {{ author.0|get_authority_name }} </a>({{ author.1 }})</li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->


<!-- time period Modal -->
<div class="modal fade" id="timeModal" tabindex="-1" role="dialog" aria-labelledby="timeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Time Period</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for time_period in facets_citation.fields.time_period_ids %}
          {% if "citation_time_period_ids_exact" not in selected_facets.keys or time_period.0 not in selected_facets.citation_time_period_ids_exact %}
              <li ><a href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_time_period_ids_exact:{{ time_period.0|urlencode }}"><i class="glyphicon glyphicon-plus-sign"></i> {{ time_period.0|get_authority_name }} </a>({{ time_period.1 }}) </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<!-- places Modal -->
<div class="modal fade" id="placeModal" tabindex="-1" role="dialog" aria-labelledby="placeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Place</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for geographic in facets_citation.fields.geographic_ids %}
          {% if "citation_geographic_ids_exact" not in selected_facets.keys or geographic.0 not in selected_facets.citation_geographic_ids_exact %}
              <li ><a href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_geographic_ids_exact:{{ geographic.0|urlencode }}"><i class="glyphicon glyphicon-plus-sign"></i> {{ geographic.0|get_authority_name }} </a>({{ geographic.1 }}) </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<!-- subject Modal -->
<div class="modal fade" id="subjectModal" tabindex="-1" role="dialog" aria-labelledby="subjectModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Subject</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for subject in facets_citation.fields.subject_ids %}
          {% if "citation_subject_ids_exact" not in selected_facets.keys or subject.0 not in selected_facets.citation_subject_ids_exact %}
              <li ><a href="{{ request.get_full_path|set_page_to_one|set_index_model:'models:isisdata.citation' }}&amp;selected_facets=citation_subject_ids_exact:{{ subject.0|urlencode }}"><i class="glyphicon glyphicon-plus-sign"></i> {{ subject.0|get_authority_name }} </a>({{ subject.1 }}) </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->
