{% load static %}

<nav class="navbar navbar-inverse navbar-home" style="background-color:{{tenant.settings.navigation_color}}">
    <div class="container-fluid">
        <div class="navbar-header col-md-5">
            {% if tenant.logo %}
            <a class="navbar-brand" href="{% url "tenants:home" tenant_id %}"><img class="img img-responsive" style="height: 50px; max-height: 50px; max-width: 184px; padding-right:15px" src="{{ tenant.logo.url }}"> </a>
            {% endif %}
            <a class="navbar-brand" href="{% url "tenants:home" tenant_id %}"><div style="line-height:50px; font-size: 22px; color: white">{{ tenant.title }}</div> </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse navbar-right" id="navbar">
            <ul class="nav navbar-nav navbar-nav-home">
                <li class="{% if active == 'playground' %}active{% endif %}"><a href="{% url "tenants:playground" tenant_id %}">Playground</a></li>
                <li class="{% if active == 'about' %}active{% endif %}"><a href="{% url "tenants:about" tenant_id %}">About</a></li>
                <li><a href="http://isiscb.org" target="_blank">Blog</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Feedback <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#" id="feedback">Submit Feedback</a></li>
                    <li><a href="#" id="submitCitation">Submit Citation</a></li>
                  </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="{% if active == 'user' %}active{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user-circle" style="font-size: 1.4em"></i> <span class="caret"></span>
                    <!-- <button class="btn btn-default dropdown-toggler" type="button" id="usermenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    </button> -->
                    </a>
                    <ul class="dropdown-menu" id="usercontext" aria-labelledby="usermenu">
                        <!-- <li><a href="/profile/">Dashboard</a></li> -->
                        <li><a href="{% url 'user_profile' user.username %}">My Profile</a></li>
                        <li><a href="{% url 'account_change_password' %}?next={{ request.get_full_path|urlencode }}">Change Password</a></li>
                        <li><a href="{% url 'search_history' %}">My Search History</a></li>
                        <li><a href="{% url 'search_saved' %}">My Saved Searches</a></li>
                        <li><a id="logout" href="{% url 'account_logout' %}">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'account_login' %}?next={{ request.get_full_path|urlencode }}"><span class="glyphicon glyphicon-user" ></span> Log In</a>
                </li>

                {% endif %}
            </ul>
        </div>
    </div>

</nav>
