{% load static %}

<nav class="navbar navbar-inverse navbar-home" style="background-color:{{tenant.settings.navigation_color}}">
    <div class="container-fluid">

        <div class="navbar-header col-md-3" style="padding-top: 5px;"><!--  width: 250px;"-->
            {% if tenant.logo %}
            <a class="navbar-brand" href="{% url "tenants:home" tenant_id %}"><img class="img img-responsive" style="height: 50px; max-height: 50px; max-width: 184px; padding-right:15px" src="{{ tenant.logo.url }}"> </a>
            {% endif %}
            <a class="navbar-brand" href="{% url "tenants:home" tenant_id %}"><div style="line-height:50px; font-size: 22px; color: white">{{ tenant.title }}</div> </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="col-md-5" style='padding: 0;'>
            <div class='form-inline'>
                <div class="navbar-center" id="search-bar" style="width: 76%; padding-top:14px; margin-left: 20px;">
                    <form method="get" action="/{{ PORTAL_PREFIX }}/{{tenant_id}}/search" style='width: 100%'>
                        <div class="input-group" style='width: 100%'>
                            <input id="id_q" name="q" type="search" type="text" class="form-control" value="{{ query }}" placeholder="Explore the IsisCB...">
                            <span class="input-group-btn" style='width: 20px;'>
                                <button class="btn btn-default" type="submit">Search</button>
                            </span>
                        </div>
                        <div>
                            <input id="id_models" name="models" type="hidden" value="isisdata.citation">
                            <input id="id_sort_order_citation" maxlength="255" name="sort_order_citation" type="hidden" value="publication_date_for_sort">
                            <input id="id_sort_order_dir_citation" maxlength="255" name="sort_order_dir_citation" type="hidden" value="descend">
                            <input id="id_sort_order_authority" maxlength="255" name="sort_order_authority" type="hidden" value="citation_count">
                            <input id="id_sort_order_dir_authority" maxlength="255" name="sort_order_dir_authority" type="hidden" value="descend">
                            <input id="id_excluded_facets" maxlength="255" name="excluded_facets" type="hidden" value="citation_stub_record_status:SR">
                            <input id="id_excluded_facets" maxlength="255" name="excluded_facets" type="hidden" value="citation_type:Review">
                            <input name="owning_tenant" type="hidden" value="{{ tenant_id }}" />
                            <input name="tenant_portal" type="hidden" value="{{ tenant_id }}" />
                        </div>
                    </form>
                </div>
                <div class="navbar-center" style="padding: 14px 0;">
                    <form method="get" action="/{{ PORTAL_PREFIX }}/{{tenant_id}}/search">
                        <div class="input-group">
                            <input id="id_q" name="q" type="hidden" class="form-control" value="*">
                            <span>
                                <button class="btn btn-default" type="submit">Browse</button>
                            </span>
                        </div>
                        <div>
                            <input id="id_models" name="models" type="hidden" value="isisdata.citation">
                            <input id="id_sort_order_citation" maxlength="255" name="sort_order_citation" type="hidden" value="publication_date_for_sort">
                            <input id="id_sort_order_authority" maxlength="255" name="sort_order_authority" type="hidden" value="citation_count">
                            <input id="id_sort_order_dir_citation" maxlength="255" name="sort_order_dir_citation" type="hidden" value="descend">
                            <input id="id_sort_order_dir_authority" maxlength="255" name="sort_order_dir_authority" type="hidden" value="descend">
                            <input id="id_excluded_facets" maxlength="255" name="excluded_facets" type="hidden" value="citation_stub_record_status:SR">
                            <input id="id_excluded_facets" maxlength="255" name="excluded_facets" type="hidden" value="citation_type:Review">
                            <input name="owning_tenant" type="hidden" value="{{ tenant_id }}" />
                            <input name="tenant_portal" type="hidden" value="{{ tenant_id }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding-right: 0;">
            <div class="navbar-collapse collapse pull-right" id="navbar" style="padding-top: 5px; margin-bottom: 5px;">
                <ul class="nav navbar-nav navbar-nav-home">
                    <li class="{% if active == 'playground' %}active{% endif %}"><a href="{% url "playground" %}">Playground</a></li>
                    <li class="{% if active == 'about' %}active{% endif %}"><a href="{% url "tenants:about" tenant_id %}">About</a></li>
                    <li><a href="mailto:{{tenant.contact_email}}" target="_blank">Contact</a></li>
                    <li><a id="includeAllTenantsNavItem" title="" href="#">
                        <input style="padding-top: 20px;" type="checkbox" name="site_include_all_projects" checked> <span id="includeAllToggleText">View all off</span>
                    </a></li>
                    
                    {% if user.is_authenticated %}
                    <li class="{% if active == 'user' %}active{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-user-circle" style="font-size: 1.4em"></i> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu pull-right" id="usercontext" aria-labelledby="usermenu">
                            <!-- <li><a href="/profile/">Dashboard</a></li> -->
                            <li><a href="{% url 'user_profile' user.username %}">My Profile</a></li>
                            <li><a href="{% url 'account_change_password' %}?next={{ request.get_full_path|urlencode }}">Change Password</a></li>
                            <li><a href="{% url 'search_history' %}">My Search History</a></li>
                            <li><a href="{% url 'search_saved' %}">My Saved Searches</a></li>
                            <li>
                                <form method="post" action="{% url 'account_logout' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.get_full_path }}"/>
                                    <button type="submit" class="btn btn-li">Log out</button>
                                  </form>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'account_login' %}?next={{ request.get_full_path|urlencode }}"><span class="glyphicon glyphicon-user" ></span> Log In</a>
                    </li>

                    {% endif %}
                </ul>
            </div>

        </div>
    </div>

    {% include "tenants/fragment_toggle_switch.html" %}

    <script type="text/javascript">
        $(function() {
            if(includeAllTenants) {
                $("input[name='owning_tenant']").remove();
            }
        });
    </script>
</nav>
