{% extends "tenants/authority_base.html" %}
{% load app_filters %}
{% load static %}
{% load search_filters %}
{% load authority_filters %}
{% load facet_filters %}
{% load metadata_filters %}
{% load cached_authority_tags %}
{% load cache %}

{% block authority_tabs %}
<div id="tab search_tabs" class="btn-group btn-group" data-toggle="buttons" role="tablist" style="font-size: 1.1em; font-weight: 400;">
  <a id="bookshelf-tab" href="#" class="btn tab-btn-default active" role="tab" data-toggle="tab" style="border-color:#337ab7">
    <input type="radio" />Citations
  </a>
  <a id="catalog-tab" onclick="location.href='{% url 'tenants:authority_catalog' tenant_id authority_id|upper %}';" class="btn tab-btn-default" role="tab" data-toggle="tab" style="border-color: #337ab7; color: #337ab7;">
    <input type="radio" />Indexes
  </a>
</div>
{% endblock %}

{% block tab_content %}
<div class="col-sm-12 bookshelf-results">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 style="margin: 0;">Related Citations</h4>
    </div>
    {% if user.is_authenticated %}
        <div class="panel-body">
            {% include 'tenants/authority_fragments/fragment_authority_related_citations_list.html' %}
        </div>
        {% else %}
        <div class="panel-body">
            {% include 'tenants/authority_fragments/fragment_authority_related_citations_list_nologin.html' %}
        </div>
    {% endif %}
  </div>
</div>
{% endblock %}

