{% load facet_filters %}

{% with facet.0|get_authority_name as authority_name %}
{% if authority.id|upper != facet.0|upper %}
<div>
  <a title="Show citations connected to both {{authority.name}} and {{authority_name}}" style="display: inline;" href="{% url 'tenants:index' tenant_id %}?tenant_id={{tenant_id}}&q=(author_ids:{{ authority.id }} OR contributor_ids:{{ authority.id }} OR editor_ids:{{ authority.id }} OR subject_ids:{{ authority.id }} OR institution_ids:{{ authority.id }} OR category_ids:{{ authority.id }} OR advisor_ids:{{ authority.id }} OR translator_ids:{{ authority.id }} OR publisher_ids:{{ authority.id }} OR school_ids:{{ authority.id }} OR meeting_ids:{{ authority.id }} OR periodical_ids:{{ authority.id }} OR book_series_ids:{{ authority.id }} OR time_period_ids:{{ authority.id }} OR geographic_ids:{{ authority.id }} OR about_person_ids:{{ authority.id }} OR other_person_ids:{{ authority.id }})&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend&raw_search=True&selected_facets={{facet_field}}:{{ facet.0|urlencode }}"><i class="far fa-square"></i> ({{facet.1}})</a>
  {{authority_name}}
  <a class="truncate-subjects" title="Go to authority record for {{authority_name}}" href="{% url 'authority' facet.0|upper %}?">
    <i class="fas fa-external-link-alt"></i>
  </a>
</div>
{% endif %}
{% endwith %}
