.navbar-inverse {
  background-color: #3E3E3E;
  border-color: #BFBEBE;
}

.navbar-brand {
  height: 120px;
}

.navbar-right {
  padding-top: 55px;
}

.sidebar {
    position: fixed;
    top: 121px;
    bottom: 55px;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.sidebar-search {
  top: 180px;
}

.headerbox {
  font-size: 18px;
}

.main {
  margin-top: 70px;
  padding-bottom: 70px;
}

.topnav {
  margin-top: 50px;
  background-color: #f5f5f5;
  padding: 20px;
  text-align: left;
}

.topnav h2 {
  margin: 0px;
  padding: 0px;
  font-size: 22px;
  text-align: center;
  margin-left: -140px;
}

.topnav .menu {
  margin-top: 6px;
}

.topnav-main {
  background-color: #f5f5f5;
}

/************** isis classes *******************/
.details td {
  min-width: 150px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.details {
  margin-bottom: 30px;
}

.menu {
  text-align: center;
}

.nav-stacked li a {
  border: 1px solid;
}

li {
    padding-bottom: 4px;
}

.img-nopadding {
    padding: 0px;
    margin: 0px;
}


.comment-body {
    max-height: 400px;
    overflow: scroll;
}

.comment-arrow
{
    position: relative;
    padding: 15px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #d6e9c6 solid 1px;
}

.comment-arrow:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #d6e9c6 transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    bottom: -15px;
    left: 16%;
}

.comment-arrow:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #d6e9c6 transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -15px;
    bottom: -16px;
    left: 16%;
}

.comment-user {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 8%;
}


.container .text-muted {
    margin: 5px 0;
    text-align: right;
    font-weight: normal;
}

.container .text-muted a {
  margin-left: 20px;
}

.footer {
  background-color: #f5f5f5;
    bottom: 0;
    min-height: 25px;
    position: fixed;
    width: 100%;
    font-weight: bold;
    padding-left: 20px;
}

.selected_facets {
  list-style:none;
  margin-left:-18px;
}

.selected_facets a {
  /*font-weight: bold;*/
  font-style: italic;
}

.results-info {
  padding-bottom: 15px;
}

.nav-tabs {
  margin-bottom: 20px;
}

.nav-tabs>li {
    margin-bottom: -5px;
}

.nav-button{

}

.space-top {
  margin-top: 15px;
}

.menuContainer {
    margin-top: 20px;
}

.panel-title {
  font-size: 14px;
}

.panel-default>.panel-heading .badge {
  background-color: #F5F5F5;
  color: #5A5959;
  float: right;
}

.panel-default>.panel-heading .active {
  background-color: #F5F5F5;
  color: #3274AB;
  float: right;
}

div.facet_panel {
  padding-left: 10px;
  padding-bottom: 0px;
}

div.facet_panel > ul {
  margin-left: -15px;
}

.panel-group {
  margin-bottom: 10px;
}

.more-facets {
  float: right;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}
