/** Timeline **/

div#publication_chart {
  border: 1px solid #ddd;
  padding: 5px;
}

.timeline .panel-heading {
  font-size: 12px;
  padding: 5px;
}

.timeline .panel-body  {
  font-size: 12px;
  padding: 5px
}

.timeline ul {
  margin-bottm: 5px;
}

div.timeline {
  width: 400px;
}

/*body { padding-top: 125px; }*/

.mainjumbo p {
  font-size: 18px;
}

.navbar {
  margin-bottom: 10px;
}

/* home page */
.navbar-home {
  min-height: 60px
}

.navbar-brand>img {
    display: block;
    width: 100%;
    max-width: 342px;
}

.navbar-nav-home>li>a {
  /*padding-top: 33px;
  padding-bottom:33px;*/
  font-size: 10pt;
}

 .navbar-nav-home .input-group {
   margin-top: 35px;
 }

/* .navbar-nav-home .input-group .form-control#id_q {
   font-size: 18px;
   padding: 22px;
 }*/

.jumbotron .search-bar {
  list-style: none;
}

.jumbotron .search-bar .input-group .form-control#id_q {
  font-size: 18px;
  height: 46px;
}

.mainjumbo .container {
  padding-left: 0px;
  padding-right: 0px;
}

.help-section .help-container {
  /* width: 100%; */
  /* height: 500px; */
  background-color: #eee;
  padding: 5px 5%;
  margin: 0px 15px;
  border-radius: 6px;
}

.section-title h2 {
  text-align: center;
  margin-bottom: 20px;
}

.tutorial-videos td {
  font-size: 1.2em;
  padding: 5px 10px;
  font-weight: 200;
}

.help-links {
}

.help-links td {
  font-size: 1.2em;
  padding: 5px 10px;
  font-weight: 200;
}

.video-container {
  border-left: 1px solid #A9A9A9;
}

.bibliographical-essays-panel li {
    list-style-type: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
    margin: 0 0 0 20px;
}

/* search page */

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
  background-color: #337ab7;
  color: #fff;
}

.btn-default.active.focus, .btn-default:active:focus, .open>.dropdown-toggle.btn-default {
  background-color: #337ab7;
  color: #fff;
}

.search-header h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-breadcrumbs {
  display:inline;
}

.search-breadcrumb-item {
  font-size: 1.1em;
  margin-left: -7px;
}

.appear-on-hover {
  display: none;
}

.filter-label:hover .appear-on-hover {
  display: inline-block;
}

.nix-icon {
  color: #d43f3a;
}

.search-breadcrumb-item + .search-breadcrumb-item::before {
        content: "";
    }

.search-result:hover {
  border-left: 2px solid #337AB7;
  padding-left: 10px;
}

.authority-search-result:hover {
  border-left: 2px solid #777777;

}

.stub-search-result {
  border-left: 2px solid #B7337A;
}

.stub-search-result p,
.search-result p {
  /* background-color: #E8E8E8; */
  padding-left: 8px;
  /* border-radius: 5px; */
}

.stub-search-result-label{
  color: #CE4F71;
}

.citations_authorities_headers:hover {
  cursor: default;
}

.citations_container .panel-body {
  padding-top: 10px;
}
/* end search css */

#slider-range > span {
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background-color: #337ab7;
  border-color: #fff;
}

#slider-range > span:hover {
  background-color: #0E6DFD;
}

#slider-range > div {
  background-color: #337ab7;
}

.label-concepts {
  background-color: #1e6091;
}

.label-times {
  background-color: #52b69a;
}

.label-places {
  background-color: #168aad;
}

.label-people {
  background-color: #99d98c;
}

.label-institutions {
  background-color: #34a0a4;
}

.search-loading {    
  background-color: #ffffff;
  background-image: url("/static/isisdata/images/loading_icon.gif");
  background-size: 115px auto;
  background-position: 105% center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 800px) {
  .jumbotron .search-bar .input-group .form-control#id_q {
    width: 100%;
  }
  .jumbotron ul.search-bar li {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 800px) {
  #search-bar {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 400px) {
  .jumbotron .search-bar .input-group .form-control#id_q {
    /*margin-left: -50px;*/
  }

  .jumbotron ul.search-bar {
    padding-left: 0px;
    margin: 0;
  }

  .jumbotron ul.search-bar li {
    padding-left: 0px;
  }
}

.jumbotron .search-bar .input-group {
  margin-top: 20px;
}

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

.col-bottom {
  vertical-align: bottom;
}

.comments-log table tr td {
  font-size: 14px;
}

.comments-log .row {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

/* end home page */

.navbar-inverse {
  background-color: #012e64;
  border-color: #BFBEBE;
}

.navbar-left {
    /*padding-top: 55px;*/
    display: inline-block;
}
.navbar-center {
    /*height: 125px;*/

    display: inline-block;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    border-radius: 5px;
    /*padding-top: 55px;*/
    /*padding-bottom: 50px;*/
}

.navbar-inverse .navbar-nav>li {
    padding-bottom: 0px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #1562a5;
}

.navbar-inverse .navbar-nav> .active>a {
    background-color: #1562a5;
}
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #1562a5;
}
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #1562a5;
}

.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #1562a5;
}
.navbar-inverse .navbar-nav>.open>a {
    background-color: #1562a5;
}

.navbar-brand {
  padding: 3px;
}

.navbar-right {
  padding-top: 5px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: bottom;
}

.navbar .navbar-collapse {
  text-align: center;
}

.input-group .form-control#id_q {
    float:right;
}

.sidebar {
    /*position: fixed;*/
    margin-top: -20px;
    min-height: 400px;
    /*top: 121px;*/
    /*bottom: 55px;*/
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}


.headerbox {
  font-size: 18px;
}

.main {
  padding-bottom: 70px;
}


.topnav span {
    margin-left: 10px;
    margin-right: 10px;
}

.topnav h2 {
  margin: 0px;
  padding: 0px;
  font-size: 22px;
  /*text-align: center;*/
  /*margin-left: -140px;*/
}

.topnav .menu {
  margin-top: 6px;
}

.topnav-main {
  background-color: #f5f5f5;
}

/************** isis classes *******************/
.details td {
  min-width: 150px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.details {
  /*margin-bottom: 30px;*/
}

.details_authority td {
  min-width: 100px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.menu {
  text-align: center;
}

.nav-stacked li a {
  border: 1px solid;
}

li {
    padding-bottom: 4px;
}

.img-nopadding {
    padding: 0px;
    margin: 0px;
}


.comment-body {
    max-height: 400px;
    overflow: scroll;
}

.comment {
    margin-bottom: 20px;
}

.comment-bubble
{
    position: relative;
    padding: 5px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: #d6e9c6 solid 1px;
}

.comment-user {

}


.container-fluid .text-muted {
    margin: 5px 0;
    text-align: right;
    font-weight: normal;
}

.container-fluid .text-muted a {
  margin-left: 20px;
}

.text-white {
    color:white;
}

.large-text {
    font-size: 1.4em;
    text-decoration: none;
}

.footer {
  background-color: #f5f5f5;
    bottom: 0;
    min-height: 25px;
    position: fixed;
    width: 100%;
    font-weight: bold;
    padding-left: 20px;
}

.selected_facets {
  list-style:none;
  margin-left:-18px;
}

.unselected_facets {
  list-style:none;
}

.selected_facets a {
  /*font-weight: bold;*/
  font-style: italic;
}

.results-info {
  padding-bottom: 15px;
}

.nav-tabs {
  margin-bottom: 20px;
}

.nav-tabs>li {
    margin-bottom: -5px;
}


.space-top {
  margin-top: 15px;
}

.panel-title {
  font-size: 14px;
}

.panel-title .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    font-weight: 900;
    font-size: 12px;
}
.panel-title .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
    font-weight: 900;
    font-size: 12px;
}

ul.topics_list {
  padding-left: 25px;
  padding-top: 10px;
}

.panel-default>.panel-heading .badge {
  background-color: #F5F5F5;
  color: #5A5959;
  float: right;
}

.panel-default>.panel-heading .active {
  background-color: #F5F5F5;
  color: #3274AB;
  float: right;
}

.panel-isiscb>.panel-heading {
    background-color: #012e64;
    color: white;
}

.toggle_heading {
  background-color: #e4ebf5 ! important;
}

div.panel-cell {
  padding-left: 15px;
  padding-right: 2px;
}

div.panel-row {
  margin-left: 0px;
  margin-right: 0px;
}

div.panel-cell>hr {
  margin-top: 3px;
  margin-bottom: 3px;
}

div.facet_panel {
  padding-left: 0px;
  padding-bottom: 5px;
}

div.facet_panel > ul {
  margin-left: -15px;
}

.panel-group {
  margin-bottom: 15px;
}

.more-facets {
  float: right;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.text-small {
    font-size: 9pt;

li>a.no-tab:hover, li>a.no-tab:active, li>a.no-tab:link {
  background-color: transparent;
  border-color: transparent;
}

span.help {
  background-color: #5690C3;
}

.tooltip-inner {
    width: 150px;
    background-color: #333333;
}

#catalog-tab, #bookshelf-tab {
  font-size: 1em;
  font-weight: 400;
}

#catalog-tab, #bookshelf-tab a:hover {
  text-decoration: none;
}

.tab-btn-default {
  background-color: #fff;
  color: #337ab7;
  border-color: #337ab7;
}

.tab-btn-default.active {
  border-color: #337ab7;
  background-color: #337ab7;
  color: #fff;
}

.tab-btn-default.active:hover {
  border-color: #337ab7;
  background-color: #337ab7;
  color: #fff;
}

.tab-btn-default:hover {
  background-color: #e6e6e6;
}