/*body { padding-top: 125px; }*/

.mainjumbo p {
  font-size: 18px;
}

/* home page */
.navbar-home {
  min-height: 100px
}

.navbar-brand>img {
    display: block;
    width: 100%;
    max-width: 342px;
}

.navbar-nav-home>li>a {
  padding-top: 33px;
  padding-bottom:33px;
  font-size: 10pt;
}

 .navbar-nav-home .input-group {
   margin-top: 35px;
 }

/* .navbar-nav-home .input-group .form-control#id_q {
   font-size: 18px;
   padding: 22px;
 }*/

.jumbotron .search-bar {
  list-style: none;
}

.jumbotron .search-bar .input-group .form-control#id_q {
  font-size: 18px;
  height: 46px;
}

.mainjumbo .container {
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (min-width: 800px) {
  .jumbotron .search-bar .input-group .form-control#id_q {
    width: 100%;
  }
  .jumbotron ul.search-bar li {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 400px) {
  .jumbotron .search-bar .input-group .form-control#id_q {
    /*margin-left: -50px;*/
  }

  .jumbotron ul.search-bar {
    padding-left: 0px;
    margin: 0;
  }

  .jumbotron ul.search-bar li {
    padding-left: 0px;
  }
}

.jumbotron .search-bar .input-group {
  margin-top: 20px;
}

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

.col-bottom {
  vertical-align: bottom;
}

.comments-log table tr td {
  font-size: 14px;
}

.comments-log .row {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

/* end home page */

.navbar-inverse {
  background-color: #012e64;
  border-color: #BFBEBE;
}

.navbar-left {
    /*padding-top: 55px;*/
    display: inline-block;
}
.navbar-center {
    /*height: 125px;*/

    display: inline-block;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    border-radius: 5px;
    /*padding-top: 55px;*/
    /*padding-bottom: 50px;*/
}

.navbar-inverse .navbar-nav>li {
    padding-bottom: 0px;
}


.navbar-inverse .navbar-nav>li>a:hover {
    color: #1562a5;
}
.navbar-inverse .navbar-nav> .active>a {
    background-color: #1562a5;
}
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #1562a5;
}
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #1562a5;
}

.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #1562a5;
}
.navbar-inverse .navbar-nav>.open>a {
    background-color: #1562a5;
}

.navbar-brand {
  padding: 3px;
}

.navbar-right {
  padding-top: 5px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: bottom;
}

.navbar .navbar-collapse {
  text-align: center;
}

.input-group .form-control#id_q {
    float:right;
}

.sidebar {
    /*position: fixed;*/
    margin-top: -20px;
    min-height: 400px;
    /*top: 121px;*/
    /*bottom: 55px;*/
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}


.headerbox {
  font-size: 18px;
}

.main {
  padding-bottom: 70px;
}


.topnav span {
    margin-left: 10px;
    margin-right: 10px;
}

.topnav h2 {
  margin: 0px;
  padding: 0px;
  font-size: 22px;
  /*text-align: center;*/
  /*margin-left: -140px;*/
}

.topnav .menu {
  margin-top: 6px;
}

.topnav-main {
  background-color: #f5f5f5;
}

/************** isis classes *******************/
.details td {
  min-width: 150px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.details {
  /*margin-bottom: 30px;*/
}

.menu {
  text-align: center;
}

.nav-stacked li a {
  border: 1px solid;
}

li {
    padding-bottom: 4px;
}

.img-nopadding {
    padding: 0px;
    margin: 0px;
}


.comment-body {
    max-height: 400px;
    overflow: scroll;
}

.comment {
    margin-bottom: 20px;
}

.comment-bubble
{
    position: relative;
    padding: 5px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: #d6e9c6 solid 1px;
}

.comment-user {

}


.container-fluid .text-muted {
    margin: 5px 0;
    text-align: right;
    font-weight: normal;
}

.container-fluid .text-muted a {
  margin-left: 20px;
}

.text-white {
    color:white;
}

.large-text {
    font-size: 1.4em;
    text-decoration: none;
}

.footer {
  background-color: #f5f5f5;
    bottom: 0;
    min-height: 25px;
    position: fixed;
    width: 100%;
    font-weight: bold;
    padding-left: 20px;
}

.selected_facets {
  list-style:none;
  margin-left:-18px;
}

.unselected_facets {
  list-style:none;
}

.selected_facets a {
  /*font-weight: bold;*/
  font-style: italic;
}

.results-info {
  padding-bottom: 15px;
}

.nav-tabs {
  margin-bottom: 20px;
}

.nav-tabs>li {
    margin-bottom: -5px;
}


.space-top {
  margin-top: 15px;
}

.menuContainer {
    margin-top: 20px;
}

.panel-title {
  font-size: 14px;
}

ul.topics_list {
  padding-left: 25px;
  padding-top: 10px;
}

.panel-default>.panel-heading .badge {
  background-color: #F5F5F5;
  color: #5A5959;
  float: right;
}

.panel-default>.panel-heading .active {
  background-color: #F5F5F5;
  color: #3274AB;
  float: right;
}

.panel-isiscb>.panel-heading {
    background-color: #012e64;
    color: white;
}

div.facet_panel {
  padding-left: 10px;
  padding-bottom: 0px;
}

div.facet_panel > ul {
  margin-left: -15px;
}

.panel-group {
  margin-bottom: 10px;
}

.more-facets {
  float: right;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}


.text-small {
    font-size: 9pt;

li>a.no-tab:hover, li>a.no-tab:active, li>a.no-tab:link {
  background-color: transparent;
  border-color: transparent;
}

span.help {
  background-color: #5690C3;
}

.tooltip-inner {
    width: 150px;
    background-color: #333333;
}
