{% load facet_filters %}

<div class="panel-heading-subjects panel panel-default facet-box">
  <div class="panel-heading-subjects panel-heading">
    <strong>Related Places {% if related_geographics_facet|length > 0 %}<a data-toggle="modal" data-target="#placesModal">({% if related_geographics_facet|length == 100 %}See the top {% else %}See all {% endif %}{{related_geographics_facet|length}})</a>{% else %}({{related_geographics_facet|length}}){% endif %}</strong>
    <a class="pull-right" style="color:black" data-container="body" data-toggle="popover"
      data-placement="left" data-trigger="focus" tabindex="0" role="button"
      data-content="This list shows relationships to subject terms of Citation records linked to this Authority record.">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
    </a>
    <div title="Expand map" class="pull-right" style="margin-right: 10px;cursor:pointer" data-toggle="modal" data-target="#mapModal">
    <i class="fa fa-expand" aria-hidden="true"></i>
    </div>
  </div>
  <div class="panel-body" style="height: 220px;">
    <div style="width: 100%; height: 100%; text-align: center;" id="map-spinner">
      <i style="position: absolute; top: 50%; font-size: 1.4em" class="fa fa-spinner fa-spin"></i>
    </div>
    <script>
      //# sourceURL=map.js

      $(function() {
        $.ajax({
          url: "{% url 'authority_map_data' authority.id %}",
          success: function(jsonData) {
            var data = [{
                type: 'choropleth',
                locations: jsonData['countries'],
                z: jsonData['map_data'],
                hovertemplate: "%{text}",
                text: jsonData['labels'],
                colorscale: 'Blues',
                autocolorscale: false,
                reversescale: true,
                marker: {
                    line: {
                        color: 'rgb(180,180,180)',
                        width: 0.5
                    }
                },
                tick0: 0,
                zmin: 0,
                colorbar: {},
                showscale: false,
            }];

            var two_letter_codes = jsonData['two_letter_codes']

            var mapped_places = jsonData['is_mapped_map']
            $(".isMapped").each(function(idx, elem) {
              var facetId = $(elem).attr("data-facet-id");
              if (mapped_places[facetId] != true) {
                $(elem).append('<i class="fa fa-exclamation-triangle" title="This place has not been mapped." aria-hidden="true"></i>');
              }
            });

            var layout = {
                showlegend: false,
                title: false,
                margin: {
                  l: 0,
                  t: 0,
                  r: 0,
                  b: 0,
                  pad: 5
                },
                height:195,
                modebar: {
                  orientation: 'v',
                },
                  mapbox: {
                  style: 'dark',
                },
                geo:{
                    showframe: true,
                    framecolor: '#3281c7',
                    showcoastlines: true,
                    coastlinecolor: '#5d5f73',
                    framecolor: '#5d5f73',
                    projection:{
                        type: 'winkel tripel'
                    }
                }
            };

            // small map
            let modeBarButtons = [[ "zoomInGeo", "zoomOutGeo", "toImage" ]];
            var mapPlot = document.getElementById('placesMap')
            Plotly.newPlot("placesMap", data, layout, {displaylogo: false, showLink: false, responsive: true, modeBarButtons: modeBarButtons});
            $("#map-spinner").hide();

            mapPlot.on('plotly_click', function(data){
                three_letter_country_code = data['points'][0]['location']
                var link = "{% url 'haystack_search' %}?q=(author_ids:{{ authority.id }} OR contributor_ids:{{ authority.id }} OR editor_ids:{{ authority.id }} OR subject_ids:{{ authority.id }} OR institution_ids:{{ authority.id }} OR category_ids:{{ authority.id }} OR advisor_ids:{{ authority.id }} OR translator_ids:{{ authority.id }} OR publisher_ids:{{ authority.id }} OR school_ids:{{ authority.id }} OR meeting_ids:{{ authority.id }} OR periodical_ids:{{ authority.id }} OR book_series_ids:{{ authority.id }} OR time_period_ids:{{ authority.id }} OR geographic_ids:{{ authority.id }} OR about_person_ids:{{ authority.id }} OR other_person_ids:{{ authority.id }})&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend&raw_search=True&selected_facets=citation_geocodes:" + two_letter_codes[three_letter_country_code]
                window.location = link
            });

            // modal map
            var modalLayout = {
                showlegend: false,
                title: false,
                margin: {
                  l: 0,
                  t: 0,
                  r: 0,
                  b: 0,
                  pad: 5
                },
                height:400,
                modebar: {
                  orientation: 'v',
                },
                  mapbox: {
                  style: 'dark',
                },
                geo:{
                    showframe: true,
                    framecolor: '#3281c7',
                    showcoastlines: true,
                    coastlinecolor: '#5d5f73',
                    framecolor: '#5d5f73',
                    projection:{
                        type: 'winkel tripel'
                    }
                }
            };

            var modalMapPlot = document.getElementById('placesMapModal')
            Plotly.newPlot("placesMapModal", data, modalLayout, {displaylogo: false, showLink: false, responsive: true, modeBarButtons: modeBarButtons});
            $("#map-spinner-modal").hide();

            modalMapPlot.on('plotly_click', function(data){
                three_letter_country_code = data['points'][0]['location']
                var link = "{% url 'haystack_search' %}?q=(author_ids:{{ authority.id }} OR contributor_ids:{{ authority.id }} OR editor_ids:{{ authority.id }} OR subject_ids:{{ authority.id }} OR institution_ids:{{ authority.id }} OR category_ids:{{ authority.id }} OR advisor_ids:{{ authority.id }} OR translator_ids:{{ authority.id }} OR publisher_ids:{{ authority.id }} OR school_ids:{{ authority.id }} OR meeting_ids:{{ authority.id }} OR periodical_ids:{{ authority.id }} OR book_series_ids:{{ authority.id }} OR time_period_ids:{{ authority.id }} OR geographic_ids:{{ authority.id }} OR about_person_ids:{{ authority.id }} OR other_person_ids:{{ authority.id }})&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend&raw_search=True&selected_facets=citation_geocodes:" + two_letter_codes[three_letter_country_code]
                window.location = link
            });
          }
        });

        $("#showListLink").click(function(e) {
          $("#placesMap").hide();
          $("#showListLink").hide();
          $("#placesFacetsDiv").show();
          $("#showMapLink").show();
          e.preventDefault();
        })

        $("#showMapLink").click(function(e) {
          $("#placesMap").show();
          $("#showListLink").show();
          $("#placesFacetsDiv").hide();
          $("#showMapLink").hide();
          e.preventDefault();
        })
      })
    </script>
    <div id="placesMap"></div>
  </div>
</div>

<!-- places Modal -->
<div class="modal fade" id="placesModal" tabindex="-1" role="dialog" aria-labelledby="placesModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Related Places</h4>
      </div>
      <div class="modal-body">
        <ul class="unselected_facets">
          {% for facet in related_geographics_facet %}
            <li>
              {% with facet.0|get_authority_name as authority_name %}
              <a style="color:black" title="Go to authority record for {{authority_name}}" href="{% url 'authority' facet.0 %}?">
                <i class="fa fa-info-circle"></i>
                {{authority_name}}
              </a>
              <a href="{% url 'haystack_search' %}?q=(author_ids:{{ authority.id }} OR contributor_ids:{{ authority.id }} OR editor_ids:{{ authority.id }} OR subject_ids:{{ authority.id }} OR institution_ids:{{ authority.id }} OR category_ids:{{ authority.id }} OR advisor_ids:{{ authority.id }} OR translator_ids:{{ authority.id }} OR publisher_ids:{{ authority.id }} OR school_ids:{{ authority.id }} OR meeting_ids:{{ authority.id }} OR periodical_ids:{{ authority.id }} OR book_series_ids:{{ authority.id }} OR time_period_ids:{{ authority.id }} OR geographic_ids:{{ authority.id }} OR about_person_ids:{{ authority.id }} OR other_person_ids:{{ authority.id }})&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend&raw_search=True&selected_facets=citation_geographic_ids_exact:{{ facet.0|urlencode }}">
                 ({{facet.1}} citations)
              </a>

              <span class="isMapped" data-facet-id="{{facet.0}}"></span>

              {% endwith %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->

<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mapModalTitle">Related Places</h4>
      </div>
      <div class="modal-body">
        <center>
          <div>
            <div style="width: 100%; height: 100%; text-align: center;" id="map-spinner-modal">
            <i style="position: absolute; top: 50%; font-size: 1.4em" class="fa fa-spinner fa-spin"></i>
          </div>
          <div id="placesMapModal"></div>
        </div>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /modal -->
