{% load app_filters %}
{% load static %}
{% load search_filters %}
{% load authority_filters %}
{% load citation_filters %}
{% load facet_filters %}

<!-- Progress through search results, if arriving from search view. -->
{% if search_results|length > 0 and fromsearch and search_current %}
<div class="panel panel-default" style="margin-bottom: 5px;">
  <div class="panel-body" style="padding: 7px; height: 34px;">
  <div class=" hidden-print" >
    <div class="row" style="margin-right: 0px; margin-left: 0px;">
      <div class="col-xs-4">
        <a href="{% if last_query %}{{ last_query }}{% else %}javascript:window.history.back(){% endif %}"><span class="glyphicon glyphicon-arrow-left"></span> Back to search results</a>
      </div>
      <div class="col-xs-2 text-left">
            {% if search_current >= 2 and search_previous %}
            <a href="{% url 'authority' search_previous|get_pk %}?fromsearch=true&query_string={{ query_string }}&last_query={{ last_query|encode_query }}" aria-label="Previous">
                <span aria-hidden="true" >&laquo;Previous</span>
            </a>
            {% endif %}
      </div>
      <div class="col-xs-4 text-center">
          Showing result {{ search_current }} of {{ search_results|length }}
      </div>
      <div class="col-xs-2 text-right">
          {% if search_index < search_count and search_next %}
          <a href="{% url 'authority' search_next|get_pk %}?fromsearch=true&query_string={{ query_string }}&last_query={{ last_query|encode_query }}" aria-label="Next" >
              <span aria-hidden="true" >Next&raquo;</span>
          </a>
          {% endif %}
      </div>
    </div>
  </div>
  </div>
</div>
{% endif %}

<script>
  //# sourceURL=copy.js
  $(function() {
    $("#authorityLink").click(function() {
      var copyTextarea = document.querySelector('#hiddenAuthorityLink');
      copyTextarea.focus();
      copyTextarea.select();
      document.execCommand("copy");
      $.notify("URL of this record has been copied to your clipboard.", "info", {
        clickToHide: true,
        style: 'bootstrap',
        gap: 5,
      });
    })

    $("#uriLink").click(function() {
      var copyTextarea = document.querySelector('#hiddenUriLink');
      copyTextarea.focus();
      copyTextarea.select();
      document.execCommand("copy");
      $.notify("URL of this record has been copied to your clipboard.", "info", {
        clickToHide: true,
        style: 'bootstrap',
        gap: 5,
      });
    })
  })
</script>
<div class="panel panel-default" id="infoPanel">
  <div class="panel-heading">
    <strong style="font-size:1.3em; color: #012E63;">{{ authority.get_type_controlled_display }}</strong>
      <span class="btn-grp pull-right" style="padding-top:5px">
          <span id="authorityLink" style="margin-right: 20px;cursor: copy;" title="Click to copy"><i class="fas fa-fingerprint"></i> ID: {{ authority.id }} <i class="far fa-copy"></i></span>
          <textarea style="position: absolute;left: -9999px;" id="hiddenAuthorityLink">{{ authority | get_uri }}</textarea>
          {% if user.is_staff %}<a class="glyphicon glyphicon-edit" href="{% url "curation:curate_authority" authority.id %}" style="padding-right: 5px;"></a>{% endif %}
          <a class="glyphicon glyphicon-console" href="{{ api_view}}" data-toggle="tooltip" data-placement="top" style="padding-right: 5px;" title="View in REST API"></a>
      </span>
      <br>
      <hr style="margin-top:5px; margin-bottom:5px;">
      <strong style="margin-top: 5px; font-size:1.7em;" id="recordName">{{ authority.name }}</strong>
  </div>
  <div class="panel-body">
    <div class="col-sm-12 col-md-6" style="padding-left: 0">
      {% if redirect_from %}<p class="text-muted text-danger"><em>Redirected from <strong>{{ redirect_from.name }}</strong> ({{ redirect_from.id }}).</em></p>{% endif %}
  
      <img id="wikiImage" style="max-height:375px; max-width:100%; margin-left:auto; margin-right:auto; display:none;" src=''></img>
      <a id="wikiImageCredit" style="display:none; float: right; font-size: .9em;">source: Wikipedia</a>
      <hr id="wikiImageBorder" style="display:none;">

      <p>

        {% if related_citations_count > 0 %}
        <i class="fa fa-bookmark" aria-hidden="true"></i>
        {{authority.name}} is connected to
        <a href="{% url 'haystack_search' %}?q=(author_ids:{{ authority.id }} OR contributor_ids:{{ authority.id }} OR editor_ids:{{ authority.id }} OR subject_ids:{{ authority.id }} OR institution_ids:{{ authority.id }} OR category_ids:{{ authority.id }} OR advisor_ids:{{ authority.id }} OR translator_ids:{{ authority.id }} OR publisher_ids:{{ authority.id }} OR school_ids:{{ authority.id }} OR meeting_ids:{{ authority.id }} OR periodical_ids:{{ authority.id }} OR book_series_ids:{{ authority.id }} OR time_period_ids:{{ authority.id }} OR geographic_ids:{{ authority.id }} OR about_person_ids:{{ authority.id }} OR other_person_ids:{{ authority.id }})&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend&raw_search=True">
          {{related_citations_count}} citations
        </a>
        <br>
        {% endif %}

        {% if author_contributor_count > 0 %}
        <i class="fa fa-bookmark" aria-hidden="true"></i>
        {{authority.name}} is an author/contributor on
        <a href="{% url 'haystack_search' %}?q=(author_ids:{{ authority.id }} OR contributor_ids:{{ authority.id }} OR editor_ids:{{ authority.id }} OR advisor_ids:{{ authority.id }} OR translator_ids:{{ authority.id }})&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend&raw_search=True">
        {{author_contributor_count}} citations
        </a>
        <br>
        {% endif %}

        {% if publisher_count > 0 %}
        <i class="fa fa-bookmark" aria-hidden="true"></i>
        {{authority.name}} is the publisher of
        <a href="{% url 'haystack_search' %}?q=(publisher_ids:{{ authority.id }} OR periodical_ids:{{ authority.id }})&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend&raw_search=True">
        {{publisher_count}} citations
        </a>
        <br>
        {% endif %}

        {% if subject_category_count > 0 %}
        <i class="fa fa-bookmark" aria-hidden="true"></i>
        {{authority.name}} is a subject or category of
        <a href="{% url 'haystack_search' %}?q=(subject_ids:{{ authority.id }} OR category_ids:{{ authority.id }})&models=isisdata.citation&sort_order=publication_date_for_sort&sort_order_dir=descend&raw_search=True">
        {{subject_category_count}} citations
        </a>
        <br>
        {% endif %}
      </p>

      {% for attribute in authority.attributes.all %}
      {% if attribute|is_attribute_visible and not attribute|is_bibliographic_essay %}
      <p><span class="label label-default">{{ attribute.type_controlled.display_name }}</span> {% if attribute.value_freeform %}{{ attribute.value_freeform }}{% else %}{{ attribute.value.display }}{% endif %}</p>
      {% endif %}
      {% endfor %}

      <hr>

      <p class="wikiIntro" id="wikiIntro" style="margin-bottom:0;"></p>
      <a class="readMore btn" id="wikiIntroButton" style="padding-top:0; padding-left:0; display:none;">...More</a>
      <a id="wikiSynopsisCredit" style="display:none; float: right; font-size: .9em;">source: Wikipedia</a>
      <br id="wikiIntroBreak" style="display:none">

      {% if authority.description %}
        <p><span class="label label-default">Description</span> <span id="desc_snippet" class="hidden-print">{{ authority.description|truncatewords:19 }}</span>
          {% if authority.description|truncatewords:19|length < authority.description|length %}
            <a href="#" id="desc_more" class="hidden-print">More</a>
            <span id="desc_full" class="hidden-print" style="display:none">
              {{ authority.description }}
              <a href="#" id="desc_hide">Less</a>
            </span>
            <span class="visible-print-block">
              {{ authority.description }}
            </span>
          {% endif %}
        </p>
        <script>
          $(function() {
            $("#desc_more").click(function() {
              $("#desc_snippet").hide()
              $("#desc_more").hide()
              $("#desc_full").show()
            })

            $("#desc_hide").click(function() {
              $("#desc_full").hide()
              $("#desc_snippet").show()
              $("#desc_more").show()
            })
          })
        </script>
      {% endif %}

      {% with authority|get_bibliographic_essays as bib_essays %}
        {% if bib_essays %}
          {% for bib_essay in bib_essays %}
          <p>
            <strong>There is a bibliographic essay on this topic: "<a href="{% url 'citation' bib_essay.value.cvalue.id %}">{{bib_essay.value.cvalue.title_for_display}}</a>" by {{bib_essay.value.cvalue|get_authors|join_authors:""}}</strong>
            <!-- todo: list all and link link -->
            {% if bib_essay.value.cvalue|get_urls %}
            {% for url in bib_essay.value.cvalue|get_urls %}
            <br><strong>Link:</strong> {{ url.resource_name }}
            {% endfor %}
            {% endif %}
          </p>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <div class="panel panel-default">
        <div class="panel-heading">Authority URI</div>
        <div class="panel-body" style="font-size:.95em;">
          <span id="uriLink" style="cursor: copy;" title="Click to copy">data.isiscb.org/isis/authority/{{authority.id}} <i class="far fa-copy"></i></span>
          <textarea style="position: absolute;left: -9999px;" id="hiddenUriLink">{{ authority | get_uri }}</textarea>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6" style="padding: 0;">
      <div class="panel panel-default facet-box">
        <div class="panel-heading-links panel-heading">
          <strong>Outside Links</strong>
        </div>
        <div class="panel-body panel-body-links">
          {% with authority.linkeddata_public as linkeddata_public %}
            {% if linkeddata_public.count > 0 %}
            <div style="padding-bottom: 20px;">
              <span class="glyphicon glyphicon-globe"></span> Linked Data:<br>
              {% for entry in linkeddata_public.all %}
              {% if entry.type_controlled.name == url_linked_data_name and entry.resource_name %}
              {{entry.resource_name}}:
              {% endif %}
              <a href="{{ entry|linkeddata_for_display }}" taget="_blank">
                {{ entry.universal_resource_name }}
              </a>
              {% if entry.type_controlled.name != url_linked_data_name %}
              ({{ entry.type_controlled }})
              {% endif %}
              <br/> {% endfor %}
            </div>
            {% endif %}
          {% endwith %}
  
          <img src="https://plato.stanford.edu/symbols/sep-man-red.png" height="14px" width="14px"> <a target="_blank" href="https://plato.stanford.edu/search/searcher.py?query={{authority.name}}">Stanford Encyclopedia</a>
          <br>
          <i class="fab fa-wikipedia-w"></i> <a target="_blank" href="https://en.wikipedia.org/w/index.php?search={{authority.name}}">Wikipedia</a>
          <br>
          <img src="https://researchworks.oclc.org/archivegrid/assets/img/archivegrid_logo_home.png" height="14px" width="14px"></img> <a target="_blank" href="https://researchworks.oclc.org/archivegrid/?p=1&q={{authority.name}}">Archive Grid</a>
          <br>
          <img src="https://www.chstm.org/sites/default/files/chstm-logo-header.png" height="14px" width="14px" style="filter: grayscale(100%); filter: invert(1)"></img> <a target="_blank" href="https://www.chstm.org/collections/search?text={{authority.name}}&text-join=&title=&creator=&subject=">Consortium of History of Science</a>
          <br>
          <span class="glyphicon glyphicon-search"></span> <a target="_blank" href="https://snaccooperative.org/?count=10&start=0&entity_type=&term={{authority.name}}&command=search">SNAC</a>
          <br>
          <img src="https://networks.h-net.org/sites/all/themes/custom/hnt/logo.png" height="14px" width="14px"></img> <a target="_blank" href="https://networks.h-net.org/search/site/{{authority.name}}?f%5B0%5D=im_group_audience%3A229">H-Net</a>
          <br>
          <i class="fab fa-twitter"></i> <a target="_blank" href="https://twitter.com/search?q={{authority.name}}&src=typed_query">Twitter</a>
        </div>
      </div>
      <div>
        {% include 'isisdata/authority_fragments/fragment_authority_publications_graph.html' %}
      </div>
      <div>
        {% include 'isisdata/authority_fragments/fragment_authority_places_facet.html' %}
      </div>
    </div>
  </div>
</div>

  <script>
    let textHolder = document.querySelector('.wikiIntro');
    let btn = document.querySelector('.readMore');

    function toggleText() {
      textHolder.classList.toggle("truncate");
    }

    btn.addEventListener('click', toggleText);
  </script>

<!-- gets wikimedia image and synopsis where possible -->
<script type="text/javascript">

  let wikiImage = "{{ wikiImage|safe }}";
  let wikiIntro = `{{ wikiIntro }}`;
  let wikiCredit = "{{ wikiCredit|safe }}";

  if (wikiImage !== "") {
    document.getElementById('wikiImage').src = wikiImage;
    document.getElementById('wikiImage').style.display = "block";
    document.getElementById('wikiImageBorder').style.display = "block";
    document.getElementById('wikiImageCredit').style.display = "block";
    document.getElementById('wikiImageCredit').href = wikiCredit;
  }

  if (wikiIntro !== "") {
    let textHolder = document.querySelector('.wikiIntro');

    textHolder.innerHTML = wikiIntro;
    document.getElementById('wikiIntroBreak').style.display = "inline-block";
    document.getElementById('wikiSynopsisCredit').style.display = "block";
    document.getElementById('wikiSynopsisCredit').href = wikiCredit;

    let other = $(textHolder).clone();
    $(other).html('a<br>b').hide().appendTo('body');
    let size = $(other).height() / 2;
    $(other).remove();
    let lines = $(textHolder).height() /  size;

    if (lines > 7) {
      document.getElementById('wikiIntroButton').style.display = "inline-block";
      toggleText(); //to truncate at first time
    }
  }

</script>
